<div class="layout_component_container" style="padding: 5px;">
    <ovic-table [data]="dmDonvi" styleClass="tbl-danhSachkhoa table-able-dropdown" dataKey="id" rowHover="false"
        [rows]="15" tableName="Danh sách Khoa" [tblStructure]="tblCols" [enableSearch]="true"
        [globalFilterFields]="['title','description']" (editData)="editDonvi($event)" (deleteData)="deleteDonvi($event)"
        (addNewRow)="createDonvi()" [addRow]="canAdded" addRowLabel="Thêm khoa mới"></ovic-table>
</div>

<!-- <ng-template #formInfo let-c="close" let-d="dismiss">
    <div class="modal-header ">
        <h4 class="modal-title">{{formTitle}}</h4>
        <button type="button" class="close" aria-label="Close" (click)="d(true)">
            <span >&times;</span>
        </button>
    </div>
    <div class="modal-body ovic-modal-body">
        <div class="ovic-form-layout">
            <form [formGroup]="formData">
                <div class="form-row">
                    <p class="form-group col-12">
                        <label for="name">Tên khoa <span class="ovic-mark">*</span></label>
                        <input type="text" id="name" formControlName="title" class="form-control">
                    </p>
                    <p class="form-group col-12">
                        <label for="desc-2">Mô tả</label>
                        <textarea id="desc-2" formControlName="description" rows="3" class="form-control"></textarea>
                    </p>
                    <div class="col-12">
                        <p class="ovic-form-notes">
                            <i class="pi pi-info-circle"></i>các trường có đánh dấu (<span class="ovic-mark">*</span> )
                            là các trường không được bỏ trống
                        </p>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="saveFormData( isUpdated , d )">
            <i class="fa fa-floppy-o" ></i>Lưu lại
        </button>
        <button type="button" class="btn btn-cancel" (click)="d(true)">
            <i class="fa fa-ban" ></i>Hủy thao tác
        </button>
    </div>
</ng-template> -->

<ng-template #formInfo let-c="close" let-d="dismiss">
    <div class="ovic-over-right-section">
        <div class="ovic-over-right-section__head">
            <h3 class="ovic-over-right-section__header">{{formTitle}}</h3>
            <button class="btn ovic-over-right-section__close-button" (click)="closeForm()"></button>
        </div>
        <div class="ovic-over-right-section__body users-layout-form" style="height: calc(100vh - 57px - 51px - 18px);">
            <div class="ovic-vertical__inputs">
                <form [formGroup]="formData">
                    <div class="form-row">
                        <label for="name">Tên khoa: <span class="ovic-mark">*</span></label>
                        <input type="text" id="name" formControlName="title" class="form-control">
                    </div>
                    <div class="form-row">
                        @if (!slugIsValid) {
                        <span class="ov-check-slug-hint__wrap-mess alert-danger">
                            <span class="ov-check-slug-hint__messages">Ký tự đã tồn tại</span>
                        </span>
                        }
                        <label for="name">Ký tự viết tắt: <span class="ovic-mark">*</span></label>
                        <input (focusout)="onChangeSlug()" type="text" id="name" formControlName="code"
                            class="form-control">
                    </div>
                    <div class="form-row">
                        <label for="desc-2">Mô tả:</label>
                        <textarea id="desc-2" formControlName="description" rows="3" class="form-control"></textarea>
                    </div>
                </form>
            </div>
        </div>
        <p class="ovic-form-notes ovic-over-right-section__foot-ovic-input-line">
            <i class="pi pi-info-circle"></i>các trường có đánh dấu ( <span class="ovic-mark">*</span> ) là bắt
            buộc phải nhập
        </p>
        <div class="ovic-over-right-section__foot-wrap-buttons flex-footer-right">
            <button type="button" class="btn btn-primary" (click)="saveFormData( isUpdated , d )">
                <i class="fa fa-floppy-o" ></i>Lưu lại
            </button>
            <button type="button" class="btn btn-cancel" (click)="closeForm()">
                <i class="fa fa-ban" ></i>Hủy thao tác
            </button>
        </div>
    </div>
</ng-template>