<div class="layout_component_container" [ngClass]="closeLeft?'close-left-body':''">
  <div class="layout_component_container-course" style="position: relative;">
    <button style="margin-left: 5px; padding: 0; min-width: 0; z-index: 50;" (click)="closeLeftBody()"
      class="btn btn-success button-close-left-body">
      <i style="margin: 0;vertical-align: middle; font-size: 13px;"
      [ngClass]="closeLeft?'pi pi-angle-double-right':'pi pi-angle-double-left'"></i>
    </button>
    <div class="search-layout">
      <div class="search-layout-top" style="display: flex; align-items: center;">
        <input (keyup.enter)="onSearchByTitle()" [(ngModel)]="textSearch" type="text" class="ovic-input-field"
          placeholder="Nhập tên rồi nhấn enter" style="width: 100%;">

        </div>

      </div>
      @if (listClassGvcn && listClassGvcn.length>0) {
        <div class="list-course-layout">
          <mat-selection-list (selectionChange)="onSelectClass($event)" [multiple]="false" class="selection-list-mat"
            #classGvcn>
            @for (row of listClassGvcn ; track row) {
              <mat-list-option [selected]="classSelected && classSelected.id === row.id "
                [value]="row">
                <div mat-line style="font-weight: 600;">{{ row['_title'] }}</div>
                <div mat-line>{{ row['_time_use'] }}</div>
                <!--                    <div mat-line *ngIf="course['status_question']">-->
                <!--                        <span [innerHTML]="course['status_question']"></span>-->
              <!--                    </div>-->
            </mat-list-option>
          }
        </mat-selection-list>
      </div>
    } @else {
      <div class="list-course-layout">
        <div class="w-100 h-100 d-flex flex-column justify-content-center">
          <div class="text-empty">{{ emptyMenu }}</div>
        </div>
      </div>
    }
    <div class="page-layout-set">
      <p-paginator #paginator (onPageChange)="changePage($event)" [rows]="limit"
      [totalRecords]="recordTotal"></p-paginator>
    </div>
  </div>
  <div class="layout_component_container-noidung mat-tab-chuandaura">
    @if (classSelected) {
      <div class="right-container-bottom h-100">
        @if (loadingStudentFail) {
          <div
            class="ovic-form-layout import-question-body-right"
            [class.ovic-is-loading]="loadingStudent" style="width: 100%; height: 100%;">
            <div
              class="layout_component_container__error d-flex justify-content-center align-items-center w-100 h-100">
              <p
                class="layout_component_container__error__message alert alert-danger m-0 primary-font --fs-14">
                Mất kết nối với máy chủ.
                <button (click)="reloadingGetStudent()"
                  class="btn layout_component_container__btn-reload text-primary">Tải lại
                </button>
              </p>
            </div>
          </div>
        } @else {
          <div class="student-component">
            <div class="head">
              <div class="title">
                Danh sách sinh viên
              </div>
              <div>
                <input style="width: 220px;" (keyup.enter)="searchStudents($event['taget'].value)"
                  type="text" placeholder="Nhập và nhấn enter để tìm kiếm">
                </div>
              </div>
              <div class="body">
                <p-table [value]="dataStudents" styleClass="tbl-danhSachUser table-hover table-border">
                  <ng-template pTemplate="header">
                    <tr>
                      <th class="text-center ovic-w-80px">STT</th>
                      <th class="text-center ovic-w-80px">Mã SV</th>
                      <th class="text-left">Họ và tên</th>
                      <th class="text-center ovic-w-120px">Ngày sinh</th>
                      <th class="text-center ovic-w-100px">Giới tính</th>
                      <th class="text-center ovic-w-180px">
                        Đánh dấu SV theo dõi
                      </th>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-row>
                    <tr>
                      <td class="text-center">{{ row['_index'] }}</td>
                      <td class="text-center">{{ row.student_code }}</td>
                      <td class="text-left">{{ row.full_name }}</td>
                      <td class="text-center">{{ row.birthday | date:'dd/MM/yyyy' }}</td>
                      <td class="text-center">{{ row.gender }}</td>
                      <td class="text-center">
                        <!--                                            <button pRipple pButton-->
                        <!--                                                    [icon]="row['_cabietView'] ? ' pi pi-exclamation-circle' : 'pi pi-circle'"-->
                        <!--                                                    [ngClass]="row['_cabietView'] ? 'p-button-danger' : 'p-button-secondary'"-->
                        <!--                                                    class=" p-button-text p-button-rounded"-->
                        <!--                                                    style="border-radius: 50% !important;"-->
                        <!--                                                    [pTooltip]="row['_cabietView'] ? 'Kết thúc theo dõi SV' : 'Đánh dấu theo dõi'"-->
                      <!--                                                    (click)="btnTheodoiSinhvien(row)"></button>-->
                      <div class="d-flex justify-content-center align-items-center">
                        <!--                                                <i class="btnCabiet"-->
                        <!--                                                   [ngClass]="row['_cabietView'] ? 'pi pi-exclamation-circle active' : 'pi pi-circle'"-->
                        <!--                                                   [pTooltip]="row['_cabietView'] ? 'Kết thúc theo dõi SV' : 'Đánh dấu theo dõi'"-->
                        <!--                                                   [tooltipPosition]="'left'"-->
                        <!--                                                   (click)="btnTheodoiSinhvien(row)">-->
                      <!--                                                </i>-->
                      <p-inputSwitch [(ngModel)]="row['_cabietView']" (onChange)="btnChangeCabiet($event,row)"></p-inputSwitch>
                    </div>
                  </td>
                </tr>
              </ng-template>
            </p-table>
          </div>
          <div class="bottom">
            <div class="page-layout-set">
              <p-paginator #panigatorByStudent (onPageChange)="changePageByStudent($event)"
                [rows]="limit"
              [totalRecords]="recordsTotalByStudent"></p-paginator>
            </div>
          </div>
        </div>
      }
    </div>
  } @else {
    <div
      class="layout_component_container__error d-flex justify-content-center align-items-center w-100 h-100">
      <p class="alert alert-secondary m-0 primary-font --fs-14">Vui lòng chọn lớp quản lý </p>
    </div>
  }
</div>
</div>



