<p-multiSelect [group]="group" [appendTo]="appendTo" [options]="options" [(ngModel)]="selectedValues"
    optionLabel="{{optionLabel}}" styleClass="ovic-input-line-dropdown" panelStyleClass="ovic-input-line-dropdown-panel"
    [filterPlaceHolder]="filterPlaceHolder" [filterBy]="filterBy" [filter]="filter" 
    [selectedItemsLabel]="selectedItemsLabel" [maxSelectedLabels]="maxSelectedLabels"
    [displaySelectedLabel]="displaySelectedLabel" [emptyFilterMessage]="emptyFilterMessage"
    (onChange)="onChangeHandle($event)">
</p-multiSelect>