.layout-form-details{
    height: 100%;
}

.layout-form-details-body{
    height: calc(100% - 75px);
    padding: 10px;
    overflow: auto;
}

.layout-form-details-footer{
    padding: 10px;
    text-align: right;
    border-top: 1px solid #c8c8c8;
}
.form-detail-summary{
    text-align: right;
}


.display-none{
    display: none;
}

.tag-cdr-cauhoi-percent {
    padding: 0px;
    border-radius: 0px;
    border-left: none;
    width: 60px;
}

.require-cdr-backgroud-color th, .require-cdr-backgroud-color input,
.require-cdr-backgroud-color span, .require-cdr-backgroud-color td {
    color: red !important;
}

.cant-edit-question {
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    border: 1px solid #c8c8c8;
    color: #333;
}

.gray-400 {
    color: #BDBDBD;
}

.no-question-input {
    display: flex;
    height: 30px;
    justify-content: center;
    align-items: center;
}

.public-class-question {
    height: 100%;
    display: flex;
    align-items: center;
    background: #e9ecef;
    min-width: 70px;
    justify-content: center;
}

.private-class-question {
    height: 100%;
    display: flex;
    align-items: center;
    background: #fa8e42;
    justify-content: center;
    min-width: 70px;
}

.private-color {
    background-color: #fa8e42;
    color: #333;
}

.question_take_total {
    display: flex;
    height: 30px;
    align-items: center;
    justify-content: center;
}