<div class="quiz-viewport">
  <div>
    <div class="part-container">
      <div class="part-header p-3 mb-5">
        <div class="d-flex align-items-center mb-1">
          <span class="part-title-text">{{ course_question['title_part'] }}</span>
        </div>
        <div [appKatexImg]="course_question.id" [appLoadMediaOnText]="course_question.id"
          class="part-desc-text mb-2 ck ck-content ck-editor__editable ck-rounded-corners ck-editor__editable_inline ck-blurred"
          [innerHTML]="course_question.question_direction | safeHtml">
        </div>
        @if (course_question.media) {
          <audio controls class="w-100 audio-custom">
            <source  [src]="course_question.media.path | ictuMediaLink : course_question.media.source : token | ovicSafeUrl">
          </audio>
        }
      </div>

      <div class="questions-list">
        @for (child_q of course_question.children; track child_q; let i = $index) {
          <ng-container *ngTemplateOutlet="questionTmpl; context: { $implicit: child_q, idx: i + 1 }">
          </ng-container>
        }
      </div>
    </div>
  </div>

  <ng-template #questionTmpl let-q let-idx="idx">
    <div class="question-block">
      <div class="question-header-section question-header-section-group-radio mb-3 font-weigth-700 p-2">
        <div class="d-flex align-items-start">
          <span class="q-index-tag">
            {{q?.question_number? q.question_number : getKey(idx - 1).toLowerCase()}})
          </span>
          <div [innerHTML]="q.question_direction | safeHtml" [appLoadMediaOnText]="q.id" [appKatexImg]="q.id"
            class="q-content-text flex-grow-1 ck ck-content ck-editor__editable ck-rounded-corners ck-editor__editable_inline ck-blurred">
          </div>
        </div>
      </div>

      <div class="row no-gutters">
        @for (ans of q.answer_option; track ans; let i = $index) {
          <div [ngClass]="getColClass(q)" class="p-1">
                    <div class="ans-card" [ngClass]="{
                            'type-circle': course_question.question_type === 'group-radio',
                            'type-square': course_question.question_type === 'group-checkbox',
                            'state-active': ans.isSelected
                        }" (click)="onSelect(q, ans)">
              <div class="d-flex align-items-center h-100">
                <div class="ans-label mr-2">{{getKey(i) }}</div>
                <div class="ans-body flex-grow-1">
                  <div [innerHTML]="ans.value | safeHtml" [appLoadMediaOnText]="ans.id" [appKatexImg]="ans.id"
                    class="ans-txt ck ck-content ck-editor__editable ck-rounded-corners ck-editor__editable_inline ck-blurred">
                  </div>
                </div>
              </div>
            </div>
          </div>
        }
      </div>
    </div>
  </ng-template>
</div>
