<div class="thuongxuyen-tracnghiem-layout" [ngClass]="type2Class?'type-2-layout-thuongxuyen':''" #topResize>
  <div class="thuongxuyen-tracnghiem-layout-top" style="line-height: 1; text-align: right;">
    @if (selectedActivity && selectedActivity.ordering === 0) {
      <div
        style="display: flex; align-items: center; font-size: 14px; color: red; height: 30px; background: var(--yellow-100); flex: 1; text-align: left; margin-right: 10px; padding:0px 10px;"
        class="warning-group-duan">
        <!-- Lưu ý: Mỗi nhóm có tối thiểu là {{config_group.min}} sinh viên và tối đa là {{config_group.max}} sinh viên -->
      </div>
    }
    @if (selectedActivity && selectedActivity.ordering === 0) {
      <div style="display: flex;">
        @if (!list_group || list_group.length === 1) {
          <div class="p-inputgroup" style="flex:1">
            <input (keydown)="numberKeyDown($event,inputGroup)" #inputGroup placeholder="Nhập vào số nhóm"
              style="width: 200px" type="text" class="ovic-input-field">
              <button (click)="createdGroup(inputGroup)" style="line-height: 1;" class="btn btn-success">
                Tạo nhóm
              </button>
            </div>
          }
          @if (list_group && list_group.length > 1) {
            <button (click)="addOneGroup()" style="line-height: 1;"
              class="btn btn-success">
              Thêm 1 nhóm
            </button>
          }
          <!-- <button style="line-height: 1; margin-left: 5px;" class="btn btn-primary">
          Tạo kế hoạch
        </button> -->
      </div>
    }
    @if (selectedActivity && selectedActivity.ordering !== 0) {
      <div class="flex calendar-set-top">
        <span class="red" style="margin-left: 10px; font-weight: normal;">
          (Lưu ý: Nhập điểm rồi nhấn enter để lưu)
        </span>
        <!-- <span style="padding: 5px; border-radius: 0px; height: 30px;" class="p-inputgroup-addon">Thời gian dự kiến:
      </span>
      <p-calendar [showTime]="true" styleClass="date-picker-custom" [(ngModel)]="startDate" [baseZIndex]="1999"
      appendTo="body" dateFormat="dd/mm/yy"></p-calendar>
      <button (click)="saveDate()" style="line-height: 1;" class="btn btn-primary"><i
      class="fa fa-floppy-o"></i>Lưu</button> -->
    </div>
  }
  @if (selectedActivity && selectedActivity.ordering !== 0) {
    <div class="action-top">
      @if (tongtest !== 0 && selectedActivity.ordering !== 0) {
        <button (click)="syncDuan()"
          style="line-height: 1; margin-left: 5px; margin-right: 5px;" class="btn btn-success">
          Đồng bộ lại dự án
        </button>
      }
      @if (selectedActivity.ordering !== 0) {
        <button (click)="nhapDiem()"
          style="line-height: 1; margin-left: 5px; margin-right: 5px;" class="btn btn-success">
          Tạo bảng điểm
        </button>
      }
      <!-- <button *ngIf="selectedActivity && selectedActivity.status === 1 && selectedActivity.ordering !== 0"
      (click)="changeStatusActivity(0)" class="btn btn-danger" style="line-height: 1;"><i
    class="fa fa-stop-circle-o" ></i>Đóng bài KT
  </button>
  <button class="btn btn-success"
    *ngIf="selectedActivity && selectedActivity.status === 0 && selectedActivity.ordering !== 0"
    (click)="changeStatusActivity(1)" style="line-height: 1;"><i class="fa fa-play-circle"
  ></i>
  Kích hoạt bài KT
</button> -->
</div>
}
</div>
@if (list_group && list_group.length) {
  <div style="padding: 0px;"
    class="thuongxuyen-tracnghiem-layout-bottom duan-layout-bottom"
    [ngClass]="openAddStudentGroup?'open-right-bar-duan':''">
    <div class="left-layout-duan" style="padding: 5px;">
      <p-table selectionMode="single" [(selection)]="selectedGroup" [value]="list_group" dataKey="id"
        styleClass="tbl-danhSachUser table-reBorder">
        <ng-template pTemplate="header">
          <tr>
            <th style="width: 4rem"></th>
            <th>Họ tên</th>
            <th style="width: 100px; text-align: center;">Ngày sinh</th>
            <th style="width: 150px; text-align: center;">Thao tác</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-group let-expanded="expanded">
          <tr [ngClass]="group.id < 0?'background-none-group':''" style="background-color: #eeeeee;"
            [pSelectableRow]="group">
            <td style="text-align: center;">
              <button style="border-radius: 50%!important; width: 30px; height: 30px;" type="button"
                pButton pRipple [pRowToggler]="group"
                class="p-button-text p-button-rounded p-button-plain"
                [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'">
              </button>
            </td>
            <td colspan="2">
              @if (group.id > 0) {
                <strong>Nhóm {{group.ordering}}
                  @if (group.student_ids) {
                    <span>
                      ({{group.student_ids.length}})
                    </span>
                  }
                  @if (group['course_plan_activity_tuluan_id']) {
                    <span> -
                      {{group['course_plan_activity_tuluan_id'] | showlabel : list_course_tuluan : 'id' :
                    'title'}}</span>
                  }
                </strong>
              }
              @if (group.id < 0) {
                <strong>
                  Sinh viên chưa được phân nhóm ({{group.student_ids.length}})
                </strong>
              }
            </td>
            <td style="width: 100px; ">
              @if (group.id > 0) {
                <div style="width: 100%;">
                  @if (selectedActivity.ordering === 0) {
                    <div
                      style="width: 100%; text-align: right;">
                      <button (click)="openViewSelectTuluan(group)" style="width: 30px; height: 30px;"
                        pTooltip="Chọn dự án" tooltipPosition="left" pButton pRipple type="button"
                        icon="pi pi-list" class="p-button-rounded p-button-success">
                      </button>
                      <button (click)="addStudentToGroup(group)"
                        style="width: 30px; height: 30px; margin-left: 5px;" pTooltip="Thêm thành viên"
                        tooltipPosition="left" pButton pRipple type="button" icon="pi pi-user-plus"
                        class="p-button-rounded p-button-info">
                      </button>
                      <button (click)="deleteGroup(group)"
                        style="width: 30px; height: 30px; margin-left: 5px;" pTooltip="Xóa nhóm"
                        tooltipPosition="left" pButton pRipple type="button" icon="pi pi-trash"
                        class="p-button-rounded p-button-danger">
                      </button>
                    </div>
                  } @else {
                    @if (group['course_plan_activity_tuluan_id']) {
                      <div style="display: flex; justify-content: right; align-items: center; width: 100%;"
                        >
                        <!-- <span style="margin-right: 10px; flex: 1; text-align: center;">
                        {{group['point'] && group['point'] >= 0 ? group['point'] : '-'}}
                      </span> -->
                      <button (click)="openGroupPoint(group)" pTooltip="Chấm điểm cho cả nhóm"
                        tooltipPosition="left" class="btn btn-primary btn-icon btn-transparent">
                        <i class="fa fa-pencil-square-o"></i>
                      </button>
                    </div>
                  }
                  @if (!group['course_plan_activity_tuluan_id']) {
                    <div style="text-align: center;">
                      <span>-</span>
                    </div>
                  }
                }
              </div>
            }
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="rowexpansion" let-group>
        @for (student of group['students']; track student; let i = $index) {
          <tr>
            <td style="text-align: center; width: 3rem;">
              {{i + 1}}
            </td>
            <td>
              <div style="display: flex; align-items: center;">
                <div style="flex: 1; margin-right: 10px;">
                  <div><strong>{{student.full_name}}</strong></div>
                  <div>{{student.student_code}}</div>
                </div>
                @if (selectedActivity && selectedActivity.ordering !== 0 && group.leader_id === student.student_id) {
                  <span
                    pTooltip="Nhóm trưởng" tooltipPosition="left">
                    <i class="pi pi-flag-fill true-blue"></i>
                  </span>
                }
              </div>
            </td>
            <td style="text-align: center; width: 150px;">
              {{student.birthday}}
            </td>
            <td style="text-align: right;">
              @if (group.id > 0) {
                <div style="width: 100%;">
                  @if (selectedActivity && selectedActivity.ordering === 0) {
                    <div>
                      <button (click)="selecteLeaderForGroup(group,student)"
                        style="width: 30px; height: 30px;" pTooltip="Chọn làm trưởng nhóm"
                        tooltipPosition="left" pButton pRipple type="button" icon="pi pi-flag-fill"
                        class="p-button-rounded button-leader-group"
                        [ngClass]="group.leader_id === student.student_id?'p-button-primary':'p-button-secondary'">
                      </button>
                      @if (!group.course_plan_activity_tuluan_id || isManager) {
                        <button
                          (click)="deleteStudentInFroup(group,student)"
                          style="width: 30px; height: 30px; margin-left: 5px;" pTooltip="Xóa SV khỏi nhóm"
                          tooltipPosition="left" pButton pRipple type="button" icon="pi pi-trash"
                          class="p-button-rounded p-button-danger">
                        </button>
                      }
                    </div>
                  }
                  @if (selectedActivity && selectedActivity.ordering !== 0) {
                    <div>
                      @if (student['test_info']) {
                        <div style="display: flex; justify-content: right; align-items: center; width: 100%;"
                          >
                          <!-- <span style="margin-right: 10px; flex: 1; text-align: center;">
                          {{student['point'] && student['point'] >= 0 ? student['point'] : '-'}}
                        </span> -->
                        <input [attr.disabled]="!student['test_info'] ? '' : null"
                          (keyup)="savePointTest($event, student, i , group['students'])" #input_point
                          (keydown)="pointQuestionKeyDown($event,input_point)"
                          style="width: 100%; text-align: center;" [(ngModel)]="student['point']"
                          type="text" />
                          {{input_point | focusInput : index_focus : student.id}}
                          <button (click)="openPointCode(student, group)"
                            pTooltip="Chấm điểm theo tiêu chí" tooltipPosition="left"
                            class="btn btn-primary btn-icon">
                            <i class="fa fa-pencil-square-o"></i>
                          </button>
                        </div>
                      }
                      @if (!student['test_info']) {
                        <div style="text-align: center;">
                          <span>-</span>
                        </div>
                      }
                    </div>
                  }
                </div>
              }
            </td>
          </tr>
        }
      </ng-template>
    </p-table>
  </div>
  <div class="right-layout-duan">
    <div class="room-table-phanquyencoithi-rigth-header">
      <span style="flex:1">Nhóm {{selectedGroup? selectedGroup.ordering:''}} @if (returnSelectedStudent() !== 0) {
        <span
        >({{returnSelectedStudent()}})</span>
      }</span>
      <button (click)="closeShowRightLayout()" class="btn btn-danger btn-icon btn-transparent"><i
      class="fa fa-times"></i>
    </button>
  </div>
  <div class="room-table-phanquyencoithi-rigth-body">
    <div style="height: 100%;" class="phanquyen-dulieu-content-left ovic-vertical__inputs">
      <div class="form-row row" style="padding: 5px;">
        <div class="col-12" style="display: flex; align-items: center;">
          <input style="margin-right: 5px; width: auto; flex:1" class="ovic-input-field" type="text"
            [(ngModel)]="search_student" placeholder="Search">
            <mat-checkbox (change)="changeSelectAllStudent($event)">
            </mat-checkbox>
          </div>
        </div>
        @if ((list_student_for_select | filter: search_student : ['full_name','student_code']).length > 0) {
          <mat-selection-list class="selection-list-mat" #users
            (selectionChange)="changeSelecteStudent($event)"
            >
            @for (user of list_student_for_select | filter: search_student : ['full_name','student_code']; track user) {
              <mat-list-option [disabled]="user['disabled']" [selected]="user['checked']"
                [value]="user">
                <div mat-line style="display: flex;">
                  <strong style="flex: 1; margin-right: 5px;">{{user.full_name}}</strong>
                  @if (user.group) {
                    <span>({{user.group}})</span>
                  }
                </div>
                <div mat-line>{{user.student_code}} </div>
              </mat-list-option>
            }
          </mat-selection-list>
        } @else {
          <div class="result-search-none">Không có sinh viên nào...</div>
        }
      </div>
    </div>
    <div style="padding: 5px; border-top:1px solid #c8c8c8; text-align: right; background-color: #fff;">
      <button (click)="saveStudentToGroup()" style="line-height: 1;" class="btn btn-primary">
        <i class="fa fa-floppy-o"></i>Lưu lại
      </button>
    </div>
  </div>
</div>
} @else {
  <div
    style="width: 100%; height: 100%; display: flex; align-items: center; justify-content: center; font-size: 18px; color: orange;">
    <span>Chưa có nhóm, vui lòng tạo nhóm</span>
  </div>
}
</div>

<ng-template #templateListSelectTuluan let-c="close" let-d="dismiss">
  <div class="ovic-over-right-section right-slide-class">
    <div class="ovic-over-right-section__head" style="display: flex; align-items: center; padding: 12px 20px;">
      <h3 class="ovic-over-right-section__header" style="flex:1">
        {{selectedGroup?'Nhóm '+ selectedGroup.ordering:''}}
      </h3>
      <div class="action-button-next-back">
        <button style="line-height: 1; margin-right: 5px" (click)="nextGroup('back')"
          class="btn btn-success btn-angle"><i class="pi pi-angle-double-left"></i>Nhóm trước</button>
          <button style="line-height: 1;margin-right: 5px" (click)="nextGroup('next')"
            class="btn btn-success btn-angle">Nhóm sau<i class="pi pi-angle-double-right"
          style="margin-left: 5px; margin-right: 0px;"></i></button>
        </div>
        <button (click)="saveDuanForGroup()" style="line-height: 1; margin-right: 5px" class="btn btn-primary">
          <i class="fa fa-floppy-o"></i>
          Lưu lại
        </button>
        <button class="btn ovic-over-right-section__close-button btn-recss-close-right-button"
        (click)="closeModal(d)"></button>
      </div>
      <div style="line-height: 1.25; padding: 0px; height: calc(100vh - 57px); display: flex;"
        class="ovic-over-right-section__body footer-no-hint  ">
        <div class="list_tuluan_left phanquyen-dulieu-content-left ovic-vertical__inputs list-course-layout">
          <mat-selection-list [multiple]="false" class="selection-list-mat" #tuluans>
            @for (tuluan of list_course_tuluan; track tuluan) {
              <mat-list-option [selected]="selectedTuluan && selectedTuluan.id === tuluan.id ? true : false"
                (click)="onSelectTuluan(tuluan)" [value]="tuluan">
                <div mat-line style="display: flex; align-items: center;">
                  <strong style="flex: 1; margin-right: 10px;">{{tuluan.title}}</strong>
                  @if (tuluan['checked']) {
                    <span>
                      <i class="fa fa-check blue"></i>
                    </span>
                  }
                </div>
              </mat-list-option>
            }
          </mat-selection-list>
        </div>
        <div style="background-color: #eaeaea; flex: 1; height: 100%; overflow: auto;"
          class="tuluan-comment-slide tuluan-view-right">
          <app-view-thuongxuyen-tuluan [courseSelected]="classSelected['course_detail']"
          [tuluan]="selectedTuluan"></app-view-thuongxuyen-tuluan>
        </div>
      </div>
    </div>
  </ng-template>

  <ng-template #templateFormViewTuluan let-c="close" let-d="dismiss">
    <div class="ovic-over-right-section right-slide-class">
      <div class="ovic-over-right-section__head" style="display: flex; align-items: center;">
        <h3 class="ovic-over-right-section__header" style="flex:1">
        {{selectedStudent['full_name'] +' - '+selectedStudent['student_code']}}</h3>
        <div class="action-button-next-back">
          <button style="line-height: 1; margin-right: 5px" (click)="openNewQuestion('back')"
            class="btn btn-success btn-angle"><i class="pi pi-angle-double-left"></i>SV trước</button>
            <button style="line-height: 1;margin-right: 5px" (click)="openNewQuestion('next')"
              class="btn btn-success btn-angle">SV sau<i class="pi pi-angle-double-right"
            style="margin-left: 5px; margin-right: 0px;"></i></button>
          </div>
          <button class="btn ovic-over-right-section__close-button btn-recss-close-right-button"
          (click)="closeForm()"></button>
        </div>
        <div style="line-height: 1.25; padding: 0px; height: calc(100vh - 57px); background-color: #eaeaea;"
          class="ovic-over-right-section__body footer-no-hint tuluan-comment-slide">
          <app-view-thuongxuyen-tuluan [courseSelected]="classSelected['course_detail']"
          [tuluan]="selectedTuluan"></app-view-thuongxuyen-tuluan>
        </div>
      </div>
    </ng-template>

    <ng-template #templateFormChamDiem let-c="close" let-d="dismiss">
      <div class="ovic-over-right-section right-slide-class">
        <div class="ovic-over-right-section__head" style="display: flex; align-items: center; padding: 12px 20px;">
          <h3 class="ovic-over-right-section__header" style="flex:1">
            {{selectedStudent['full_name'] +' - '+selectedStudent['student_code']}}
            @if (selectedGroup && selectedStudent && selectedGroup.leader_id === selectedStudent.student_id) {
              <span
                >
                ({{"Nhóm trưởng"}})
              </span>
            }
            {{selectedStudent['point'] && selectedStudent['point'] !== -1?' - '+selectedStudent['point']+'
            Điểm':''}}
          </h3>
          <div class="action-button-next-back">
            <button
              [disabled]="selectedStudent && (selectedStudent['lock'] === 1 || (selectedStudent['test_info'] && selectedStudent['test_info']['status'] === 0))?true: false"
              (click)="savePointTieuchi()" style="line-height: 1; margin-right: 5px" class="btn btn-primary">
              <i class="fa fa-floppy-o"></i>
              Lưu lại
            </button>
            <button
              [disabled]="actionView === 'back' && selectedStudent && selectedStudent['index_'] === 1?true: false"
              style="line-height: 1; margin-right: 5px" (click)="openNewQuestion('back')"
              class="btn btn-success btn-angle"><i class="pi pi-angle-double-left"></i>SV trước</button>
              <button
                [disabled]="actionView === 'next' && selectedStudent && selectedStudent['index_'] === total_student?true: false"
                style="line-height: 1;margin-right: 5px" (click)="openNewQuestion('next')"
                class="btn btn-success btn-angle">SV sau<i class="pi pi-angle-double-right"
              style="margin-left: 5px; margin-right: 0px;"></i></button>
            </div>
            <button class="btn ovic-over-right-section__close-button btn-recss-close-right-button"
            (click)="closeModal(d)"></button>
          </div>
          <div style="line-height: 1.25; padding: 0px; height: calc(100vh - 57px); background-color: #eaeaea;"
            class="ovic-over-right-section__body footer-no-hint tuluan-comment-slide tuluan-view-chamdiem">
            @if (selectedStudent && selectedStudent['test_info']) {
              <div style="height: 100%; width: 100%; overflow: auto;"
                >
                <app-view-thuongxuyen-tuluan [hideNote]="true" [courseSelected]="classSelected['course_detail']"
                [tuluan]="selectedTuluan"></app-view-thuongxuyen-tuluan>
                <div class="tuluan-view-chamdiem-view-tieuchicham">
                  @if (list_tieuchi_cham.length) {
                    <div style="margin-top: 40px;" class="question-content-note">
                      <p-divider align="left" type="dashed">
                        <b>Chấm điểm theo tiêu chí</b>
                      </p-divider>
                      @for (item of list_tieuchi_cham; track item; let i = $index) {
                        <div style="margin-bottom: 20px; font-size: 14px;"
                          >
                          <p-panel styleClass="panel-item-tieuchicham">
                            <ng-template pTemplate="header">
                              @if (item.title) {
                                <div class="header-tieuchicham">
                                  <strong>{{i + 1}}</strong>.
                                  <strong>{{item.title}} ({{item.cdr | showlabel : chuan_dau_ra }} -
                                    {{item.point}}
                                  điểm)</strong>
                                </div>
                              }
                            </ng-template>
                            <div class="content-panel-tieuchicham">
                              <div style="padding-top: 15px;">
                                <p-panel #panel_tieuchi [toggleable]="true" [collapsed]="item['collapsed']">
                                  <ng-template pTemplate="header">
                                    <div style="display: flex; align-items: center; width: 100%;">
                                      <div style="flex: 1;">
                                        <strong>Chấm điểm:</strong> {{item['point_cham']}}
                                      </div>
                                      <span (click)="openHuongdancham(panel_tieuchi , item)"
                                        class="label-view-huong-dancham">
                                        {{item['collapsed']?'Xem hướng dẫn chấm':'Ẩn hướng dẫn chấm' }}
                                        <i
                                        [ngClass]="item['collapsed']?'fa fa-angle-double-down':'fa fa-angle-double-up'"></i>
                                      </span>
                                    </div>
                                  </ng-template>
                                  @if (item.desc) {
                                    <div [appLoadMediaOnText]="countChanges"
                                      style="border:none"
                                      class="ck ck-content ck-editor__editable ck-rounded-corners ck-editor__editable_inline ck-blurred"
                                      [innerHTML]="item.desc | safeHtml">
                                    </div>
                                  }
                                  <!-- <span (click)="openHuongdancham(panel_tieuchi , item)" class="label-view-huong-dancham">
                                  Ẩn hướng dẫn chấm
                                  <i class="fa fa-angle-double-up"></i>
                                </span> -->
                              </p-panel>
                            </div>
                            <div style="padding: 10px 1.25rem; padding-top: 0px;">
                              <div class="color-slider">
                                <input #slider type="range" min="0" max="100" step="1"
                                  [(ngModel)]="item['point_change']" (input)="onSliderChange(item)" />
                                  <div class="tick-labels">
                                    @for (mark of cham_diem_tuluan; track mark) {
                                      <span
                                        [style.left.%]="mark.position">
                                        <strong style="font-size: 14px;">{{ mark.label }}</strong>
                                      </span>
                                    }
                                  </div>
                                </div>
                              </div>
                            </div>
                          </p-panel>
                        </div>
                      }
                    </div>
                  }
                </div>
              </div>
            } @else {
              <div
                style="width: 100%; height: 100%; background: transparent; display: flex; align-items: center; justify-content: center;">
                <div
                  style="padding: 15px; color: orange; font-size: 20px; font-weight: bold; background: #fff;box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;border-radius: 6px;">
                  Sinh viên này chưa nhận đề hoặc đã vắng mặt
                </div>
              </div>
            }
          </div>
        </div>
      </ng-template>


      <ng-template #templateFormChamDiemGroup let-c="close" let-d="dismiss">
        <div class="ovic-over-right-section right-slide-class">
          <div class="ovic-over-right-section__head" style="display: flex; align-items: center; padding: 12px 20px;">
            <h3 class="ovic-over-right-section__header" style="flex:1">
              {{"Nhóm "+ selectedGroup['ordering']}}
            {{selectedGroup['point'] >= 0 ? ' - ' + selectedGroup.point+' Điểm':''}}</h3>
            <div class="action-button-next-back">
              <button [disabled]="!selectedGroup || !selectedGroup['course_plan_activity_tuluan_id']?true: false"
                (click)="savePointTieuchiGroup()" style="line-height: 1; margin-right: 5px" class="btn btn-primary">
                <i class="fa fa-floppy-o"></i>
                Lưu lại
              </button>
              <button (click)="nextGroup('back')" style="line-height: 1; margin-right: 5px"
                class="btn btn-success btn-angle"><i class="pi pi-angle-double-left"></i>Nhóm trước</button>
                <button (click)="nextGroup('next')" style="line-height: 1;margin-right: 5px"
                  class="btn btn-success btn-angle">Nhóm sau<i class="pi pi-angle-double-right"
                style="margin-left: 5px; margin-right: 0px;"></i></button>
              </div>
              <button class="btn ovic-over-right-section__close-button btn-recss-close-right-button"
              (click)="closeModal(d)"></button>
            </div>
            <div style="line-height: 1.25; padding: 0px; height: calc(100vh - 57px); background-color: #eaeaea;"
              class="ovic-over-right-section__body footer-no-hint tuluan-comment-slide tuluan-view-chamdiem">
              @if (selectedGroup && selectedGroup['course_plan_activity_tuluan_id']) {
                <div style="height: 100%; width: 100%; overflow: auto;"
                  >
                  <app-view-thuongxuyen-tuluan [hideNote]="true" [courseSelected]="classSelected['course_detail']"
                  [tuluan]="selectedTuluan"></app-view-thuongxuyen-tuluan>
                  <div class="tuluan-view-chamdiem-view-tieuchicham">
                    @if (list_tieuchi_cham.length) {
                      <div style="margin-top: 40px;" class="question-content-note">
                        <p-divider align="left" type="dashed">
                          <b>Chấm điểm theo tiêu chí</b>
                        </p-divider>
                        @for (item of list_tieuchi_cham; track item; let i = $index) {
                          <div style="margin-bottom: 20px; font-size: 14px;"
                            >
                            <p-panel styleClass="panel-item-tieuchicham">
                              <ng-template pTemplate="header">
                                @if (item.title) {
                                  <div class="header-tieuchicham">
                                    <strong>{{i + 1}}</strong>.
                                    <strong>{{item.title}} ({{item.cdr | showlabel : chuan_dau_ra }} -
                                      {{item.point}}
                                    điểm)</strong>
                                  </div>
                                }
                              </ng-template>
                              <div class="content-panel-tieuchicham">
                                <div style="padding-top: 15px;">
                                  <p-panel #panel_tieuchi [toggleable]="true" [collapsed]="item['collapsed']">
                                    <ng-template pTemplate="header">
                                      <div style="display: flex; align-items: center; width: 100%;">
                                        <div style="flex: 1;">
                                          <strong>Chấm điểm:</strong> {{item['point_cham']}}
                                        </div>
                                        <span (click)="openHuongdancham(panel_tieuchi , item)"
                                          class="label-view-huong-dancham">
                                          {{item['collapsed']?'Xem hướng dẫn chấm':'Ẩn hướng dẫn chấm' }}
                                          <i
                                          [ngClass]="item['collapsed']?'fa fa-angle-double-down':'fa fa-angle-double-up'"></i>
                                        </span>
                                      </div>
                                    </ng-template>
                                    @if (item.desc) {
                                      <div [appLoadMediaOnText]="countChanges"
                                        style="border:none"
                                        class="ck ck-content ck-editor__editable ck-rounded-corners ck-editor__editable_inline ck-blurred"
                                        [innerHTML]="item.desc | safeHtml">
                                      </div>
                                    }
                                    <!-- <span (click)="openHuongdancham(panel_tieuchi , item)" class="label-view-huong-dancham">
                                    Ẩn hướng dẫn chấm
                                    <i class="fa fa-angle-double-up"></i>
                                  </span> -->
                                </p-panel>
                              </div>
                              <div style="padding: 10px 1.25rem; padding-top: 0px;">
                                <div class="color-slider">
                                  <input #slider type="range" min="0" max="100" step="1"
                                    [(ngModel)]="item['point_change']"
                                    (input)="onSliderGroupChange(item)" />
                                    <div class="tick-labels">
                                      @for (mark of cham_diem_tuluan; track mark) {
                                        <span
                                          [style.left.%]="mark.position">
                                          <strong style="font-size: 14px;">{{ mark.label }}</strong>
                                        </span>
                                      }
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </p-panel>
                          </div>
                        }
                      </div>
                    }
                  </div>
                </div>
              } @else {
                <div
                  style="width: 100%; height: 100%; background: transparent; display: flex; align-items: center; justify-content: center;">
                  <div
                    style="padding: 15px; color: orange; font-size: 20px; font-weight: bold; background: #fff;box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;border-radius: 6px;">
                    Nhóm này chưa có dự án
                  </div>
                </div>
              }
            </div>
          </div>
        </ng-template>

        <p-dialog styleClass="dialog-waiting" appendTo="body" [showHeader]="false" [closable]="false" [(visible)]="displayModal"
          [modal]="true" [style]="{width: '50vw'}" [baseZIndex]="1099" [draggable]="false" [resizable]="false">
          <div class="popup-waiting-loading">
            <label style="width: 100%;">Đang đồng bộ dữ liệu, vui lòng không tắt trình duyệt</label>
            <div class="tn-import-student-progressbar">
              <mat-progress-bar mode="determinate" [value]="progressValue"></mat-progress-bar>
            </div>
          </div>
        </p-dialog>