<div class="layout_component_container">
    <div class="layout_component_container-header">
        <div class="layout_component_container-header-filter" style="flex: 1;">
            <input (keyup)="keyupForFilterByName($event['target']['value'])"
                (keyup.enter)="startFilter($event['target']['value'],'name')"
                placeholder="Nhập rồi nhấn enter để tìm kiếm" style="width: 250px;" type="text">
        </div>
        <div class="layout_component_container-header-action">
            <ovic-dropdown [defaultValue]="selectedDonvi_id" (onChangeGetValue)="getCourseFormDonvi($event)"
                placeholder="- - Khoa - -" scrollHeight="400px" styleClass="shift-dropdown-filter width-250px"
                [options]="list_donvi" optionLabel="title" optionId="id" [filter]="true" filterBy="title">
            </ovic-dropdown>
            <ovic-dropdown [defaultValue]="objectFillter['course_id']"
                (onChangeGetValue)="startFilter($event,'course_id')" placeholder="- - Môn học - -" scrollHeight="400px"
                styleClass="shift-dropdown-filter width-250px"
                [options]="list_course | filter : selectedDonvi_id : ['category_ids'] " optionLabel="title"
                optionId="id" [filter]="true" filterBy="title">
            </ovic-dropdown>
            <button (click)="loadFormPage(pageIndex)" style="margin-left: 5px; line-height: 1;"
                class="btn btn-success"><i class="fa fa-refresh"></i>Làm mới</button>
            <button *ngIf="canAdded" (click)="openAddForm()" style="margin-left: 5px; line-height: 1;"
                class="btn btn-success"><i class="fa fa-plus"></i>Tạo form đề</button>
        </div>
    </div>
    <div class="layout_component_container-bottom">
        <div class="layout_component_container-bottom-table">
            <p-table dataKey="id" [(selection)]="selectedForm" selectionMode="single" [value]="list_form"
                styleClass="table-scroll-able table-able-dropdown-p-table table-none-header table-reBorder">
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3rem; text-align: center;">TT</th>
                        <th style="width: 300px; min-width: 300px;">Tên form đề</th>
                        <th style="width: 120px; text-align: center;">Trạng thái</th>
                        <th style="width: 100px; text-align: center;">Số lượng đề</th>
                        <th style="width: 150px; text-align: center;">Thời lượng (phút)</th>
                        <th style="width: 300px;">Môn học</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-form>
                    <tr [pSelectableRow]="form">
                        <td style="text-align: center;">{{form['index_']}}</td>
                        <td>
                            <div class="shift-name">
                                <span style="flex: 1">{{form.name}}</span>
                                <button *ngIf="canUpdate" [matMenuTriggerFor]="menuActionShift"
                                    style="margin-left: 10px;" class="btn btn-primary btn-icon btn-transparent">
                                    <i class="fa fa-ellipsis-v"></i>
                                </button>
                                <mat-menu #menuActionShift="matMenu">
                                    <button (click)="taoCauTrucDe(form)" mat-menu-item>
                                        <i class="fa fa-list margin-right-10px width-16px"></i>
                                        <span>Tạo cấu trúc đề</span>
                                    </button>
                                    <button (click)="createDethi(form)" mat-menu-item
                                        [disabled]="form.status === 0? false : true">
                                        <i class="fa fa-plus margin-right-10px width-16px"></i>
                                        <span>Tạo đề thi</span>
                                    </button>
                                    <button (click)="changeStatusForm(form)" mat-menu-item
                                        [disabled]="form.status === 1? true : false">
                                        <i class="fa fa-check-circle-o margin-right-10px width-16px"></i>
                                        <span>Kích hoạt form đề</span>
                                    </button>
                                    <button (click)="changeStatusForm(form)" mat-menu-item
                                        [disabled]="form.status === 1? false : true">
                                        <i class="fa fa-times margin-right-10px width-16px"></i>
                                        <span>Tắt kích hoạt form đề</span>
                                    </button>
                                    <button (click)="openEditForm(form)" mat-menu-item
                                        [disabled]="form.status === 0? false : true">
                                        <i class="fa fa-pencil margin-right-10px width-16px"></i>
                                        <span>Sửa</span>
                                    </button>
                                    <button (click)="deleteToanbode(form)" mat-menu-item
                                        [disabled]="form.status === 0? false : true">
                                        <i class="fa fa-trash margin-right-10px width-16px"></i>
                                        <span>Xóa toàn bộ đề</span>
                                    </button>
                                    <button *ngIf="canDelete" (click)="deleteForm(form)" mat-menu-item
                                        [disabled]="form.status === 0? false : true">
                                        <i class="fa fa-trash margin-right-10px width-16px"></i>
                                        <span>Xóa</span>
                                    </button>
                                </mat-menu>
                            </div>
                        </td>
                        <td style="text-align: center;">
                            <span class="status-shift status-deactive" *ngIf="form.status === 0">Chưa kích hoạt</span>
                            <span class="status-shift status-activite" *ngIf="form.status === 1">Đã kích hoạt</span>
                        </td>
                        <td style="text-align: center;">{{form['count_question_bank']+' / '+form['num_of_test']}}</td>
                        <td style="width: 150px; text-align: center;">{{form['time_of_test']}}</td>
                        <td>{{form['course_id'] | showlabel: list_course : 'id' : 'title'}}</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
        <div class="page-layout-set">
            <p-paginator #paginator_form (onPageChange)="changePage_form($event)" [rows]="limit_form"
                [totalRecords]="total_form"></p-paginator>
        </div>
    </div>
</div>

<ng-template #createForm>
    <div class="ovic-over-right-section">
        <div class="ovic-over-right-section__head">
            <h3 class="ovic-over-right-section__header">{{formTitle}}</h3>
            <button class="btn ovic-over-right-section__close-button" (click)="closeSideMenu()"></button>
        </div>
        <div class="ovic-over-right-section__body" style="height:calc(100vh - 51px - 57px - 18px)">
            <div class="ovic-vertical__inputs" style="line-height: 1.5;">
                <form [formGroup]="formData">
                    <div class="row form-row form-row-flex-row">
                        <div class="col-12">
                            <label>Tên form đề:<span class="ovic-mark">*</span></label>
                            <input type="text" class="ovic-input-field" formControlName="name">
                        </div>
                    </div>
                    <div class="row form-row form-row-flex-row">
                        <div class="col-12">
                            <label>Môn học:<span class="ovic-mark">*</span></label>
                            <ovic-dropdown placeholder="------" scrollHeight="400px" [options]="list_course"
                                optionLabel="title" optionId="id" [filter]="true" filterBy="title"
                                [defaultValue]="f['course_id'].value" [formField]="f['course_id']">
                            </ovic-dropdown>
                        </div>
                    </div>
                    <div class="row form-row form-row-flex-row">
                        <div class="col-3">
                            <label>Số lượng đề:<span class="ovic-mark">*</span></label>
                            <input (keydown)="numberKeyDown($event)" type="number" class="ovic-input-field"
                                formControlName="num_of_test">
                        </div>
                        <div class="col-3">
                            <label>Thời lượng (phút):<span class="ovic-mark">*</span></label>
                            <input (keydown)="numberKeyDown($event)" type="number" class="ovic-input-field"
                                formControlName="time_of_test">
                        </div>
                        <div class="col-6">
                            <label>Trạng thái:<span class="ovic-mark">*</span></label>
                            <div class="radio-question-number-select" style="padding: 6px 0px;">
                                <ovic-groups-radio-v2 [columns]="2" [group_name]="'status'" [formField]="f['status']"
                                    [options]="option_status" optionId="id" optionLabel="label"
                                    [defaultValue]="f['status'].value">
                                </ovic-groups-radio-v2>
                            </div>
                        </div>
                    </div>

                    <div class="row form-row form-row-flex-row">
                        <div class="col-12">
                            <label>Mô tả:<span class="ovic-mark"></span></label>
                            <ovic-editor height="auto" [default]="f['desc'].value"
                                [formField]="f['desc']"></ovic-editor>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="ovic-dynamic-right-section__foot">
            <p class="ovic-form-notes ovic-over-right-section__foot-ovic-input-line">
                <i class="pi pi-info-circle"></i>các trường có đánh dấu ( <span class="ovic-mark">*</span> ) là
                bắt
                buộc phải nhập
            </p>
            <p class="ovic-over-right-section__foot-wrap-buttons">
                <button *ngIf="isUpdate && selectedForm.status === 1" [disabled]="true"
                    class="btn ovic-over-right-section__foot-btn btn-primary">
                    <i class="fa fa-floppy-o" ></i>Lưu lại
                </button>
                <button *ngIf="!isUpdate || !selectedForm || selectedForm.status === 0" [disabled]="false" (click)="saveForm()"
                    class="btn ovic-over-right-section__foot-btn btn-primary">
                    <i class="fa fa-floppy-o" ></i>Lưu lại
                </button>
            </p>
        </div>
    </div>
</ng-template>

<ng-template #teampalteFormDetail>
    <div class="ovic-over-right-section">
        <div class="ovic-over-right-section__head">
            <h3 class="ovic-over-right-section__header">Cấu trúc đề {{selectedForm ? '- '+selectedForm['name'] : ''}}
            </h3>
            <button class="btn ovic-over-right-section__close-button" (click)="closeSideMenu()"></button>
        </div>
        <div class="ovic-over-right-section__body" style="height:calc(100vh - 57px ); padding: 0px;">
            <div class="ovic-vertical__inputs" style="line-height: 1; height: 100%;">
                <app-form-de-chitiet [form]="selectedForm" [list_course]="list_course"></app-form-de-chitiet>
            </div>
        </div>

        <!-- <div class="ovic-dynamic-right-section__foot">
            <p class="ovic-form-notes ovic-over-right-section__foot-ovic-input-line">
                <i class="pi pi-info-circle"></i>các trường có đánh dấu ( <span class="ovic-mark">*</span> ) là
                bắt
                buộc phải nhập
            </p>
            <p class="ovic-over-right-section__foot-wrap-buttons">
                <button (click)="saveForm()" class="btn ovic-over-right-section__foot-btn btn-primary">
                    <i class="fa fa-floppy-o" ></i>Lưu lại
                </button>
            </p>
        </div> -->
    </div>
</ng-template>