<div class="ovic-right-context-menu" [class.submenu-open-left]="_item['subMenuOpenLeft']" (contextmenu)="disableContextMenu($event)">
  <ul class="ovic-right-context-menu__nav">
    @for (_menu of _data; track _menu) {
      <li class="ovic-right-context-menu__nav-elm" [class.border-top--bold]="_menu['boldBorderTop']" [class.elm-has-child]="_menu.child && _menu.child.length">
        @if (_menu.child && _menu.child.length) {
          <span class="btn ovic-right-context-menu__btn-nav" [ngClass]="_menu.class"><i  [ngClass]="_menu.icon ? _menu.icon :'fa fa-dot-circle-o'"></i><span>{{_menu.label}}</span></span>
          <ul class="ovic-right-context-menu__nav-child">
            @for (_childMenu of _menu.child; track _childMenu) {
              <li class="ovic-right-context-menu__nav-elm">
                @if (!_childMenu.invisible) {
                  <a class="btn ovic-right-context-menu__btn-nav" href="#" [ngClass]="_childMenu.class" (click)="menuItemClick($event,_childMenu.slug,_item.attached)">
                    <i  [ngClass]="_childMenu.icon ? _childMenu.icon :'fa fa-dot-circle-o'"></i><span>{{_childMenu.label}}</span>
                  </a>
                }
                @if (_childMenu.invisible) {
                  <span class="btn ovic-right-context-menu__btn-nav disabled" [ngClass]="_childMenu.class">
                    <i  [ngClass]="_childMenu.icon ? _childMenu.icon :'fa fa-dot-circle-o'"></i><span>{{_childMenu.label}}</span>
                  </span>
                }
              </li>
            }
          </ul>
        }
        @if (!_menu.child || _menu.child.length === 0) {
          @if (!_menu.invisible) {
            <a class="btn ovic-right-context-menu__btn-nav" href="#" [ngClass]="_menu.class" (click)="menuItemClick($event,_menu.slug,_item.attached)">
              <i  [ngClass]="_menu.icon ? _menu.icon :'fa fa-dot-circle-o'"></i><span>{{_menu.label}}</span>
            </a>
          }
          @if (_menu.invisible) {
            <span class="btn ovic-right-context-menu__btn-nav disabled" [ngClass]="_menu.class">
              <i  [ngClass]="_menu.icon ? _menu.icon :'fa fa-dot-circle-o'"></i><span>{{_menu.label}}</span>
            </span>
          }
        }
      </li>
    }
  </ul>
</div>

