<div class="create-edit-question-section ovic-is-loading--size-normal d-flex flex-column h-100" [class.ovic-is-loading]="loading">
  @if (formMode==='create') {
    <div class="row">
      <div class="col-1">
        <div class="ovic-vertical__inputs ovic-vertical__inputs--layout-2">
          <p class="form-row mt-2">
            <label for="cdr">Cdr <span class="ovic-mark">*</span></label>
            <input id="cdr" class="ovic-input-field" [value]="level" disabled="disabled">
          </p>
        </div>
      </div>
      <div class="col-3">
        <div class="ovic-vertical__inputs ovic-vertical__inputs--layout-2">
          <p class="form-row mt-2">
            <label>Loại câu hỏi <span class="ovic-mark">*</span></label>
            <p-dropdown appendTo="body" scrollHeight="400px" class="input-element ovic-dropdown-style" [filter]="false" [options]="questionTypeSection.options" [(ngModel)]="questionTypeSection.active" (ngModelChange)="changesQuestionType()" optionLabel="label" optionValue="value" optionDisabled="disable" [placeholder]="questionTypeSection.placeholder"></p-dropdown>
          </p>
        </div>
      </div>
      <div class="col-8">
        <form [formGroup]="form">
          <div class="ovic-vertical__inputs ovic-vertical__inputs--layout-2 row">
            @if (info && info.cdr.week === 100) {
              <p class="form-row mt-2 col-4">
                <label for="code">Chọn CDR <span class="ovic-mark">*</span></label>
                <p-dropdown scrollHeight="400px" appendTo="body" class="input-element ovic-dropdown-style" [filter]="true" [options]="listCdr" formControlName="cdr_id" optionLabel="label" optionValue="id" placeholder="Chọn chuẩn đầu ra từ môn học"></p-dropdown>
              </p>
            }
            @if (testFormat === 'tienganh') {
              <p class="form-row mt-2 col-4">
                <label for="code">Part<span class="ovic-mark">*</span></label>
                <p-dropdown scrollHeight="400px" appendTo="body" class="input-element ovic-dropdown-style" [filter]="false" [options]="list_part_code" formControlName="code" optionLabel="label" optionValue="value" placeholder="part"></p-dropdown>
              </p>
            }
            @if (info && info.cdr.week !== 100) {
              <p class="form-row mt-2 col-4">
                <!-- <label for="code"></label> -->
                <span class="input-element border-span-element" style="padding: 2.5px 10px !important;">
                  <ovic-groups-radio-v2 group_name="select_private" [columns]="2" [formField]="f['private']" [options]="select_private" optionId="id" optionLabel="label" [defaultValue]="f['private'].value"></ovic-groups-radio-v2>
                </span>
              </p>
            }
          </div>
        </form>
      </div>
      <!-- <div class="col-3" *ngIf="testFormat === 'tienganh'">
      <form [formGroup]="form">
        <div class="ovic-vertical__inputs ovic-vertical__inputs--layout-2">
          <p class="form-row mt-2">
            <label for="code">Mã ngân hàng đề</label>
            <p-dropdown class="input-element ovic-dropdown-style" [filter]="false"
              [options]="list_part_code" formControlName="code" optionLabel="label" optionValue="value"
              placeholder="code">
            </p-dropdown>
          </p>
        </div>
      </form>
    </div> -->
  </div>
}
@if (formMode ==='update') {
  <div class="row">
    <div class="col-2">
      <div class="ovic-vertical__inputs ovic-vertical__inputs--layout-2">
        <p class="form-row mt-2">
          <label for="cdr">Cdr <span class="ovic-mark">*</span></label>
          <input id="cdr" class="ovic-input-field" [value]="level" disabled="disabled">
        </p>
      </div>
    </div>
    <div class="col-10">
      <form [formGroup]="form">
        <div class="ovic-vertical__inputs ovic-vertical__inputs--layout-2 row">
          @if (info && info.cdr.week === 100) {
            <p class="form-row mt-2 col-6">
              <label for="code">Chọn CDR <span class="ovic-mark">*</span></label>
              <p-dropdown scrollHeight="400px" appendTo="body" class="input-element ovic-dropdown-style" [filter]="false" [options]="listCdr" formControlName="cdr_id" optionLabel="label" optionValue="id" placeholder="Chọn chuẩn đầu ra từ môn học"></p-dropdown>
            </p>
          }
          @if (testFormat === 'tienganh') {
            <p class="form-row mt-2 col-6">
              <label for="code">Part<span class="ovic-mark">*</span></label>
              <p-dropdown scrollHeight="400px" appendTo="body" class="input-element ovic-dropdown-style" [filter]="false" [options]="list_part_code" formControlName="code" optionLabel="label" optionValue="value" placeholder="Part"></p-dropdown>
            </p>
          }
          @if (info && info.cdr.week !== 100) {
            <p class="form-row mt-2 col-4">
              <span class="input-element border-span-element" style="padding: 2.5px 10px !important;">
                <ovic-groups-radio-v2 group_name="select_private" [columns]="2" [formField]="f['private']" [options]="select_private" optionId="id" optionLabel="label" [defaultValue]="f['private'].value"></ovic-groups-radio-v2>
              </span>
            </p>
          }
        </div>
      </form>
    </div>
  </div>
}

@if (f['question_type'].value) {
  <div class="question-preview flex-fill">
    <div class="question-preview__container">
      <div class="question-preview__question" [ngClass]="testFormat === 'tienganh' ? 'question-preview__question--layout-separator' : 'question-preview__question--layout-linear'">
        <div class="question-preview__question__direction">
          <!-- <div class="ovic-vertical__inputs ovic-vertical__inputs--layout-2"
          *ngIf="testFormat === 'tienganh' && formMode==='update' && question.group_id === 0">
          <p class="form-row mb-2">
            <label>Mã ngân hàng đề</label>
            <input class="ovic-input-field" [(ngModel)]="question.code" placeholder="code">
          </p>
        </div> -->
        <div class="question-preview__question__size">
          <b class="question-preview__question__direction__prefix"> CÂU HỎI:</b>
          <div class="question-preview__question__direction__content">
            <app-input-question-direction [abstractControl]="f['question_direction']" (ckEditor)="ckEditorSetup($event)"></app-input-question-direction>
            @if (testFormat === 'tienganh' || ((f['question_type'].value === 'group-input' || f['question_type'].value === 'group-radio' || f['question_type'].value === 'grouping' || f['question_type'].value === 'drag-drop'))) {
              @if (question.media) {
                <div class="question-preview__question__direction__content__media">
                  <div class="question-preview__question__direction__content__block">
                    <span class="question-preview__question__direction__content__label">File nghe:</span>
                    <audio controls>
                      <source [src]="question.media.path | ictuMediaLink : question.media.source : token | ovicSafeUrl">
                    </audio>
                  </div>
                  <div class="question-preview__question__direction__content__block">
                    <span class="question-preview__question__direction__content__label">Giới hạn số lượt nghe của sinh viên:</span>
                    <input placeholder="Số lượt được nghe của sinh viên" type="text" pInputText [(ngModel)]="question.media.replay" (keyup)="validateInputMediaReplay()">
                    <small class="text-secondary">Vui lòng nhập giá trị số.</small>
                  </div>
                </div>
              } @else {
                <button (click)="btnImportQuestionMedia()" class="question-preview__question__direction__content__media__button" pRipple pButton icon="fa fa-headphones" label="Nhập file nghe"></button>
              }
            }
          </div>
          @if (question && ['drag_drop','grouping'].includes(question.question_type) && question.answer_option &&  question.answer_option.length) {
            <div class="question-preview__question__list-answer-options">
              @for (option of question.answer_option; track option) {
                <span class="question-preview__question__list-answer-options__text">{{ option.value }}</span>
              }
            </div>
          }
        </div>
      </div>
      <div class="question-preview__question__answer">
        @if (testFormat !== 'tienganh') {
          <div class="question-preview__question__size">
            @switch (f['question_type'].value) {
              @case ('group-input') {
                <group-input-question [question]="question" [confirmOnDelete]="formMode==='update'"></group-input-question>
              }
              @case ('group-radio') {
                <group-radio-question [question]="question" [confirmOnDelete]="formMode==='update'"></group-radio-question>
              }
              @case ('drag_drop') {
                <drag-and-drop-question [question]="question" [confirmOnDelete]="formMode==='update'"></drag-and-drop-question>
              }
              @case ('checkbox') {
                <question-type-radio-editor [multiple]="true" [question]="question"></question-type-radio-editor>
              }
              @case ('radio') {
                <question-type-radio-editor [multiple]="false" [question]="question"></question-type-radio-editor>
              }
              @case ('grouping') {
                <grouping-question [question]="question"></grouping-question>
              }
              @case ('inputbox') {
              }
              @case ('reorder_words') {
              }
              @case ('matching') {
              }
              @default {
                <div class="d-flex flex-fill w-100 h-100 justify-content-center align-items-center">
                  <p class="alert alert-secondary m-0 primary-font --fs-14">Vui lòng chọn loại câu hỏi </p>
                </div>
              }
            }
            <div class="question-preview__question__size__foot">
              <button [disabled]="!availableToSave" (click)="saveQuestion()" pButton pRipple icon="pi pi-save" class="question-preview__question__size__foot__button p-button--center p-button-success" label="Lưu lại"></button>
              @if (question && question['status'] === -1) {
                <button [disabled]="!availableToSave" (click)="saveQuestion(true)" pButton pRipple icon="pi pi-save" class="question-preview__question__size__foot__button p-button--center p-button-success" label="Lưu lại và yêu cầu duyệt"></button>
              }
              <!--<button [disabled]="!availableToSave" (click)="saveQuestion()" pButton pRipple icon="pi pi-save" class="question-preview__question__size__foot__button p-button&#45;&#45;center" label="Lưu lại và xem"></button>-->
            </div>
          </div>
        } @else {
          @if (question.question_type !== 'drag_drop' ) {
            @for (child of question.children; track child; let i = $index) {
              <div class="question-preview__question__size position-relative">
                <button (click)="removeChildQuestion(i)" pButton pRipple icon="pi pi-trash" class="question-preview__question__size__btn-remove-child-question p-button-danger"></button>
                @if (!['inputbox','reorder_words'].includes(child.question_type)) {
                  <div class="row">
                    <div class="col-12">
                      <div class="ovic-vertical__inputs ovic-vertical__inputs--layout-2">
                        <p class="form-row mt-0">
                          <label for="question_number">Câu hỏi số</label>
                          <input id="question_number" class="ovic-input-field" [(ngModel)]="child.question_number">
                        </p>
                      </div>
                    </div>
                    <div class="col-12">
                      <div class="ovic-vertical__inputs ovic-vertical__inputs--layout-2">
                        <p class="form-row mb-5">
                          <label for="question_number">Nội dung câu hỏi
                            <span class="ovic-mark">*</span></label>
                            <textarea rows="2" [autoResize]="true" pInputTextarea class="ovic-input-field" [(ngModel)]="child.question_direction"></textarea>
                          </p>
                        </div>
                      </div>
                    </div>
                  }
                  @switch (child.question_type) {
                    @case ('group-input') {
                      <group-input-question [question]="child"></group-input-question>
                    }
                    @case ('group-radio') {
                      <group-radio-question [question]="child"></group-radio-question>
                    }
                    @case ('checkbox') {
                      <question-type-radio-editor [multiple]="true" [question]="child"></question-type-radio-editor>
                    }
                    @case ('radio') {
                      <question-type-radio-editor [multiple]="false" [question]="child"></question-type-radio-editor>
                    }
                    @case ('drag_drop') {
                      <drag-and-drop-question [question]="child"></drag-and-drop-question>
                    }
                    @case ('grouping') {
                      <grouping-question [question]="child"></grouping-question>
                    }
                    @case ('inputbox') {
                      <question-type-input-box [question]="child"></question-type-input-box>
                    }
                    @case ('reorder_words') {
                      <question-type-reorder-words [question]="child"></question-type-reorder-words>
                    }
                    @case ('arrange_paragraphs') {
                      <question-type-arrange-paragraphs [question]="child"></question-type-arrange-paragraphs>
                    }
                    @case ('matching') {
                    }
                    @default {
                      <div class="d-flex flex-fill w-100 h-100 justify-content-center align-items-center">
                        <p class="alert alert-secondary m-0 primary-font --fs-14">Vui lòng chọn loại câu hỏi</p>
                      </div>
                    }
                  }
                </div>
              }
              <!--                            <div class="question-preview__question__size">-->
              <!--                                <div class="question-type-radio__footer d-flex justify-content-between align-items-center">-->
              <!--                                    <p-checkbox [(ngModel)]="question.config.invertedAnswer" [binary]="true" label="Đảo vị trí của các câu hỏi"></p-checkbox>-->
              <!--                                    <button (click)="addMoreChildQuestion()" class="typical-question__btn-add">-->
              <!--                                        <i class="pi pi-plus-circle"></i>Thêm câu hỏi-->
            <!--                                    </button>-->
          <!--                                </div>-->
        <!--                            </div>-->
      } @else {
        <div class="question-preview__question__size">
          <drag-and-drop-question [question]="question" [enableQuestionNumber]="true"></drag-and-drop-question>
        </div>
      }
      <div class="question-preview__question__size">
        @if (question.question_type !== 'drag_drop' ) {
          <div class="question-type-radio__footer d-flex justify-content-between align-items-center">
            <p-checkbox [(ngModel)]="question.config.invertedAnswer" [binary]="true" label="Đảo vị trí của các câu hỏi"></p-checkbox>
            <button (click)="addMoreChildQuestion()" class="typical-question__btn-add">
              <i class="pi pi-plus-circle"></i>Thêm câu hỏi
            </button>
          </div>
        }
        <div class="question-preview__question__size__foot" [class.p-0]="question.question_type === 'drag_drop'">
          <button [disabled]="!availableToSave" (click)="saveQuestion()" pButton pRipple icon="pi pi-save" class="question-preview__question__size__foot__button p-button--center p-button-success" label="Lưu lại"></button>
          <!--<button [disabled]="!availableToSave" (click)="saveQuestion()" pButton pRipple icon="pi pi-save" class="question-preview__question__size__foot__button p-button&#45;&#45;center" label="Lưu lại và xem"></button>-->
        </div>
      </div>
    }
  </div>
</div>
</div>
</div>
} @else {
  <div class="create-edit-question-section__panel d-flex flex-fill flex-column">
    <p class="alert alert-secondary m-0 primary-font --fs-14">{{ guideMessages }}</p>
  </div>
}
</div>
