<div class="layout-ketqua-duyet">
    <p-table [value]="list_plan_activite" styleClass="tbl-danhSachUser">
        <ng-template pTemplate="header">
            <tr>
                <th style="text-align: center; width: 50px;">{{label_week}}</th>
                <th style="text-align: center; width: 50px;">CELO</th>
                <th style="text-align: center; width: 50px;">Mục tiêu</th>
                <th style="text-align: center; width: 50px;">Tài liệu bài học</th>
                <th style="text-align: center; width: 50px;">Câu hỏi chuyên đề</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-row>
            <tr>
                <td style="text-align: center;">{{row['week']}}</td>
                <td style="text-align: center;">
                    @if (row['total_cdr'] === 0) {
                        <span>
                            -
                        </span>
                    }
                    @if (row['total_cdr'] !== row['duyet_cdr'] && row['total_cdr'] !== 0) {
                        <span>
                            {{row['duyet_cdr']+'/'+row['total_cdr']}}
                        </span>
                    }
                    @if (row['total_cdr'] === row['duyet_cdr'] && row['total_cdr'] !== 0) {
                        <span class="status-is-active">
                            <strong>Đạt</strong>
                        </span>
                    }
                </td>
                <td style="text-align: center;">
                    <strong>
                        @switch (row['status_muctieu']) {
                            @case (0) {
                                <span class="status-is-deactive">
                                    Chờ duyệt
                                </span>
                            }
                            @case (1) {
                                <span class="status-is-active">
                                    Đạt
                                </span>
                            }
                            @case (-1) {
                                <span class="status-is-redo">
                                    Chưa đạt
                                </span>
                            }
                            @case (-2) {
                                <span class="status-is-require">
                                    Đã sửa
                                </span>
                            }
                        }
                    </strong>
                </td>
                <td style="text-align: center;">
                    <strong>
                        @switch (row['status_tailieu']) {
                            @case (0) {
                                <span class="status-is-deactive">
                                    Chờ duyệt
                                </span>
                            }
                            @case (1) {
                                <span class="status-is-active">
                                    Đạt
                                </span>
                            }
                            @case (-1) {
                                <span class="status-is-redo">
                                    Chưa đạt
                                </span>
                            }
                            @case (-2) {
                                <span class="status-is-require">
                                    Đã sửa
                                </span>
                            }
                        }
                    </strong>
                </td>
                <td style="text-align: center;">
                    @if (row['total_question'] === 0) {
                        <span>
                            -
                        </span>
                    }
                    @if (row['total_question'] !== row['duyet_question'] && row['total_question'] !== 0) {
                        <span>
                            {{row['duyet_question']+'/'+row['total_question']}}
                        </span>
                    }
                    @if (row['total_question'] === row['duyet_question'] && row['total_question'] !== 0) {
                        <span class="status-is-active">
                            <strong>Đạt</strong>
                        </span>
                    }
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>