<div class="diemdanh-layout">
  <div style="height: calc(100% - 40px); padding: 10px;">
    <p-table [value]="list_student | filter : search_student_html : ['full_name','student_code']"
      styleClass="tbl-danhSachUser table-hover table-scroll-able table-able-dropdown-p-table table-has-caption table-border min-width-maxcontent-table diemdanh-layout-table">
      <ng-template pTemplate="caption">
        <div class="flex" style="display: flex; align-items: center;">
          <span style="flex: 1; margin-right: 10px;" class="p-input-icon-left ml-auto">
            Tổng SV: {{tongsv}}
          </span>
          <input (keyup)="onSearchStudent($event)" style="width: 250px;" type="text"
            placeholder="Nhập tên hoặc mã sv rồi nhấn enter" />
            <button style="margin-left: 10px;" (click)="loadForExportDataDiemdanh()" class="btn btn-success"><i
            class="fa fa-file-excel-o"></i>Tải về</button>
          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th style="text-align: center; width: 80px;">#</th>
            <th style="text-align: center; width: 250px;">Họ và tên</th>
            @for (cal of list_calendar; track cal; let i = $index) {
              <th style="text-align: center; width: 80px;">
                Buổi {{i + 1}}
              </th>
            }
            <th style="text-align: center; width: 50px;">K</th>
            <th style="text-align: center; width: 50px;">P</th>
            <th style="text-align: center; width: 50px;">M</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-row>
          <tr>
            <td style="text-align: center">{{row['index_']}}</td>
            <td>
              <div style="display: flex; flex-direction: column;">
                <strong>{{row['full_name']}}</strong>
                <span>{{row['student_code']}}</span>
              </div>
            </td>
            @for (cal of list_calendar; track cal) {
              <td style="text-align: center;">
                <span style="cursor: pointer; display: block; width: 100%; height: 100%;"
                  [ngClass]=" row['student_diemdanh_object'][cal.id.toString()] ? ('diemdanh-' +row['student_diemdanh_object'][cal.id.toString()]) :'' ">
                  {{row['student_diemdanh_object'][cal.id.toString()] ?
                  row['student_diemdanh_object'][cal.id.toString()] :'-'}}
                </span>
              </td>
            }
            <td style="text-align: center; width: 50px; background-color: #faedc4;">
              {{row['count_diemdanh']['K']}}
            </td>
            <td style="text-align: center; width: 50px; background-color: #faedc4;">
              {{row['count_diemdanh']['P']}}
            </td>
            <td style="text-align: center; width: 50px; background-color: #faedc4;">
              {{row['count_diemdanh']['M']}}
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
    <div class="page-layout-set">
      <p-paginator dropdownAppendTo="body" [rowsPerPageOptions]="[20,50,100,150,200]" #paginator
        (onPageChange)="changePage_student($event)" [rows]="limit_student"
      [totalRecords]="total_student"></p-paginator>
    </div>
  </div>