<!-- <app-dongbo-dulieu-ictu
    *ngIf="key_server === 'ictu' || key_server === 'dev' || key_server === 'dttx' || key_server === 'hvu'"></app-dongbo-dulieu-ictu>
<app-dongbo-dulieu *ngIf="key_server === 'tueba_dttx' || key_server === 'nvhcm'"></app-dongbo-dulieu> -->
<app-import-hvu-main *ngIf="key_server === 'hvu'"></app-import-hvu-main>
<app-import-ictu-main *ngIf="key_server === 'ictu' || key_server === 'dttx-ictu'"></app-import-ictu-main>
<app-import-tueba-main *ngIf="key_server === 'tueba_dttx'"></app-import-tueba-main>