<div class="qkt-conponent">
    <div class="qkt-left">
        <div class="layout_component_container">
            <div class="layout_component_container-top">
                <div class="container-top-left">

                    <ovic-dropdown class="set-widh-dropdown" [showClear]="false"
                                   [defaultValue]="objectFilter?objectFilter['donvi_id']: null"
                                   (onChange)="onChangeFilter($event,'donvi_id')"
                                   [filter]="true" [placeholder]="'---Chọn khoa quản lý---'" [options]="listDonvi"
                                   optionId="id"
                                   optionLabel="title" filterBy="title">
                    </ovic-dropdown>
                    <ovic-dropdown class="ovic-w-150px" [showClear]="false"
                                   [defaultValue]="objectFilter?objectFilter['namhoc']: null"
                                   style="margin-left: 5px;" (onChange)="onChangeFilter($event, 'namhoc')"
                                   placeholder="- Năm học -"
                                   [options]="listNamhoc" optionId="value" optionLabel="label" [filter]="true">
                    </ovic-dropdown>
                    <ovic-dropdown class="ovic-w-150px" [showClear]="false"
                                   [defaultValue]="objectFilter?objectFilter['hocky']: null"
                                   style="margin-left: 5px;" (onChange)="onChangeFilter($event, 'hocky' )"
                                   [options]="listHocky"
                                   placeholder="- Học kỳ -" optionId="value" optionLabel="label" [filter]="true">
                    </ovic-dropdown>

                </div>
                <div class="container-top-right">
                    <button pRipple pButton class=" select-height-42px"
                            [class]="changeView ===0 ? 'p-button-primary' : 'ovic-button-none-selected'"
                            icon="pi pi-sort-numeric-up-alt" (click)="selectChangeTb(0)"></button>
                    <button pRipple pButton class=" select-height-42px"
                            [class]="changeView ===1 ? 'p-button-primary' : 'ovic-button-none-selected'"
                            icon="pi pi-percentage" (click)="selectChangeTb(1)"></button>
                </div>
            </div>
            <div class="layout_component_container-bottom">
                <div class="container-bottom-right">
                    <p-table [value]="listData"
                             styleClass="tbl-danhSachUser table-scroll-able table-able-dropdown-p-table  ovic-ui-table table-reBorder th-td-padding-5px">
                        <ng-template pTemplate="header">
                            <tr>
                                <th rowspan="2" class="text-center ovic-w-50px">TT</th>
                                <ng-container *ngIf="objectFilter['donvi_id'] !== 0 else viewDonvi">
                                    <th rowspan="2" class="text-left ovic-w-300px">Tên môn học học</th>
                                    <th rowspan="2" class="text-center ovic-w-150px">Số tín chỉ</th>
                                    <th rowspan="2" class="text-center ovic-w-150px">Hình thức thi</th>
                                    <th rowspan="2" class="text-center ovic-w-120px">Số lớp học phần</th>
                                    <th rowspan="2" class="text-center ovic-w-100px">Số sinh viên</th>

                                </ng-container>
                                <ng-template #viewDonvi>
                                    <th rowspan="2" class="text-left ovic-w-300px">Tên Khoa</th>
                                    <th rowspan="2" class="text-center ovic-w-150px">Số môn học</th>
                                    <th rowspan="2" class="text-center ovic-w-150px">Số sinh viên</th>
                                </ng-template>
                                <th rowspan="1 " colspan="5" class="text-center " style="width: 500px;">Kết quả thi</th>
                            </tr>
                            <tr>
                                <th class="text-center ovic-w-100px">
                                    <div>F</div>
                                    <div>(0 - 4)</div>
                                </th>
                                <th class="text-center ovic-w-100px">
                                    <div>D</div>
                                    <div>(4.1 - 5.4)</div>
                                </th>
                                <th class="text-center ovic-w-100px">
                                    <div>C</div>
                                    <div>(5.5 - 6.9)</div>
                                </th>
                                <th class="text-center ovic-w-100px">
                                    <div>B</div>
                                    <div>(7 - 8.4)</div>
                                </th>
                                <th class="text-center ovic-w-100px">
                                    <div>A</div>
                                    <div>(8.5 - 10)</div>
                                </th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-row let-rowIndex="rowIndex">
                            <tr>
                                <td style="text-align: center;">{{ rowIndex + 1 }}</td>
                                <ng-container *ngIf="objectFilter['donvi_id'] !== 0">
                                    <td class="btn-hover" (click)="viewClassAndChart(row)">{{ row.title }}
                                        ( {{ row.maso }} )
                                    </td>
                                    <td class="text-center">{{ row.params ? row.params['sotinchi'] : '' }}</td>
                                    <td class="text-center"
                                        *ngIf="row.params">{{ row.params['exam_format'] == 'THUCHANH' ? 'Thực hành' : (row.params['exam_format'] == 'TRACNGHIEM' ? 'Trắc nghiệm' : (row.params['exam_format'] == 'DUAN' ? 'Dự án' : '')) }}
                                    </td>
                                    <td class="text-center">{{ row['_total_classes'] }}</td>
                                    <td class="text-center">{{ row['_total_students'] }}</td>
                                </ng-container>

                                <ng-container *ngIf="objectFilter['donvi_id'] == 0">
                                    <td class="btn-hover">{{ row.title }}</td>
                                    <td class="text-center">{{ row['_total_course'] }}</td>
                                    <td class="text-center">{{ row['_total_students'] }}</td>
                                </ng-container>

                                <td class="text-center">{{ changeView == 0 ? row['_point_F'] : replacerViewPoint(row['_point_F'], row['_point_all']) }}</td>
                                <td class="text-center">{{ changeView == 0 ? row['_point_D'] : replacerViewPoint(row['_point_D'], row['_point_all']) }}</td>
                                <td class="text-center">{{ changeView == 0 ? row['_point_C'] : replacerViewPoint(row['_point_C'], row['_point_all']) }}</td>
                                <td class="text-center">{{ changeView == 0 ? row['_point_B'] : replacerViewPoint(row['_point_B'], row['_point_all']) }}</td>
                                <td class="text-center">{{ changeView == 0 ? row['_point_A'] : replacerViewPoint(row['_point_A'], row['_point_all']) }}</td>
                            </tr>

                        </ng-template>

                        <ng-template pTemplate="emptymessage">
                            <tr>
                                <td colspan="10">
                                    Chưa tìm thấy kết quả.
                                </td>
                            </tr>
                        </ng-template>


                    </p-table>

                    <!--            <div class="page-layout-set">-->
                    <!--                <p-paginator #paginator (onPageChange)="changePage($event)" [rows]="limitCourse"-->
                    <!--                             [totalRecords]="totalCourse"></p-paginator>-->
                    <!--            </div>-->
                </div>
            </div>
        </div>
    </div>
    <ng-container *ngIf="openSideBar ">
        <div class="qkt-right">
            <div class="ovic-over-right-section --no-footer">
                <div class="ovic-over-right-section__head" style="padding: 8px 20px;">
                    <h3 class="ovic-over-right-section__header">{{ courseSelect ? courseSelect.title : '' }} </h3>
                    <button class="btn ovic-over-right-section__close-button" (click)="closeForm()"></button>
                </div>
                <div class="ovic-over-right-section__body users-layout-form p-0"
                     style="height: calc(100vh - 60px - 57px);">
                    <app-kq-chart [dataParam]="courseSelect"></app-kq-chart>
                </div>

            </div>
        </div>
    </ng-container>

</div>

<ng-template #viewByCourse>
    <div class="view-conponent w-100 d-flex flex-column h-100">
        <div class="head">
            <div class="">
                <div
                    class="ovic-over-right-section__header">{{ courseSelect ? courseSelect.title + ' [ ' + courseSelect.maso + ' ]' : '' }}
                </div>
                <div class="text">Khoa: {{ donviSelect ? donviSelect.title : '' }} | Năm
                    học: {{ objectFilter['namhoc'] + ' - HK' + objectFilter['hocky'] }} | Số lớp học
                    phần: {{ courseSelect['_totalClass'] }} | Tổng số sinh viên: {{ courseSelect['_total_student'] }} |
                    Tổng số giảng viên: {{ courseSelect['_users'].length }}
                </div>
            </div>
            <button class="btn ovic-over-right-section__close-button" (click)="closeForm()"></button>
        </div>
        <div class="body">
            <app-kq-chart [dataParam]="courseSelect"></app-kq-chart>
        </div>
    </div>
    <!--    <div class="ovic-over-right-section &#45;&#45;no-footer">-->
    <!--        <div class="ovic-over-right-section__head" >-->
    <!--            <div class="ovic-over-right-section__header">-->
    <!--                <div>{{ courseSelect ? courseSelect.title + '[ ' + courseSelect.maso + ' ]' : '' }} </div>-->
    <!--                <div>Số lớp học phần: {{courseSelect['_totalClass ']}} | Tổng số sinh viên: {{courseSelect['_total_student ']}} | Tổng số giảng viên: {{courseSelect['_user'].length}} </div>-->
    <!--            </div>-->
    <!--            <button class="btn ovic-over-right-section__close-button" (click)="closeForm()"></button>-->
    <!--        </div>-->
    <!--        <div class="ovic-over-right-section__body users-layout-form p-0"-->
    <!--             style="height: calc(100vh - 57px);">-->
    <!--            <app-kq-chart [dataParam]="courseSelect"></app-kq-chart>-->
    <!--        </div>-->

    <!--    </div>-->
</ng-template>

