.margin-right-5 {
    margin-right: 5px;
}

.layout-import-top {
    display: flex;
    align-items: center;
    padding-right: 10px;
}

.layout-import-top-left {
    flex: 1;
}

.layout-import-top-right{
    width: 500px;
    line-height: 1.25;
}