.login-for-ecommerce-wrap-scroll {
    height: var(--max-screen-height);
    max-height: var(--max-screen-height);
    min-height: var(--max-screen-height);
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

.login-for-ecommerce-wrap {
    display: flex;
    width: 100%;
    max-width: 100%;
    min-height: var(--max-screen-height);
    --lfe-size-left: min(50%, 580px);
}

.login-for-ecommerce__left-section {
    display: flex;
    padding: 10px 0 0;
    width: var(--lfe-size-left);
}

.login-for-ecommerce__right-section {
    background: linear-gradient(141.34deg, #bdb18d 0.33%, #22409a 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-top-left-radius: 0.75rem;
    border-bottom-left-radius: 0.75rem;
    flex: 1 1 0;
    flex-direction: column;
    position: relative;
    width: calc(100% - var(--lfe-size-left));
    max-width: calc(100% - var(--lfe-size-left));
    padding: 30px 10px;
}

.login-for-ecommerce__right-section>* {
    position: relative;
    z-index: 10;
}

.login-for-ecommerce__right-section img {
    max-width: 100%;
    height: auto;
}

.login-for-ecommerce__right-section .login-for-ecommerce__right-section__plant-object {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    transform: translateY(-50%);
    width: 250px;
    height: 250px;
    z-index: 1;
}

.login-for-ecommerce__right-section .login-for-ecommerce__right-section__ring-object {
    bottom: 0;
    right: 0;
    display: block;
    width: 250px;
    transform: translateY(50%);
    position: absolute;
    z-index: 1;
}

.login-for-ecommerce__title {
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 1.2;
    text-align: center;
    color: #ffffff;
    margin-bottom: 30px;
    text-transform: uppercase;
}

.login-for-ecommerce__wrap-slide {
    background: radial-gradient(97.57% 210.75% at 0.9% 2.98%, rgba(0, 0, 0, 0.4) 0%, rgba(255, 255, 255, 0) 100%);
    backdrop-filter: blur(21px);
    border-radius: 20px;
    /*border: 2px solid #b3b3b3;*/
    padding: 0;
    /*max-width: 80%;*/
    width: min(900px, calc(100% - 15px));
    overflow: hidden;
}

.login-for-ecommerce__slide-banner {
    --slide-banner-src: url(../../../../../assets/images/image-loading-2.gif);
    --bn-animation-delay: 0s;
    --bn-title-animation-duration: .8s;
    --bn-title-animation-name: fadeInUp;
    --bn-sub-title-animation-duration: 1s;
    --bn-sub-title-animation-name: fadeInUp;
    --bn-button-animation-duration: 1.2s;
    --bn-button-animation-name: fadeInUp;
    --slide-banner-padding-bottom: calc((5 / 9) * 100%);
    width: 100%;
    padding-bottom: var(--slide-banner-padding-bottom);
    /*height: 500px;*/
    background-color: rgba(255, 255, 255, .13);
    background-image: var(--slide-banner-src);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;

}

.login-for-ecommerce__slide-banner__inner {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 100%;
    flex-direction: column;
}

.login-for-ecommerce__slide-banner__title {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    color: #fff;
    margin: 0;
}

.login-for-ecommerce__slide-banner__sub-title {
    font-size: 18px;
    line-height: 1.4;
    color: #fff;
    font-weight: 700;
    margin: 10px 0 0;
}

.login-for-ecommerce__slide-banner__btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background: #03b3d1;
    border-radius: 100px;
    padding: 0 26px;
    color: #fff;
    gap: 5px;
    font-weight: 500;
    font-size: 16px;
    height: 48px;
    line-height: 1;
    margin-top: 30px;
}

.login-for-ecommerce__slide-banner__title {
    animation-name: var(--bn-title-animation-name);
    animation-duration: var(--bn-title-animation-duration);
    animation-delay: var(--bn-animation-delay);
}

.login-for-ecommerce__slide-banner__sub-title {
    animation-name: var(--bn-sub-title-animation-name);
    animation-duration: var(--bn-sub-title-animation-duration);
    animation-delay: var(--bn-animation-delay);
}

.login-for-ecommerce__slide-banner__btn {
    animation-name: var(--bn-button-animation-name);
    animation-duration: var(--bn-button-animation-duration);
    animation-delay: var(--bn-animation-delay);
}

.login-for-ecommerce__section__title {
    text-align: center;
    display: block;
    font-size: 18px;
    font-weight: 700;
    color: #ffffff;
    margin: 50px 0 30px;
    text-transform: uppercase;
}

.login-for-ecommerce__wrap-partners {
    display: block;
    /*white-space: nowrap;*/
    width: 100%;
    max-width: 100%;
    overflow: auto;
}

.login-for-ecommerce__partners {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
    justify-content: center;
}

.login-for-ecommerce__partners__elm {
    display: inline-block;
    border-radius: 20px;
    border: 2px solid #b3b3b3;
    margin: 0 5px;
    overflow: hidden;
}

.login-for-ecommerce__section-partner {
    max-width: 100%;
    overflow-x: hidden;
}

.login-for-ecommerce__partners__elm img {
    max-width: 80px;
    height: auto;
    width: 100%;
}

.login-for-ecommerce__form {
    flex: 1 1 auto;
    width: 100%;
    padding: 30px 50px;
    color: #22409a;
    font-size: 14px;
    line-height: 1.4;
}

.login-for-ecommerce__form__title {
    display: block;
    text-align: center;
    font-size: 22px;
    font-weight: 700;
    color: #22409a;
    margin: 30px 0 40px;
}

.login-for-ecommerce__form-control+.login-for-ecommerce__form-control {
    margin-top: 25px;
}

.mt-25px {
    margin-top: 25px;
}

.login-for-ecommerce__btn-toggle {
    position: absolute;
    width: 43px;
    height: 43px;
    right: 0;
    bottom: 0;
    border: none !important;
    box-shadow: none !important;
    color: rgb(51, 65, 85) !important;
    background: transparent !important;
    outline: none !important;
}

.login-for-ecommerce__btn-submit {
    font-size: 15px;
    border-radius: 4px !important;
    background-color: #22409a !important;
    border: none;
    color: #ffffff;
    display: flex;
    width: 100%;
    padding: 15px 10px;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    transition-duration: .15s;
    outline: none !important;
    justify-content: center;
    box-shadow: none !important;
    height: auto;
}



.login-for-ecommerce__btn-submit:hover {
    background-color: #670c00;
}

.btn--forget-password {
    padding: 0;
    font-size: 14px;
    color: #22409a;
    font-weight: 500;
    border: none !important;
    box-shadow: none !important;
    outline: none !important;
    line-height: 1.5;
    margin: 0;
}

.login-for-ecommerce__form-control__remember-me {
    color: rgb(51, 65, 85) !important;
    font-weight: 500 !important;
    line-height: 21px;
    display: inline-block !important;
    vertical-align: middle;
    user-select: none;
    margin: 0 !important;
}

.login-for-ecommerce__form-control .login-for-ecommerce__form-control__checkbox-remember-me {
    appearance: none;
    margin-right: 5px;
    padding: 0;
    box-shadow: none !important;
    display: inline-block;
    border-radius: 4px;
    height: 16px;
    width: 16px;
    line-height: 24px;
    color: rgb(28, 100, 242);
    background-color: rgb(255, 255, 255);
    background-origin: border-box;
    border-color: rgb(203, 213, 225);
    vertical-align: middle;
}

.login-for-ecommerce__form-control .login-for-ecommerce__form-control__checkbox-remember-me:checked {
    background: rgb(28, 100, 242) url(data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PScwIDAgMTYgMTYnIGZpbGw9J3doaXRlJyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnPjxwYXRoIGQ9J00xMi4yMDcgNC43OTNhMSAxIDAgMDEwIDEuNDE0bC01IDVhMSAxIDAgMDEtMS40MTQgMGwtMi0yYTEgMSAwIDAxMS40MTQtMS40MTRMNi41IDkuMDg2bDQuMjkzLTQuMjkzYTEgMSAwIDAxMS40MTQgMHonLz48L3N2Zz4=);
}

.login-for-ecommerce__form-control__wrap-remember-me {
    display: flex;
    justify-content: space-between;
    margin: 0;
}

.login-for-ecommerce__form__wrap-separate {
    display: block;
    position: relative;
    text-align: center;
    margin: 25px 0;
    padding: 0;
}

.login-for-ecommerce__form__wrap-separate::before {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    width: 100%;
    border-top: 1px solid rgb(203, 213, 225);
    height: 1px;
    z-index: 1;
}

.login-for-ecommerce__form__wrap-separate span {
    color: #333;
    display: inline-block;
    font-weight: 400;
    line-height: 24px;
    font-size: 14px;
    background: #ffffff;
    padding: 0 15px;
    position: relative;
    z-index: 5;
}

.login-for-ecommerce__form-control__text-last {
    margin: 0;
    text-align: center;
    color: #333;
    font-size: 15px;
    line-height: 24px;
}

.login-for-ecommerce__form-control__text-last .btn-change-tab {
    padding: 0;
    box-shadow: none !important;
    outline: none !important;
    border: none !important;
    margin: 0;
    background: transparent !important;
    line-height: 24px;
    font-weight: 500;
    font-size: 14px;
    color: rgb(28, 100, 242);
}

.text-copy-right {
    text-align: center;
    margin: auto 0 5px;
    padding: 0;
    font-size: 14px;
    color: #333;
}

.wrap-google-sign-in {
    display: flex;
    justify-content: center;
}

.login-for-ecommerce__form-control__input-btn {
    border-radius: 3px;
    font-size: 14px;
    line-height: 1.4;
    padding: 0 5px;
    height: 100%;
    width: calc(50% - 2.5px);
    justify-content: center;
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
    color: #ffffff;
    background: #c3c3c3;
}

.login-for-ecommerce__form-control__input-btn.--active {
    color: #ffffff;
    background: #3B82F6;
}

.login-for-ecommerce__form-control__input-btn+.login-for-ecommerce__form-control__input-btn {
    margin-left: 5px;
}

.login-for-ecommerce__wrap-slide--empty {
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F9F9F9;
}

.login-for-ecommerce__wrap-slide--empty img {
    max-width: 200px;
}

@media (min-width: 1024px) {
    .md-w-50-percent {
        width: calc(50% - 10px) !important;
        display: inline-flex;
        flex-direction: column;
    }

    .md-ml-20px {
        margin-left: 20px;
    }
}

@media (max-width: 1023px) {
    .login-for-ecommerce-wrap {
        --lfe-size-left: 100%;
    }

    .login-for-ecommerce__right-section {
        display: none
    }

    .login-for-ecommerce__form {
        padding: 15px 15px 30px;
    }
}

.ovic-request-reset-password__form {
    padding: 20px 30px;
}

.ovic-form-rsp__title {
    display: block;
    text-align: center;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 400;
    color: #444444;
    margin: 30px 0 15px;
}

.ovic-form-rsp__subtitle {
    display: block;
    text-align: center;
    font-size: 15px;
    font-weight: 400;
    color: #888888;
    margin: 0 0 20px;
}

.ovic-form-rsp__form {}

.ovic-form-rsp__lbl-input {
    display: block;
    margin: 0 0 20px;
    position: relative;
    width: 100%;
}

.ovic-form-rsp__lbl-input input {
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    border: 1px solid #ededed;
    background-color: #ffffff;
    width: 100%;
    border-radius: 999px;
    line-height: 1;
    padding: 12px 15px;
    color: #444444;
    margin: 0;
}

.ovic-form-rsp__lbl-input .fa-spinner {
    position: absolute;
    z-index: 1;
    margin: 0;
    top: 11.5px;
    right: 11px;
    line-height: 1;
    width: auto;
    font-size: 20px;
    color: #444444;
}

.ovic-form-rsp__form input::placeholder {
    color: #aaaaaa;
}

.ovic-form-rsp__form .form-row {
    margin: 0;
}

.ovic-form-rsp__form .btn-request {
    border: none;
    border-radius: 999px;
    font-size: 14px;
    /* padding: 11px 30px; */
    width: 100%;
}

.ovic-form-rsp__close-form {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 99;
    font-size: 20px;
    line-height: 1;
    padding: 4px;
    width: 30px;
    text-align: center;
    background: rgba(0, 0, 0, .05);
    border-radius: 999px;
    color: #aaaaaa;
}

.ovic-form-rsp__close-form:hover {
    background-color: #c73000;
    color: #ffffff;
}

.ovic-form-rsp__f-message {
    bottom: calc(100% + 11px);
    z-index: 5;
    left: 20px;
    display: inline-block;
    font-size: 12px;
    padding: 6px;
    transition: all 250ms ease 0s;
    opacity: 1;
    visibility: visible;
    line-height: 1;
    color: #f9f9f9;
    background-color: var(--danger);
    position: absolute;
}

.ovic-form-rsp__f-message::after {
    content: '';
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 0;
    border-top: 7px solid var(--danger);
    border-right: 7px solid transparent;
}

.ovic-form-rsp__f-message:not(.showed) {
    display: none;
}

.oauth-break-elm {
    font-size: 14px;
    color: #444444;
    display: inline-block;
    position: relative;
    line-height: 1;
    padding: 10px;
    font-weight: 400;
}

.oauth-break-elm::after,
.oauth-break-elm::before {
    content: '';
    display: block;
    width: 90px;
    height: 1px;
    background-color: #666666;
    position: absolute;
    top: 50%;
    right: 100%;
}

.oauth-break-elm::after {
    right: auto;
    left: 100%;
}

.ovic-form-rsp__thumb {
    text-align: center;
}

.mb__45px {
    margin-bottom: 45px;
}

.mb__30px {
    margin-bottom: 30px;
}

.login-for-ecommerce__form-control label {
    color: #22409a !important;
}

.login-for-ecommerce__form-control input {
    color: #22409a !important;
}

.ictu-is-loading--circle-black {
    position: relative;
}

.ictu-is-loading--circle-black::before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 100;
    content: '';
    display: block;
    height: auto;
    user-select: none;
}

.ictu-is-loading--circle-black::after {
    font-family: primeicons;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-feature-settings: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 14px;
    color: #ffffff;
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    content: "\e926";
    top: 50%;
    left: 50%;
    position: absolute;
    margin: -16px 0 0 -16px;
    z-index: 200;
    background: #666666;
    border-radius: 999px;
    animation: fa-spin 2s infinite linear;
}