<div class="layout_component_container class-details" [ngClass]="closeLeft?'close-left-body':''">
  <div class="class-details-left">
    <button style="margin-left: 5px; padding: 0px; min-width: 0px; z-index: 50;" (click)="closeLeftBody()"
      class="btn btn-success button-close-left-body">
      <i style="margin: 0px;vertical-align: middle; font-size: 13px;"
      [ngClass]="closeLeft?'pi pi-angle-double-right':'pi pi-angle-double-left'"></i>
    </button>
    <div class="class-details-left-menu">
      <mat-selection-list (selectionChange)="onSelectedMenu($event)" [multiple]="false" [hideSingleSelectionIndicator]="true" class="selection-list-mat"
        #items>
        @for (item of settingOwnClass_1 ; track item) {
          <mat-list-option [selected]="selectedMenu && selectedMenu.id === item.id ? true: false"
            [value]="item">
            <div mat-line style="font-weight: 500;">{{item.label}}</div>
          </mat-list-option>
        }
      </mat-selection-list>
    </div>
  </div>
  <div class="class-details-right">
    <!-- <div class="class-section-grid-background"></div> -->
    @if (selectedMenu && selectedClass) {
      <ng-container>
        @switch (selectedMenu.id) {
          @default {
            <div class="class-details-right-content">
              <div class="chuc-nang-tamkhoa">
                Chức năng này đang bị tạm khóa
              </div>
            </div>
          }
          @case ('thong-tin-lop-hoc') {
            <div class="class-details-right-content">
              <app-thong-tin-co-ban [classSelected]="selectedClass"></app-thong-tin-co-ban>
            </div>
          }
          @case ('tro-giang') {
            <div class="class-details-right-content">
              <app-thongtin-giangvienkhac [classSelected]="selectedClass"
              [canEdit]="canEditGiangvien"></app-thongtin-giangvienkhac>
            </div>
          }
          @case ('hoc-vien') {
            <div class="class-details-right-content">
              <ng-container>
                @switch (key_server) {
                  @default {
                    <app-sinhvien [classSelected]="selectedClass"></app-sinhvien>
                  }
                  @case ('hvu') {
                    <app-sinhvien-hvu [classSelected]="selectedClass"></app-sinhvien-hvu>
                  }
                }
              </ng-container>
            </div>
          }
          @case ('thaoluan') {
            <div class="class-details-right-content">
              <app-thao-luan [classSelected]="selectedClass"></app-thao-luan>
            </div>
          }
          @case ('kiemtra-kynang') {
            <div class="class-details-right-content">
              <app-kiemtra-kynang [classSelected]="selectedClass"></app-kiemtra-kynang>
            </div>
          }
          @case ('kehoach-hoctap') {
            <div class="class-details-right-content">
              <app-class-noidung-giangday-v2 [classSelected]="selectedClass"></app-class-noidung-giangday-v2>
            </div>
          }
          @case ('theo-doi-tien-do') {
            <div class="class-details-right-content">
              <app-theodoi-tiendo [classSelected]="selectedClass"></app-theodoi-tiendo>
            </div>
          }
          @case ('diemdanh') {
            <div class="class-details-right-content">
              <app-diemdanh-lophoc-mer [classSelected]="selectedClass"></app-diemdanh-lophoc-mer>
              <!-- <ng-container *ngIf="keyServer == 'hvu' else isNotHvu">
              <app-diemdanh-lophoc-v2 [classSelected]="selectedClass"></app-diemdanh-lophoc-v2>
            </ng-container>
            <ng-template #isNotHvu>
              <app-diemdanh-lophoc [classSelected]="selectedClass"></app-diemdanh-lophoc>
            </ng-template> -->
          </div>
        }
        @case ('diem') {
          <div class="class-details-right-content">
            <ng-container>
              @switch (key_server) {
                @case ('hvu') {
                  <app-thong-ke-diemthuongxuyen-hvu [classSelected]="selectedClass">
                  </app-thong-ke-diemthuongxuyen-hvu>
                }
                @case ('tueba_dttx') {
                  <app-thongke-diemthuongxuyen-tueba-dttx
                    [classSelected]="selectedClass">
                  </app-thongke-diemthuongxuyen-tueba-dttx>
                }
                @case ('dttx-ictu') {
                  <app-thongke-diemthuongxuyen-dttx-ictu [classSelected]="selectedClass">
                  </app-thongke-diemthuongxuyen-dttx-ictu>
                }
                @default {
                  <app-thong-ke-diem-thuong-xuyen [classSelected]="selectedClass">
                  </app-thong-ke-diem-thuong-xuyen>
                }
              }
            </ng-container>
            <!-- <app-thong-ke-diemthuongxuyen-hvu [classSelected]="selectedClass"></app-thong-ke-diemthuongxuyen-hvu> -->
            <!--                    <app-thong-ke-diem-thuong-xuyen [classSelected]="selectedClass"></app-thong-ke-diem-thuong-xuyen>-->
          </div>
        }
      <!-- </ng-container>
      <ng-template #notHvu>
        <div class="class-details-right-content" *ngSwitchCase="'diem'">
          <app-thong-ke-diem-thuong-xuyen [classSelected]="selectedClass"></app-thong-ke-diem-thuong-xuyen>
        </div>
      </ng-template> -->
      @case ('hoidap') {
        <div class="class-details-right-content">
          <app-hoi-dap [classSelected]="selectedClass"></app-hoi-dap>
        </div>
      }
      @case ('class-group') {
        <div class="class-details-right-content">
          <app-class-group [classSelected]="selectedClass"></app-class-group>
        </div>
      }
      @case ('kiemtra-daugio') {
        <div class="class-details-right-content">
          <app-kiemtra-daugio [classSelected]="selectedClass"></app-kiemtra-daugio>
        </div>
      }
      <!--<div class="class-details-right-content" *ngSwitchCase="gui-email">
    </div> -->
  }
</ng-container>
}
</div>
</div>