<div class="layout_component_container">
  <div class="khoa-hoc-header"
    style="padding: 5px; border-bottom: 1px solid #c8c8c8; display: flex; justify-content: space-between;">
    <input (keyup)="seacherKhoaHocWithTitle($event)" type="text" class="ovic-input-field" autocomplete="off"
      placeholder="Nhập tên rồi nhấn enter" style="width: 300px;" />
      <div style="display: flex;">
        @if (routerDaotao || routerAdmin) {
          <ovic-dropdown styleClass="dropdown-250"
            (onChange)="onChangeFilterChuyenmon($event)" placeholder="---chọn khoa---"
            [options]="list_donvi_chuyenmon" optionId="id" optionLabel="title" [filter]="true"
            [defaultValue]="categoryFilter" filterBy="title">
          </ovic-dropdown>
        }

        @if ((routerDaotao || routerAdmin) && canAdd && (key_server === 'dttx-ictu' || key_server === 'ictu' || key_server === 'tueba_dttx')) {
          <button (click)="addCourse()"
            class="btn btn-success" style="margin-left: 5px;line-height: 1; ">
            <i class="fa fa-plus"></i>Thêm mới
          </button>
        }

        @if ((routerDaotao || routerAdmin || routerLanhdaobomon || routerLanhdaokhoa) && canAdd && key_server === 'hvu') {
          <button (click)="addCourse()"
            class="btn btn-success" style="margin-left: 5px;line-height: 1; ">
            <i class="fa fa-plus"></i>Thêm mới
          </button>
        }

        @if ((routerDaotao || routerAdmin || routerLanhdaokhoa) && canAdd) {
          <button
            [matMenuTriggerFor]="menuMonhoc" class="btn btn-primary btn-icon" style="margin-left: 5px;">
            <i class="fa fa-ellipsis-h"></i>
          </button>
        }

        <mat-menu #menuMonhoc="matMenu">
          @if (routerDaotao || routerAdmin || routerLanhdaokhoa) {
            <button (click)="openTemplateImportCbthi()"
              mat-menu-item>
              <span>Import GV test bộ câu hỏi TN</span>
            </button>
          }
          @if (routerDaotao || routerAdmin || routerLanhdaokhoa) {
            <button (click)="btnDowloadUpateData()" [disabled]="categoryFilter == null"
              mat-menu-item>
              <span>Tải về báo cáo cập nhật dữ liệu</span>
            </button>
          }
        </mat-menu>
      </div>
    </div>
    <div class="khoa-hoc-list" style="padding: 5px;">
      <p-table [value]="dmKhoahoc"
        styleClass="tbl-danhSachUser table-scroll-able table-able-dropdown-p-table table-none-header ovic-ui-table table-reBorder ">
        <ng-template pTemplate="header">
          <tr>
            @for (col of cols_course; track col) {
              <th [ngClass]="col['class']">{{col['label']}}</th>
            }
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-row>
          <tr [ngClass]="selectedKhoahoc && selectedKhoahoc.id === row.id?'focus-row-table':''">
            @for (col of cols_course; track col) {
              <td [ngClass]="col['class']">
                @if (col['key'] !== 'title' && col['key'] !== 'editor_name') {
                  <span>{{row[col['key']]}}</span>
                }
                @if (col['key'] === 'title') {
                  <div class="title-col-flex">
                    <span class="title-col-flex-text">
                      <a style="flex-direction: column;display: flex;" [routerLink]="['monhoc-thongtin']"
                        [queryParams]="{code: row.id}">
                        <span style="color:#333; font-weight: 600;">
                          {{row[col['key']]}}
                        </span>
                        <span style="font-size: 12px; font-style: italic; color: #757575;">
                          {{row['editor_name']}}
                          {{row['sotinchi'] && row['hinhthucthi'] ? " - TC: "+
                          row['sotinchi']+" - "+row['hinhthucthi']:""}}
                        </span>
                      </a>
                    </span>
                    @if (routerDaotao || routerAdmin || routerLanhdaokhoa) {
                      <button (click)="onEditCourse(row)" ngbTooltip="Sửa" container="body" placement="top"
                        class="btn btn-primary btn-icon btn-transparent"
                        >
                        <i class="fa fa-pencil"></i>
                      </button>
                    }
                    @if (routerDaotao || routerAdmin || key_server==='hvu') {
                      <button (click)="dowloadCoursePlanDocument(row)" ngbTooltip="Tải tài liệu giảng dạy"
                        container="body" placement="top" class="btn btn-success btn-icon btn-transparent"
                        >
                        <i class="fa fa-file-archive-o"></i>
                      </button>
                    }
                    @if ((routerDaotao || routerAdmin)) {
                      <button (click)="cloneCourse(row)" class="btn btn-primary btn-icon btn-transparent"
                        ngbTooltip="Sao chép nội dung từ môn học khác" container="body" placement="top"
                        >
                        <i class="fa fa-clipboard"></i>
                      </button>
                    }
                    @if ((routerDaotao || routerAdmin) && canDelete) {
                      <button (click)="deleteKhoahoc(row.id)" class="btn btn-danger btn-icon btn-transparent"
                        >
                        <i class="fa fa-trash"></i>
                      </button>
                    }
                  </div>
                }
                @if (col['key'] === 'editor_name') {
                  <div [innerHTML]="row[col['key']]">
                  </div>
                }
              </td>
            }
          </tr>
        </ng-template>
      </p-table>
    </div>
    <div class="page-layout-set">
      <p-paginator #paginator (onPageChange)="changePage($event)" [rows]="limitCourse"
      [totalRecords]="totalCourse"></p-paginator>
    </div>
  </div>

  <ng-template #templateKhoaHoc>
    <div class="ovic-over-right-section">
      <div class="ovic-over-right-section__head">
        <h3 class="ovic-over-right-section__header">{{formTitle}}</h3>
        <button class="btn ovic-over-right-section__close-button" (click)="closeForm()"></button>
      </div>
      <div class="ovic-over-right-section__body" style="height: calc(100vh - 51px - 57px - 18px);">
        <div class="ovic-vertical__inputs" style="line-height: 1.5;">
          <form [formGroup]="formKhoaHoc" class="formKhoaHoc">
            <div class="row form-row form-row-flex-row">
              <div class="col-12 flex-div" [ngClass]="{ 'field-err' : !slugIsValid }">
                <label for="title">Tên môn học:<span class="ovic-mark">*</span></label>
                <input
                  [attr.disabled]="routerDaotao || routerAdmin || routerLanhdaokhoa || routerLanhdaobomon? null : true"
                  type="text" id="title" class="ovic-input-field" formControlName="title"
                  autocomplete="off">
                </div>
              </div>

              <div class="row form-row form-row-flex-row">
                <div class="col-6 flex-div">
                  <label for="maso">Mã môn học:<span class="ovic-mark">*</span></label>
                  <input
                    [attr.disabled]="routerDaotao || routerAdmin || routerLanhdaokhoa || routerLanhdaobomon ? null: true"
                    type="text" id="maso" formControlName="maso" class="ovic-input-field">
                  </div>
                  <div class="col-6 flex-div" style="line-height: 1;">
                    <label for="maso">Giảng viên phụ trách:<span class="ovic-mark"></span></label>
                    <!-- <p-dropdown [showClear]="true" scrollHeight="500px" [filter]="true" [baseZIndex]="1999"
                    appendTo="body" optionLabel="showName" optionValue="id" filterBy="showName"
                    [options]="listGiangvien" formControlName="creator_plan_id">
                  </p-dropdown> -->
                  <ovic-dropdown [showClear]="true" placeholder="---chọn giảng viên---"
                    [options]="listGiangvien" [defaultValue]="f['creator_plan_id'].value" optionId="id"
                    optionLabel="display_name" [formField]="f['creator_plan_id']" [filter]="true"
                    filterBy="showName">
                  </ovic-dropdown>
                </div>
              </div>
              <div class="row form-row form-row-flex-row">
                <div class="col-12 flex-div">
                  <label for="keywords">Khoa quản lý:<span class="ovic-mark">*</span></label>
                  <ovic-dropdown [disabled]="routerDaotao || routerAdmin ? false : true"
                    (onChange)="onChangeDonviCM($event)" placeholder="---chọn khoa---"
                    [options]="list_donvi_chuyenmon" [defaultValue]="f['category_ids'].value" optionId="id"
                    optionLabel="title" [formField]="f['category_ids']" [filter]="true"
                  filterBy="title"></ovic-dropdown>
                </div>
              </div>
              <div class="row form-row form-row-flex-row">
                <div class="col-12 flex-div">
                  <label for="keywords">Bộ môn:<span class="ovic-mark"></span></label>
                  <ovic-dropdown [disabled]="routerDaotao || routerAdmin || routerLanhdaokhoa? false : true"
                    placeholder="---chọn bộ môn---" [options]="list_nganh_bomon"
                    [defaultValue]="f['nganh_bomon_id'].value" optionId="id" optionLabel="title"
                  [formField]="f['nganh_bomon_id']" [filter]="true" filterBy="title"></ovic-dropdown>
                </div>
              </div>
            </form>
          </div>
        </div>

        <div class="ovic-dynamic-right-section__foot">
          <p class="ovic-form-notes ovic-over-right-section__foot-ovic-input-line">
            <i class="pi pi-info-circle"></i>các trường có đánh dấu ( <span class="ovic-mark">*</span> ) là bắt
            buộc phải nhập
          </p>
          <p class="ovic-over-right-section__foot-wrap-buttons">
            <button (click)="processAddForm()" class="btn ovic-over-right-section__foot-btn btn-primary">
              <i class="fa fa-floppy-o"></i>Lưu lại
            </button>
          </p>
        </div>
      </div>
    </ng-template>

    <ng-template #templateClone let-c="close" let-d="dismiss">
      <div class="ovic-over-right-section right-slide-class">
        <div class="ovic-over-right-section__head">
          <h3 class="ovic-over-right-section__header">{{formTitle}}</h3>
          <button class="btn ovic-over-right-section__close-button btn-recss-close-right-button"
          (click)="closeForm()"></button>
        </div>
        <div style="line-height: 1.25; padding: 0px; height: calc(100vh - 58px)"
          class="ovic-over-right-section__body footer-no-hint no-footer">
          <app-clone-course [courseSelected]="selectedKhoahoc"></app-clone-course>
        </div>
      </div>
    </ng-template>

    <ng-template #templateImporCbthi let-c="close" let-d="dismiss">
      <div class="ovic-over-right-section right-slide-class">
        <div class="ovic-over-right-section__head">
          <h3 class="ovic-over-right-section__header">Import danh sách cán bộ thi</h3>
          <button class="btn ovic-over-right-section__close-button btn-recss-close-right-button"
          (click)="closeForm()"></button>
        </div>
        <div style="line-height: 1.25; padding: 0px; height: calc(100vh - 58px)"
          class="ovic-over-right-section__body footer-no-hint no-footer">
          <app-import-canbothi></app-import-canbothi>
        </div>
      </div>
    </ng-template>

    <p-dialog styleClass="dialog-waiting" appendTo="body" [showHeader]="false" [closable]="false" [(visible)]="displayModal"
      [modal]="true" [style]="{width: '50vw'}" [baseZIndex]="1099" [draggable]="false" [resizable]="false">
      <div class="popup-waiting-loading">
        <label style="width: 100%;">{{waitingTitle}}</label>
        <div class="tn-import-student-progressbar">
          <mat-progress-bar mode="determinate" [value]="progressValue"></mat-progress-bar>
        </div>
      </div>
    </p-dialog>