.flex {
    display: flex;
    align-items: center;
}

.thuongxuyen-tracnghiem-layout-top {
    border-bottom: 1px solid #c8c8c8;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.thuongxuyen-tracnghiem-layout {
    background: #fff;
}

.action-top .btn-normal {
    border: 1px solid #c8c8c8;
}

.btn-close {
    border-top-left-radius: 6px !important;
    border-bottom-left-radius: 6px !important;
}

.btn-open {
    border-top-right-radius: 6px !important;
    border-bottom-right-radius: 6px !important;
}

.thuongxuyen-tracnghiem-layout-bottom {
    height: calc(100% - 41px);
    padding: 5px;
}

.fa-unlock {
    color: #c8c8c8;
}

.fa-lock,
.vang-mat {
    color: red;
}

.type-2-layout-thuongxuyen .thuongxuyen-tracnghiem-layout-top {
    flex-direction: column;
}

.type-2-layout-thuongxuyen .calendar-set-top {
    width: 100%;
    margin-bottom: 5px;
    justify-content: end;
}

.type-2-layout-thuongxuyen .action-top {
    width: 100%;
    text-align: right;
}

.type-2-layout-thuongxuyen .thuongxuyen-tracnghiem-layout-bottom {
    height: calc(100% - 76px);
}

.type-2-layout-thuongxuyen .filter-student-test-status {
    display: flex;
    text-align: right;
}

.type-2-layout-thuongxuyen .filter-student-test-status ovic-dropdown {
    margin-bottom: 5px;
}

.type-2-layout-thuongxuyen .caption-table {
    flex-direction: column;
}

.type-2-layout-thuongxuyen .caption-table-title {
    text-align: left;
    width: 100%;
}

.margin-right-10px {
    margin-right: 10px;
}

.student-info {
    display: flex;
    flex-direction: column;
    flex: 1
}

.student-name {
    display: flex;
    align-items: center;
}


.status-shift {
    padding: 5px 8px;
    width: 100%;
    display: block;
    text-align: center;
}

.status-danger {
    color: #fff;
    background-color: red;
}


.status-deactive {
    background-color: #E0E0E0;
}

.status-activite {
    color: #fff;
    background-color: #1da750;
}

.status-doing {
    color: #333;
    background-color: orange;
}

.status-pause {
    background: #A855F7;
    color: #fff;
}


.hover-underline:hover {
    cursor: pointer;
    text-decoration: underline;
}


.warning-card {
    background: #fff2e2;
    border: solid #cc8925;
    border-width: 0 0 0 6px;
    color: #cc8925;
    margin: 5px;
    border-radius: 6px;
    font-size: 13px;
}

.warning-card-content {
    display: flex;
    flex-direction: column;
    padding: 1.25rem 1.75rem;
    color: #cc8925;
}

.margin-right-5px {
    margin-right: 5px;
}

.kt-daugio-layout-bottom-right {
    width: 250px;
    height: 100%;
    border-left: 1px solid #c8c8c8;
    background-color: #fff;
    margin-right: -250px;
    transition: all 0.3s;
}

.kt-daugio-layout-bottom-left {
    width: 100%;
    transition: all 0.3s;
}

.left-layout-open .kt-daugio-layout-bottom-left {
    width: calc(100% - 250px);
}

.left-layout-open .kt-daugio-layout-bottom-right {
    margin-right: 0px;
}

/* .co-mat {
    color: #28a745;
} */