<div class="diemdanh-layout">
  <p-tabView styleClass="tab-lesson-view tab-diem-danh-view" [(activeIndex)]="activityIndex">
    <p-tabPanel header="Điểm danh">
      @if (activityIndex === 0) {
        <app-diemdanh-lophoc-v2
        [classSelected]="classSelected"></app-diemdanh-lophoc-v2>
      }
    </p-tabPanel>
    <p-tabPanel header="Tổng hợp kết quả">
      @if (activityIndex === 1) {
        <app-diemdanh-lophoc [classSelected]="classSelected"></app-diemdanh-lophoc>
      }
    </p-tabPanel>
  </p-tabView>
</div>