.ovic-media-files .call-file-picker {
    color: #212529;
    background-color: #f6f6f6;
    border-color: #eeeeee;
    font-size: 13px;
}

.files-list {
    border: solid 1px #c8c8c8;
    display: block;
    padding: 15px;
    background: #fff;
}

.call-file-picker {
    width: 100%;
    margin-left: 0px !important;

}

.files-list .single-file {
    display: flex;
    padding: 0 0 15px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    flex-grow: 1;
    border-bottom: dashed 1px #979797;
}

.files-list .single-file:last-child {
    border: none;
    padding-bottom: 0;
}

.files-list .single-file .btn-delete {
    margin-left: 8px;
    cursor: pointer;
    border: none;
    background-color: transparent;
    font-size: 17px;
    color: #aaaaaa;
}

.files-list .single-file .btn-delete:hover {
    color: #e45045;
}

.files-list .single-file .name {
    font-size: 14px;
    font-weight: 500;
    color: #353f4a;
    margin: 0;
}

.files-list .single-file>img {
    width: 34px;
}

.files-list .single-file .size {
    font-size: 12px;
    font-weight: 500;
    color: #a4a4a4;
    margin: 0;
    line-height: 1;
}

.files-list .single-file .info {
    width: 100%;
    padding-left: 7px;
}

.icon-in-open-download-file {
    font-size: 30px;
}

.fa-trash-o {
    color: #e02b2b;
}

.fa-file-image-o {
    color: #76ab39;
}

.fa-file-word-o {
    color: #1565c0;
}

.fa-file-excel-o {
    color: #03b108;
}

.fa-file-powerpoint-o {
    color: #ff5722;
}

.fa-file-pdf-o {
    color: #cc4b4c;
}

.fa-file-code-o {
    color: #37474f;
}

.fa-folder {
    color: #ffc876;
}

.fa-file-archive-o {
    color: #2196f3;
}

.fa-file-audio-o {
    color: #8d6e63;
}

.fa-file-video-o {
    color: #795548;
}

.btn-choose-avata {
    border: none !important;
    background: transparent !important;
    color: #0a7c24 !important;
    height: 100%;
    margin: 0px;
    white-space: unset !important;
}

.btn-download.btn-success,
.btn-secondary.btn-download,
.btn-primary {
    padding: 10px;
    min-width: auto;
    border-color: transparent !important;
    background-color: transparent !important;
    min-height: auto;
    /* display: none; */
    line-height: 1;
    box-shadow: none !important;
}

.btn-download.btn-success i {
    font-size: 17px !important;

    margin-right: 0px !important;
}

.btn-download.btn-success .download-true {
    color: #28a745 !important;
}

.btn-success.btn-download .download-false {
    color: #84848440 !important;
}

/* .btn-success.btn-download .download-false {
    color: red !important;
    position: absolute;
} */

.btn-primary i{
    color: #2196f3;
}