<div class="layout_component_container" [ngClass]="closeLeft?'close-left-body':''">
    <div class="layout_component_container-left" style="position: relative;">
        <button style="margin-left: 5px; padding: 0px; min-width: 0px; z-index: 50;" (click)="closeLeftBody()"
            class="btn btn-success button-close-left-body">
            <i style="margin: 0px;vertical-align: middle; font-size: 13px;"
                [ngClass]="closeLeft?'pi pi-angle-double-right':'pi pi-angle-double-left'"></i>
        </button>
        <div class="list-shift-filter" style="display: flex; align-items: center;">
            <input (keyup)="keyupForFilterByName($event['target']['value'])"
                (keyup.enter)="startFilter($event['target']['value'],'name')" type="text" class="ovic-input-field"
                placeholder="Nhập tên rồi nhấn enter" type="text" style="width: 100%; margin-right: 5px;">
            <p-overlayPanel #op appendTo="body">
                <ng-template pTemplate>
                    <ng-container [ngTemplateOutlet]="templateFilterShift">
                    </ng-container>
                </ng-template>
            </p-overlayPanel>
            <button (click)="startDownLoadPoint()" style="margin-right: 5px;"
                ngbTooltip="Tải bảng điểm để import vào phần mềm IU" container="body" placement="top"
                class="btn btn-success btn-icon"><i class="fa fa-download"></i></button>
            <button (click)="op.toggle($event)" class="btn btn-primary btn-icon"><i class="fa fa-filter"></i></button>
        </div>
        <div class="list-shift-layout">
            <mat-selection-list [multiple]="false" class="selection-list-mat thongke-shift-list" #shifts>
                <mat-list-option [selected]="selectedShift && selectedShift.id === shift.id ? true: false"
                    *ngFor="let shift of list_shifts" [value]="shift">
                    <div mat-line style="display: flex;">
                        <div (click)="onSelectShift(shift)" style="display: flex; flex: 1; padding: 10px;">
                            <div style="padding: 2px; margin-right: 5px;">
                                <span [ngSwitch]="shift.status">
                                    <i ngbTooltip="Chưa kích hoạt" container="body" placement="top" *ngSwitchCase="0"
                                        class="pi pi-bookmark-fill gray"></i>
                                    <i ngbTooltip="Đã kích hoạt" container="body" placement="top" *ngSwitchCase="1"
                                        class="pi pi-bookmark-fill blue"></i>
                                    <i ngbTooltip="Đã hoàn thành" container="body" placement="top" *ngSwitchCase="2"
                                        class="pi pi-bookmark-fill orange"></i>
                                </span>
                            </div>
                            <div mat-line>
                                <div mat-line
                                    style="font-weight: 600; white-space: break-spaces; color: #333; margin-bottom: 5px;">
                                    {{shift.name}}</div>
                                <div mat-line style="color: #666;">
                                    {{shift.time_start | date : 'dd/MM/yyyy HH:mm ':'UTC+7'}} -
                                    {{shift['user_created']?shift['user_created']['display_name']:''}}</div>
                            </div>
                        </div>
                        <div *ngIf="shift['status'] === 2" style="margin-left: 16px; padding: 16px 16px 16px 0px;">
                            <p-checkbox [binary]="true" [(ngModel)]="shift['checked']"></p-checkbox>
                        </div>
                    </div>
                </mat-list-option>
            </mat-selection-list>
        </div>
        <div class="page-layout-set">
            <p-paginator #paginator (onPageChange)="changePage_shift($event)" [rows]="limit_shifts"
                [totalRecords]="total_shifts"></p-paginator>
        </div>
    </div>
    <div class="layout_component_container-right">
        <div style="height: 100%;" *ngIf="selectedShift">
            <div class="layout_component_container-right-header">
                <span class="shift-name-right" style="flex: 1; font-weight: 600; margin-right: 10px;">
                    {{selectedShift.name}}
                </span>
                <div>
                    <input [(ngModel)]="searchRoom" type="text" class="ovic-input-field" placeholder="Nhập tên phòng"
                        type="text" style="width: 250px;">
                </div>
            </div>
            <div class="layout_component_container-right-body">
                <p-table [(selection)]="selectedRoom" dataKey="room" selectionMode="single"
                    [value]="list_room | filter : searchRoom : ['room']"
                    styleClass="table-reBorder form-detail-table table-scroll-able">
                    <ng-template pTemplate="header">
                        <tr>
                            <th style="width: 120px;">Phòng</th>
                            <th style="width: 250px; text-align: center;">Cán bộ coi thi</th>
                            <th style="width: 100px; text-align: center;">Số vắng</th>
                            <th style="width: 100px; text-align: center;">Vi phạm</th>
                            <th style="width: 120px; text-align: center;">Thời gian HTCT</th>
                            <th style="width: 100px; text-align: center;">Thao tác</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-room let-rowIndex="rowIndex">
                        <tr [pSelectableRow]="room">
                            <td
                                class="{{room['status_room'] === 0 ?'status-deactive': ''}}{{room['status_room'] === 1 ?'status-done': ''}}{{room['status_room'] === 2 ?'status-activite': ''}}">
                                <div [ngSwitch]="room['status_room']">
                                    <div class="status-shift" *ngSwitchCase="0">
                                        <div>{{room.room}}</div>
                                        <div>(Chưa bắt đầu)</div>
                                    </div>
                                    <div class="status-shift" *ngSwitchCase="1">
                                        <div>{{room.room}}</div>
                                        <div>(Đang thi)</div>
                                    </div>
                                    <div class="status-shift" *ngSwitchCase="2">
                                        <div>{{room.room}}</div>
                                        <div>(Đã hoàn thành)</div>
                                    </div>
                                </div>
                            </td>
                            <td style="text-align: left; line-height: 1.25;">
                                <div *ngIf="room['canbo_coithi_ids']" class="canbocoithi-room">
                                    <div class="item-teacher" *ngFor="let id of room['canbo_coithi_ids']">
                                        <div>{{id | showlabel : list_canbo_coithi:'id':'display_name'}}</div>
                                        <div style="font-size: 11px; font-style: italic;">{{id | showlabel :
                                            list_canbo_coithi:'id':'email'}}</div>
                                    </div>
                                </div>
                            </td>
                            <td style="text-align: center;">{{room['status_room'] === 0?'-':room['slvang']}}</td>
                            <td style="text-align: center;">{{room['status_room'] === 0?'-':room['slvipham']}}</td>
                            <td style="text-align: center;">{{room['status_room'] !== 2?'-':room['time_end'] | date :
                                'dd/MM/yyyy HH:mm ' :'UTC+7'}}</td>
                            <td style="text-align: center;">
                                <button (click)="openRoomLog(room)" class="btn btn-primary btn-icon"
                                    style="line-height: 1;"><i class="fa fa-info-circle"></i></button>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>
    </div>
</div>

<ng-template #templateFilterShift>
    <div class="layout-filter-shift" style="width: 500px;">
        <div class="ovic-vertical__inputs" style="line-height: 1.5;">
            <div class="row form-row form-row-flex-row">
                <div class="col-12">
                    <label>Môn học:</label>
                    <ovic-dropdown [defaultValue]="objectFillter['course_id']"
                        (onChangeGetValue)="startFilter($event,'course_id')" placeholder="- - - - -"
                        scrollHeight="400px" styleClass="shift-dropdown-filter width-250px" [options]="list_course"
                        optionLabel="label_name" optionId="id" [filter]="true" filterBy="label_name">
                    </ovic-dropdown>
                </div>

            </div>
            <div class="row form-row form-row-flex-row">
                <div class="col-4">
                    <label>Năm học:</label>
                    <ovic-dropdown [defaultValue]="objectFillter['namhoc']"
                        (onChangeGetValue)="startFilter($event,'namhoc')" placeholder="- - - - -"
                        [options]="list_namhoc" optionLabel="label" optionId="value">
                    </ovic-dropdown>
                </div>
                <div class="col-4">
                    <label>Học kỳ:</label>
                    <ovic-dropdown [defaultValue]="objectFillter['hocky']"
                        (onChangeGetValue)="startFilter($event,'hocky')" placeholder="- - - - -" [options]="list_hocky"
                        optionLabel="label" optionId="value">
                    </ovic-dropdown>
                </div>
                <div class="col-4">
                    <label>Đợt thi:</label>
                    <ovic-dropdown [defaultValue]="objectFillter['dotthi']"
                        (onChangeGetValue)="startFilter($event,'dotthi')" placeholder="- - - - -"
                        [options]="list_dotthi" optionLabel="label" optionId="value">
                    </ovic-dropdown>
                </div>
            </div>
            <div class="row form-row form-row-flex-row">
                <div class="col-12">
                    <label>Trạng thái:</label>
                    <ovic-groups-radio-v2 [defaultValue]="objectFillter['status']"
                        (onChange)="startFilter( $event, 'status' )" [unSelect]="true" [columns]="3"
                        group_name="option_status_filter" [options]="option_status_filter" optionId="id"
                        optionLabel="label">
                    </ovic-groups-radio-v2>
                </div>
            </div>
            <div class="row form-row form-row-flex-row">
                <div class="col-12" style="text-align: right;">
                    <button style="line-height: 1;" (click)="cancelFilter()" class="btn btn-secondary"><i
                            class="fa fa-refresh"></i>Hủy tìm kiếm</button>
                </div>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #templateRoomLog>
    <div class="ovic-over-right-section">
        <div class="ovic-over-right-section__head">
            <h3 class="ovic-over-right-section__header">{{selectedRoom ? selectedRoom.room : ''}}
            </h3>
            <button class="btn ovic-over-right-section__close-button" (click)="closeSideMenu()"></button>
        </div>
        <div class="ovic-over-right-section__body" style="height:calc(100vh - 57px); padding: 0px;">
            <div *ngIf="selectedRoom && selectedRoom['room_log_teacher']" class="ovic-vertical__inputs"
                style="line-height: 1.5; padding: 10px;">
                <p-table [value]="selectedRoom['room_log_teacher']" styleClass="table-reBorder form-detail-table">
                    <ng-template pTemplate="header">
                        <tr>
                            <th style="width: 100px; text-align: center">TT</th>
                            <th style="width: 250px; text-align: left">Cán bộ</th>
                            <th style="width: 300px; text-align: left;">Hành động</th>
                            <th style="width: 100px; text-align: center;">Đối tượng bị tác động</th>
                            <th style="width: 150px; text-align: center;">Thời gian</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-log let-rowIndex="rowIndex">
                        <tr>
                            <td style="text-align: center;">
                                <div>{{rowIndex + 1}}</div>
                            </td>
                            <td>{{log.created_by | showlabel : list_canbo_coithi: 'id' : 'display_name'}}</td>
                            <td>{{type_log[log.type]}}</td>
                            <td style="text-align: center;">
                                <span *ngIf="log.type === 'ENTER_ROOM' || log.type === 'DOWNLOADEXCELPOINT'">-</span>
                                <span
                                    *ngIf="log.type !== 'ENTER_ROOM' && log.type !== 'DOWNLOADEXCELPOINT' && log.object === 'thi_shift_room' ">Cả
                                    phòng</span>
                                <span *ngIf="log.object !== 'thi_shift_room' ">
                                    SBD: {{ log.object_id | showlabel : selectedRoom['shift_student'] : 'id' : 'sbd' }}
                                </span>
                            </td>
                            <td style="text-align: center;">{{log['created_at'] | date : 'dd/MM/yyyy HH:mm ' :'UTC+7' }}
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>
    </div>
</ng-template>