<div class="quiz-viewport">
  <!-- <div class="d-flex justify-content-end mb-5 p-3">
  <div class="mode-switch border" (click)="isReadOnly = !isReadOnly" [class.readonly-on]="isReadOnly">
    <div class="switch-knob">
      <i class="pi" [ngClass]="isReadOnly ? 'pi-eye' : 'pi-pencil'"></i>
    </div>
    <span class="text-mode">{{ isReadOnly ? 'Đang xem đáp án' : 'Đang làm thử' }}</span>
  </div>
</div> -->

<div>
  @if (av === 1) {
    <div class="part-container">
      <div class="part-header p-3 mb-5">
        <div class="d-flex align-items-center mb-1">
          <span class="part-title-text">
            {{ course_question['title_part'] }}
          </span>
        </div>
        <div [appKatexImg]="countChangeImg" [appLoadMediaOnText]="countChangeImg"
          class="part-desc-text mb-2 ck ck-content ck-editor__editable ck-rounded-corners ck-editor__editable_inline ck-blurred"
          [innerHTML]="course_question['question_direction'] | safeHtml">
        </div>
        @if (course_question['media']) {
          <audio controls class="w-100 audio-custom">
            <source [src]="course_question['media']">
          </audio>
        }
      </div>
      <div class="questions-list">
        <ng-container *ngTemplateOutlet="questionTmpl; context: { $implicit: course_question, idx: 1 }">
        </ng-container>
      </div>
    </div>
  }

  @if (av !== 1) {
    <div>
      <ng-container *ngTemplateOutlet="questionTmpl; context: { $implicit: course_question, idx: 1 }">
      </ng-container>
    </div>
  }
</div>

<ng-template #questionTmpl let-q let-idx="idx">
  <div class="question-block">
    @if (av !== 1) {
      <div class="question-header-section mb-3">
        <div class="d-flex align-items-start">
          @if (q.question_number && q.question_number !== 0) {
            <span class="q-index-tag">
              Câu {{ q.question_number }}:
            </span>
          }
          <div [innerHTML]="q.question_direction | safeHtml" [appKatexImg]="countChangeImg" [appLoadMediaOnText]="countChangeImg"
            class="q-content-text flex-grow-1 ck ck-content ck-editor__editable ck-rounded-corners ck-editor__editable_inline ck-blurred">
          </div>
        </div>
      </div>
    }


    <div class="drag-area">
      <div class="d-flex flex-wrap gap-2 mb-4" cdkDropList id="pool" [cdkDropListData]="pool"
        [cdkDropListConnectedTo]="q.dropListIds" (cdkDropListDropped)="dropMatching($event, q)">

        @for (s of pool; track s) {
          <div class="sentence-item" cdkDrag [cdkDragData]="s">
            <div [innerHTML]="s.value | safeHtml" [appKatexImg]="countChangeImg"
              [appLoadMediaOnText]="countChangeImg">
            </div>
          </div>
        }
      </div>

      <div class="row" style="min-height: 100px;">
        @for (item of q.children; track item; let i = $index) {
          <div class="d-flex mb-3 col-6"
            style="flex-direction: column; height: fit-content;">
            <div style="font-weight: 700;" [innerHTML]="item.question_direction | safeHtml"
              [appKatexImg]="countChangeImg" [appLoadMediaOnText]="countChangeImg" class="q-content-text" mb-2>
            </div>
            <div class="sentence-list"
              style="width: 100%; min-height: 100px;" cdkDropList [id]="'drop-' + i"
              [cdkDropListData]="item.answer" [cdkDropListConnectedTo]="q.dropListIds"
              (cdkDropListDropped)="dropMatching($event, q, item)">
              @for (a of item.answer; track a) {
                <div class="sentence-item" cdkDrag [cdkDragData]="a"
                  (click)="returnToPool(q, item, a)">
                  <div [innerHTML]="a.value | safeHtml" [appKatexImg]="countChangeImg"
                    [appLoadMediaOnText]="countChangeImg">
                  </div>
                </div>
              }
              <div class="custom-placeholder" *cdkDragPlaceholder></div>
            </div>
          </div>
        }
      </div>
    </div>
  </div>
</ng-template>
</div>