<div class="layout_component_container">
  <div class="document-type-a4-vertical" style="position: relative;">
    <button ngbTooltip="Lưu lại" placement="top" container="body"
      style="position: sticky; top: 20px; margin-top: -65px; margin-left: 1048px; z-index: 10;"
      class="btn btn-primary btn-icon" (click)="saveCourse()">
      <i class="fa fa-floppy-o"></i>
    </button>
    <div class="ovic-vertical__inputs" style="line-height: 1.5;">
      <form [formGroup]="formKhoaHoc" class="formKhoaHoc">
        <div class="row form-row form-row-flex-row">
          <div class="col-12 flex-div" [ngClass]="{ 'field-err' : !slugIsValid }">
            <label for="title">Tên học phần:<span class="ovic-mark">*</span></label>
            <input
              [attr.disabled]="routerDaotao || routerAdmin || routerLanhdaokhoa || routerLanhdaobomon? null : true"
              type="text" id="title" class="ovic-input-field" formControlName="title" autocomplete="off">
            </div>
          </div>

          <div class="row form-row form-row-flex-row">
            <div class="col-4 flex-div">
              <label for="maso">Mã học phần:<span class="ovic-mark">*</span></label>
              <input
                [attr.disabled]="routerDaotao || routerAdmin || routerLanhdaokhoa || routerLanhdaobomon? null: true"
                type="text" id="maso" formControlName="maso" class="ovic-input-field">
              </div>
              <div class="col-4 flex-div">
                <label for="sotinchi">Số tín chỉ:<span class="ovic-mark">*</span></label>
                <input
                  [attr.disabled]="routerDaotao || routerAdmin || routerLanhdaokhoa || routerLanhdaobomon? null : true"
                  type="number" id="sotinchi" formControlName="sotinchi" class="ovic-input-field">
                </div>
                <div class="col-4 flex-div">
                  <label for="sotinchi_th">Số tín chỉ thực hành:<span class="ovic-mark">*</span></label>
                  <input
                    [attr.disabled]="routerDaotao || routerAdmin || routerLanhdaokhoa || routerLanhdaobomon? null: true"
                    type="number" id="sotinchi_th" formControlName="sotinchi_th" class="ovic-input-field">
                  </div>
                </div>
                <div class="row form-row form-row-flex-row">
                  <div class="col-4 flex-div">
                    <label for="keywords">Khoa quản lý:<span class="ovic-mark">*</span></label>
                    <ovic-dropdown [disabled]="routerDaotao || routerAdmin ? false : true"
                      placeholder="---chọn khoa---" [options]="list_donvi_chuyenmon"
                      [defaultValue]="f['category_ids'].value" optionId="id" optionLabel="title"
                    [formField]="f['category_ids']" [filter]="true" filterBy="title"></ovic-dropdown>
                  </div>
                  <div class="col-4 flex-div">
                    <label for="keywords">Bộ môn:<span class="ovic-mark"></span></label>
                    <ovic-dropdown [disabled]="routerDaotao || routerAdmin || routerLanhdaokhoa? false : true"
                      placeholder="---chọn bộ môn---"
                      [options]="list_nganh_bomon | filter:  f['category_ids'].value : ['donvi_chuyenmon_id'] "
                      [defaultValue]="f['nganh_bomon_id'].value" optionId="id" optionLabel="title"
                    [formField]="f['nganh_bomon_id']" [filter]="true" filterBy="title"></ovic-dropdown>
                  </div>

                  <div class="col-4 flex-div">
                    <label>Định dạng bài kiểm tra trắc nghiệm:<span class="ovic-mark">*</span></label>
                    <ovic-dropdown placeholder="-------" [options]="DINHDANG_BAITRACNGHIEM"
                      [defaultValue]="f['av'].value" optionId="key" optionLabel="label"
                    [formField]="f['av']"></ovic-dropdown>
                  </div>

                </div>
                <div class="row form-row form-row-flex-row" style="margin-top: 25px;">
                  <div class="col-12 flex-div">
                    <label style="position: relative;">
                      Phân bổ thời gian (tiết)
                      <hr
                        style="position: absolute; width: calc(100% - 150px); margin: 0px; top: 9px; left: 150px;border-top: 1px dashed rgba(0, 0, 0, .1);">
                      </label>
                    </div>
                  </div>
                  <div class="row form-row form-row-flex-row" style="margin-top: 15px;">
                    <div class="col-4 flex-div">
                      <label>Tổng số:</label>
                      <input type="text" formControlName="tongsogio" class="ovic-input-field">
                    </div>
                    <div class="col-4 flex-div">
                      <label>Lý thuyết:</label>
                      <input type="number" formControlName="lythuyet" class="ovic-input-field">
                    </div>
                    <div class="col-4 flex-div">
                      <label>Thảo luận/bài tập:</label>
                      <input type="number" formControlName="thaoluan_baitap" class="ovic-input-field">
                    </div>
                  </div>
                  <div class="row form-row form-row-flex-row">
                    <div class="col-4 flex-div">
                      <label>Thực hành/thí nghiệm:</label>
                      <input type="text" formControlName="th_thinghiem" class="ovic-input-field">
                    </div>
                    <div class="col-4 flex-div">
                      <label>Kiểm tra định kỳ:</label>
                      <input type="number" formControlName="kiemtra_dinhky" class="ovic-input-field">
                    </div>
                    <div class="col-4 flex-div">
                      <label>Tự học:</label>
                      <input type="number" formControlName="tuhoc" class="ovic-input-field">
                    </div>
                  </div>
                  <hr style="border-top: 1px dashed rgba(0, 0, 0, .1);margin-left: 5px; margin-right: 5px;">
                  <div class="row form-row form-row-flex-row">
                    <div class="col-12 flex-div">
                      <label for="keywords">Hình thức thi KTHP:<span class="ovic-mark">*</span></label>
                      <ovic-groups-radio-v2 (onChange)="onChangeExam($event)" [formField]="f['exam_type']"
                        group_name="EXAMFORMAT" [columns]="3" [verticalMode]="false" [options]="EXAMFORMAT"
                        optionLabel="label" optionId="id"
                        [defaultValue]="f['exam_type'].value ? f['exam_type'].value:null">
                      </ovic-groups-radio-v2>
                    </div>
                  </div>
                  <div class="row form-row form-row-flex-row">
                    <div class="col-12 flex-div">
                      <label>Mức độ yêu cầu CDR:<span class="ovic-mark">*</span></label>
                      <ovic-groups-radio-v2 [disabled_item]="true" group_name="CHUAN_DAU_RA" optionLabel="label"
                        [columns]="3" [options]="chuandaura" [defaultValue]="f['cdr']['value']"
                        [formField]="f['cdr']" optionId="id">
                      </ovic-groups-radio-v2>
                    </div>
                  </div>

                  <div class="row form-row form-row-flex-row">
                    <div class="col-12 flex-div">
                      <label>Mô tả môn học:<span class="ovic-mark"></span></label>
                      <ovic-editor height="auto" [formField]="f['desc']" [default]="f['desc'].value">
                      </ovic-editor>
                    </div>
                  </div>
                  <div class="row form-row form-row-flex-row">
                    <div class="col-12 flex-div">
                      <label>Yêu cầu đối với sinh viên:<span class="ovic-mark"></span></label>
                      <ovic-editor height="auto" [formField]="f['yeucau_sinhvien']"
                        [default]="f['yeucau_sinhvien'].value">
                      </ovic-editor>
                    </div>
                  </div>
                  <ng-container [ngTemplateOutlet]="ctdtListTemplate">
                  </ng-container>
                  <div class="row form-row form-row-flex-row">
                    <div class="col-12 flex-div">
                      <label>Tài liệu chính:<span class="ovic-mark"></span></label>
                      <form-document-file-and-link [formField]="f['tailieu_chinh']"
                        [docDefault]="f['tailieu_chinh'].value">
                      </form-document-file-and-link>
                      <!-- <open-file-manager-v2 [filesDefault]="f['files'].value"
                    [formField]="f['files']"></open-file-manager-v2> -->
                  </div>
                </div>
                <div class="row form-row form-row-flex-row">
                  <div class="col-12 flex-div">
                    <label>Tài liệu tham khảo:<span class="ovic-mark"></span></label>
                    <form-document-file-and-link [formField]="f['tailieu_thamkhao']"
                      [docDefault]="f['tailieu_thamkhao'].value">
                    </form-document-file-and-link>
                  </div>
                </div>
                <!-- <div class="row form-row form-row-flex-row">
                <div class="col-12 flex-div">
                  <label>Tài liệu tham khảo:<span class="ovic-mark"></span></label>
                  <form-document-file-and-link [formField]="f['tailieu_thamkhao']"
                    [docDefault]="f['tailieu_thamkhao'].value">
                  </form-document-file-and-link>
                </div>
              </div> -->
            </form>
          </div>
        </div>
      </div>

      <ng-template #ctdtListTemplate>
        <div class="row form-row form-row-flex-row">
          <div class="col-12 flex-div">
            <label>Chọn Chương Trình Đào Tạo:<span class="ovic-mark"></span></label>
            <p-multiSelect (onChange)="onChangeSelectCtdt()" [options]="group_ctdt" [(ngModel)]="selectedCtdtsId"
              [ngModelOptions]="{standalone: true}" defaultLabel="------" scrollHeight="300px" display="chip">
            </p-multiSelect>
          </div>
        </div>
        @if (selectCtdts && selectCtdts.length) {
          <div class="row form-row form-row-flex-row">
            <div class="col-12 flex-div table-reBorder">
              <table>
                <tr>
                  <th style="text-align: center; width: 50px;">TT</th>
                  <th style="width: 400px;">Chương trình đào tạo</th>
                  <th>Khối kiến thức</th>
                </tr>
                @for (ctdt of selectCtdts; track ctdt; let i = $index) {
                  <tr>
                    <td style="text-align: center; width: 50px;">
                      {{i + 1}}
                    </td>
                    <td style="text-align: left;">{{ctdt.label}}</td>
                    <td style="text-align: left;">
                      <p-dropdown appendTo="body" [showClear]="true" placeholder="------" [options]="ctdt.items"
                        optionLabel="label" optionValue="value" [(ngModel)]="ctdt['select_item']"
                        [ngModelOptions]="{standalone: true}">
                      </p-dropdown>
                    </td>
                  </tr>
                }
              </table>
            </div>
          </div>
        }
      </ng-template>