<div class="layout_component_container" [ngClass]="closeLeft?'close-left-body':''">
    <div class="layout_component_container-left" style="position: relative;">
        <button style="margin-left: 5px; padding: 0px; min-width: 0px; z-index: 50;" (click)="closeLeftBody()"
            class="btn btn-success button-close-left-body">
            <i style="margin: 0px;vertical-align: middle; font-size: 13px;"
                [ngClass]="closeLeft?'pi pi-angle-double-right':'pi pi-angle-double-left'"></i>
        </button>
        <div class="list-shift-filter" style="display: flex; align-items: center;">
            <input (keyup)="keyupForFilterByName($event['target']['value'])"
                (keyup.enter)="startFilter($event['target']['value'],'name')" type="text" class="ovic-input-field"
                placeholder="Nhập tên rồi nhấn enter" type="text" style="width: 100%; margin-right: 5px;">
            <p-overlayPanel #op appendTo="body">
                <ng-template pTemplate>
                    <ng-container [ngTemplateOutlet]="templateFilterShift">
                    </ng-container>
                </ng-template>
            </p-overlayPanel>
            <button (click)="op.toggle($event)" class="btn btn-primary btn-icon"><i class="fa fa-filter"></i></button>
        </div>
        <div class="list-shift-layout">
            <mat-selection-list [multiple]="false" class="selection-list-mat thongke-shift-list" #shifts>
                <mat-list-option [selected]="selectedShift && selectedShift.id === shift.id ? true: false"
                    *ngFor="let shift of list_shifts" [value]="shift">
                    <div mat-line style="display: flex;">
                        <div (click)="onSelectShift(shift)" style="display: flex; flex: 1; padding: 10px;">
                            <div style="padding: 2px; margin-right: 5px;">
                                <span [ngSwitch]="shift.status">
                                    <i ngbTooltip="Chưa kích hoạt" container="body" placement="top" *ngSwitchCase="0"
                                        class="pi pi-bookmark-fill gray"></i>
                                    <i ngbTooltip="Đã kích hoạt" container="body" placement="top" *ngSwitchCase="1"
                                        class="pi pi-bookmark-fill blue"></i>
                                    <i ngbTooltip="Đã hoàn thành" container="body" placement="top" *ngSwitchCase="2"
                                        class="pi pi-bookmark-fill orange"></i>
                                </span>
                            </div>
                            <div mat-line>
                                <div mat-line
                                    style="font-weight: 600; white-space: break-spaces; color: #333; margin-bottom: 5px;">
                                    {{shift.name}}</div>
                                <div mat-line style="color: #666;">
                                    {{shift.time_start | date : 'dd/MM/yyyy HH:mm ':'UTC+7'}} -
                                    {{shift['user_created']?shift['user_created']['display_name']:''}}</div>
                            </div>
                        </div>
                        <div style="margin-left: 16px; padding: 16px 16px 16px 0px;">
                            <button ngbTooltip="Tải bài thi trong ca thi" container="body" placement="top"
                                (click)="onSelectShift(shift,true)" class="btn btn-success btn-icon">
                                <i class="fa fa-download "></i>
                            </button>
                        </div>
                    </div>
                </mat-list-option>
            </mat-selection-list>
        </div>
        <div class="page-layout-set">
            <p-paginator #paginator (onPageChange)="changePage_shift($event)" [rows]="limit_shifts"
                [totalRecords]="total_shifts"></p-paginator>
        </div>
    </div>
    <div class="layout_component_container-right">
        <div *ngIf="list_room && list_room.length" style="height: 100%; display: flex;flex-direction: column;">
            <div class="carousel-room">
                <p-carousel [value]="list_room" [numVisible]="3" [numScroll]="3" [circular]="true"
                    [responsiveOptions]="responsiveOptions">
                    <ng-template let-room pTemplate="item">
                        <div class="product-item">
                            <div class="product-item-content"
                                [ngClass]="selectedRoom && selectedRoom.id === room.id ?'room-activity':''">
                                <div>
                                    <h4 class="mb-1" style="font-size: 16px; margin-bottom: 0px;">
                                        <strong class="color-white">{{room.room}}</strong>
                                    </h4>
                                    <div *ngIf="room['canbo_coithi_ids']"
                                        style="width: fit-content; margin: 10px auto; text-align: left; padding: .3em .5rem;">
                                        <div *ngFor="let id of room['canbo_coithi_ids'], index as i">
                                            <div class="color-white"><strong>CBCT{{i+1}}:</strong>
                                                {{id | showlabel : list_canbo_coithi:'id':'display_name'}}
                                            </div>
                                        </div>
                                    </div>
                                    <div style="width: fit-content; margin: 0 auto;">
                                        <span class="margin-right-30px status-instock status-number">
                                            Tổng SV: {{room['students']}}
                                        </span>
                                        <span class="margin-right-30px status-lowstock status-number">
                                            Vắng: {{room['slvang']}}
                                        </span>
                                        <span class="status-outofstock status-number">
                                            Vi phạm: {{room['slvipham']}}
                                        </span>
                                    </div>
                                    <div style="width: fit-content; margin: 15px auto;">
                                        <span class="color-white">
                                            <strong>Thời gian HTCT: </strong>
                                            {{room['time_end'] | date : 'dd/MM/yyyy HH:mm ' :'UTC+7'}}
                                        </span>
                                    </div>
                                    <div class="car-buttons button-radius-50">
                                        <p-button (click)="openRoom(room)" ngbTooltip="Xem danh sách sinh viên"
                                            container="body" placement="left" type="button"
                                            styleClass="p-button p-button-rounded mr-2" icon="pi pi-search"></p-button>
                                        <p-button (click)="downloadAllBaithiRoom(room)"
                                            ngbTooltip="Tải tất cả bài thi trong phòng" container="body"
                                            placement="left" type="button"
                                            styleClass="p-button-success p-button-rounded mr-2"
                                            icon="pi pi-download"></p-button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </p-carousel>
            </div>
            <div class="table-list-student">
                <p-table selectionMode="multiple" [(selection)]="selectedShiftStudents" dataKey="id"
                    [value]="list_student | filter : searchStudent : ['full_name','student_code']"
                    styleClass="table-scroll-able table-able-dropdown-p-table table-has-caption table-reBorder">
                    <ng-template pTemplate="caption">
                        <div class="flex caption-table-student-list" style="display: flex; align-items: center;">
                            <div style="flex: 1" class="caption-table-student-list-status-list">
                                <input [(ngModel)]="searchStudent" type="text" style="line-height: 1; width:300px;"
                                    placeholder="Nhập mã sinh viên hoặc họ tên" />
                            </div>
                            <div style="font-weight: normal;">
                                <button (click)="dowloadBaithiInRoom()" class="btn btn-success"><i
                                        class="fa fa-download"></i>Tải bài thi</button>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template pTemplate="header">
                        <tr>
                            <th style="width: 4rem; text-align: center;">
                                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                            </th>
                            <th style="width: 3rem; text-align: center;">TT</th>
                            <th style="width: 350px;">Họ và tên</th>
                            <th style="width:120px;text-align: center;">SBD</th>
                            <th style="width:100px;text-align: center;">Điểm</th>
                            <th style="width:150px;text-align: center;">Mức độ vi phạm</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-student let-rowIndex="rowIndex">
                        <tr [pSelectableRow]="student" [pSelectableRowIndex]="rowIndex">
                            <td style="text-align: center;">
                                <p-tableCheckbox [value]="student"></p-tableCheckbox>
                            </td>
                            <td style="text-align: center;">{{rowIndex + 1}}</td>
                            <td>
                                <div class="student-name">
                                    <div class="student-info">
                                        <span class="font-weight-600"
                                            style="margin-bottom: 5px;">{{student.student.full_name}}</span>
                                        <span>{{student.student.student_code}}</span>
                                    </div>
                                    <div class="student-action-phongthi">

                                    </div>
                                </div>
                            </td>
                            <td style="text-align: center;">{{student.sbd}}</td>
                            <td style="text-align: center;">
                                {{student.point <= -1 || student.point===null ||
                                    student._student_status===-1? ' Bỏ thi ' : student.point}} </td>
                            <td style="text-align: center;">
                                {{student.violation_of_exam?student.violation_of_exam.title +' (đã trừ '+
                                (student.violation_of_exam.key | showlabel: dbConfig : 'key' : 'POINT' )+'%)' :
                                '-'}}
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>

            <!-- <p-tabView [(activeIndex)]="indexRoom" (onChange)="changeTabRoom($event)"
                styleClass="tab-lesson-view export-test-tabview" [scrollable]="true">
                <p-tabPanel *ngFor="let room of list_room" [header]="room['room']">
                    
                </p-tabPanel>
            </p-tabView> -->
        </div>
    </div>
</div>

<ng-template #templateFilterShift>
    <div class="layout-filter-shift" style="width: 500px;">
        <div class="ovic-vertical__inputs" style="line-height: 1.5;">
            <div class="row form-row form-row-flex-row">
                <div class="col-12">
                    <label>Môn học:</label>
                    <ovic-dropdown [defaultValue]="objectFillter['course_id']"
                        (onChangeGetValue)="startFilter($event,'course_id')" placeholder="- - - - -"
                        scrollHeight="400px" styleClass="shift-dropdown-filter width-250px" [options]="list_course"
                        optionLabel="title" optionId="id" [filter]="true" filterBy="title">
                    </ovic-dropdown>
                </div>

            </div>
            <div class="row form-row form-row-flex-row">
                <div class="col-4">
                    <label>Năm học:</label>
                    <ovic-dropdown [defaultValue]="objectFillter['namhoc']"
                        (onChangeGetValue)="startFilter($event,'namhoc')" placeholder="- - - - -"
                        [options]="list_namhoc" optionLabel="label" optionId="value">
                    </ovic-dropdown>
                </div>
                <div class="col-4">
                    <label>Học kỳ:</label>
                    <ovic-dropdown [defaultValue]="objectFillter['hocky']"
                        (onChangeGetValue)="startFilter($event,'hocky')" placeholder="- - - - -" [options]="list_hocky"
                        optionLabel="label" optionId="value">
                    </ovic-dropdown>
                </div>
                <div class="col-4">
                    <label>Đợt thi:</label>
                    <ovic-dropdown [defaultValue]="objectFillter['dotthi']"
                        (onChangeGetValue)="startFilter($event,'dotthi')" placeholder="- - - - -"
                        [options]="list_dotthi" optionLabel="label" optionId="value">
                    </ovic-dropdown>
                </div>
            </div>
            <div class="row form-row form-row-flex-row">
                <div class="col-12" style="text-align: right;">
                    <button style="line-height: 1;" (click)="cancelFilter()" class="btn btn-secondary"><i
                            class="fa fa-refresh"></i>Hủy tìm kiếm</button>
                </div>
            </div>
        </div>
    </div>
</ng-template>

<p-dialog styleClass="dialog-waiting" appendTo="body" [showHeader]="false" [closable]="false" [(visible)]="displayModal"
    [modal]="true" [style]="{width: '50vw'}" [baseZIndex]="1099" [draggable]="false" [resizable]="false">
    <div class="popup-waiting-loading">
        <div *ngIf="hasStep" style="margin: 0 auto; width: 100%;">
            <p-steps [(activeIndex)]="activeIndexStep" [model]="itemsStep" [readonly]="true"></p-steps>
        </div>
        <label style="width: 100%;">{{waitingTitle}}</label>
        <div class="tn-import-student-progressbar">
            <mat-progress-bar mode="determinate" [value]="progressValue"></mat-progress-bar>
        </div>
    </div>
</p-dialog>