<div class="layout_component_container">
    <div class="document-type-a4 form-info-layout" *ngIf="state == 'SUCCESS'">
        <div class="ovic-vertical__inputs" style="line-height: 1.5; flex: 1; width: 100%;">
            <form *ngIf="formSurvey" [formGroup]="formSurvey">
                <div class="survey-form-control-title">Tùy chỉnh đợt khảo sát</div>
                <!-- Ẩn display_position -->
                <div class="row form-row form-row-flex-row form-row-flex-row--margin">
                    <div class="col-6">
                        <label class="label-margin">Nhóm khảo sát<span class="ovic-mark">*</span></label>
                        <ovic-dropdown [disabled]="true" placeholder="---Chưa chọn phiếu---"
                            [options]="participantRolesTypeOption" [defaultValue]="formControl['participant_roles']['value']" optionId="id"
                            optionLabel="label" [formField]="formControl['participant_roles']" [filter]="true"
                            filterBy="label" [showClear]="false"></ovic-dropdown>
                    </div>
                    <div class="col-6">
                        <label class="label-margin">Loại khảo sát<span class="ovic-mark">*</span></label>
                        <ovic-dropdown placeholder="--Loại khảo sát--" [defaultValue]="formControl['type']['value']" [options]="surveyPlanTypeOption" optionId="id" optionLabel="label" [formField]="formControl['type']" [filter]="false" filterBy="label" [showClear]="false" (onChange)="onChangeTypeSurveyPlan($event)"></ovic-dropdown>
                    </div>
                </div>
                <div class="row form-row form-row-flex-row form-row-flex-row--margin">
                    <div class="col-8">
                        <label class="label-margin">Phiếu khảo sát<span class="ovic-mark">*</span></label>
                        <p-dropdown
                            [options]="listSurvey"
                            formControlName="survey_id"
                            optionLabel="title"
                            optionValue="id"
                            placeholder="--Chọn phiếu khảo sát--"
                            [filter]="true"
                            filterBy="title"
                            appendTo="body"
                            styleClass="w-full"
                            (onChange)="onChangeSurvey()">
                        </p-dropdown>
                    </div>
                    <div class="col-4">
                        <label class="label-margin">Phương thức đăng nhập<span class="ovic-mark">*</span></label>
                        <ovic-dropdown placeholder="--phương thức đăng nhập--" [defaultValue]="formControl['auth_method']['value']" [options]="surveyAuthMethodOption" optionId="id" optionLabel="label" [formField]="formControl['auth_method']" [filter]="false" filterBy="label" [showClear]="false"></ovic-dropdown>
                    </div>
                </div>
                <div class="row form-row form-row-flex-row">
                    <div class="col-4">
                        <label class="label-margin">Năm học<span class="ovic-mark">*</span></label>
                        <p-dropdown
                            [options]="schoolYearOption"
                            formControlName="school_year"
                            optionLabel="id"
                            optionValue="id"
                            placeholder="--Chọn năm học--"
                            [filter]="false"
                            (onChange)="onChangeSchoolYear()"
                            appendTo="body"
                            styleClass="w-full">
                        </p-dropdown>
                    </div>
                    <div class="col-4">
                        <label class="label-margin">Học kì<span class="ovic-mark">*</span></label>
                        <p-dropdown
                            [options]="semesterOption"
                            formControlName="semester"
                            optionLabel="id"
                            optionValue="id"
                            placeholder="--Chọn học kỳ--"
                            [filter]="false"
                            (onChange)="onChangeSchoolYear()"
                            appendTo="body"
                            styleClass="w-full">
                        </p-dropdown>
                    </div>
                    <div class="col-4">
                        <label class="label-margin">Khoa<span class="ovic-mark">*</span></label>
                        <p-multiSelect
                            [options]="listKhoaDonVi"
                            [disabled]="isLanhDaoKhoaContext"
                            [(ngModel)]="selectedKhoaDonVi"
                            [ngModelOptions]="{standalone: true}"
                            optionLabel="label"
                            optionValue="value"
                            appendTo="body"
                            placeholder="--Chọn khoa--"
                            [maxSelectedLabels]="1"
                            styleClass="w-full"
                            (onChange)="onChangeKhoaDonVi($event)"
                            selectedItemsLabel="Đã chọn {0} khoa">
                        </p-multiSelect>
                    </div>
                </div>
                <div class="row form-row form-row-flex-row">
                    <div class="col-6">
                        <label class="label-margin">Khóa học<span class="ovic-mark">*</span></label>
                        <p-multiSelect
                            [options]="listKhoaHoc"
                            [(ngModel)]="selectedKhoaHoc"
                            [ngModelOptions]="{standalone: true}"
                            optionLabel="label"
                            optionValue="value"
                            appendTo="body"
                            placeholder="--Chọn khóa học--"
                            [maxSelectedLabels]="1"
                            styleClass="w-full"
                            (onChange)="onChangeKhoaHoc($event)"
                            selectedItemsLabel="Đã chọn {0} khóa">
                        </p-multiSelect>
                    </div>
                    <div class="col-6">
                        <label class="label-margin">Đợt học<span class="ovic-mark">*</span></label>
                        <p-dropdown
                            [options]="listDot"
                            [(ngModel)]="selectedDot"
                            [ngModelOptions]="{standalone: true}"
                            optionLabel="label"
                            optionValue="value"
                            placeholder="--Chọn đợt--"
                            appendTo="body"
                            styleClass="w-full"
                            (onChange)="onChangeDot($event)">
                        </p-dropdown>
                    </div>
                </div>
                <div *ngIf="isViewCourse" class="row form-row form-row-flex-row">
                    <div class="col-12">
                        <label class="label-margin">Môn học<span class="ovic-mark">*</span></label>
                        <p-multiSelect
                            class="input-element ovic-dropdown-style p-dropdown-trigger--label-minimal"
                            [options]="listCourse"
                            formControlName="course_ids"
                            optionLabel="title"
                            optionValue="id"
                            appendTo="body"
                            placeholder="----Chọn môn học----"
                            [maxSelectedLabels]="0"
                            styleClass="w-full"
                            (onChange)="onChangeCourse($event)"
                            selectedItemsLabel="Đã chọn {0} môn học">
                        </p-multiSelect>
                    </div>
                </div>
                <!-- Hiển thị môn học đã chọn, ẩn icon eye và xóa -->
                <div *ngIf="listCourseSelect.length != 0 && isViewCourse">
                    <div class="survey-plan-info__course">
                        <div class="survey-plan-info__course-item" *ngFor="let item of listCourseSelect; let i = index">
                            <i class="fa fa-book text-primary"></i>
                            <div class="survey-plan-info__course-item_title">&nbsp;{{item.title}}</div>
                            <button (click)="delChangeCourse(item.id)" class="btn btn-danger btn-icon btn-transparent" pTooltip="Xóa" tooltipPosition="left">
                                <i class="fa fa-trash"></i>
                            </button>
                        </div>
                    </div>
                </div>

                <!-- Hiển thị lớp HP của những môn đã chọn với checkbox -->
                <div *ngIf="getAllClasses().length != 0 && isViewCourse" class="survey-plan-info__classes">
                    <mat-accordion>
                        <mat-expansion-panel elevation="0">
                            <mat-expansion-panel-header>
                            <mat-panel-title>
                                Danh sách lớp học của những môn học đã chọn
                            </mat-panel-title>
                            </mat-expansion-panel-header>
                            <div class="survey-plan-classes" style="padding: 5px 0px;">
                                <div class="survey-plan-classes_item" *ngFor="let item of getAllClasses(); let i = index">
                                <p-checkbox [binary]="true" [ngModel]="selectedClassIds.includes(item.id)" (ngModelChange)="onClassSelectionChange(item.id, $event)" [ngModelOptions]="{standalone: true}"></p-checkbox>
                                <i class="fa fa-graduation-cap" style="padding-left: 10px;"></i>
                                <div>&nbsp;{{item.name}}</div>
                                </div>
                            </div>
                        </mat-expansion-panel>
                    </mat-accordion>
                </div>

                <!-- Ẩn Link -->

                <!-- Group random question (mới) -->
                <div *ngIf="surveyGroupInfo && surveyGroupInfo.length > 0" class="survey-plan-group-random">
                    <div class="survey-plan-group-random__header">
                        <i class="pi pi-random"></i>
                        <span>Số câu hỏi random theo nhóm</span>
                    </div>
                    <div class="survey-plan-group-random__list">
                        <div class="survey-plan-group-random__item" *ngFor="let group of surveyGroupInfo">
                            <span class="survey-plan-group-random__label">{{group.name}}</span>
                                <input type="number" min="0" class="survey-plan-group-random__input"
                                    [(ngModel)]="groupRandomMap[group.id]" [ngModelOptions]="{standalone: true}">
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div style="display: flex; justify-content: space-between; align-items: center; width: 100%; padding-top: 10px;">
            <div class="ovic-dynamic-right-section__foot">
                <p class="ovic-form-notes ovic-over-right-section__foot-ovic-input-line" style="padding: 0px !important;">
                    <i class="pi pi-info-circle"></i>các trường có đánh dấu ( <span class="ovic-mark">*</span> ) là
                    bắt buộc phải nhập
                </p>
            </div>
            <button ngbTooltip="Lưu lại" placement="top" container="body" class="btn btn-primary btn-icon" style="width: 100px;" (click)="saveSurvey()" [disabled]="!formSurvey.valid">
                Lưu lại <i class="fa fa-floppy-o"></i>
            </button>
        </div>
    </div>
    <div *ngIf="state == 'ERROR'" class="data-load-error-retry-banner">
        <span class="error-text">
            Tải dữ liệu thất bại, vui lòng
            <span class="retry-link" (click)="reloadData()">nhấn vào đây</span>
            để tải lại
        </span>
    </div>
</div>

<mat-menu #menu="matMenu" class="classes-menu">
    <ng-template matMenuContent let-classes="classes">
        <div class="survey-plan-classes">
            <div class="survey-plan-classes_item" *ngFor="let item of classes; let i = index">
                <i class="fa fa-graduation-cap"></i>
                <div>&nbsp;{{item.name}}</div>
            </div>
        </div>
    </ng-template>
</mat-menu>
