@if (question) {
  <div class="grouping-question">
    <div class="grouping-question__section">
      <input placeholder="Câu hỏi..." class="grouping-question__section__input-direction" type="text" pInputText [(ngModel)]="question.children[0].question_direction">
      <textarea placeholder="Các đáp án..." class="grouping-question__section__input-text-area" [rows]="5" [cols]="30" pInputTextarea [autoResize]="true" [(ngModel)]="answerFirst.text" (ngModelChange)="changesAnswerOptions()"></textarea>
      <small class="grouping-question__section__text-guide text-secondary">Các đáp án được ngăn cách nhau bởi chấm phẩy (";")</small>
    </div>
    <div class="grouping-question__section">
      <input placeholder="Câu hỏi..." class="grouping-question__section__input-direction" type="text" pInputText [(ngModel)]="question.children[1].question_direction">
      <textarea placeholder="Các đáp án..." class="grouping-question__section__input-text-area" [rows]="5" [cols]="30" pInputTextarea [autoResize]="true" [(ngModel)]="answerSecond.text" (ngModelChange)="changesAnswerOptions()"></textarea>
      <small class="grouping-question__section__text-guide text-secondary">Các đáp án được ngăn cách nhau bởi chấm phẩy (";")</small>
    </div>
  </div>
  <div class="grouping-question__disturbed-answers">
    <h4 class="grouping-question__disturbed-answers__heading">Các phương án gây nhiễu</h4>
    <input class="grouping-question__disturbed-answers__input" type="text" pInputText [(ngModel)]="disturbedAnswers.text" (ngModelChange)="changesAnswerOptions()">
    <small class="grouping-question__section__text-guide text-secondary">Các phương án được ngăn cách nhau bởi dấu chấm phẩy (";")</small>
  </div>
}
