<div class="layout_component_container" [ngClass]="closeLeft?'close-left-body':''">
  <div class="layout_component_container-course" style="position: relative;">
    <button style="margin-left: 5px; padding: 0; min-width: 0; z-index: 50;" (click)="closeLeftBody()"
      class="btn btn-success button-close-left-body">
      <i style="margin: 0;vertical-align: middle; font-size: 13px;"
      [ngClass]="closeLeft?'pi pi-angle-double-right':'pi pi-angle-double-left'"></i>
    </button>
    @if (isManager) {
      <div class="search-layout">
        <div>
          <ovic-dropdown [options]="listDonvi" optionLabel="title" [filter]="true" [filterBy]="'title'"
            [showClear]="false"
          placeholder="---- Chọn khoa ----" (onChange)="btnSelectDonvi($event)"></ovic-dropdown>
        </div>
        <div style="margin-top: 5px;">
          <ovic-dropdown [options]="listClassManagementByAdmin" optionLabel="title" [filter]="true"
            [filterBy]="'title'" [showClear]="false"
            placeholder="---- Chọn lớp quản lý ----"
          (onChange)="btnSelectClassByAdmin($event)"></ovic-dropdown>
        </div>
      </div>
    }

    @if (isChunhiem) {
      <div class="search-layout">
        <div>
          <ovic-dropdown [options]="listClassManagementByAdmin" optionLabel="title" [filter]="true"
            [filterBy]="'title'" [showClear]="false"
            placeholder="---- Chọn lớp quản lý ----"
          (onChange)="btnSelectClassByAdmin($event)"></ovic-dropdown>
        </div>
      </div>
    }
    @if (listCabiet && listCabiet.length>0) {
      <div class="list-course-layout">
        <mat-selection-list (selectionChange)="onSelectCabiet($event)" [multiple]="false" class="selection-list-mat"
          #classGvcn>
          @for (row of listCabiet ; track row) {
            <mat-list-option [selected]="studentCabiet_select && studentCabiet_select.id === row.id "
              [value]="row">
              <div mat-line style="font-weight: 600;">{{ row.student_info.full_name }} ({{ row.student_info.student_code }})</div>
              <div mat-line>{{row['_email'] ? row['_email'] + ' | ' + row['_phone'] : '' }}</div>
            </mat-list-option>
          }
        </mat-selection-list>
      </div>
    } @else {
      <div class="list-course-layout">
        <div class="w-100 h-100 d-flex flex-column justify-content-center">
          <div class="text-empty">{{ emptyMenu }}</div>
        </div>
      </div>
    }
    <ng-template #notClass>
      <div class="list-course-layout">
        <div class="w-100 h-100 d-flex flex-column justify-content-center">
          <div class="text-empty">{{ emptyMenu }}</div>
        </div>
      </div>
    </ng-template>
    <!--        <div class="page-layout-set">-->
    <!--            <p-paginator #paginator (onPageChange)="changePage($event)" [rows]="limit"-->
  <!--                         [totalRecords]="recordTotal"></p-paginator>-->
<!--        </div>-->
</div>
<div class="layout_component_container-noidung mat-tab-chuandaura">
  @if (studentCabiet_select) {
    <div class="right-container-bottom h-100">
      @if (loadingActivitiesFail) {
        <div
          class="ovic-form-layout import-question-body-right"
          [class.ovic-is-loading]="loadingActiviti" style="width: 100%; height: 100%;">
          <div
            class="layout_component_container__error d-flex justify-content-center align-items-center w-100 h-100">
            <p
              class="layout_component_container__error__message alert alert-danger m-0 primary-font --fs-14">
              Mất kết nối với máy chủ.
              <button (click)="reloadingGetStudent()"
                class="btn layout_component_container__btn-reload text-primary">Tải lại
              </button>
            </p>
          </div>
        </div>
      } @else {
        <div class="student-component">
          <div class="head">
            <div class="title">
              Quá trình theo dõi sinh viên {{studentCabiet_select? studentCabiet_select.student_info.full_name:''}}
            </div>
            <div>
              <button pButton pRipple class="p-button-success" label="Thêm quá trình" icon="pi pi-plus"
              (click)="btnOpenFormAdd()"></button>
            </div>
          </div>
          <div class="body">
            @if (listCabietActivities.length > 0) {
              <div class="list-cabiet-conponent">
                @for (item of listCabietActivities; track item) {
                  <div class="cabiet-item">
                    @switch (item.type) {
                      @case ('start') {
                        <div class="cabiet-item_icon start"><i
                        class="pi pi-exclamation-triangle"></i></div>
                      }
                      @case ('end') {
                        <div class="cabiet-item_icon end"><i class="pi pi-verified"></i></div>
                      }
                      @default {
                        <div class="cabiet-item_icon"><i class="pi pi-clock"></i></div>
                      }
                    }
                    <div class="cabiet-item_content">
                      <div class="date">
                        {{ item['_date_theodoi'] }}
                      </div>
                      @if (item.title) {
                        <div class="title">
                          {{ item['title'] }}
                        </div>
                      }
                      @if (item.type == null ) {
                        <div class="title">
                          {{ item.noidung_tuvan }}
                        </div>
                        <div class="desc"><strong>Hình thức:</strong> {{ item['_hinhthuc_tuvan'] }}</div>
                        <div class="desc"><strong>Lỗi vi phạm:</strong> {{ item['_loi_vipham'] }}</div>
                        <div class="desc"><strong>Kết quả tư vấn:</strong> {{ item.ketqua_tuvan }}</div>
                      }
                    </div>
                  </div>
                }
              </div>
              @if ( listCabietActivities.length < recordTotalCabietActivies) {
                <div class="button-View">
                  <button pRipple pButton icon="pi pi-ellipsis-h" class="p-button-rounded"
                  label="hiển thị thêm" (click)="viewMoreCabietActivityByStudent()"></button>
                </div>
              }
            } @else {
              <div
                class="layout_component_container__error d-flex justify-content-center align-items-center w-100 h-100">
                <p class="alert alert-secondary m-0 primary-font --fs-14">Không có dữ liệu</p>
              </div>
            }
          </div>
        </div>
      }
      <ng-template #showStudentByClass>
        <div class="student-component">
          <div class="head">
            <div class="title">
              Quá trình theo dõi sinh viên {{studentCabiet_select? studentCabiet_select.student_info.full_name:''}}
            </div>
            <div>
              <button pButton pRipple class="p-button-success" label="Thêm quá trình" icon="pi pi-plus"
              (click)="btnOpenFormAdd()"></button>
            </div>
          </div>
          <div class="body">
            @if (listCabietActivities.length > 0) {
              <div class="list-cabiet-conponent">
                @for (item of listCabietActivities; track item) {
                  <div class="cabiet-item">
                    @switch (item.type) {
                      @case ('start') {
                        <div class="cabiet-item_icon start"><i
                        class="pi pi-exclamation-triangle"></i></div>
                      }
                      @case ('end') {
                        <div class="cabiet-item_icon end"><i class="pi pi-verified"></i></div>
                      }
                      @default {
                        <div class="cabiet-item_icon"><i class="pi pi-clock"></i></div>
                      }
                    }
                    <div class="cabiet-item_content">
                      <div class="date">
                        {{ item['_date_theodoi'] }}
                      </div>
                      @if (item.title) {
                        <div class="title">
                          {{ item['title'] }}
                        </div>
                      }
                      @if (item.type == null ) {
                        <div class="title">
                          {{ item.noidung_tuvan }}
                        </div>
                        <div class="desc"><strong>Hình thức:</strong> {{ item['_hinhthuc_tuvan'] }}</div>
                        <div class="desc"><strong>Lỗi vi phạm:</strong> {{ item['_loi_vipham'] }}</div>
                        <div class="desc"><strong>Kết quả tư vấn:</strong> {{ item.ketqua_tuvan }}</div>
                      }
                    </div>
                  </div>
                }
              </div>
              @if ( listCabietActivities.length < recordTotalCabietActivies) {
                <div class="button-View">
                  <button pRipple pButton icon="pi pi-ellipsis-h" class="p-button-rounded"
                  label="hiển thị thêm" (click)="viewMoreCabietActivityByStudent()"></button>
                </div>
              }
            } @else {
              <div
                class="layout_component_container__error d-flex justify-content-center align-items-center w-100 h-100">
                <p class="alert alert-secondary m-0 primary-font --fs-14">Không có dữ liệu</p>
              </div>
            }
          </div>
        </div>
      </ng-template>
    </div>
  } @else {
    <div
      class="layout_component_container__error d-flex justify-content-center align-items-center w-100 h-100">
      <p class="alert alert-secondary m-0 primary-font --fs-14">Vui lòng chọn sinh viên theo dõi </p>
    </div>
  }
  <ng-template #tlpEmptySingleClass>
    <div
      class="layout_component_container__error d-flex justify-content-center align-items-center w-100 h-100">
      <p class="alert alert-secondary m-0 primary-font --fs-14">Vui lòng chọn sinh viên theo dõi </p>
    </div>
  </ng-template>
</div>
</div>

<ng-template #formInfo let-c="close" let-d="dismiss">
  <div class="ovic-over-right-section">
    <div class="ovic-over-right-section__head">
      <h3 class="ovic-over-right-section__header">Thêm quá trình theo dõi</h3>
      <button class="btn ovic-over-right-section__close-button" (click)="closeForm()"></button>
    </div>
    <div class="ovic-over-right-section__body users-layout-form" style="height: calc(100vh - 57px - 51px - 18px);">
      <div class="ovic-vertical__inputs">
        <form [formGroup]="form">
          <div class="form-row">
            <label>Nội dung tư vấn<span class="ovic-mark">*</span></label>
            <textarea class="w-100" rows="5" formControlName="noidung_tuvan"
            placeholder="Vd:Trao đổi với sinh viên về vấn đề học tập"></textarea>
          </div>
          <div class="row mx-0 mt-2">
            <div class="col-6 p-0 pr-1">
              <div class="form-row">
                <label>Hình thức tư vấn <span class="ovic-mark">*</span></label>
                <ovic-dropdown [options]="list_hinhthuc_tuvan"
                  optionId="value" optionLabel="label" [formField]="f['hinhthuc_tuvan']"
                  placeholder="--------- Chọn hình thức ---------" [filterBy]="'label'"
                [showClear]="false"></ovic-dropdown>
              </div>
            </div>
            <div class="col-6 p-0 pl-1">
              <div class="form-row">

                <label>Thời gian tư vấn <span class="ovic-mark">*</span></label>
                <p-calendar placeholder="Chọn ngày" styleClass="date-picker-custom w-100"
                  [showTime]="false" formControlName="date_tuvan" [showIcon]="true"
                  [baseZIndex]="1999"
                dateFormat="dd/mm/yy" appendTo="body"></p-calendar>
              </div>
            </div>
          </div>

          <div class="row mx-0 mt-2">

            <div class="form-row w-100">
              <label>Lỗi vi phạm <span class="ovic-mark">*</span></label>
              <div class="list-vipham">
                @for (item of list_loi_vipham; track item) {
                  <div class="checkbox-layout-form m-0">
                    <mat-checkbox [checked]="item['checked']" (change)="onChangeLoivipham($event, item)"
                      [value]="item['value'].toString()">{{ item['label'] }}
                    </mat-checkbox>
                  </div>
                }
              </div>
            </div>

          </div>


          <div class="form-row">
            <label>Kết quả tư vấn <span class="ovic-mark">*</span></label>
            <textarea class="w-100" rows="5" formControlName="ketqua_tuvan"
            placeholder="Vd: Kết quả tư vấn với sinh viên"></textarea>
          </div>


        </form>

      </div>
    </div>
    <p class="ovic-form-notes ovic-over-right-section__foot-ovic-input-line">
      <i class="pi pi-info-circle"></i>các trường có đánh dấu ( <span class="ovic-mark">*</span> ) là bắt
      buộc phải nhập
    </p>
    <div class="ovic-over-right-section__foot-wrap-buttons flex-footer-right">
      <button type="button" class="btn btn-primary" (click)="saveFormData()">
        <i class="fa fa-floppy-o" ></i>Lưu lại
      </button>
      <button type="button" class="btn btn-cancel" (click)="closeForm()">
        <i class="fa fa-ban" ></i>Hủy thao tác
      </button>
    </div>
  </div>
</ng-template>
