@if (_coursePlan) {
  <div style="height: 100%;">
    @if (_coursePlan.id !== 0) {
      <div class="ovic-scroll-style w-100">
        <div class="">
          <!--                <div class="duyet-container"  *ngIf="config_check_hoidong_by_chutich && isChutichHoidong">-->
          <!--&lt;!&ndash;                <div class="duyet-container"  *ngIf="rejectRole">&ndash;&gt;-->
          <!--                    <button pButton pRipple icon="pi pi-check" label="Duyệt cây CELO" (click)="btnViewFormDuyet('celo')"></button>-->
          <!--                    <button pButton pRipple icon="pi pi-check" label="Duyệt Câu hỏi trắc nghiệm" (click)="btnViewFormDuyet('question')"></button>-->
          <!--                    <button pButton pRipple icon="pi pi-check" label="Duyệt Nội dung khác" (click)="btnViewFormDuyet('other')"></button>-->
        <!--                </div>-->
        <!--                <div class="duyet-container"  *ngIf="config_check_hoidong_by_chutich && !isChutichHoidong">-->
        @if (config_check_hoidong_by_chutich && isThanhvien) {
          <div class="duyet-container">
            <button pButton pRipple icon="pi pi-comment" class="p-button-success" label="Nhận xét cây CELO" (click)="btnViewFormComment('celo')"></button>
            @if (keyServer === 'hvu') {
              <button pButton pRipple icon="pi pi-comment" class="p-button-success" label="Nhận xét Câu hỏi trắc nghiệm" (click)="btnViewFormComment('question')"></button>
            }
            <button pButton pRipple icon="pi pi-comment" class="p-button-success" label="Nhận xét Nội dung khác" (click)="btnViewFormComment('other')"></button>
          </div>
        }
        <div class="cdr-container">
          <p class="cdr_hd">I. NỘI DUNG CÂY CELO</p>
          <table class="table-thamdinh ">
            <tr class="table_header">
              @for (item of headerTable; track item) {
                <th>
                  <div class="w-100 text-center">
                    <div>{{ item.label }}</div>
                    <div>{{ item.type }}</div>
                  </div>
                </th>
              }
            </tr>
            @if (dataCDR.length>0) {
              @for (item of dataCDR; track item) {
                <tr class="table_body-item">
                  <td>{{ item.kyhieu }}</td>
                  <td style="position: relative;"
                    [ngClass]="item['old_status'] === 1 && item['status'] === 0 ?'dat_dangsua':item['_status_class']">
                    <div style="display: flex; flex-direction: column;">
                      @if (item['old_status'] === 1 && item['status'] === 0) {
                        <span
                          >
                          Đạt - đang sửa
                        </span>
                      } @else {
                        <span>
                          <span>{{ item['_status_label'] }} </span>
                        </span>
                      }
                      <ng-template #status_label>
                        <span>
                          <span>{{ item['_status_label'] }} </span>
                        </span>
                      </ng-template>
                      <span class="date_duyet">
                        {{item['approved_at'] | date : 'dd/MM/yyyy HH:mm ':'UTC+7'}}
                      </span>
                      @if (rejectRole) {
                        <div
                          style="height: auto; width: auto; position: absolute; top:3px; right: 3px;">
                          @if (item.status === 1) {
                            <span container="body" ngbTooltip="Mở khóa, cho phép sửa" placement="top"
                              (click)="huyTrangThai(item,0)"
                              style="font-size: 14px;" class="action-icon red"><i
                            class="pi pi-lock"></i></span>
                          }
                          @if (item.status !== 1) {
                            <span (click)="huyTrangThai(item,1)" container="body"
                              style="font-size: 14px;"
                              class="action-icon gray"><i style="font-size: 16px;"
                            class="pi pi-lock-open"></i></span>
                          }
                        </div>
                      }
                    </div>
                  </td>
                  <!--                                <td style="position: relative;">-->
                  <!--                                    <div style="display: flex; flex-direction: column;">-->
                  <!--                                        <span [ngSwitch]="item['status_captruong']">-->
                  <!--                                            <span *ngSwitchCase="0" class="status-is-deactive">-->
                  <!--                                                Chờ duyệt-->
                <!--                                            </span>-->
                <!--                                            <span *ngSwitchCase="1" class="status-is-active">-->
                <!--                                                Đạt-->
              <!--                                            </span>-->
              <!--                                            <span *ngSwitchCase="-1" class="status-is-redo">-->
              <!--                                                Chưa đạt-->
            <!--                                            </span>-->
            <!--                                            <span *ngSwitchCase="-2" class="status-is-require">-->
            <!--                                                Đã sửa-->
          <!--                                            </span>-->
        <!--                                        </span>-->
        <!--                                        <span class="date_duyet">-->
        <!--                                            {{item['approved_captruong_at'] | date : 'dd/MM/yyyy HH:mm ':'UTC+7'}}-->
      <!--                                        </span>-->
    <!--                                    </div>-->
  <!--                                </td>-->
  @for (result of _courseThanhVien ; track result) {
    <td [ngClass]="item[result.vaitro + result.user_id + '_class']"
      >{{ item[result.vaitro + result.user_id] }}
    </td>
  }
</tr>
}
}
@if (dataCDR.length=== 0) {
  <tr>
    <td colspan="20"> Chưa có dữ liệu</td>
  </tr>
}
</table>
</div>
<div class="my-4 cdr-container">
  <div class="d-flex justify-content-between align-items-center" style="margin-bottom:14px;">
    <p class="cdr_hd m-0">II. CÁC NỘI DUNG KHÁC</p>
    @if (rejectRole) {
      <div style="display: flex ;">
        <button class="icon-lock p-button-text p-button-danger p-button-rounded" pTooltip="Khóa"
        pButton pRipple icon="pi pi-lock" (click)="btnUpdateLockByContent(1)"></button>
        <button class="icon-unlock p-button-text p-button-rounded" pTooltip="Mở khóa" pButton
        pRipple icon="pi pi-lock-open" (click)="btnUpdateLockByContent(0)"></button>
      </div>
    }
    <!--                        <i *ngIf="!lockByContent" class="icon-lock pi pi-lock" (click)="btnUpdateLockByContent(true)"></i>-->
    <!--                        <i *ngIf="lockByContent" class=" pi pi-lock-open" (click)="btnUpdateLockByContent(false)"></i>-->
  </div>
  <table class="table-thamdinh ">
    <tr class="table_header">
      @for (item of headerTableContentOrther; track item) {
        <th>
          <div class="w-100 text-center">
            <div>{{ item.label }}</div>
            <div>{{ item.type }}</div>
          </div>
        </th>
      }
    </tr>
    @if (dataContentOrther.length>0) {
      @for (item of dataContentOrther ; track item) {
        <tr class="table_body-item orther">
          <td>{{ item.title }}</td>
          <td style="position: relative;" [ngClass]="item['_status_class']">
            <div style="display: flex; flex-direction: column;">
              <span>{{ item['_status_label'] }}</span>
              <span class="date_duyet">
                {{item['approved_at'] | date : 'dd/MM/yyyy HH:mm ':'UTC+7'}}
              </span>
              @if (rejectRole) {
                <div
                  style="height: auto; width: auto; position: absolute; top:3px; right: 3px;">
                  @if (item.status === 1) {
                    <span container="body" ngbTooltip="Mở khóa, cho phép sửa" placement="top"
                      (click)="huyTrangThai(item,0)"
                      style="font-size: 14px;" class="action-icon red"><i
                    class="pi pi-lock"></i></span>
                  }
                  @if (item.status !== 1) {
                    <span (click)="huyTrangThai(item,1)" ngbTooltip="Khóa, không cho phép sửa"
                      placement="top" container="body"
                      style="font-size: 14px;" class="action-icon gray"><i
                    style="font-size: 16px;" class="pi pi-lock-open"></i></span>
                  }
                </div>
              }
            </div>
          </td>
          <!--                                <td style="position: relative;">-->
          <!--                                    <div style="display: flex; flex-direction: column;">-->
          <!--                                        <span [ngSwitch]="item['status_captruong']">-->
          <!--                                            <span *ngSwitchCase="0" class="status-is-deactive">-->
          <!--                                                Chờ duyệt-->
        <!--                                            </span>-->
        <!--                                            <span *ngSwitchCase="1" class="status-is-active">-->
        <!--                                                Đạt-->
      <!--                                            </span>-->
      <!--                                            <span *ngSwitchCase="-1" class="status-is-redo">-->
      <!--                                                Chưa đạt-->
    <!--                                            </span>-->
    <!--                                            <span *ngSwitchCase="-2" class="status-is-require">-->
    <!--                                                Đã sửa-->
  <!--                                            </span>-->
<!--                                        </span>-->
<!--                                        <span class="date_duyet">-->
<!--                                            {{item['approved_captruong_at'] | date : 'dd/MM/yyyy HH:mm ':'UTC+7'}}-->
<!--                                        </span>-->
<!--                                    </div>-->
<!--                                </td>-->
@for (result of _courseThanhVien ; track result) {
  <td [ngClass]="item[result.vaitro + result.user_id + '_class']"
    >{{ item[result.vaitro + result.user_id] }}
  </td>
}
</tr>
}
}
@if (dataContentOrther.length=== 0) {
  <tr>
    <td colspan="20"> Chưa có dữ liệu</td>
  </tr>
}
</table>
</div>
<div class="my-4 cdr-container">
  <div class="d-flex justify-content-between align-items-center" style="margin-bottom:14px;">
    <p class="cdr_hd m-0">III. CÂU HỎI TRẮC NGHIỆM</p>
    <!--                        <button *ngIf="lockByQuestion" class="icon-lock p-button-text p-button-danger p-button-rounded" pButton pRipple icon="pi pi-lock" (click)="btnUpdateLockByQuestion(1)"></button>-->
    <!--                        <button *ngIf="!lockByQuestion" class="p-button-text p-button-rounded" pButton pRipple icon="pi pi-lock-open" (click)="btnUpdateLockByQuestion(0)"></button>-->
    <!--                        <i *ngIf="!lockByContent" class="icon-lock pi pi-lock" (click)="btnUpdateLockByContent(true)"></i>-->
    <!--                        <i *ngIf="lockByContent" class=" pi pi-lock-open" (click)="btnUpdateLockByContent(false)"></i>-->
    <!--                        <div *ngIf="rejectRole" style="display: flex;">-->
    <!--                            <button  class="icon-lock p-button-text p-button-danger p-button-rounded"-->
    <!--                                     pTooltip="Khóa" pButton pRipple icon="pi pi-lock" (click)="btnUpdateLockByQuestion(1)"-->
  <!--                            ></button>-->
  <!--                            <button  class="icon-unlock p-button-text p-button-rounded"-->
  <!--                                     pTooltip="Mở khóa" pButton pRipple icon="pi pi-lock-open" (click)="btnUpdateLockByQuestion(0)"-->
<!--                            ></button>-->
<!--                        </div>-->
</div>
<table class="table-thamdinh ">
  <tr class="table_header">
    <th style="width: auto;">
      <div class="text-center">
        <div>TỔNG</div>
      </div>
    </th>
    <th style="width: auto;">
      <div class="text-center">
        <div>ĐẠT</div>
      </div>
    </th>
    <th style="width: auto;">
      <div class="text-center">
        <div>CHƯA ĐẠT</div>
      </div>
    </th>
    <th style="width: auto;">
      <div class="text-center">
        <div>YÊU CẦU SỬA</div>
      </div>
    </th>
  </tr>
  <ng-container>
    <tr class="table_body-item orther">
      <td style="text-align: center;">{{ question_info.tong }}{{selectedCourse.av === 1
      ?' (Part)':''}}</td>
      <td style="text-align: center;" class="Dat">{{ question_info.dat }}{{selectedCourse.av
      === 1 ?' (Part)':''}}</td>
      <td style="text-align: center;" class="choduyet">{{ question_info.chuadat }}
      {{selectedCourse.av === 1 ?' (Part)':''}}</td>
      <td style="text-align: center;" class="chuadat">{{ question_info.lamlai
      }}{{selectedCourse.av === 1 ?' (Part)':''}}</td>
    </tr>
  </ng-container>
</table>
</div>
</div>
</div>
}
@if (_coursePlan.id === 0) {
  <div class="ovic-scroll-style w-100" style="height:100%;overflow: auto; background-color: #f5f5f5;">
    <div class=" " style="padding: 15px; text-align: center; ">
      <label style="font-weight: 600; font-size: 15px;">BẢNG TỔNG HỢP KẾT QUẢ THẨM ĐỊNH</label>
      <div class="cdr-container" style="background-color: #fff;">
        <table class="table-thamdinh ">
          <tr class="table_header">
            <th class="th_tb_all text-center" style="height:30px">BÀI</th>
            <th class="th_tb_all text-center" style="height:30px">CELO</th>
            <th class="th_tb_all text-center" style="height:30px">MỤC TIÊU</th>
            <th class="th_tb_all text-center" style="height:30px">TÀI LIỆU BÀI HỌC</th>
            <th class="th_tb_all text-center" style="height:30px">CÂU HỎI CHUYÊN ĐỀ</th>
          </tr>
          @if (dataAllContent.length>0) {
            @for (item of dataAllContent; track item) {
              <tr class="table_body-item">
                <td>{{ item.week !== 1000 ? item.week : item.title }}</td>
                <td [ngClass]="item['_cdr_class']">{{ item['_cdr'] }}</td>
                <td [ngClass]="item['_muctieu_class']">{{ item['_muctieu'] }}</td>
                <td [ngClass]="item['_tailieu_class']">{{ item['_tailieu'] }}</td>
                <td [ngClass]="item['_baitap_class']">{{ item['_baitap'] }}</td>
              </tr>
            }
          }
          @if (dataAllContent.length=== 0) {
            <tr>
              <td colspan="20"> Chưa có dữ liệu</td>
            </tr>
          }
        </table>
      </div>
    </div>
  </div>
}
</div>
} @else {
  <div style="font-size: 14px;font-weight: 500;">
    Vui lòng chọn bài học
  </div>
}

<ng-template #notPlan>
  <div style="font-size: 14px;font-weight: 500;">
    Vui lòng chọn bài học
  </div>
</ng-template>

<ng-template #templateDuyetnoidung let-c="close" let-d="dismiss">
  <div class="ovic-over-right-section">
    <div class="ovic-over-right-section__head">
      <h3 class="ovic-over-right-section__header">{{ titleTemplace }}</h3>
      <button class="btn ovic-over-right-section__close-button" (click)="closeRightForm()"></button>
    </div>
    <div class="ovic-over-right-section__body users-layout-form" style="height: auto; font-size: 14px;">
      <div class="listcheckAccept">
        @for (item of objectCheckAfterAccept; track item) {
          <div class="item">
            <p-checkbox
              [inputId]="item.id.toString()" [binary]="true" [(ngModel)]="objectFillterCheckAfterAccept[item.key]"
              >
            </p-checkbox>
            <span> {{ item.title }}</span>
          </div>
        }
      </div>
    </div>
    <div class="ovic-over-right-section__foot-wrap-buttons flex-footer-right">

      <!--                <button type="button" class="btn btn ovic-over-right-section__foot-btn btn-primary btn-primary"-->
      <!--                        (click)="savePmsGiangVien()"><i class="fa fa-floppy-o" ></i>Lưu lại-->
    <!--                </button> -->
    <button type="button" class="btn btn ovic-over-right-section__foot-btn btn-primary btn-primary"
      (click)="btnDuyet()">
      Duyệt
    </button>
  </div>
</div>
</ng-template>


<ng-template #templateCommentNoidung let-c="close" let-d="dismiss">
  <div class="ovic-over-right-section">
    <div class="ovic-over-right-section__head">
      <h3 class="ovic-over-right-section__header">{{ titleTemplace }}</h3>
      <button class="btn ovic-over-right-section__close-button" (click)="closeRightForm()"></button>
    </div>
    <div class="ovic-over-right-section__body users-layout-form" style="height: auto; font-size: 14px;">
      <div>
        <p>- Thao tác này sẽ thực hiện nhận xét tất cả các <strong>{{objectTypeAddComment.type == 'celo'? ' Cây CELO' :(objectTypeAddComment.type =='other' ? ' Nội dung khác' : ' Câu hỏi trắc nghiệm')}}</strong></p>
      </div>
    </div>
    <div class="ovic-over-right-section__foot-wrap-buttons flex-footer-right">

      <button type="button" class="btn btn ovic-over-right-section__foot-btn btn-primary btn-primary"
        (click)="btnDuyetComment(1)">
        Đồng ý duyệt
      </button>
      <button type="button" class="btn btn ovic-over-right-section__foot-btn btn-primary btn-danger"
        (click)="btnDuyetComment(-1)">
        Yêu cầu sửa
      </button>
    </div>
  </div>
</ng-template>
