<div *ngIf="_coursePlan else notPlan" style="height: 100%;">
    <ng-container *ngIf="_coursePlan.id !== 0">
        <div class="ovic-scroll-style w-100">
            <div class=" ">
                <div class="cdr-container">
                    <p class="cdr_hd">I. NỘI DUNG CÂY CELO</p>
                    <table class="table-thamdinh ">
                        <tr class="table_header">
                            <th *ngFor="let item of headerTable">
                                <div class="w-100 text-center">
                                    <div>{{ item.label }}</div>
                                    <div>{{ item.type }}</div>
                                </div>
                            </th>
                        </tr>
                        <ng-container *ngIf="dataCDR.length>0">
                            <tr class="table_body-item" *ngFor="let item of dataCDR">
                                <td>{{ item.kyhieu }}</td>
                                <td style="position: relative;">
                                    <div style="display: flex; flex-direction: column;">
                                        <span [ngSwitch]="item['status']">
                                            <span *ngSwitchCase="0" class="status-is-deactive">
                                                Chờ duyệt
                                            </span>
                                            <span *ngSwitchCase="1" class="status-is-active">
                                                Đạt
                                            </span>
                                            <span *ngSwitchCase="-1" class="status-is-redo">
                                                Chưa đạt
                                            </span>
                                            <span *ngSwitchCase="-2" class="status-is-require">
                                                Đã sửa
                                            </span>
                                        </span>
                                        <span class="date_duyet">
                                            {{item['approved_at'] | date : 'dd/MM/yyyy HH:mm ':'UTC+7'}}
                                        </span>
                                    </div>
                                </td>
                                <td style="position: relative;" [ngClass]="item['_status_class']">
                                    <div style="display: flex; flex-direction: column;">
                                        <span>{{ item['_status_label'] }} </span>
                                        <span class="date_duyet">
                                            {{item['approved_captruong_at'] | date : 'dd/MM/yyyy HH:mm ':'UTC+7'}}
                                        </span>
                                    </div>
                                </td>
                                <td [ngClass]="item[result.vaitro + result.user_id + '_class']"
                                    *ngFor="let result of _courseThanhVien ">{{ item[result.vaitro + result.user_id] }}
                                </td>
                            </tr>
                        </ng-container>
                        <tr *ngIf="dataCDR.length=== 0">
                            <td colspan="20"> Chưa có dữ liệu</td>
                        </tr>
                    </table>

                </div>
                <div class="my-4 cdr-container">
                    <p class="cdr_hd">II. CÁC NỘI DUNG KHÁC</p>
                    <table class="table-thamdinh ">
                        <tr class="table_header">
                            <th *ngFor="let item of headerTableContentOrther">
                                <div class="w-100 text-center">
                                    <div>{{ item.label }}</div>
                                    <div>{{ item.type }}</div>
                                </div>
                            </th>
                        </tr>

                        <ng-container *ngIf="dataContentOrther.length>0">
                            <tr class="table_body-item orther" *ngFor="let item of dataContentOrther ">
                                <td>{{ item.title }}</td>
                                <td style="position: relative;">
                                    <div style="display: flex; flex-direction: column;">
                                        <span [ngSwitch]="item['status']">
                                            <span *ngSwitchCase="0" class="status-is-deactive">
                                                Chờ duyệt
                                            </span>
                                            <span *ngSwitchCase="1" class="status-is-active">
                                                Đạt
                                            </span>
                                            <span *ngSwitchCase="-1" class="status-is-redo">
                                                Chưa đạt
                                            </span>
                                            <span *ngSwitchCase="-2" class="status-is-require">
                                                Đã sửa
                                            </span>
                                        </span>
                                        <span class="date_duyet">
                                            {{item['approved_at'] | date : 'dd/MM/yyyy HH:mm ':'UTC+7'}}
                                        </span>
                                    </div>
                                </td>
                                <td style="position: relative;" [ngClass]="item['_status_class']">
                                    <div style="display: flex; flex-direction: column;">
                                        <span>{{ item['_status_label'] }}</span>
                                        <span class="date_duyet">{{item['approved_captruong_at'] | date : 'dd/MM/yyyy HH:mm ':'UTC+7'}}</span>
                                        <!-- <div *ngIf="rejectRole"
                                            style="height: auto; width: auto; position: absolute; top:3px; right: 3px;">
                                            <span container="body" ngbTooltip="Mở khóa, cho phép sửa" placement="top"
                                                *ngIf="item.status === 1" (click)="huyTrangThai(item,0)"
                                                style="font-size: 14px;" class="action-icon red"><i
                                                    class="pi pi-lock"></i></span>
                                            <span (click)="huyTrangThai(item,1)" ngbTooltip="Khóa, không cho phép sửa"
                                                placement="top" container="body" *ngIf="item.status !== 1"
                                                style="font-size: 14px;" class="action-icon gray"><i
                                                    style="font-size: 16px;" class="pi pi-lock-open"></i></span>
                                        </div> -->
                                    </div>
                                </td>
                                <td [ngClass]="item[result.vaitro + result.user_id + '_class']"
                                    *ngFor="let result of _courseThanhVien ">{{ item[result.vaitro + result.user_id] }}
                                </td>
                            </tr>
                        </ng-container>

                        <tr *ngIf="dataContentOrther.length=== 0">
                            <td colspan="20"> Chưa có dữ liệu</td>
                        </tr>
                    </table>
                </div>
                <div class="my-4 cdr-container">
                    <p class="cdr_hd">III. CÂU HỎI TRẮC NGHIỆM</p>
                    <table class="table-thamdinh ">
                        <tr class="table_header">
                            <th style="width: auto;">
                                <div class="text-center">
                                    <div>TỔNG</div>
                                </div>
                            </th>
                            <th style="width: auto;">
                                <div class="text-center">
                                    <div>ĐẠT</div>
                                </div>
                            </th>
                            <th style="width: auto;">
                                <div class="text-center">
                                    <div>CHƯA ĐẠT</div>
                                </div>
                            </th>
                            <th style="width: auto;">
                                <div class="text-center">
                                    <div>YÊU CẦU SỬA</div>
                                </div>
                            </th>
                        </tr>

                        <ng-container>
                            <tr class="table_body-item orther">
                                <td style="text-align: center;">{{ question_info.tong }}{{selectedCourse.av === 1
                                    ?' (Part)':''}}</td>
                                <td style="text-align: center;" class="Dat">{{ question_info.dat }}{{selectedCourse.av
                                    === 1 ?' (Part)':''}}</td>
                                <td style="text-align: center;" class="choduyet">{{ question_info.chuadat }}
                                    {{selectedCourse.av === 1 ?' (Part)':''}}</td>
                                <td style="text-align: center;" class="chuadat">{{ question_info.lamlai
                                    }}{{selectedCourse.av === 1 ?' (Part)':''}}</td>
                            </tr>
                        </ng-container>
                    </table>
                </div>
            </div>
        </div>
    </ng-container>
    <ng-container *ngIf="_coursePlan.id === 0">
        <div class="ovic-scroll-style w-100" style="height:100%;overflow: auto; background-color: #f5f5f5;">
            <div class=" " style="padding: 15px; text-align: center; ">
                <label style="font-weight: 600; font-size: 15px;">BẢNG TỔNG HỢP KẾT QUẢ THẨM ĐỊNH</label>
                <div class="cdr-container" style="background-color: #fff;">

                    <table class="table-thamdinh ">
                        <tr class="table_header">
                            <th class="th_tb_all text-center" style="height:30px">BÀI</th>
                            <th class="th_tb_all text-center" style="height:30px">CELO</th>
                            <th class="th_tb_all text-center" style="height:30px">MỤC TIÊU</th>
                            <th class="th_tb_all text-center" style="height:30px">TÀI LIỆU BÀI HỌC</th>
                            <th class="th_tb_all text-center" style="height:30px">CÂU HỎI CHUYÊN ĐỀ</th>
                        </tr>
                        <ng-container *ngIf="dataAllContent.length>0">
                            <tr class="table_body-item" *ngFor="let item of dataAllContent">
                                <td>{{ item.week !== 1000 ? item.week : item.title }}</td>
                                <td [ngClass]="item['_cdr_class']">{{ item['_cdr'] }}</td>
                                <td [ngClass]="item['_muctieu_class']">{{ item['_muctieu'] }}</td>
                                <td [ngClass]="item['_tailieu_class']">{{ item['_tailieu'] }}</td>
                                <td [ngClass]="item['_baitap_class']">{{ item['_baitap'] }}</td>

                            </tr>
                        </ng-container>
                        <tr *ngIf="dataAllContent.length=== 0">
                            <td colspan="20"> Chưa có dữ liệu</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </ng-container>
</div>

<ng-template #notPlan>
    <div style="font-size: 14px;font-weight: 500;">
        Vui lòng chọn bài học
    </div>
</ng-template>