<div class="ovic-document-viewer {{addClass}}" [ngClass]="isLoading ? 'ovic-is-loading' : null" [style.width]="frameWidth" [style.height]="frameHeight">
  @if (data.type === 'image' && urlObject ) {
    <figure><img [src]="urlObject | ovicSafeUrl" alt="{{data.fileName}}">
    </figure>
  }
  @if (data.type === 'video') {
    <ovic-video-player [data]="ovicMedia" [autoResponsive]="true"></ovic-video-player>
  }
  @if (data.type === 'audio') {
    <ovic-audio-player [data]="ovicMedia"></ovic-audio-player>
  }
  @if (error) {
    <p class="ovic-document-viewer__error-message">{{errMessage}}</p>
  }
  <!-- <ngx-doc-viewer *ngIf="['docx','pptx','ppt','pdf','xlsx'].includes(data.type) && urlObject " [url]="urlObject" [viewer]="_viewer" [style.width]="frameWidth" [style.height]="frameHeight" (loaded)="disableLazy()"></ngx-doc-viewer> -->
</div>
