<!-- <div style="color:red; font-size: 18px; display: flex; align-items: center; justify-content: center;"
class="layout_component_container">
Chức năng đang tạm khóa
</div> -->

<div class="layout_component_container">
  <div class="ctdt-config-layout">
    <div class="document-type-a4-vertical">
      @for (parent of list_ctdt_config; track parent) {
        <div class="box-panel-setting">
          <p-panel header="{{parent.title}}">
            <p-table [reorderableColumns]="true" [value]="parent.ctdt_config"
              styleClass="table-reBorder table-course-muctieu">
              <ng-template pTemplate="header">
                <tr>
                  <th style="width:3rem"></th>
                  <th style="width: 100px; text-align: center; ">Thứ tự</th>
                  <th style="width: 300px; text-align: center; ">Tiêu đề</th>
                  <th>Nội dung (nếu có)</th>
                  <th style="width:80px; text-align: center;">Thao tác</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-con let-rowIndex="rowIndex">
                <tr [pReorderableRow]="rowIndex">
                  <td style="text-align: center;">
                    <span class="pi pi-bars" [pReorderableRowHandle]="rowIndex"></span>
                  </td>
                  <td style="text-align: center;">{{con.ordering}}</td>
                  <td class="td-text-area" pEditableColumn>
                    <p-cellEditor>
                      <ng-template pTemplate="input">
                        <textarea (focus)="autoResize($event)" (input)="autoResize($event)"
                          style="overflow:hidden;resize:none;" (keydown)="blockArrowKeys($event)"
                          [attr.spellcheck]="false" class="editor-in-table"
                          [(ngModel)]="con.title">
                        </textarea>
                      </ng-template>
                      <ng-template pTemplate="output">
                        @if (con.title) {
                          <div class="text-innerhtml-raw" [innerHTML]="con.title">
                          </div>
                        }
                        @if (!con.title) {
                          <div style="color:#9fa9b7">
                            Click vào đây để nhập tiêu đề...
                          </div>
                        }
                      </ng-template>
                    </p-cellEditor>
                  </td>
                  <td class="td-text-area" pEditableColumn>
                    <p-cellEditor>
                      <ng-template pTemplate="input">
                        <textarea (focus)="autoResize($event)" (input)="autoResize($event)"
                          style="overflow:hidden;resize:none;" (keydown)="blockArrowKeys($event)"
                          [attr.spellcheck]="false" class="editor-in-table"
                          [(ngModel)]="con.noidung">
                        </textarea>
                      </ng-template>
                      <ng-template pTemplate="output">
                        @if (con.noidung) {
                          <div class="text-innerhtml-raw"
                            [innerHTML]="con.noidung">
                          </div>
                        }
                        @if (!con.noidung) {
                          <div style="color:#9fa9b7">
                            Click vào đây để nhập nội dung...
                          </div>
                        }
                      </ng-template>
                    </p-cellEditor>
                  </td>
                  <td style="text-align: center;">
                    <!-- <button (click)="addCdrOfCourseMuctieu(muctieu)"
                    style="line-height: 1; margin-right: 2.5px;" class="btn btn-success">
                    <i class="fa fa-plus"></i>
                    Thêm CĐR
                  </button> -->
                  <button (click)="deleteConfig(parent,con,rowIndex)"
                    style="line-height: 1; margin-left: 2.5px;" class="btn btn-danger btn-icon">
                    <i class="fa fa-trash"></i>
                  </button>
                </td>
              </tr>
            </ng-template>
            <ng-template pTemplate="summary">
              <div class="flex align-items-center " style="text-align: right;">
                <button (click)="addConfig(parent)" style="line-height: 1; margin-right: 5px;"
                  class="btn btn-success">
                  <i class="fa fa-plus"></i>
                  Thêm
                </button>
              </div>
            </ng-template>
          </p-table>
        </p-panel>
      </div>
    }
  </div>
</div>
<div class="footer-layout-setting-ctdt">
  <button (click)="saveConfig()" class="btn btn-primary">
    <i class="fa fa-floppy-o"></i>
    Lưu cấu hình
  </button>
</div>
</div>