<div class="ovic-reorder-list" [class.ovic-reorder-list--empty-list]="!fileList || !fileList.length" [class.ovic-is-loading]="checking">
  @for (file of fileList; track file) {
    <div class="ovic-reorder-item">
      <div class="ovic-reorder-item__inner">
        <div class="ovic-reorder__icon ovic-file-color">
          <i [ngClass]="file | ovicFileIcon" ></i>
        </div>
        <div class="ovic-reorder__info" [class.--has-download-permission]="permission['canDownload']" [class.--has-delete-permission]="permission['canDelete']">
          <span class="ovic-reorder__file-name">{{ file.title ? file.title : file.name }}</span>
          <div class="ovic-reorder__file-size">{{file[ 'file_size' ]}}</div>
          @if (permission['canDelete']) {
            <button pButton pRipple type="button" icon="pi pi-times" class="p-button p-button-text p-button-danger p-button-rounded" (click)="btnDeleteFile(file)"></button>
          }
          @if (permission['canDownload']) {
            <button pButton pRipple type="button" icon="pi pi-download" class="p-button p-button-text p-button-plain p-button-rounded" (click)="btnDownloadFile(file)"></button>
          }
        </div>
      </div>
    </div>
  }
  @if ((!fileList || !fileList.length) && !permission['canUpload']) {
    <p class="ovic-reorder-item__empty-mes text-danger">{{emptyMess}}</p>
  }
  @if (permission && permission['canUpload']) {
    <div class="ovic-reorder-item elm-button">
      <div class="ovic-reorder-item__inner">
        <button class="ovic-reorder__btn-add-file btn" (click)="fileChooser.click()">
          <i class="fi fa fa-paperclip" ></i>
        </button>
        <input type="file" [accept]="_accept" [multiple]="multiple" class="d-none" (change)="onSelectFiles($event)" #fileChooser/>
      </div>
    </div>
  }
</div>

