<div style="height:100%; display:flex; flex-direction:column; background-color:#eaeaea;">
  <div style="height:calc(100% - 42px); overflow:auto;width:100%">
    <div style="width:1024px; margin:0 auto; padding:5px; height:100%;">
      <div style="background-color:#fff; height: 100%; min-height: fit-content;">
        <p-table [value]="cdrRows" [rowGroupMode]="'subheader'" [groupRowsBy]="'lessonWeek'"
          [sortField]="'lessonWeek'" [sortOrder]="1" styleClass="table-reBorder table-scroll-able">
          <ng-template pTemplate="header">
            <tr>
              <th style="text-align: center; width:60px">STT</th>
              <th style="text-align: center;">Mức độ/trình độ năng lực (CDR)</th>
              <th style="text-align: center; width:90px">Điểm</th>
              <th style="text-align: center; width:100px">Số câu lấy</th>
              <th style="text-align: center; width:100px">Tổng điểm</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="groupheader" let-data>
            <tr class="lesson-group-header" [ngClass]="{'lesson-score-error': isLessonScoreError(data.lessonWeek)}">
              <td style="text-align:center; width:60px"></td>
              <td style="text-align:left;">
                <span class="lesson-week-label">Bài {{ data.lessonWeek }}</span>
              </td>
              <td style="text-align:center;"></td>
              <td style="text-align:center; font-weight:600;">{{
                getLessonTotals(data.lessonWeek).totalTake }}
              </td>
              <td style="text-align:center; font-weight:600;">{{
                getLessonTotals(data.lessonWeek).totalScore
                }}
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-data>
            @if (data.stt !== null) {
              <tr [ngClass]="{'row-take-error': isTakeError(data)}">
                <td style="text-align: center;">{{ data.stt }}</td>
                <td style="text-align: center;">{{ data.cdr_label }}</td>
                <td style="text-align: center;">
                  <input pInputText type="number" min="0" step="0.1"
                    style="width:70px; text-align:center;" [ngModel]="data.point"
                    (ngModelChange)="onPointChange($event, data)" />
                  </td>
                  <td style="text-align: center;">
                    <input pInputText type="number" min="1" step="1" style="width:70px; text-align:center;"
                      [ngModel]="data.questionTake" (ngModelChange)="onTakeChange($event, data)" />
                    </td>
                    <td style="text-align: center; font-weight: 600;">
                      {{ (data.questionTake || 0) * (data.point || 0) }}
                    </td>
                  </tr>
                }
              </ng-template>
            </p-table>
          </div>
        </div>
      </div>
      <div style="padding:5px;  background:#fff; text-align:right;">
        <button pButton type="button" label="Lưu" icon="pi pi-save" (click)="onSave()"></button>
      </div>
    </div>