<div class="kiemtra-daugio">
  <div class="container-kiemtra-daugio row">
    @for (plan of list_course_plan; track plan) {
      <div class="col-4 item-plan">
        <div class="card-course_plan">
          <div class="card-course_plan-title">
            Bài {{plan["week"]}}
          </div>
          <div class="card-course_plan-actions">
            <a [ngClass]="!plan['has_test']?'fade-color':''" [routerLink]="['kt-daugio']"
              [queryParams]="{code:classSelected.id, test: plan['week'] }" class="btn-kt-tracnghiem">
              Kiểm tra
            </a>
            @if (plan['test_already']) {
              <a [routerLink]="['chambai-15p']"
                [queryParams]="{code:classSelected.id, test: plan['week'] }" class="btn-kt-tuluan">
                Chấm điểm
              </a>
            }
          </div>
          @if (plan['test_already']) {
            <i class="fa fa-check-square-o tested blue"></i>
          }
          @if (!plan['has_test']) {
            <div class="background-modal">
              <span>Chưa được tạo đề, vui lòng liên hệ giảng viên phụ trách môn học</span>
            </div>
          }
        </div>
      </div>
    }
  </div>
</div>