<div class="gvcn-container">
  <div class="gvcn-left">
    <div class="top">
      <input type="text" placeholder="Nhập và bấm Enter "
        (keyup.enter)="InputSeachuser($event['target']['value'])">
      </div>
      <div class="body">
        @if (listData.length != 0) {
          <div class="list-user">
            @for (item of listData; track item) {
              <div class="item" [ngClass]="user_select && item.id == user_select.id ? 'active': ''"
                (click)="btnClickUser(item)">
                <p class="name">{{ item.display_name }}</p>
                <div class="desc">{{ item.email + ' | ' + item.phone }}</div>
              </div>
            }
          </div>
        } @else {
          <div class="not-giangvien">
            <div class="item">Không có dữ liệu</div>
          </div>
        }
      </div>
      <div class="bottom">
        <p-paginator (onPageChange)="changePage($event)" [rows]="row"
        [totalRecords]="recordsFiltered"></p-paginator>
      </div>

    </div>
    <div class="gvcn-right" >
      @if (user_select) {
        <div class="top">
          <div class="top-head">Quá trình làm GVCN: {{ user_select ? user_select.display_name : '' }}
          </div>
          <div class="top-end">
            <button pButton pRipple [icon]="!viewAdd? 'pi pi-plus' : 'pi pi-times'" [ngClass]="!viewAdd ?'p-button-success' : 'p-button-secondary'" (click)="btnViewFormAdd()"></button>
            <button
              [ngbTooltip]="status_is_chunhiem !== 1 ?'Lọc theo lớp đang chủ nhiệm':'Lọc theo lớp đã kết thúc chủ nhiệm'"
              style="margin-left: 5px;" class="btn " [ngClass]="status_is_chunhiem == 1 ?'btn-primary':'btn-secondary'" (click)="btnChangViewStatus()">
              <i style="margin: 0px;" class="fa fa-filter" ></i>
            </button>
          </div>
        </div>
        <div class="body">
          @if (listClassByUser.length != 0) {
            <div style="flex: 1 1 auto;height:1%;">
              <p-table [value]="listClassByUser" styleClass=" tbl-danhSachUser table-scroll-able ovic-ui-table table-border table-able-dropdown-p-table table-none-header">
                <ng-template pTemplate="header">
                  <tr>
                    <th class="text-center ovic-w-50px">STT</th>
                    <th class="text-center ovic-w-120px">Trạng thái</th>
                    <th class="text-left ">Tên lớp</th>
                    <th class="text-center ">Quyết định số</th>
                    <th class="text-center ">Thời gian chủ nhiệm</th>
                    <th class="text-center ovic-w-100px">Số sinh viên</th>
                    <!--                                    <th *ngIf="status_is_chunhiem !== 0" class="text-center ovic-w-100">Thao tác</th>-->
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-row>
                  <tr>
                    <td class="text-center">{{row['_index']}}</td>
                    <td class="text-center">
                      <div class="status" [ngClass]="" [pTooltip]="row['status'] == 1 ?'Đang chủ nhiệm':'Đã kết thúc'">
                        <i  [ngClass]="row['status'] == 1 ?'pi pi-check-circle active':'pi pi-times-circle not-active'"></i>
                      </div>
                    </td>
                    <td class="text-left"><div class="d-flex justify-content-between align-items-center">
                      <div class="title">{{row['_className']}}</div>
                      <div >
                        <button [matMenuTriggerFor]="menu" class="btn btn-icon is-smaller ">
                          <i class="fa fa-ellipsis-h"></i>
                        </button>
                        <mat-menu #menu="matMenu">
                          <button (click)="btngetStudentByClass(row)" mat-menu-item>
                            <i class="pi pi-users"></i>
                            <span style="margin-left:10px;">Danh sách sinh viên</span>
                          </button>
                          @if (row.status == 1) {
                            <button (click)="btnEndStatus(row)" mat-menu-item>
                              <i class="pi pi-times"></i>
                              <span style="margin-left:10px;">KT Chủ nhiệm lớp</span>
                            </button>
                          }
                          @if (row.status == 1) {
                            <button (click)="btnDelete(row)" mat-menu-item>
                              <i class="pi pi-trash"></i>
                              <span style="margin-left:10px;">Xóa</span>
                            </button>
                          }
                        </mat-menu>
                      </div>
                    </div></td>
                    <td class="text-center">{{row['quyetdinh_so']}}</td>
                    <td class="text-center">{{row['_time_use']}}</td>
                    <td class="text-center">{{row['_total_student']}}</td>
                    <!--                                <td class="text-center">-->
                    <!--                                    <div class="btn-stt" [ngClass]="row['status'] == 1 ?'active':'not-active'">{{row['status'] == 1 ?'Đang chủ nhiệm':'Đã kết thúc'}}</div>-->
                  <!--                                </td>-->
                  <!--                                    <td class="text-center" *ngIf="status_is_chunhiem !== 0">-->
                  <!--                                        <div class="tb-btn" >-->
                  <!--                                            <button *ngIf="row['status'] !== 0" pButton pRipple class="p-button-warning mr-1" icon="pi pi-wrench"-->
                <!--                                                    [pTooltip]="'Xác nhận kết thúc chủ nhiệm lớp'" tooltipPosition="bottom" (click)="btnEndStatus(row)"></button>-->
                <!--                                            <button pButton pRipple class="p-button-danger" [pTooltip]="'Xóa'"  icon="pi pi-trash"-->
              <!--                                                    (click)="btnDelete(row)"></button>-->
            <!--                                        </div>-->
          <!--                                    </td>-->
        </tr>
      </ng-template>
    </p-table>
  </div>
  <div style="height:40px;">
    <p-paginator (onPageChange)="changePageByClass($event)" [rows]="row"
    [totalRecords]="recordsFiltered" ></p-paginator>
  </div>
} @else {
  <div class="not-giangvien">
    <div class="item">Không có dữ liệu</div>
  </div>
}
</div>
@if (viewAdd) {
  <div class="bottom">
    <div class="gvcn-form">
      <div class="gvcn-form_l">
        <div class="ovic-vertical__inputs">
          <form [formGroup]="form">
            <div class="form-row">
              <label>Lớp Chủ nhiệm <span class="ovic-mark">*</span> </label>
              <ovic-select-classmanagement
                [defaultValue]="f['class_management_ids'].value"
              [formField]="f['class_management_ids']" ></ovic-select-classmanagement>
            </div>
            <div class="row" style="margin-top:10px;">
              <div class="col-4">
                <div class="form-row">
                  <label>Quyết định số <span class="ovic-mark">*</span> </label>
                  <input type="text" formControlName="quyetdinh_so" placeholder="Nhập ...">
                </div>
              </div>
              <div class="col-4">
                <div class="form-row">
                  <label>Thời gian bắt đầu <span class="ovic-mark">*</span> </label>
                  <p-calendar appendTo="body" formControlName="date_start"
                    [maxDate]="f['date_end'].value"
                    dateFormat="dd/mm/yy" [showIcon]="true" [showTime]="false"
                  placeholder="Chọn ngày ...."></p-calendar>
                </div>
              </div>
              <div class="col-4">
                <div class="form-row">
                  <label>Thời gian kết thúc</label>
                  <p-calendar appendTo="body" formControlName="date_end"
                    [minDate]="f['date_start'].value"
                    dateFormat="dd/mm/yy" [showIcon]="true" [showTime]="false"
                  placeholder="Chọn ngày ...."></p-calendar>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="gvcn-form_r">
        <button pRipple pButton class="h-100 p-button-secondary" label="Reset"
        (click)="resetForm()"></button>
        <button pRipple pButton class="h-100 p-button-success"
        [label]="isUpdate ? 'Cập nhật':'Tạo mới'" (click)="btnSummitForm()"></button>
      </div>
    </div>
  </div>
}
} @else {
  <div class="not-giangvien">
    <div class="item">Vui lòng chọn giáo viên Chủ nhiệm</div>
  </div>
}
</div>
</div>

<ng-template #formViewStudent>
  <div class="ovic-over-right-section">
    <div class="ovic-over-right-section__head">
      <h3 class="ovic-over-right-section__header">Danh sách sinh viên lớp {{classManagementSelect ? classManagementSelect['_className']:''}} </h3>
      <button class="btn ovic-over-right-section__close-button" (click)="closeForm()"></button>
    </div>
    <div class="ovic-over-right-section__body users-layout-form" style="height: calc(100vh - 57px - 51px - 18px);">
      <p-table [value]="listStudentByClass" styleClass="tbl-danhSachUser table-border">
        <ng-template pTemplate="header">
          <tr>
            <th class="text-center ovic-w-50">STT</th>
            <th class="text-center ">Mã sinh viên</th>
            <th class="text-center ">Họ và tên</th>
            <th class="text-center ovic-w-150">Ngày sinh</th>
            <th class="text-center ovic-w-100">Giới tính</th>

          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-row>
          <tr>
            <td class="text-center">{{ row['__index'] }}</td>
            <td class="text-center">{{ row['student_code'] }}</td>
            <td class="text-left">{{ row['full_name'] }}</td>
            <td class="text-center">{{ row['birthday'] }}</td>
            <td class="text-center">{{ row['gender'] }}</td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="20">Chưa có dữ liệu sinh viên</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
    <!--        <p class="ovic-form-notes ovic-over-right-section__foot-ovic-input-line">-->
    <!--            <i class="pi pi-info-circle"></i>các trường có đánh dấu ( <span class="ovic-mark">*</span> ) là bắt-->
    <!--            buộc phải nhập-->
  <!--        </p>-->
  <div class="ovic-over-right-section__foot-wrap-buttons flex-footer-center">
    <p-paginator (onPageChange)="changePageStudent($event)" [rows]="row" [totalRecords]="recordsFilteredByStudent"></p-paginator>
  </div>
</div>
</ng-template>
