@if (!oneResult) {
  <div class="ovic-media-files">
    <div class="files-list">
      @for (file of fileChooser; track file; let i = $index) {
        <div class="single-file" style="">
          <i class="icon-in-open-download-file" [ngClass]="file | ovicFileIcon" ></i>
          <div class="info">
            <h4 class="name">{{file.title}}</h4>
            <p class="size">{{file['file_size']}}</p>
          </div>
          @if (viewOnly && downloadShow) {
            <button (click)="actionDownload(i)" type="button"
              class="btn btn-success btn-download" container="body" placement="top">
              <i aria-hidden=" true" class="fa fa-download"
              [ngClass]="file['download']? 'download-true':'download-false' "></i></button>
            }
            @if (viewOnly) {
              <button (click)="deleteFileChoosed(i)" type="button" class="btn-delete">
                <i  class="fa fa-trash-o"></i></button>
              }
            </div>
          }
          @if (viewOnly) {
            <button (click)="openFileManager()" type="button"
              class="btn btn-outline-success call-file-picker">{{this.buttonLabel}}
            </button>
          }
        </div>
      </div>
    }
    @if (oneResult) {
      <button (click)="openFileManager()" type="button"
        class="btn btn-outline-success call-file-picker btn-choose-avata">{{this.buttonLabel}}
      </button>
    }