<div class="layout_component_container">
  <div class="phanbo-cdr-layout" [ngClass]="closeLeft?'close-left-body':''">
    <div class="phanbo-cdr-layout-left">
      <button style="margin-left: 5px; padding: 0px; min-width: 0px; z-index: 50;" (click)="closeLeftBody()"
        class="btn btn-success button-close-left-body">
        <i style="margin: 0px;vertical-align: middle; font-size: 13px;"
        [ngClass]="closeLeft?'pi pi-angle-double-right':'pi pi-angle-double-left'"></i>
      </button>
      @if (selectedCourse) {
        <div class="info-course">
          <div class="info-course-content">
            @if (selectedCourse.params && selectedCourse.params.cdr) {
              <div class="cdr-percent-info padding-10px-all"
                >
                <div class="info-course-item">
                  <label>- Tổng số câu hỏi</label>:
                  <span>{{selectedCourse.total_question}}</span>
                </div>
                @for (item of chuandaura; track item) {
                  <div [ngClass]="item.disabled?'disabled-none':''"
                    class="info-course-item {{selectedCourse['class_require'] && selectedCourse['class_require'][item.id] === true?'require-cdr-backgroud-color':''}}"
                    >
                    <label>- {{item.label}}</label>:
                    @if (selectedCourse.cdr_percent && selectedCourse.cdr_question) {
                      <span>
                        {{selectedCourse.cdr_question[item.id]}} = {{selectedCourse.cdr_percent[item.id]}}%
                      </span>
                    }
                  </div>
                }
              </div>
            } @else {
              <div class="cdr-percent-info padding-10px-all"
                style="color: red; font-size: 16px; text-align: center;">
                <div style="width: 100%; margin: 0 auto;">
                  Môn học này chưa xác định CDR, vui lòng cập nhật lại CDR hoặc liên hệ tới <strong>PHÒNG
                ĐÀO TẠO</strong> để được hỗ trợ
              </div>
            </div>
          }
          @if (selectedCdr) {
            <div class="cdr-condition-bottom padding-10px-all ">
              <div class="info-course-item" style="text-align: center; color: red;">
                <strong>
                  Tỉ lệ phân bổ câu hỏi cho: {{selectedCdr['kyhieu']+' - '+selectedCdr['cdr_name']}}
                  <br>phải thỏa mãn điều kiện dưới đây
                  </strong>
                </div>
                @for (item of khuyennghi; track item) {
                  <div class="info-course-item">
                    <label style="width: 250px;">- {{item.label}}</label>
                    <span [innerHTML]="item.html"></span>
                    <span>
                      {{item['value']}}%
                    </span>
                  </div>
                }
              </div>
            }
          </div>
        </div>
      }
    </div>
    <div class="phanbo-cdr-layout-right">
      <p-table [value]="list_cdr_cauhoi"
        styleClass="tbl-danhSachUser table-reBorder table-scroll-able table-has-caption table-able-dropdown-p-table">
        <ng-template pTemplate="caption">
          <div class="flex caption-table" style="text-align: right;">
            <button [disabled]="list_cdr_cauhoi && list_cdr_cauhoi.length ? false : true"
              ngbTooltip="Phân bổ thêm số lượng câu hỏi" container="body" placement="left"
              style="line-height: 1;" (click)="openAutoCdr()" class="btn btn-success btn-icon">
              <i class="fa fa-server"></i>
            </button>
            <button style="line-height: 1; margin-left: 5px;" (click)="saveCdrQuestion()"
              class="btn btn-primary">
              <i class="fa fa-floppy-o"></i>Lưu lại
            </button>
          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th style="width: 150px;"></th>
            @for (cdr of chuandaura; track cdr) {
              <th style="width: 150px; text-align: center;" [ngClass]="cdr.disabled ?'disabled-cdr':''"
                >
                {{cdr.label}}
              </th>
            }
            <th style="text-align: center; width: 80px;">Tổng</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-row>
          <tr [ngClass]="!row['children'] || row['children'].length === 0?'require-cdr-backgroud-color':''">
            <th style="text-align: left; background-color: #f8f9fa;" [colSpan]="8">

              <span> {{label_week +' '+row['week']}}</span>
              @if (!row['children'] || row['children'].length === 0) {
                <span>
                  {{' - Chưa cập nhật CDR'}}
                </span>
              }
            </th>
          </tr>
          @for (child of row['children']; track child) {
            <tr (click)="cdrGet(child)" [ngClass]="child.require_cdr?'require-cdr-backgroud-color':''"
              >
              <td style="text-align: left; color: #3B82F6;">
                <div class="d-flex justify-content-between align-items-center">
                  <span>{{child['kyhieu']+' - '+child['cdr_name']}}</span>
                  <!--                                <span class="reset-btn-st"> <i class="pi pi-replay" style="color: red;" pTooltip="Reset" (click)="btnReset(child,row['children'])" ></i></span>-->
                </div>
              </td>
              @for (cdr of chuandaura; track cdr) {
                <td style="text-align: center;">
                  @if (child.cdr_cauhoi && !cdr.disabled) {
                    <div class="p-inputgroup">
                      <span style="border-left: 1px solid #ced4da; border-right: 0px;"
                        class="p-inputgroup-addon tag-cdr-cauhoi-percent">
                        {{child['min_cdr_question'][cdr.id] ? child['min_cdr_question'][cdr.id] : 0 }}
                        &#8804;
                      </span>
                      <input (keyup)="setNumberCdrCauhoi(child,true)" #inputNumberQuestion
                        class="ovic-input-field"
                        (keydown)="pointQuestionKeyDown($event,inputNumberQuestion)"
                        style="text-align: center; flex:1; width: 100%; min-width: 50px;" type="number"
                        [(ngModel)]="child.cdr_cauhoi[cdr.id]">
                        <span class="p-inputgroup-addon tag-cdr-cauhoi-percent">
                          = {{child['cdr_percent'][cdr.id] ? child['cdr_percent'][cdr.id] : 0}}%
                        </span>
                      </div>
                    }
                  </td>
                }
                <td style="text-align: center;">{{child['total_question']}}</td>
              </tr>
            }
          </ng-template>
        </p-table>
      </div>
    </div>
  </div>

  <ng-template #autoCdrQuestion let-c="close" let-d="dismiss">
    <div class="ovic-over-right-section">
      <div class="ovic-over-right-section__head">
        <h3 class="ovic-over-right-section__header">Bổ sung số lượng câu hỏi:</h3>
        <button class="btn ovic-over-right-section__close-button" (click)="closeForm(d)"></button>
      </div>
      <div class="ovic-over-right-section__body users-layout-form" style="height: auto; font-size: 14px;">
        <div class="ovic-vertical__inputs form-auto-cdr">
          <div class="form-row" style="padding: 10px; background-color: #faedc4; border-radius: 6px;">
            <div style="line-height: 1.5;">
              <p>
                - Thầy/Cô nhập tổng số câu hỏi muốn thêm hoặc bổ sung.
                <br>
                  - Hệ thống sẽ tự động phân bổ giúp các thầy cô, các thầy cô có thể sửa theo ý mình.
                  <br>
                    - Thầy/Cô lưu lại kết quả để hoàn thành việc phân bổ câu hỏi.
                  </p>
                </div>
              </div>
              <div class="form-row">
                <label for="name">Nhập vào tổng số câu hỏi dự kiến bổ sung/thêm mới: <span
                class="ovic-mark">*</span></label>
                <div class="p-inputgroup">
                  <input style="width: auto; flex:1" #inputTotalQuestion
                    (keydown)="pointQuestionKeyDown($event,inputTotalQuestion)" [(ngModel)]="totalCdrCauhoi"
                    type="number" id="name" class="form-control">
                    <span style="border-radius: 0px; border-left: 0px;" class="p-inputgroup-addon">
                      {{returnPercent()}} %
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="ovic-over-right-section__foot-wrap-buttons flex-footer-right">
              <!-- <button (click)="resetPhanbo()" type="button" class="btn btn-warning">Phân bổ lại</button> -->
              <button (click)="saveAutoSetQuestionCdr(d)" type="button" class="btn btn-primary">
                Bổ sung
              </button>
            </div>
          </div>
        </ng-template>



        <p-dialog styleClass="dialog-waiting" appendTo="body" [showHeader]="false" [closable]="false" [(visible)]="displayModal"
          [modal]="true" [style]="{width: '50vw'}" [baseZIndex]="1099" [draggable]="false" [resizable]="false">
          <div class="popup-waiting-loading">
            <label style="width: 100%;">{{waitingTitle}}</label>
            <div class="tn-import-student-progressbar">
              <mat-progress-bar mode="determinate" [value]="progressValue"></mat-progress-bar>
            </div>
          </div>
        </p-dialog>