.col-12 {
    flex: 0 0 auto;
    padding: 1rem;
    width: 100%;
    line-height: 1;
}

.home-bottom {
    padding: 10px;
    display: flex;
    flex-wrap: wrap
}

.home-top {
    padding: 10px 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.pie.col-12 {
    height: 500px;
}

@media screen and (min-width: 992px) {
    .lg\:col-6 {
        flex: 0 0 auto;
        padding: 1rem;
        width: 50%;
    }

    /* .pie.col-12 {
        height: auto;
    } */
}

@media screen and (min-width: 1200px) {
    .xl\:col-4 {
        flex: 0 0 auto;
        padding: 1rem;
        width: 33.33%;
    }

    .xl\:col-8 {
        width: 66.66%;
    }

    .pie.col-12 {
        height: auto;
    }

}

.card:last-child {
    margin-bottom: 0;
}

.overflow-hidden {
    overflow: hidden !important;
}

.p-0 {
    padding: 0rem !important;
}

.flex-column {
    flex-direction: column !important;
}

.flex {
    display: flex !important;
}

.card {
    background: var(--surface-card);
    padding: 1.5rem;
    margin-bottom: 1rem;
    box-shadow: 0 3px 4px #0000001a, 0 24px 36px #0000000a;
    border-radius: 3px;
    height: 100%;
}

.p-3 {
    padding: 1rem !important;
}

.align-items-center {
    align-items: center !important;
}

.ml-3 {
    margin-left: 1rem !important;
}

.white-space-nowrap {
    white-space: nowrap !important;
}

.block {
    display: block !important;
}

.text-4xl {
    font-size: 2rem !important;
}

.font-bold {
    font-weight: 700 !important;
}

.w-full {
    width: 100% !important;
}

.text-lophocphan {
    color: #2cb300;
}

.text-sinhvien {
    color: #5a8400;
}

.text-hocphan {
    color: #f9ad00;
}

.text-giangvien {
    color: #00b395;
}

.text-tinchi {
    color: #006585;
}

.text-own {
    color: #8300ff;
}