<div class="content-section implementation ovic-table-component__content-section"
  (contextmenu)="disableContextMenu($event)">
  <p-table #dt [value]="data" [(selection)]="selectedDatas" [dataKey]="dataKey" [styleClass]="tblClass"
    [rowHover]="rowHover" [rows]="rows" [showCurrentPageReport]="true" [paginator]="enablePaginator"
    [filterDelay]="0" [globalFilterFields]="globalFilterFields">
    @if (tableName || enableSearch ) {
      <ng-template pTemplate="caption">
        <h3 class="tbl-title" [class.addRow]="addRow" [innerHTML]="tableName | ovicSafeHtml"></h3>
        <div class="search-block ui-table-globalfilter-container" [class.addRow]="addRow">
          <!-- <input pInputText type="text" *ngIf="enableSearch && enableSearchLocal" (input)="dt.filterGlobal($event.target['value'], 'contains')" placeholder="Tìm kiếm thông tin"/>-->
          @if (enableSearch) {
            <input pInputText type="text" class="input-search-locally"
              [ngClass]="[searchCircle ? 'ovic-input-rounded' : '' ]"
              (keyup)="search($event.target['value'], $event)" [placeholder]="searchPlaceholder" />
          }
          @if (addDropdown) {
            <p-dropdown appendTo="body" [showClear]="true" [placeholder]="placeholder_dropdown"
              (onChange)="onChangeDropdown($event)" [options]="options_dropdown"
            [optionLabel]="label_dropdown"></p-dropdown>
          }
          @if (addRow) {
            <button class="btn btn-success" (click)="addNewRowClick($event)">
              <i class="pi pi-fw pi-plus-circle"></i>{{addRowLabel}}
            </button>
          }
          @if (headerButtons && headerButtons.length) {
            @for (btn of headerButtons; track btn) {
              <button pButton pRipple [pTooltip]="btn.tooltip||''"
                [tooltipPosition]="btn.tooltipPosition||'top'" type="button" [icon]="btn.icon"
              [class]="btn.class" [label]="btn.label" (click)="userClick(btn)"></button>
            }
          }
        </div>
      </ng-template>
    }
    <ng-template pTemplate="header">
      <tr>
        @if (hasCheckBox) {
          <th style="width: 3rem; text-align:  center;">
            <p-tableHeaderCheckbox (click)="checkBoxTable()"></p-tableHeaderCheckbox>
          </th>
        }
        <th class="text-center ovic-w-40px">#</th>
        @for (col of tblStructure; track col) {
          @if (!col.sortable) {
            <th class="{{col.headClass}}">{{col.header}}</th>
          }
          @if (col.sortable) {
            <th class="{{col.headClass}}" pSortableColumn="{{col.field[0]}}">
              {{col.header}}
              <p-sortIcon field="{{col.field[0]}}"></p-sortIcon>
            </th>
          }
        }
        <!--expanded setting-->
        @if (rowExpanded) {
          <th [ngClass]="expandedHeadCssClass" [innerHTML]="expandedHeadInner"></th>
        }
        <!--expanded setting-->
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-data let-i="rowIndex" let-expanded="expanded">
      <tr class="ui-selectable-row" [class.element-selected]="data[dataKey] === activeRow"
        (click)="rowClickHandle(data[dataKey])" (contextmenu)="openContextMenu($event, data )">
        @if (hasCheckBox) {
          <td style="text-align:  center;">
            <p-tableCheckbox (click)="checkBoxTable()" [value]="data"></p-tableCheckbox>
          </td>
        }
        <td class="text-center text-center pl-0 pr-0">
          <span class="ui-column-title">{{data['index_']?data['index_'] : (i + index)}}</span>
        </td>
        @for (col of tblStructure; track col) {
          <!--field Normal-->
          @if (col.fieldType == 'normal') {
            <!--Case: multiple fields-->
            @if ( col.field.length > 1 ) {
              <td [class]="col.rowClass">
                @for (line of col.field ; track line) {
                  <span class="ui-column-title">{{ data[ line ] }}</span><br>
                }
              </td>
            }
            <!--Case: single field-->
            @if ( col.field.length == 1 ) {
              <td [class]="col.rowClass">
                @if (!col.innerData) {
                  <span class="ui-column-title">{{data[ col.field[ 0 ] ]}}</span>
                }
                @if (col.innerData) {
                  <div class="ui-column-title" [innerHTML]="data[col.field[0]]"></div>
                }
              </td>
            }
          }
          <!--Field Actions forced or no checker-->
          @if (col.fieldType == 'actions' && ( col.forced || ! data[col.checker] )) {
            <td [class]="col.rowClass" class="ovic-btn-inrow" [class.row-locked]="data[col.checker]">
              @for (btn of col.field ; track btn) {
                @if (btn=='edit') {
                  <button class="btn ovic-btn-edit btn-primary"
                    [class]="col.tooltip ? 'ovic-btn-tooltip ovic-tooltip__parent':''"
                    (click)="editClick(data[dataKey])">
                    @if (col.tooltip) {
                      <span class="ov-tooltip ovic-tooltip__content ovic-tooltip__content--top"
                        ><span>Sửa {{col.tooltip}}</span></span>
                      }
                      <i class="pi pi-wrench"></i>
                    </button>
                  }
                  @if (btn=='lock') {
                    <button class="btn ovic-btn-lock btn-secondary"
                      [class]="col.tooltip ? 'ovic-btn-tooltip ovic-tooltip__parent':''"
                      (click)="lockClick(data[dataKey])">
                      @if (col.tooltip && ! data[col.checker]) {
                        <span class="ov-tooltip ovic-tooltip__content ovic-tooltip__content--top"
                          ><span>Khóa
                        {{col.tooltip}}</span></span>
                      }
                      @if (col.tooltip && data[col.checker] ) {
                        <span class="ov-tooltip ovic-tooltip__content ovic-tooltip__content--top"
                          ><span>Mở khóa
                        {{col.tooltip}}</span></span>
                      }
                      <i class="pi pi-lock-open" [class.pi-lock]="data[col.checker]"></i>
                    </button>
                  }
                  @if (btn=='delete') {
                    <button class="btn ovic-btn-delete btn-danger"
                      [class]="col.tooltip ? 'ovic-btn-tooltip ovic-tooltip__parent':''"
                      (click)="deleteClick(data[dataKey])">
                      @if (col.tooltip) {
                        <span class="ov-tooltip ovic-tooltip__content ovic-tooltip__content--top"
                          ><span>Xóa {{col.tooltip}}</span></span>
                        }
                        <i class="pi pi-trash"></i>
                      </button>
                    }
                  }
                </td>
              }
              <!--Field Actions no forced and checker-->
              @if (col.fieldType == 'actions' &&  ( ! col.forced && data[col.checker] ) ) {
                <td [class]="col.rowClass" class="ovic-btn-inrow row-locked">
                  @for (btn of col.field ; track btn) {
                    @if (btn=='edit') {
                      <span class="btn ovic-btn-edit " [class.ovic-btn-tooltip]="col.tooltip"
                        data-title="Sửa {{col.tooltip}}">
                        @if (col.tooltip) {
                          <span class="ov-tooltip"><span>Sửa {{col.tooltip}}</span></span>
                        }
                        <i class="pi pi-wrench"></i>
                      </span>
                    }
                    @if (btn=='lock') {
                      <span class="btn ovic-btn-lock btn-secondary" [class.ovic-btn-tooltip]="col.tooltip"
                        data-title="Khóa {{col.tooltip}}">
                        @if (col.tooltip) {
                          <span class="ov-tooltip"><span>Khóa
                          {{col.tooltip}}</span></span>
                        }
                        <i class="pi pi-lock" ></i>
                      </span>
                    }
                    @if (btn=='delete') {
                      <span class="btn ovic-btn-delete" [class.ovic-btn-tooltip]="col.tooltip"
                        data-title="Xóa {{col.tooltip}}">
                        @if (col.tooltip) {
                          <span class="ov-tooltip"><span>Xóa {{col.tooltip}}</span></span>
                        }
                        <i class="pi pi-trash"></i>
                      </span>
                    }
                  }
                </td>
              }
              <!--Field media-->
              @if (col.fieldType == 'media') {
                <td [class]="col.rowClass">
                  @if (data[col.field[0]]) {
                    <img [src]="data[col.field[0]]" alt="user media" class="ov-img-avatar"
                      >
                  }
                  @if (!data[col.field[0]] && col.placeholder) {
                    <img src="../../../../../assets/images/a_none.jpg" alt="none avatar" class="ov-img-avatar"
                      >
                  }
                </td>
              }
              <!--Field switch-->
              @if (col.fieldType == 'switch') {
                <td [class]="col.rowClass" class="ovic-switch">
                  <button class="ovic-switch-btn" (click)="switchClick(data[dataKey])"
                    [class.on]="data[col.field[0]]" [class.off]="!data[col.field[0]]">
                    <span class="slider">{{data[ col.field[ 0 ] ]}}</span>
                  </button>
                </td>
              }
              <!--Field convertLabel-->
              @if (col.fieldType == 'convertLabel') {
                @if (col.labelConverter) {
                  <td [class]="col.rowClass" class="ovic-convert-label">
                    <div class="ui-column-title"
                      [innerHTML]="col.labelConverter[data[ col.field[ 0 ] ]] || col.labelConverter.default">
                    </div>
                  </td>
                }
                @if (!col.labelConverter && col.labelConverter2) {
                  <td [class]="col.rowClass" class="ovic-convert-label"
                    >
                    <div class="ui-column-title"
                    [innerHTML]="col.labelConverter2.getResult( data[ col.field[ 0 ] ] )"></div>
                  </td>
                }
              }
              <!--Field buttons-->
              @if (col.fieldType == 'buttons' && col.buttons) {
                <td [class]="col.rowClass" class="ovic-btn-inrow">
                  @for (btn of col.buttons; track btn) {
                    @if ((!btn['conditionField'] || (btn['conditionField'] && data[btn['conditionField']] ===  btn['conditionValue']))) {
                      <button class="btn {{ btn.cssClass }}"
                        [ngClass]="btn.tooltip ? 'ovic-btn-tooltip ovic-tooltip__parent':''"
                        (click)="buttonClick(btn,data[dataKey])"
                        >
                        @if (btn.tooltip) {
                          <span class="ov-tooltip ovic-tooltip__content ovic-tooltip__content--top"
                            ><span>{{btn.tooltip}}</span></span>
                          }
                          @if (btn.icon) {
                            <i class="{{ btn.icon }}"></i>
                            }@if (btn.label) {
                            <span>{{ btn.label
                            }}</span>
                          }
                        </button>
                      }
                    }
                  </td>
                }
              }

              <!--expanded setting-->
              @if (rowExpanded) {
                <td class="ovic-btn-inrow" [ngClass]="expandedColumnCssClass">
                  <a href="#" [pRowToggler]="data" [class.ovic-btn-tooltip]="expandedTooltip">
                    @if (expandedTooltip) {
                      <span class="ov-tooltip"><span>{{expandedTooltip}}</span></span>
                    }
                    @if (expandedBtnIcons) {
                      <i [ngClass]="expanded ? expandedBtnIcons[0] : expandedBtnIcons[1]"
                      ></i>
                    }
                  </a>
                </td>
              }
              <!--expanded setting-->

            </tr>
          </ng-template>

          <!--expansion template-->
          @if (rowExpanded; as data) {
            <ng-template pTemplate="rowexpansion" let-data>
              <tr>
                <td [attr.colspan]="rowLength" class="ovic-expanded-contain">
                  <div class="tbl-inner-data" [innerHTML]="data[expandedDataField]"></div>
                  @if (expandedBtnInside) {
                    <button class="{{expandedBtnInside.cssClass}}"
                      (click)="expandedBtnInsideHandle(data[dataKey])">
                      <i class="{{expandedBtnInside.icon}}"></i>
                      <span class="btn-inside-title">{{expandedBtnInside.title}}</span>
                    </button>
                  }
                </td>
              </tr>
            </ng-template>
          }
          <!--expansion template-->

          <ng-template pTemplate="emptymessage">
            <tr>
              <td [attr.colspan]="rowLength" style="text-align:left">{{ emptyMessage }}</td>
            </tr>
          </ng-template>
        </p-table>
      </div>