<div class="ovic-overlay" [ngClass]="{'active' : tableOverlay}"></div>

<div [attr.class]="headClass.join(' ')">
  <div class="ovic-flexible-table__head">
    <div class="row">
      <div class="{{headTitleClass}} text-left align-self-center">
        @if (tblLabel) {
          <h3 class="ovic-sct-title">{{tblLabel}}</h3>
        }
      </div>
      @if (headSearch) {
        <div class="{{topsearchClass}} text-center align-self-center ovic-flexible-head-search">
          <div class="ovic-flexible-head-search-inside">
            <input type="text" class="ovic-text-placeholder" [attr.placeholder]="headSearchPlaceholder" #input (keydown.tab)="headSearchFindData(input.value)" (keyup.enter)="headSearchFindData(input.value)">
            <button class="btn" [innerHTML]="headSearchButton"></button>
          </div>
        </div>
      }
      @if (topbarRightActions) {
        <div class="{{topRightClass}} text-right align-self-center">
          @for (btn of topbarRightActions; track btn; let i = $index) {
            @if (btn.type === 'handleEvent' && btn.eventName) {
              <button class="btn ovic-topbar-btn {{btn.btnClass}}" [innerHTML]="''.concat( btn.icon , btn.label )" (click)="emitterEvent(btn.eventName)"></button>
            }
            @if (btn.type === 'openRightBox') {
              <button class="btn ovic-topbar-btn {{btn.btnClass}}" [innerHTML]="''.concat( btn.icon , btn.label )" (click)="openBox( btn.templateName )"></button>
            }
          }
          @if (enableFilter) {
            <button class="btn ovic-topbar-btn btn-filter" [innerHTML]="''.concat( filterIcon , filterLabel )" (click)="searchToggle(openedFilterMode)"></button>
          }
        </div>
      }
    </div>
  </div>

  @if (!hasError) {
    @if ( data && data.length) {
      <div class="ovic-flexible-table__body" [@mainLayoutEffect]=layoutState>
        <div class="ovic-showcase">
          <!--head section-->
          <div class="ovic-showcase__head-element">
            <div class="ovic-showcase__element-wrap-inside">
              @if (enableCheckbox) {
                <div class="style-header-table-fix">
                  <button class="ov-btn-checkbox ov-btn-checkbox--size-sm" [ngClass]=" checkAllState ? 'checked' : null " (click)="emitCheckBoxAll() "></button>
                </div>
              }
              @for (h of cols; track h) {
                <span class="ov-showcase-lbl {{h.headerClass}}" [style.width]="h.width ? h.width : 'auto'"> {{h.header}} </span>
              }
            </div>
            <!--filter section-->
            @if (openedFilterMode) {
              <div class="ovic-showcase__element-wrap-inside">
                @if (enableCheckbox) {
                  <span class="filter-section-check"></span>
                }
                @for (col of cols; track col) {
                  <div class="ovic-flexible-input-head {{col.rowClass}}" [style.width]="col.width ? col.width : 'auto'">
                    @if (col.enableFilter && col.filterSetting) {
                      <!--Type Input-->
                      @if (col.filterSetting.mode === 'input') {
                        <input [attr.type]="col.filterSetting.inputType" [name]="col.field.toString()" [placeholder]="col.filterSetting.inputPlaceholder ? col.filterSetting.inputPlaceholder : ''" min="0" class="ovic-flexible-input {{col.filterSetting.inputClass}}" #textFilter (focusout)="changeTextFilter()" (keydown.tab)="changeTextFilter()" (keyup.enter)="changeTextFilter()">
                      }
                      <!--Single Select-->
                      @if (col.filterSetting.mode === 'select' && col.filterSetting.selectType ==='single' && col.dataType==='reference') {
                        <ovic-dropdown [options]="col.data" optionId="{{col.dataIndexField}}" optionLabel="{{col.dataLabelField}}" placeholder="------" (onChangeGetValue)="dropChangeData($event , col.field.toString())" [filter]="col.filterSetting.selectSearch"></ovic-dropdown>
                      }
                      @if (col.filterSetting.mode === 'select' && col.filterSetting.selectType ==='single' && col.dataType==='state') {
                        <ovic-dropdown [options]="col.states" optionId="key" optionLabel="value" placeholder="------" (onChangeGetValue)="dropChangeData($event , col.field.toString())" [filter]="col.filterSetting.selectSearch"></ovic-dropdown>
                      }
                      @if (col.filterSetting.mode === 'select' && col.filterSetting.selectType ==='single' && col.dataType==='state-innerHTML') {
                        <ovic-dropdown [options]="col.states" optionId="key" optionLabel="filterValue" placeholder="------" (onChangeGetValue)="dropChangeData($event , col.field.toString())" [filter]="col.filterSetting.selectSearch"></ovic-dropdown>
                      }
                    }
                  </div>
                }
              </div>
            }
            <!--filter section-->
          </div>
          <!--head section-->
          <!--body section-->
          <div class="ovic-showcase__body-element">
            <!--row-->
            @for (row of objects; track row; let i = $index) {
              <div class="ovic-showcase__element-wrap-inside" [ngClass]=" row['isActive'] ? 'row-active' : null ">
                @if (enableCheckbox) {
                  <div class="style-content-table-fix ">
                    <button class="ov-btn-checkbox ov-btn-checkbox--size-sm" [ngClass]=" row.hasOwnProperty('check') && row.check ? 'checked' : null " (click)="emitCheckBox(i) "></button>
                  </div>
                }
                @for (column of cols; track column) {
                  <div class="ov-showcase-cell-content {{column.rowClass}}" [ngClass]="{ 'has-child-menu' : column.menu }" [style.width]="column.width ? column.width : 'auto'" [style.max-width]="column.width ? column.width : 'auto'">
                    <!--Single value-->
                    @if (column.field.length===1) {
                      @switch (column.dataType) {
                        @case ('text-innerHTML') {
                          <span [innerHTML]="row[column.field] | ovicSafeHtml "></span>
                        }
                        @case ('text') {
                          <span>{{ row[ column.field ] }}</span>
                        }
                        @case ('reference') {
                          <span>{{ getColumnValueOnSingleResource( column.field[ 0 ] , row[ column.field ] ) }}</span>
                        }
                        @case ('state') {
                          <span class="ov-col-state {{column.states[row[column.field]] ? column.states[row[column.field]].class : '' }}">{{ column.states[ row[ column.field ] ] ? column.states[ row[ column.field ] ].value : 'No value like ' + row[ column.field ] }}</span>
                        }
                        @case ('state-innerHTML') {
                          <span class="ov-col-state {{column.states[row[column.field]].class}}" [innerHTML]="column.states[row[column.field]].value"></span>
                        }
                      }
                    }
                    <!--Multiple value-->
                    @if (column.field.length>1) {
                      @switch (column.dataType) {
                        @case ('text') {
                          <span>
                            @for (val of column.field; track val; let i = $index) {
                              @if (i>0) {
                                {{ column.separator }}
                              }
                              {{ row[ val ] }}
                            }
                          </span>
                        }
                        @case ('reference') {
                          <span>{{getColumnValueFromDifferenceResources( column.field , row , ' / ' )}}</span>
                        }
                      }
                    }
                    <!-- row menu-->
                    @if (column.menu) {
                      <ul class="item-menu {{column.menu.cssClass}}" [attr.name]="column.menu.name">
                        @for (menuItem of column.menu.elements ; track menuItem; let elm = $index) {
                          @if (menuIsValid( menuItem , row )) {
                            <li class="menu-item elm-level-1 eml-lv1-{{elm}} {{menuItem.liCssClass}}" [ngClass]="{ 'has-child' : menuItem.child }">
                              @if (menuIsVisible(row[menuItem.visibleDependOn],menuItem.visibleConditions)) {
                                @if (menuItem.type==='link') {
                                  <a [attr.href]="menuItem.link" class="menu-link {{menuItem.cssClass}}" [innerHTML]="menuItem.icon + menuItem.label"></a>
                                }
                                @if (menuItem.type==='route') {
                                  <a [routerLink]="[menuItem.route]" class="menu-link {{menuItem.cssClass}}" [innerHTML]="menuItem.icon + menuItem.label"></a>
                                }
                                @if (menuItem.type==='handleEvent') {
                                  <a (click)="emitterElementEvent( row[primaryField] , menuItem.eventName )" class="menu-link {{menuItem.cssClass}}" [innerHTML]="menuItem.icon + menuItem.label"></a>
                                }
                              }
                              @if (!menuIsVisible(row[menuItem.visibleDependOn],menuItem.visibleConditions)) {
                                <a class="invisible-menu {{menuItem.cssClass}}" [innerHTML]="menuItem.icon + menuItem.label"></a>
                              }
                              @if (menuItem.child) {
                                <div class="wrap-child">
                                  <ul class="child-menu {{menuItem.child.cssClass}}" [attr.name]="menuItem.child.name">
                                    @for (menuChild of menuItem.child.elements; track menuChild; let elmChild = $index) {
                                      @if (menuIsValid( menuChild , row )) {
                                        <li class="menu-item elm-level-2 eml-lv2-{{elmChild}} {{menuChild.liCssClass}}">
                                          @if (menuIsVisible(row[menuChild.visibleDependOn],menuChild.visibleConditions)) {
                                            @if (menuChild.type==='link') {
                                              <a [attr.href]="menuChild.link" class="menu-link {{menuChild.cssClass}}" [innerHTML]="menuChild.icon + menuChild.label | ovicSafeHtml "></a>
                                            }
                                            @if (menuChild.type==='route') {
                                              <a [routerLink]="[menuChild.route]" class="menu-link {{menuChild.cssClass}}" [innerHTML]="menuChild.icon + menuChild.label | ovicSafeHtml "></a>
                                            }
                                            @if (menuChild.type==='handleEvent') {
                                              <a (click)="emitterElementEvent( row[primaryField] , menuChild.eventName )" class="menu-link {{menuChild.cssClass}}" [innerHTML]="menuChild.icon + menuChild.label | ovicSafeHtml "></a>
                                            }
                                          }
                                          @if (!menuIsVisible(row[menuChild.visibleDependOn],menuChild.visibleConditions)) {
                                            <a class="invisible-menu {{menuChild.cssClass}}" [innerHTML]="menuChild.icon + menuChild.label"></a>
                                          }
                                        </li>
                                      }
                                    }
                                  </ul>
                                </div>
                              }
                            </li>
                          }
                        }
                      </ul>
                    }
                    <!-- row menu-->
                  </div>
                }
              </div>
            }
            <!--row-->
          </div>
          <!--body section-->
        </div>
      </div>
    }
    @if (data && data.length < 1 ) {
      <div class="alert alert-warning ovic-ftb-alert" role="alert" style="margin: 0 auto;">
        <i class="fa fa-exclamation" ></i> Danh sách rỗng
      </div>
    }
    @if (!data) {
      <div class="alert alert-success ovic-ftb-alert" role="alert" style="margin: 0 auto;">
        <i class="fa fa-refresh fa-spin fa-3x fa-fw"></i> Đang tải danh sách...
      </div>
    }
  }

  @if (hasError) {
    @if (data && data.length < 1 ) {
      <div class="alert alert-warning ovic-ftb-alert" role="alert" style="margin: 0 auto;">
        <i class="fa fa-exclamation" ></i> Mất kết nối với server
        <button class="btn btn-success">Tải lại dữ liệu</button>
      </div>
    }
  }

</div>

@for (tempf of templates; track tempf) {
  @switch (tempf.width) {
    @case (600) {
      <div class="ovic-flexible-right-section layout-600" (mouseenter)="tableOverlay = true " (mouseleave)="tableOverlay = false" [ngClass]="{'active' : blockOpened === tempf.name }" [@rightSection600]="blockOpened === tempf.name ? layoutState : 'close'">
        <ng-container *ngTemplateOutlet="tempf.template"></ng-container>
      </div>
    }
    @case (700) {
      <div class="ovic-flexible-right-section layout-700" (mouseenter)="tableOverlay = true " (mouseleave)="tableOverlay = false" [ngClass]="{'active' : blockOpened === tempf.name }" [@rightSection700]="blockOpened === tempf.name ? layoutState : 'close'">
        <ng-container *ngTemplateOutlet="tempf.template"></ng-container>
      </div>
    }
    @case (800) {
      <div class="ovic-flexible-right-section layout-800" (mouseenter)="tableOverlay = true " (mouseleave)="tableOverlay = false" [ngClass]="{'active' : blockOpened === tempf.name }" [@rightSection800]="blockOpened === tempf.name ? layoutState : 'close'">
        <ng-container *ngTemplateOutlet="tempf.template"></ng-container>
      </div>
    }
    @default {
      <div class="ovic-flexible-right-section layout-500" (mouseenter)="tableOverlay = true " (mouseleave)="tableOverlay = false" [ngClass]="{'active' : blockOpened === tempf.name }" [@rightSection500]="blockOpened === tempf.name ? layoutState : 'close'">
        <ng-container *ngTemplateOutlet="tempf.template"></ng-container>
      </div>
    }
  }
}
