
.container-fluid .header h3 {
	font-size: 15px;
}

.container-fluid .header {
	text-align: center;
	background-color: #24374b;
	color: #dddddd;
	padding: 0;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.header-break-line {
	width: 25%;
	margin: 0 auto 5px;
	border: 1px solid #aaaaaa;
}

.container-fluid .header h2 {
	font-size: 16px;
	font-weight: 700;
	letter-spacing: 4px;
}

.container-fluid .header .adress {
	padding-top: 15px;
	font-size: 14px;
}

.container-fluid ul.logo {
	padding: 20px 0;
	margin: 0;
}

.container-fluid ul.logo > li {
	display: inline-block;
	outline: none;
}

.container-fluid .header h1 {
	font-size: 24px;
	margin: 50px 0 10px 0;
}

.container-fluid .header .copyright {
	padding-top: 100px;
	font-size: 14px;
}

.container-fluid .header .copyright p {
	margin: 0;
}

@media (min-width: 1000px) {
	.copyright2 {
		display: none;
	}
}

.container-fluid .help {
	padding-top: 0;
	font-size: 13px;
	color: #c8c8c8;
}

.container-fluid .help a {
	color: #c8c8c8;
	display: inline-block;
	vertical-align: middle;
}

.container-fluid .help a + a::before {
	content: '|';
	display: inline-block;
	vertical-align: text-bottom;
	font-size: 15px;
	line-height: 15px;
	color: #c8c8c8;
	margin: 0 5px;
}

.container-fluid .help a:hover {
	color: #28a745;
}

.ictu-search label {
	font-size: 14px;
}

.container-fluid .search {
	border: 1px solid #0e3b61;
	border-radius: 999px 0 0 999px !important;
	box-shadow: none !important;
	outline: none !important;
	border-right: 0;
	padding: 12px 15px;
	height: 50px;
	font-size: 15px;
	line-height: 24px;
}

.container-fluid .btn-search {
	border-radius: 0 999px 999px 0 !important;
	box-shadow: none !important;
	outline: none !important;
	border: 1px solid #0e3b61;
	background-color: #0e3b61;
	color: #fff;
	line-height: 1;
	font-size: 15px;
	padding: 10px 15px;
}

.input-group--extend {
	border: 1px solid #c9c9c9;
	border-radius: 999px;
	overflow: hidden;
	background-color: #ffffff;
	padding: 2px;
}

.input-group--extend .btn-search--inner {
	box-shadow: none !important;
	outline: none !important;
	font-size: 15px;
	padding: 10px 15px;
}

.container-fluid .input-group--extend .search {
	border: none;
	background-color: transparent;
	padding: 8px 10px;
	height: 40px;
	font-size: 15px;
	line-height: 24px;
	display: block;
	border-radius: 0 !important;
	color: #666666;
}


/* Change the white to any color */
.container-fluid .input-group--extend .search:-webkit-autofill,
.container-fluid .input-group--extend .search:-webkit-autofill:hover,
.container-fluid .input-group--extend .search:-webkit-autofill:focus,
.container-fluid .input-group--extend .search:-webkit-autofill:active {
	-webkit-text-fill-color: #666666;
	-webkit-box-shadow: 0 0 0 30px #FFFFFF inset !important;
}

@media (max-width: 999px) {
	.header {
		height: auto !important;
		padding-bottom: 20px;
	}
}

@media (max-width: 999px) {
	.header h1, .help, .header .copyright {
		display: none;
	}
}

.welcome-row {
	align-content: center;
	align-items: center;
	background: url('../../../../../assets/images/bg_login.jpg') no-repeat;
	background-size: cover;
}

.ictu-search {
	display: inline-block;
	padding: 20px 10%;
}

.ictu-search .align-item {
	margin: 20px 0;
}

.ictu-search .ghichu {
	/*font-size: 18px;*/
	font-size: 15px;
	margin: 23px 0 0;
}

.tbl-result {
	max-width: 1000px;
	width: 100%;
	margin-top: 30px;
}

.tbl-detail-info {
	padding: 10px 15px;
	border: 1px solid #e6e6e6;
}

.tbl-detail-info .form-group label {
	font-size: 15px;
	font-weight: 500;
}

.wrap-welcome .welcome-row > div {
	padding: 0;
}

.form-check-inline {
	padding: 5px 10px;
	background-color: #e7e7e7;
	border-radius: 999px;
	margin: 0;
	user-select: none;
	cursor: pointer;
}

.form-check-inline > * {
	cursor: pointer;
}

.form-check-inline:hover {
	background-color: rgb(187 222 251 / 23%);
}

.form-check-inline.--active {
	background-color: rgb(187 222 251 / 73%);
}

.form-check-inline + .form-check-inline {
	margin-left: 15px;
}

.agency-item {
	display: flex;
	align-items: flex-start;
}

.agency-item__flag {
	width: 30px;
	height: 30px;
	object-fit: contain;
	background-image: url("../../../../../assets/images/brands/flag-placeholder.png");
	background-repeat: no-repeat;
	background-position: center center;
	border-radius: 0;
	background-size: contain !important;
}

.agency-item__logo {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	width: 30px;
	height: 30px;
	margin: 0;
	font-size: 0;
	line-height: 0;
}

.agency-item__logo img {
	display: inline-block;
	max-width: 100%;
	height: auto;
	object-fit: contain;
	border-radius: 0;
	margin: 0;
}

.agency-item__name {
	flex: 1 1 auto;
	max-width: calc(100% - 50px);
	align-self: center;
	font-size: 15px;
	font-weight: 500;
	padding: 0 0 0 10px;
}

/*.flag-ictu {*/
/*	background-image: url("../../../../../assets/images/brands/ictu-logo.png");*/
/*}*/

/*.flag-sfl {*/
/*	background-image: url("../../../../../assets/images/brands/sfl-logo.png");*/
/*}*/

/*.flag-tuaf {*/
/*	background-image: url("../../../../../assets/images/brands/tuaf-logo.png");*/
/*}*/

.logo-tnu-brand {
	width: 150px;
	height: auto;
}

.button-close-panel {
	position: absolute;
	z-index: 10;
	top: 5px;
	right: 5px;
	outline: none !important;
	box-shadow: none !important;
}

.ovic-hocvien-profiles .form-group .form-control {
	-webkit-user-select: text;
	user-select: text;
}

@media (min-width: 992px) {
	.btn--disable-in-desktop {
		display: none;
	}
	
	.ovic-hocvien-profiles {
		display: flex;
	}
	
	.tbl-result tr:nth-child(even) {
		background-color: #f5f5f5;
	}
	
	.ovic-hv-content--narrow {
		margin-left: -10px;
		margin-right: -10px;
	}
	
	.ovic-hv-content--narrow > .form-group {
		padding-left: 10px;
		padding-right: 10px;
	}
	
	.ovic-hocvien-profiles .ovic-hv-detail.ovic-hv-long {
		padding-left: 15px;
		padding-right: 15px;
	}
	
	.ovic-hocvien-profiles .ovic-hv-detail {
		padding: 15px 15px 0 15px;
	}
	
}

@media (max-width: 1300px) {
	.wrap-welcome {
		padding: 0;
	}
	
	.wrap-welcome .welcome-row {
		display: block;
		width: 100%;
		margin: 0;
	}
	
	.wrap-welcome .container-fluid .frm-search-inside,
	.wrap-welcome .container-fluid .header {
		width: 100%;
		display: block;
		max-width: 100%;
		padding-left: 0;
		padding-right: 0;
	}
	
	.wrap-welcome .container-fluid .header {
		padding-top: 50px;
		height: auto;
		background: transparent;
		color: #333;
	}
	
	.header-break-line {
		border-color: #666666;
		margin-bottom: 0;
	}
	
	.wrap-welcome .welcome-row > div {
		padding: 0;
		height: auto;
		width: 100%;
		max-width: 100%;
	}
	
	.wrap-welcome .ictu-search {
		width: 100%;
		padding-left: 0;
		padding-right: 0;
		text-align: center;
	}
	
	.container-fluid .header .copyright {
		display: none;
	}
	
	.welcome-row {
		background: none;
	}
	
	.wrap-welcome .welcome-row .copyright2 {
		padding: 15px 0;
		/*border-top: 1px solid #e6e6e6;*/
		/*margin-top: 15px;*/
		display: block;
		bottom: 0;
		text-align: center;
		font-size: 14px;
	}
	
	.copyright2 p {
		margin: 0;
	}
	
	.ictu-search .p-dropdown-style-tra-cuu {
		max-width: 550px;
		display: block;
		margin: 0 auto;
	}
	
	.ictu-search .align-item {
		display: block;
		max-width: 550px;
		margin: 30px auto 36px;
	}
	
	.ictu-search .align-item + .align-item {
		margin-top: 0;
	}
	
	.container-fluid .help {
		font-size: 14px;
	}
	
	.ictu-search .ghichu {
		font-size: 14px;
	}
	
	.tbl-result {
		width: 100%;
		max-width: 100%;
	}
	
	.tbl-detail-info {
		margin-top: 50px;
	}
	
}

@media (max-width: 991px) {
	.btn--visible-in-desktop {
		display: none;
	}
	
	.ovic-hocvien-profiles .ovic-hv-detail.ovic-hv-long,
	.ovic-hocvien-profiles .ovic-hv-detail {
		width: 100%;
		border-right: none;
		padding-left: 0;
		padding-right: 0;
	}
	
	.ovic-hocvien-profiles .ovic-hv-detail .ov-row-title {
		margin-bottom: 35px;
		padding-left: 10px;
		padding-right: 10px;
	}
	
	.ovic-hocvien-profiles .ovic-hv-detail .ovic-hv-content {
		margin-left: -5px;
		margin-right: -5px;
	}
	
	.ovic-hocvien-profiles .ovic-hv-detail .ovic-hv-content > .form-group {
		width: 100%;
		max-width: 100%;
		flex: 0 0 100%;
	}
	
	.ovic-hocvien-profiles .ovic-hv-detail .ov-row-title::before {
		content: '';
		display: block;
		height: 1px;
		position: absolute;
		background-color: #e6e6e6;
		bottom: -15px;
		left: 0;
		right: 0;
	}
	
	.ovic-hocvien-profiles::before {
		content: none;
	}
	
	.tbl-result {
		margin-top: 0;
		margin-bottom: 50px;
	}
	
	.tbl-result .tbl-title {
		border: none;
		padding: 5px 0;
		display: block;
		text-align: center;
		float: none;
		margin: 0;
		text-transform: uppercase;
		font-size: 15px;
	}
	
	.tbl-result .search-block {
		display: block;
		margin: 0;
		text-align: center;
	}
	
	.tbl-result .search-inlist {
		width: 100%;
		font-size: 15px;
		padding: 6px;
	}
	
	.tbl-result .none-on-mobile {
		display: none !important;
	}
	
	.tbl-result th {
		display: none;
	}
	
	.tbl-result td {
		display: block !important;
		border: none !important;
		padding: 0;
		font-size: 15px;
		margin: 5px 0;
		position: relative;
		text-align: left !important;
	}
	
	.tbl-result td .btn--disable-in-desktop {
		color: #ffffff;
		background: #3F51B5;
		border: 1px solid #3F51B5;
		text-transform: uppercase;
	}
	
	.tbl-result td::before {
		content: attr(data-title);
		display: inline-block;
		width: 95px;
		font-weight: 500;
		font-size: 14px;
	}
	
	.tbl-result td.rw-show::before {
		content: none;
		display: none;
	}
	
	.tbl-result tr {
		display: block;
		border-top: 1px solid #c8c8c8;
		border-radius: 0;
		padding: 5px;
		margin: 0;
	}
	
	.tbl-result p-table {
		border: 1px solid #c8c8c8;
		display: block;
		background: none !important;
		padding: 0;
	}
	
	.tbl-result .btn-show-detail i {
		display: none;
	}
	
	.tbl-result .btn-show-detail {
		width: 100%;
		padding-top: 13px;
	}
	
	.tbl-result .btn-show-detail::before {
		content: 'Click vào đây để xem chi tiết';
		display: inline-block;
		font-size: 15px;
		line-height: 1;
		text-align: center;
		width: 100%;
	}
}

@media (max-width: 767px) {
	.wrap-welcome .ictu-search .ghichu {
		font-size: 15px;
	}
	
	.agency-item__name {
		max-width: calc(100% - 30px);
		text-overflow: ellipsis;
		overflow: hidden;
		white-space: pre-wrap;
		line-height: 1.2;
	}
}

@media (max-width: 560px) {
	.form-check-inline {
		width: 100%;
		display: flex;
		text-align: center;
		padding: 10px 15px;
		align-items: center;
	}
	
	.form-check-inline + .form-check-inline {
		margin-left: 0;
		margin-top: 15px;
	}
	
	.form-check-inline > label {
		flex: 1 1 auto;
		text-align: center;
		justify-content: center;
	}
}

@media (max-width: 360px) {
	/*.form-check-inline {*/
	/*	display: block;*/
	/*	text-align: left;*/
	/*	!*margin: 4px 0 0 15%;*!*/
	/*}*/
	.ictu-search .align-item {
		margin: 0;
	}
	
	.ictu-search .dropdown-select-agency {
		margin-bottom: 30px;
	}
	
	.ictu-search .align-item + .align-item {
		margin-top: 30px;
	}
	
	.ictu-search {
		padding-top: 0;
	}
	
	.ictu-search .ghichu {
		margin-top: 34px;
	}
	
	.copyright2 {
		margin-top: 40px;
	}
	
	.wrap-welcome .container-fluid {
		padding-left: 10px;
		padding-right: 10px;
	}
}

@media (min-width: 1301px) {
	.container-fluid .header .copyright,
	.container-fluid .header h1,
	.container-fluid .header .adress,
	.container-fluid ul.logo {
		padding: 0;
		margin: 0;
	}
	
	.frm-search-inside {
		display: flex;
		height: 100vh;
		display: -webkit-box;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		flex-direction: column;
		justify-content: center;
		-webkit-box-align: center;
		align-items: center;
	}
	
	.frm-search-inside .ictu-search {
		display: inline-block;
		max-width: 780px;
		padding-left: 0;
		padding-right: 0;
	}
}
