<div class="wrap-welcome">
    <div class="container-fluid template-tra-cuu-vbcc" [ngClass]="enableSelectAgency ? 'enable-select-agency' : 'disable-select-agency'">
        <div class="row welcome-row">
            <div class="col-lg-4">
                <div class="header">
                    <div class="top-info">
                        <h3>BỘ GIÁO DỤC VÀ ĐÀO TẠO</h3>
                        <h2>ĐẠI HỌC THÁI NGUYÊN</h2>
                        <hr class="header-break-line">
                        <p class="adress">Địa chỉ: Phường Tân Thịnh, TP. Thái Nguyên<br>Điện thoại: 02083 904 355 - Email: vanphong.dhtn@moet.edu.vn<br><br> * * *
                        </p>
                    </div>
                    <ul class="logo">
                        <li>
                            <img class="logo-tnu-brand" ngSrc="assets/images/brands/logo-tnu.png" width="640" height="495" alt="tnu">
                        </li>
                    </ul>
                    <h1>HỆ THỐNG TRA CỨU<br>THÔNG TIN VĂN BẰNG, CHỨNG CHỈ</h1>
                    <div class="copyright">
                        <p>
                            Xây dựng bởi:<br>Trung tâm Phát triển phần mềm, Trường Đại học CNTT và Truyền thông
                            <br>* * * </p>
                        <div class="help">
                            <a href="tel:0855891892">0855.891.892</a>
                            <a href="mailto:ttpm@ictu.vn">ttpm@ictu.vn</a>
                            <a href="https://ictu.vn">https://ictu.vn</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="frm-search-inside" [class.ovic-is-loading]="isLoading">
                    <div class="ictu-search">
                        <ng-container *ngIf="enableSelectAgency">
                            <p-dropdown class="p-dropdown-100 p-dropdown-style-tra-cuu dropdown-select-agency" [options]="agencies" [(ngModel)]="activeAgency" (ngModelChange)="triggerDataDirty()" optionLabel="name" filterBy="name" [showClear]="false" placeholder="Chọn trường đại học">
                                <ng-template pTemplate="filter" let-options="options">
                                    <div class="flex p-3">
                                        <div class="p-inputgroup" (click)="$event.stopPropagation()">
                                            <span class="p-inputgroup-addon"><i class="pi pi-search"></i></span>
                                            <input type="text" pInputText placeholder="Filter" [(ngModel)]="filterValue" (keyup)="options.filter($event)">
                                        </div>
                                        <button pButton icon="pi pi-times" class="ml-3" (click)="myResetFunction(options)"></button>
                                    </div>
                                </ng-template>
                                <ng-template pTemplate="selectedItem">
                                    <div class="agency-item agency-item-value" *ngIf="activeAgency">
                                        <figure class="agency-item__logo">
                                            <img width="100" height="100" [src]="'assets/images/brands/'+ activeAgency.logo" [alt]="activeAgency.name">
                                        </figure>
                                        <b class="agency-item__name">{{activeAgency.name}}</b>
                                    </div>
                                </ng-template>
                                <ng-template let-agency pTemplate="item">
                                    <div class="agency-item">
                                        <figure class="agency-item__logo">
                                            <img width="100" height="100" [ngSrc]="'assets/images/brands/'+ agency.logo" [alt]="agency.nale">
                                        </figure>
                                        <b class="agency-item__name">{{agency.name}}</b>
                                    </div>
                                </ng-template>
                            </p-dropdown>
                        </ng-container>
                        <div class="align-item item-head">
                            <div class="form-check form-check-inline" [class.--active]="queryObject.data.field==='sohieu_vbcc'">
                                <input class="form-check-input" type="radio" id="radio_2" [checked]="queryObject.data.field==='sohieu_vbcc'" (click)="setFilterBy('sohieu_vbcc')">
                                <label class="form-check-label" for="radio_2">Theo số hiệu bằng, chứng chỉ</label>&nbsp;
                            </div>
                            <div class="form-check form-check-inline" [class.--active]="queryObject.data.field==='cccd'">
                                <input class="form-check-input" type="radio" id="radio_1" [checked]="queryObject.data.field==='cccd'" (click)="setFilterBy('cccd')">
                                <label class="form-check-label" for="radio_1">Theo cccd/cmnd</label>&nbsp;
                            </div>
                            <div class="form-check form-check-inline" [class.--active]="queryObject.data.field==='mahocvien'">
                                <input class="form-check-input" type="radio" id="radio_3" [checked]="queryObject.data.field==='mahocvien'" (click)="setFilterBy('mahocvien')">
                                <label class="form-check-label" for="radio_3">Theo mã sinh viên</label>
                            </div>
                        </div>
                        <div class="align-item item-body">
                            <div class="input-group input-group--extend ">
                                <input type="text" name="key" class="form-control search" placeholder="Nhập từ khoá tìm kiếm..." aria-label="Nhập từ khoá tìm kiếm:" [(ngModel)]="queryObject.data.search" (keydown)="triggerDataDirty()">
                                <button pButton pRipple class="btn-search--inner p-button-rounded" type="button" icon="pi pi-search" label="Tìm kiếm" (click)="searchData()"></button>
                            </div>
                            <p class="ghichu">
                                <strong>Ghi chú:</strong> Chọn tiêu chí tìm kiếm -&gt; nhập từ khoá cần tìm -&gt; nhấn nút "Tìm kiếm"
                            </p>
                        </div>
                    </div>
                    <div class="tbl-result" *ngIf="dsHocVien">
                        <ng-container *ngIf="dsHocVien.length; else showEmptyMessage">
                            <p-table [value]="dsHocVien" dataKey="id" styleClass="ovic-ui-table" [rowHover]="false" [rows]="100" [showCurrentPageReport]="true" [paginator]="false" [filterDelay]="0">
                                <ng-template pTemplate="caption">
                                    <h3 class="tbl-title">Kết quả tìm thấy {{ recordsTotal }} học viên</h3>
                                </ng-template>
                                <ng-template pTemplate="header">
                                    <tr class="none-on-mobile">
                                        <th class="ovic-w-60px text-center">#</th>
                                        <th>Họ và tên</th>
                                        <th class="ovic-w-200px text-center pl-0 pr-0">Mã học viên</th>
                                        <th class="ovic-w-70px text-center pl-0 pr-0">Giới tính</th>
                                        <th class="ovic-w-90px text-center pl-0 pr-0">Năm sinh</th>
                                        <th class="ovic-w-130px text-center pl-0 pr-0">Nơi sinh</th>
                                        <th class="ovic-w-110px text-center pl-0 pr-0">Loại văn bằng</th>
                                        <th class="ovic-w-65px text-center pl-0 pr-0">Chi tiết</th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-student let-rowIndex="rowIndex">
                                    <tr class="father-row">
                                        <td class="none-on-mobile text-center">{{ tableIndex + rowIndex}}</td>
                                        <td class="tbl-rw" data-title="Họ tên:">{{student[ 'hovaten' ]}}</td>
                                        <td class="tbl-rw" data-title="Mã học viên:">{{student[ 'mahocvien' ]}}</td>
                                        <td class="tbl-rw text-center" data-title="Giới tính:">{{student[ 'gioitinh' ]}}</td>
                                        <td class="tbl-rw text-center" data-title="Năm sinh:">{{student[ 'namsinh' ]}}</td>
                                        <td class="tbl-rw" data-title="Nơi sinh:">{{student[ 'noisinh' ]}}</td>
                                        <td class="tbl-rw text-center" data-title="Loại văn bằng:">{{student[ 'loai_vbcc' ]}}</td>
                                        <td class="tbl-rw rw-show p-0 text-center" data-title="xem chi tiết">
                                            <button (click)="showDetailInfo(student)" type="button" pRipple pButton icon="pi pi-search" class="btn--visible-in-desktop btn--desktop p-button-rounded p-button-icon-only p-button-text p-button-secondary"></button>
                                            <button (click)="showDetailInfo(student)" type="button" pRipple pButton icon="pi pi-search" label="Xem chi tiết" class="w-100 btn--disable-in-desktop p-button-rounded p-button-secondary"></button>
                                        </td>
                                    </tr>
                                </ng-template>
                            </p-table>
                            <p-paginator class="p-paginator--custom p-paginator--size-minimal" [showCurrentPageReport]="true" [rows]="queryObject.data.limit" [totalRecords]="recordsTotal" [pageLinkSize]="5" (onPageChange)="paginate($event)"></p-paginator>
                        </ng-container>
                        <ng-template #showEmptyMessage>
                            <div class="alert alert-primary text-center" role="alert" style="font-size: 14px;max-width: 600px;display: block;margin: 0 auto;">
                                Rất tiếc ! chúng tôi không tìm thấy kết quả nào phù hợp với yêu cầu của bạn
                            </div>
                        </ng-template>
                    </div>
                </div>
            </div>
            <div class="copyright2 item-foot">
                <p>
                    Thiết kế bởi:<br>
                    Trung tâm Phát triển phần mềm, Trường Đại học CNTT và Truyền thông<br>
                    Email: software@ictu.edu.vn </p>
            </div>
        </div>
    </div>
</div>

<ng-template #showFormData>
    <div class="ovic-hocvien-profiles ovic-is-loading--size-normal position-relative">
        <button (click)="closePanel()" type="button" pButton pRipple icon="pi pi-times" class="p-button-text button-close-panel p-button-icon-only p-button-danger p-button-rounded"></button>
        <div class="ovic-hv-detail">
            <h4 class="ov-row-title">THÔNG TIN HỌC VIÊN</h4>
            <div class="ovic-hv-content row ovic-hv-content--narrow">
                <div class="form-group col-12">
                    <label>Họ và tên:</label>
                    <span class="form-control">{{studentActive[ 'hovaten' ]}}</span>
                </div>
                <div class="form-group col-12" *ngIf="studentActive[ '__loai_vbcc' ] !== 'chung-chi'">
                    <label>Mã học viên:</label>
                    <span class="form-control">{{studentActive[ 'mahocvien' ]}}</span>
                </div>
                <div class="form-group col-6">
                    <label>Năm sinh:</label>
                    <span class="form-control">{{studentActive[ 'namsinh' ]}}</span>
                </div>
                <div class="form-group col-6">
                    <label>Giới tính:</label>
                    <span class="form-control">{{studentActive[ 'gioitinh' ]}}</span>
                </div>
                <div class="form-group col-12">
                    <label>Nơi sinh:</label>
                    <span class="form-control">{{studentActive[ 'noisinh' ]}}</span>
                </div>
                <!-- <div class="form-group col-12">
                     <label>Cmnd/cccd:</label>
                     <span class="form-control" style="color: #838383;">Dữ liệu được bảo vệ</span>
                 </div>-->
                <div class="form-group col-12" *ngIf="studentActive[ '__loai_vbcc' ] !== 'chung-chi'">
                    <label>Dân tộc:</label>
                    <span class="form-control">{{studentActive[ 'dantoc' ]}}</span>
                </div>
                <div class="form-group col-12" *ngIf="studentActive[ '__loai_vbcc' ] !== 'chung-chi'">
                    <label>Quốc tịch:</label>
                    <span class="form-control">{{studentActive[ 'quoctich' ]}}</span>
                </div>
            </div>
        </div>
        <div class="ovic-hv-detail ovic-hv-long">
            <!--Thông tin chứng chỉ-->
            <ng-container *ngIf="studentActive[ '__loai_vbcc' ] === 'chung-chi'; else documentVBCC">
                <h4 class="ov-row-title">THÔNG TIN CHỨNG CHỈ</h4>
                <div class="ovic-hv-content row ovic-hv-content--narrow">
                    <div class="form-group col-12 col-sm-4">
                        <label>Số hiệu chứng chỉ:</label>
                        <span class="form-control">{{studentActive[ 'sohieu_vbcc' ]}}</span>
                    </div>
                    <div class="form-group col-12 col-sm-4">
                        <label>Loại chứng chỉ:</label>
                        <span class="form-control">{{studentActive[ 'nganhhoc' ]}}</span>
                    </div>
                    <div class="form-group col-12 col-sm-4">
                        <label>Tên chứng chỉ:</label>
                        <span class="form-control">{{studentActive[ 'chuyenganh' ]}}</span>
                    </div>
                    <div class="form-group col-12 col-sm-4">
                        <label>Ngày ký:</label>
                        <span class="form-control">{{studentActive[ '__ngayky_quyet_dinh' ]}}</span>
                    </div>
                    <div class="form-group col-12 col-sm-4">
                        <label>Người ký:</label>
                        <span class="form-control">{{studentActive[ '__nguoiky_quyet_dinh' ]}}</span>
                    </div>
                    <div class="form-group col-12 col-sm-4">
                        <label>Chức vụ người ký:</label>
                        <span class="form-control">{{studentActive[ '__chucvu_nguoiky_quyet_dinh' ]}}</span>
                    </div>
                    <div class="form-group col-12 col-sm-4">
                        <label>Số vào sổ cấp chứng chỉ:</label>
                        <span class="form-control">{{studentActive[ 'sovaoso' ]}}</span>
                    </div>
                    <div class="form-group col-12 col-sm-4" *ngIf="studentActive[ 'file' ] && studentActive[ 'file' ][0] && studentActive[ 'file' ][0]['shared'] && studentActive[ 'file' ][0]['webViewLink']">
                        <label>File quyết định:</label>
                        <a class="form-control" target="_blank" rel="nofollow" style="outline: none; box-shadow: none" [href]="studentActive[ 'file' ][0]['webViewLink']">
                            <i class="fa fa-link" ></i> {{ studentActive[ 'file' ][ 0 ][ 'title' ] }}
                        </a>
                    </div>
                </div>
            </ng-container>

            <!--Thông tin văn bằng-->
            <ng-template #documentVBCC>
                <h4 class="ov-row-title">THÔNG TIN VĂN BẰNG</h4>
                <div class="ovic-hv-content row ovic-hv-content--narrow">
                    <div class="form-group col-12 col-sm-4">
                        <label>Số hiệu văn bằng:</label>
                        <span class="form-control">{{studentActive[ 'sohieu_vbcc' ]}}</span>
                    </div>
                    <div class="form-group col-12 col-sm-4">
                        <label>Loại VBCC:</label>
                        <span class="form-control">{{studentActive[ 'loai_vbcc' ]}}</span>
                    </div>
                    <div class="form-group col-12 col-sm-4">
                        <label>Hệ đào tạo:</label>
                        <span class="form-control">{{studentActive[ 'hinhthuc_daotao' ]}}</span>
                    </div>
                    <div class="form-group col-12 col-sm-8">
                        <label>Ngành học:</label>
                        <span class="form-control">{{studentActive[ '__tenNganhHocVien' ]}}</span>
                    </div>
                    <div class="form-group col-12 col-sm-4">
                        <label>Chương trình đào tạo:</label>
                        <span class="form-control">{{studentActive[ 'chuyenganh' ] }}</span>
                    </div>
                    <div class="form-group col-12 col-sm-4">
                        <label>Niên khóa:</label>
                        <span class="form-control">{{studentActive[ 'nienkhoa' ]}}</span>
                    </div>
                    <div class="form-group col-12 col-sm-4">
                        <label>Khóa/Lớp:</label>
                        <span class="form-control">{{studentActive[ 'khoa_lop' ]}}</span>
                    </div>
                    <div class="form-group col-12 col-sm-4">
                        <label>Số vào sổ:</label>
                        <span class="form-control">{{studentActive[ 'sovaoso' ]}}</span>
                    </div>
                    <div class="form-group col-12 col-sm-4">
                        <label>Ngày ký:</label>
                        <span class="form-control">{{studentActive[ '__ngayky_quyet_dinh' ]}}</span>
                    </div>
                    <div class="form-group col-12 col-sm-4">
                        <label>Người ký:</label>
                        <span class="form-control">{{studentActive[ '__nguoiky_quyet_dinh' ]}}</span>
                    </div>
                    <div class="form-group col-12 col-sm-4">
                        <label>Chức vụ người ký:</label>
                        <span class="form-control">{{studentActive[ '__chucvu_nguoiky_quyet_dinh' ]}}</span>
                    </div>
                    <div class="form-group col-12 col-sm-4">
                        <label>Xếp loại:</label>
                        <span class="form-control">{{studentActive[ 'xeploai' ]}}</span>
                    </div>
                    <div class="form-group col-12 col-sm-4">
                        <label>Năm tốt nghiệp:</label>
                        <span class="form-control">{{studentActive[ 'namtn' ]}}</span>
                    </div>
                    <div class="form-group col-12 col-sm-4" *ngIf="studentActive[ 'quyetdinh_hodong' ]">
                        <label>Số QĐ thành lập hội đồng:</label>
                        <span class="form-control">{{studentActive[ 'quyetdinh_hodong' ]}}</span>
                    </div>
                    <div class="form-group col-12 col-sm-4" *ngIf="studentActive[ 'ngay_baove' ]">
                        <label>Ngày bảo vệ:</label>
                        <span class="form-control">{{studentActive[ 'ngay_baove' ]}}</span>
                    </div>
                    <div class="form-group col-12 col-sm-4" *ngIf="studentActive[ 'file' ] && studentActive[ 'file' ][0] && studentActive[ 'file' ][0]['shared'] && studentActive[ 'file' ][0]['webViewLink']">
                        <label>File quyết định:</label>
                        <a class="form-control" target="_blank" rel="nofollow" style="outline: none; box-shadow: none" [href]="studentActive[ 'file' ][0]['webViewLink']">
                            <i class="fa fa-link" ></i> {{ studentActive[ 'file' ][ 0 ][ 'title' ] }}
                        </a>
                    </div>
                </div>
            </ng-template>
        </div>
    </div>
</ng-template>
