.margin-right-5 {
    margin-right: 5px;
}

.layout-import-bottom-left {
    width: 400px;
    height: 100%;
    border-right: 1px solid #c8c8c8;

}

.search-input-bottom-left {
    padding: 5px;
    border-bottom: 1px solid #c8c8c8;
}

.search-input-bottom-left input {
    width: 100%;
}

.list-course-layout {
    height: calc(100% - 42px);
    overflow: auto;
}
