<div class="kq-container">
    <div class="kq-l">
        <div class="kq-chart">
            <div class="title"> Lớp phụ trách</div>
            <div class="chart">
                <p-chart type="bar" [width]="'100%'" [height]="'300px'" [data]="dataChartClass"
                         [options]="optionsChartClass"></p-chart>
            </div>
        </div>

        <div class="kq-chart">
            <div class="title">Giảng viên được phân công giảng dạy</div>
            <div class="chart">
                <p-chart type="pie" [width]="'100%'" [height]="'400px'" [data]="dataChartStudent"
                         [options]="optionsChartClass"></p-chart>

            </div>
        </div>
        <!--        <div class="chart-phodiem">-->

        <!--            <div class="title">kết quả học tập của sinh viên</div>-->
        <!--            <div class="chart">-->
        <!--&lt;!&ndash;                <p-chart type="pie" [data]="dataChart" [options]="optionsChart" />&ndash;&gt;-->

        <!--            </div>-->
        <!--        </div>-->
    </div>
    <div class="kq-r">
        <div class="kq-table">
            <div class="head">
                <div class="title"> BẢNG TỔNG HỢP SỐ LIỆU KẾT QUẢ ĐÀO TẠO</div>
            </div>
            <div class="body">
<!--                <div style="max-height:500px">-->
                <div >
                    <p-table [value]="listData"
                             styleClass="tbl-danhSachUser table-scroll-able table-able-dropdown-p-table  ovic-ui-table table-reBorder th-td-padding-5px">
                        <ng-template pTemplate="header">
                            <tr>
                                <th rowspan="2" class="text-center ovic-w-50px">TT</th>

                                <th rowspan="2" class="text-left ovic-w-300px">Tên Giảng viên</th>
                                <th rowspan="2" class="text-center ">Số lớp học phần</th>
                                <th rowspan="2" class="text-center ">Số sinh viên</th>
                                <th rowspan="2" class="text-center "><div>
                                    <div>Sv cấm bỏ thi</div>
                                    <div>(Không đủ đk)</div>
                                </div></th>
                                <th colspan="2" class="text-center ovic-w-100px">
                                    <div>F</div>
                                    <div>(0 - 4)</div>
                                </th>
                                <th colspan="2" class="text-center ovic-w-100px">
                                    <div>D</div>
                                    <div>(4.1 - 5.4)</div>
                                </th>
                                <th colspan="2" class="text-center ovic-w-100px">
                                    <div>C</div>
                                    <div>(5.5 - 6.9)</div>
                                </th>
                                <th colspan="2" class="text-center ovic-w-100px">
                                    <div>B</div>
                                    <div>(7 - 8.4)</div>
                                </th>
                                <th colspan="2" class="text-center ovic-w-100px">
                                    <div>A</div>
                                    <div>(8.5 - 10)</div>
                                </th>


                            </tr>
                            <tr>
                                <th class="text-center">SL</th>
                                <th class="text-center">%</th>
                                <th class="text-center">SL</th>
                                <th class="text-center">%</th>
                                <th class="text-center">SL</th>
                                <th class="text-center">%</th>
                                <th class="text-center">SL</th>
                                <th class="text-center">%</th>
                                <th class="text-center">SL</th>
                                <th class="text-center">%</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-row let-rowIndex="rowIndex">
                            <tr>
                                <td style="text-align: center;">{{ rowIndex + 1 }}</td>
                                <td class="text-left" >{{ row.display_name }}
                                </td>

                                <td class="text-center">{{ row['_total_classes'] }}</td>
                                <td class="text-center">{{ row['_total_students'] }}</td>
                                <td class="text-center">{{ row['_point_cambothi'] + row['_point_notDk'] }}</td>


                                <td class="text-center">{{ row['_point_F']  }}</td>
                                <td class="text-center">{{ replacerViewPoint(row['_point_F'], row['_point_all']) }}</td>
                                <td class="text-center">{{ row['_point_D']  }}</td>
                                <td class="text-center">{{ replacerViewPoint(row['_point_D'], row['_point_all']) }}</td>
                                <td class="text-center">{{ row['_point_C']  }}</td>
                                <td class="text-center">{{ replacerViewPoint(row['_point_C'], row['_point_all']) }}</td>
                                <td class="text-center">{{ row['_point_B']  }}</td>
                                <td class="text-center">{{ replacerViewPoint(row['_point_B'], row['_point_all']) }}</td>
                                <td class="text-center">{{ row['_point_A']  }}</td>
                                <td class="text-center">{{ replacerViewPoint(row['_point_A'], row['_point_all']) }}</td>

                            </tr>

                        </ng-template>

                        <ng-template pTemplate="emptymessage">
                            <tr>
                                <td colspan="10">
                                    Chưa tìm thấy kết quả.
                                </td>
                            </tr>
                        </ng-template>


                    </p-table>
                </div>
            </div>
        </div>
        <div class="kq-table">
            <div class="head">
                <div class="d-flex flex-row justify-content-between">
                    <div>BIỂU ĐỒ PHỔ ĐIỂM </div>
                    <div>
                        <button pRipple pButton class=" select-height-42px"
                                [class]="changeViewPecent ===0 ? 'p-button-primary' : 'ovic-button-none-selected'"
                                icon="pi pi-sort-numeric-up-alt" (click)="selectChangeTb(0)"></button>
                        <button pRipple pButton class=" select-height-42px"
                                [class]="changeViewPecent ===1 ? 'p-button-primary' : 'ovic-button-none-selected'"
                                icon="pi pi-percentage" (click)="selectChangeTb(1)"></button>
                    </div>
                </div>
            </div>
            <div class="chart">
                <p-chart [type]="'line'" [data]="dataChart" [options]="optionChart" ></p-chart>
            </div>
        </div>

        <div class="chart">

        </div>
    </div>
</div>
