@if (list_class_plan_activities && list_class_plan_activities.length) {
  <div class="kiemtra-kynang-layout">
    <div class="kiemtra-kynang-layout-top" style="text-align: right;">
      @if (showDownloadDoan && key_server === 'ictu') {
        <button [matMenuTriggerFor]="menuDownload"
          style="line-height: 1; margin-right: 5px;" class="btn btn-primary">
          <i class="fa fa-download"></i>
          Tải danh sách đồ án/dự án
        </button>
      }
      <mat-menu #menuDownload="matMenu">
        <button (click)="downloadDuan('danhsach')" mat-menu-item>
          <span>Danh sách chủ đề dự án/đồ án</span>
        </button>
        <button (click)="downloadDuan('phancong')" mat-menu-item>
          <span>Bảng phân công thực hiện đồ án/dự án</span>
        </button>
      </mat-menu>
      <button (click)="syncTest()" style="line-height: 1;" class="btn btn-success">
        <i class="fa fa-refresh"></i>
        Đồng bộ bài kiểm tra thường xuyên
      </button>
      <!-- <button
      *ngIf="classSelected && classSelected['course_detail'] && classSelected['course_detail'].params && classSelected['course_detail'].params.exam_format === 'DUAN'"
      (click)="openPlanTest()" style="line-height: 1; margin-left: 5px;" class="btn btn-primary">
      <i class="fa fa-tasks"></i>
      Kế hoạch thực hiện dự án
    </button> -->
  </div>
  <div class="kiemtra-kynang-layout-bottom">
    <div #list_test class="action-own-class-data-layout-bottom-table action-own-class-data-layout-bottom-list">
      <p-contextMenu #cm styleClass="contextMenu-kynang" appendTo="body" [model]="contextMenu"></p-contextMenu>
      <mat-selection-list #tests [multiple]="false">
        @for (test of list_class_plan_activities; track test; let i = $index) {
          <mat-list-option
            [selected]="selected_class_plan_activity && selected_class_plan_activity.id === test.id ? true : false"
            class="mat-list-option-own-class"
            [value]="test" (click)="onSelectTest(test)">
            <div style="width: 100%;">
              @switch (test.type) {
                @case ('THUONGXUYEN_TRACNGHIEM') {
                  <div class="mat-list-option-item-card"
                    (contextmenu)="openContextMenu($event, cm, test)">
                    <mat-icon class="avatar-mat-list-icon-own-class" mat-list-icon>{{'format_list_bulleted'}}
                    </mat-icon>
                    <div mat-line class="mat-list-option-own-class-item">
                      <div mat-line class="mat-list-option-own-class-title">
                        <div class="title-thaoluan-list-own-class" mat-line>{{test.title}}</div>
                        <div mat-line class="mat-list-option-own-class-info">
                          @if (test['start_date']) {
                            <div mat-line
                              class="mat-list-option-own-class-info-item">
                            {{test['start_date'] | ovicDateTime}} </div>
                          }
                          @if (!test['start_date']) {
                            <div mat-line
                              class="mat-list-option-own-class-info-item">
                            Chưa cài đặt thời gian kiểm tra </div>
                          }
                        </div>
                      </div>
                      <div mat-line class="mat-list-option-own-class-action">
                        <button style="cursor: unset;" container="body" placement="left"
                          [ngbTooltip]="test.status === 1?'Đã kích hoạt bài kiểm tra':'Chưa kích hoạt bài kiểm tra'"
                          mat-list-item>@if (test.status === 1) {
                          <i style="color: #28a745;"
                          class="fa fa-circle"></i>
                        }
                        @if (test.status === 0) {
                          <i style="color: #BDBDBD;" class="fa fa-circle"></i>
                        }
                      </button>
                    </div>
                  </div>
                </div>
              }
              @case ('THUONGXUYEN_TULUAN') {
                <div class="mat-list-option-item-card">
                  <mat-icon class="avatar-mat-list-icon-own-class" mat-list-icon>{{'edit'}}
                  </mat-icon>
                  <div mat-line class="mat-list-option-own-class-item">
                    <div mat-line class="mat-list-option-own-class-title">
                      <div class="title-thaoluan-list-own-class" mat-line>{{test.title}}</div>
                      <div mat-line class="mat-list-option-own-class-info">
                        @if (test['start_date']) {
                          <div mat-line
                            class="mat-list-option-own-class-info-item">
                          {{test['start_date'] | ovicDateTime}} </div>
                        }
                        @if (!test['start_date']) {
                          <div mat-line
                            class="mat-list-option-own-class-info-item">
                          Chưa cài đặt thời gian kiểm tra </div>
                        }
                      </div>
                    </div>
                    <div mat-line class="mat-list-option-own-class-action">
                      <button style="cursor: unset;" container="body" placement="left"
                        [ngbTooltip]="test.status === 1?'Đã kích hoạt bài kiểm tra':'Chưa kích hoạt bài kiểm tra'"
                        mat-list-item>@if (test.status === 1) {
                        <i style="color: #28a745;"
                        class="fa fa-circle"></i>
                      }
                      @if (test.status === 0) {
                        <i style="color: #BDBDBD;" class="fa fa-circle"></i>
                      }
                    </button>
                  </div>
                </div>
              </div>
            }
            @case ('THUONGXUYEN_DUAN') {
              <div class="mat-list-option-item-card">
                <mat-icon class="avatar-mat-list-icon-own-class" mat-list-icon>{{'library_books'}}
                </mat-icon>
                <div mat-line class="mat-list-option-own-class-item">
                  <div mat-line class="mat-list-option-own-class-title">
                    <div class="title-thaoluan-list-own-class" mat-line>
                      {{ test.ordering !== 0 ? test.title:'Tạo nhóm - Phân bổ dự án'}}
                    </div>
                    <div mat-line class="mat-list-option-own-class-info">
                      @if (test['start_date'] && test.ordering !== 0) {
                        <div mat-line
                          class="mat-list-option-own-class-info-item">
                        {{test['start_date'] | ovicDateTime}} </div>
                      }
                      @if (!test['start_date'] && test.ordering !== 0) {
                        <div mat-line
                          class="mat-list-option-own-class-info-item">
                        Chưa cài đặt thời gian kiểm tra </div>
                      }
                    </div>
                  </div>
                  <div mat-line class="mat-list-option-own-class-action">
                    @if (test.ordering !==0) {
                      <button style="cursor: unset;" container="body"
                        placement="left"
                        [ngbTooltip]="test.status === 1?'Đã kích hoạt bài kiểm tra':'Chưa kích hoạt bài kiểm tra'"
                        mat-list-item>@if (test.status === 1) {
                        <i style="color: #28a745;"
                        class="fa fa-circle"></i>
                      }
                      @if (test.status === 0) {
                        <i style="color: #BDBDBD;" class="fa fa-circle"></i>
                      }
                    </button>
                  }
                </div>
              </div>
            </div>
          }
        }
      </div>
    </mat-list-option>
  }
</mat-selection-list>
</div>
</div>
</div>
}



@if (!list_class_plan_activities || !list_class_plan_activities.length) {
<div style="display: flex;
    align-items: center;
    justify-content: center;" class="kiemtra-kynang-layout"
    >
    <button (click)="syncTest()" style="line-height: 1;
    height: 40px;
    width: 300px;
    border-radius: 6px !important;
    font-weight: 500;
    font-size: 16px;" class="btn btn-primary"><i class="fa fa-refresh"></i>{{titleLayout}}</button>
    </div>
  }

  <ng-template #templateListStudentTest>
    <div class="ovic-over-right-section">
      <div class="ovic-over-right-section__head">
        @if (selected_class_plan_activity) {
          <h3 class="ovic-over-right-section__header">
            {{selected_class_plan_activity.ordering === 0 ? "Tạo nhóm - Phân bổ dự án":
            selected_class_plan_activity.title }}
          </h3>
        }
        <button class="btn ovic-over-right-section__close-button" (click)="closeSideMenu()"></button>
      </div>
      <div class="ovic-over-right-section__body"
        style="height: calc(100vh - 58px); padding: 0px; line-height: 1.25; font-size: 14px;">
        @if (selected_class_plan_activity) {
          <div style="height: 100%;"
            >
            @switch (selected_class_plan_activity.type) {
              @case ('THUONGXUYEN_TRACNGHIEM') {
                <div class="content-right" style="padding: 5px;">
                  <!-- <app-thuongxuyen-tracnghiem [classSelected]="classSelected"
                [activity]="selected_class_plan_activity"></app-thuongxuyen-tracnghiem> -->
              </div>
            }
            @case ('THUONGXUYEN_TULUAN') {
              <div class="content-right" style="padding: 5px;">
                <app-thuongxuyen-tuluan [classSelected]="classSelected"
                [activity]="selected_class_plan_activity"></app-thuongxuyen-tuluan>
              </div>
            }
            @case ('THUONGXUYEN_DUAN') {
              <div class="content-right" style="padding: 0px;">
                <!-- <app-thuongxuyen-duan [classSelected]="classSelected"
              [activity]="selected_class_plan_activity"></app-thuongxuyen-duan> -->
              <app-thuongxuyen-duan-group [classSelected]="classSelected"
              [activity]="selected_class_plan_activity"></app-thuongxuyen-duan-group>
            </div>
          }
        }
      </div>
    }
  </div>
</div>
</ng-template>

<ng-template #templateListPlanTest>
  <div class="ovic-over-right-section">
    <div class="ovic-over-right-section__head">
      <h3 class="ovic-over-right-section__header">
        Kế hoạch thực hiện dự án
      </h3>
      <button class="btn ovic-over-right-section__close-button" (click)="closeSideMenu()"></button>
    </div>
    <div #scrollDiv class="ovic-over-right-section__body"
      style="height: calc(100vh - 58px); padding: 0px; line-height: 1.25; font-size: 14px;">
      <div style="width: 100%; height: 100%; background-color: #eee;">
        <div class="_tuluan_plan_top">
          <div class="ovic-vertical__inputs">
            <form [formGroup]="formData">
              <p-panel styleClass="panel-add-plan-tuluan-plan" #panel_add [toggleable]="true"
                [collapsed]="!openForm">
                <ng-template pTemplate="header">
                  <div style="display: flex; align-items: center; width: 100%;">
                    <input formControlName="title" placeholder="Tên đầu việc cần thực hiện"
                      style="flex: 1; margin-right: 10px;" type="text" class="ovic-input-field">
                      @if (!openForm) {
                        <button style="line-height: 1;" class="btn btn-success"
                          (click)="openFormPlan(panel_add,$event) ">
                          <i class="fa fa-plus"></i>
                          Thêm kế hoạch
                        </button>
                      }
                      @if (openForm) {
                        <button (click)="openFormPlan(panel_add,$event)"
                          style="line-height: 1;" class="btn btn-secondary">
                          <i class="fa fa-times"></i>
                          Hủy thao tác
                        </button>
                      }
                    </div>
                  </ng-template>
                  <div class="panel-body-add-plan-tuluan-plan edit-hight-200">
                    <div class="row form-row form-row-flex-row">
                      <div class="col-6">
                        <label for="name">Hạn hoàn thành:<span class="ovic-mark">*</span></label>
                        <p-calendar formControlName="date" [showTime]="true"
                          styleClass="date-picker-custom" [baseZIndex]="1999" appendTo="body"
                        dateFormat="dd/mm/yy"></p-calendar>
                      </div>
                      <div class="col-6">
                        <label for="name">Hình thức nộp bài:<span class="ovic-mark">*</span></label>
                        <ovic-groups-radio-v2 [formField]="f['submit_file']"
                          group_name="submit_type" [columns]="2" [verticalMode]="false"
                          [options]="submit_type" optionLabel="label" optionId="key"
                          [defaultValue]="f['submit_file'].value">
                        </ovic-groups-radio-v2>
                      </div>
                    </div>
                    <div class="row form-row">
                      <div class="col-12">
                        <label for="name">Nội dung:<span class="ovic-mark"></span></label>
                        <app-input-question-direction (ckEditor)="ckEditorSetup($event)"
                          styleClass="vietbaocao-doctument-content" [abstractControl]="f['desc']">
                        </app-input-question-direction>
                      </div>
                    </div>
                    <div class="row form-row">
                      <div style="text-align: right;" class="col-12">
                        <button style="line-height: 1;" (click)="savePlanDuan()"
                          class="btn btn-primary">
                          <i class="fa fa-floppy-o"></i>
                          Lưu lại
                        </button>
                      </div>
                    </div>
                  </div>
                </p-panel>
              </form>
            </div>
          </div>
          <div class="_tuluan_plan_bottom" style="padding: 5px;">
            <p-table [value]="list_tuluan_plan" dataKey="id" styleClass="table-reBorder">
              <ng-template pTemplate="header">
                <tr>
                  <th style="width: 3rem; text-align: center;">#</th>
                  <th>Tên đầu việc</th>
                  <th style="text-align: center; width: 150px;">Hạn hoàn thành</th>
                  <th style="text-align: center; width: 150px;">Thao tác</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-planT let-expanded="expanded" let-rowIndex="rowIndex">
                <tr>
                  <td style="text-align: center;">
                    {{rowIndex + 1}}

                  </td>
                  <td>{{planT.title}}</td>
                  <td style="text-align: center; width: 150px;">
                    {{planT.date | date : 'dd/MM/yyyy' : 'UTC+7'}}
                  </td>
                  <td style="text-align: center;">
                    <p-button pTooltip="Xem nội dung" tooltipPosition="left" [pRowToggler]="planT"
                      icon="pi pi-eye">
                    </p-button>
                    <button (click)="editPlanDuan(planT)" pTooltip="Sửa" tooltipPosition="left"
                      style="margin-left: 5px;" pButton pRipple type="button" icon="pi pi-file-edit"
                      class="p-button-success">
                    </button>
                    <button (click)="deletePlanDuan(planT)" pTooltip="Xóa" tooltipPosition="left"
                      style="margin-left: 5px;" pButton pRipple type="button" icon="pi pi-trash"
                      class="p-button-danger">
                    </button>
                  </td>
                </tr>
              </ng-template>
              <ng-template pTemplate="rowexpansion" let-planT>
                <tr style="background-color: #fff!important;">
                  <td colspan="4">
                    @if (planT.desc) {
                      <div [appKatexImg]="planT.id" [appLoadMediaOnText]="planT.id"
                        style="border:none"
                        class="ck ck-content ck-editor__editable ck-rounded-corners ck-editor__editable_inline ck-blurred"
                        [innerHTML]="planT.desc | safeHtml">
                      </div>
                    }
                  </td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </div>
      </div>
    </div>
  </ng-template>