<div class="ovic-data-picker">
  <button type="button" class="ovic-btn-picker" (click)="openPicker(pickerTemplateRef)">
    <span class="ovic-dtpk-result">{{placeholder}}</span>
  </button>
</div>

<ng-template #pickerTemplateRef let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-title">{{fomrTitle}}</h4>
    <button type="button" class="close" aria-describedby="modal-title" (click)="closeForm()">
      <span >&times;</span>
    </button>
  </div>
  <div class="modal-body ovic-modal-body">
    <p-table #tbl [value]="options" [paginator]="true" [rows]="5" [responsive]="true" [rowHover]="true" styleClass="ovic-data-picker-tbl {{styleClass}}" [globalFilterFields]="filters">
      @if (enableSearch) {
        <ng-template pTemplate="caption">
          <div class="ovic-data-picker-wrap-main-caption">
            @if (groups.length>1) {
              <ul class="list-change">
                @for (tab of groups ; track tab; let i = $index) {
                  <li class="elm-tab" [ngClass]="{active : tabActive === tab.slug }" (click)="changeTabActive(tab.slug)">
                    <span>Chọn {{tab.title}}</span></li>
                  }
                </ul>
              }
              @if (groups.length<=1) {
                <h3 class="ovic-f-title">{{fomrTitle}}</h3>
              }
              <input type="text" pInputText size="50" placeholder="Tìm kiếm" (input)="tbl.filterGlobal($event.target['value'], 'contains')">
            </div>
          </ng-template>
        }
        <ng-template pTemplate="header">
          <tr>
            <th style="padding: 0; text-align: center; width: 30px;">TT</th>
            @for (col of columns; track col) {
              <th [style.width]="col.width" class="{{col.classes}}">
                {{col.header}}
              </th>
            }
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-option let-rowIndex="rowIndex">
          <tr (click)="clickOnRow(option[fieldId])" class="ovic-data-picker-row" [ngClass]="{selected : option.selected}">
            <td style="padding: 0; text-align: center; width: 30px;">{{rowIndex + 1 }}</td>
            @for (col of columns; track col) {
              <td [style.width]="col.width" class="{{col.classes}}">
                @if (col.field.length==1) {
                  <span>
                    @if (col.dataType==='text') {
                      {{option[ col.field[ 0 ] ]}}
                    }
                    @if (col.dataType==='reference') {
                      {{ dataRef[ col.data ] ? dataRef[ col.data ][ option[ col.field[ 0 ] ] ] : '' }}
                    }
                  </span>
                }
                @if (col.field.length>1) {
                  <span>
                    @for (elm of col.field; track elm; let i = $index) {
                      {{ i > 0 ? col.separator : '' }} {{option[ elm ]}}
                    }
                  </span>
                }
              </td>
            }
          </tr>
        </ng-template>
      </p-table>

      @for (list of groups ; track list; let i = $index) {
        <hr class="mt-4 mb-4">
        <div class="ovic-data-picker-tbl ui-table ui-widget ui-table-responsive" [ngClass]="{ 'tbl-active' : list.slug === tabActive }">
          <div class="ui-table-caption ui-widget-header">
            <div class="ovic-data-picker-wrap-caption">
              <h3 class="tbl-title">{{list.title}}</h3>
            </div>
          </div>
          <div class="ui-table-wrapper">
            <table role="grid">
              <thead class="ui-table-thead">
                <tr>
                  <th style="padding: 0; text-align: center; width: 30px;"></th>
                  @for (col of columns; track col) {
                    <th [style.width]="col.width" class="{{col.classes}}">
                      {{col.header}}
                    </th>
                  }
                </tr>
              </thead>
              <tbody class="ui-table-tbody">
                @for (d of listResult[list.slug] ; track d; let idx = $index) {
                  <tr>
                    <td style="padding: 0; text-align: center; width: 30px;">
                      <button class="btn-remove" (click)="removeElementFrom( list.slug , idx )">
                        <i class="fa fa-minus-circle" ></i>
                      </button>
                    </td>
                    @if (d[fieldId] === 0) {
                      <td [attr.colspan]="columns.length"><span>{{d[ 'name' ]}}</span></td>
                    }
                    @if (d[fieldId] !== 0) {
                      @for (col of columns; track col) {
                        <td [style.width]="col.width" class="{{col.classes}}">
                          @if (col.field.length==1) {
                            <span>
                              @if (col.dataType==='text') {
                                {{d[ col.field[ 0 ] ]}}
                              }
                              @if (col.dataType==='reference') {
                                {{ dataRef[ col.data ] ? dataRef[ col.data ][ d[ col.field[ 0 ] ] ] : '' }}
                              }
                            </span>
                          }
                          @if (col.field.length>1) {
                            <span>
                              @for (elm of col.field; track elm; let i = $index) {
                                {{ i > 0 ? col.separator : '' }} {{options[ elm ]}}
                              }
                            </span>
                          }
                        </td>
                      }
                    }
                  </tr>
                }
                @if (!list.acceptAddedOutOfList && listResult[list.slug] && listResult[list.slug].length < list.limit) {
                  <tr>
                    <td style="padding: 0; text-align: center; width: 30px;">
                      <button class="btn-added" (click)="addCustomElementToList( list.slug , inputRef)">
                        <i class="fa fa-plus-circle" ></i></button>
                      </td>
                      <td [attr.colspan]="columns.length">
                        <input type="text" name="dbc" class="input-text-field" #inputRef placeholder="{{list.inputPlaceholder}}" (keydown.enter)="addCustomElementToList( list.slug , inputRef)">
                      </td>
                    </tr>
                  }
                </tbody>
              </table>
            </div>
          </div>
        }
        <div class="clearfix w-100 mt-4"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="process()">
          <i class="fa fa-floppy-o" ></i>Lưu lại
        </button>
        <button type="button" class="btn btn-cancel" (click)="closeForm()">
          <i class="fa fa-ban" ></i>Hủy thao tác
        </button>
      </div>
    </ng-template>
