<div class="layout_component_container">
    <div class="layout_component_container-top">
        <div class="container-top-left">

            <ovic-dropdown class="set-widh-dropdown" [showClear]="false"
                           [defaultValue]="objectFilter?objectFilter['donvi_id']: null"
                           (onChange)="onChangeFilter($event,'donvi_id')"
                           [filter]="true" [placeholder]="'---Chọn Khoa ---'" [options]="listDonvi"
                           optionId="id"
                           optionLabel="title" filterBy="title">
            </ovic-dropdown>

            <ovic-dropdown class="ovic-w-150px" [showClear]="false"
                           [defaultValue]="objectFilter?objectFilter['namhoc']: null"
                           style="margin-left: 5px;" (onChange)="onChangeFilter($event, 'namhoc')"
                           placeholder="- Năm học -"
                           [options]="listNamhoc" optionId="value" optionLabel="label" [filter]="true">
            </ovic-dropdown>
            <ovic-dropdown class="ovic-w-150px" [showClear]="false"
                           [defaultValue]="objectFilter?objectFilter['hocky']: null"
                           style="margin-left: 5px;" (onChange)="onChangeFilter($event, 'hocky' )"
                           [options]="listHocky"
                           placeholder="- Học kỳ -" optionId="value" optionLabel="label" [filter]="true">
            </ovic-dropdown>


            <ovic-dropdown class="ovic-w-180px" [showClear]="false" style="margin-left: 5px;"
                           [defaultValue]="objectFilter?objectFilter['hinhthuc']: null"
                           (onChange)="onChangeFilter($event,'hinhthuc')"
                           [filter]="true" [placeholder]="'--- Hình thức xem ---'" [options]="listSelectView"
                           optionId="value"
                           optionLabel="label" filterBy="label">
            </ovic-dropdown>


            <button pButton pRipple icon="pi pi-file-excel" class="p-button-success ml-2" label="Xuất dữ liệu" (click)="btnExport()"></button>

        </div>
        <div class="container-top-right">
            <button pRipple pButton class=" select-height-42px"
                    [class]="changePecent ===0 ? 'p-button-primary' : 'ovic-button-none-selected'"
                    icon="pi pi-sort-numeric-up-alt" (click)="selectChangeTb(0)"></button>
            <button pRipple pButton class=" select-height-42px"
                    [class]="changePecent ===1 ? 'p-button-primary' : 'ovic-button-none-selected'"
                    icon="pi pi-percentage" (click)="selectChangeTb(1)"></button>
        </div>
    </div>
    <div class="layout_component_container-bottom">
        <div class="chart-head" *ngIf="listCourse.length>0">
            <div class=""> Tổng số môn học: <span class="total course">{{ getTotalBylist(this.listCourse, 'course') }}</span> | Tổng số
                lớp học phần: <span class="total class">{{ getTotalBylist(this.listCourse, '_total_classes') }}</span> | Tổng số sinh
                viên: <span class="total student">{{ getTotalBylist(this.listCourse, '_total_students') }}</span> | Tổng số ca
                thi: <span class="total shift">{{ getTotalBylist(listCourse, '_total_shift') }}</span>
            </div>
        </div>
        <ng-container *ngIf="objectFilter['hinhthuc'] == 'mon' else selectLophocphan">
            <div class="container-bottom-right">

                <!--            <div class="page-layout-set">-->
                <!--                <p-paginator #paginator (onPageChange)="changePage($event)" [rows]="limitCourse"-->
                <!--                             [totalRecords]="totalCourse"></p-paginator>-->
                <!--            </div>-->
                <ng-container [ngSwitch]="typeView">
                    <ng-container *ngSwitchCase="'error'">
                        <div class="d-flex w-100 h-100 justify-content-center align-items-center">
                            <div class="div-err">
                                <p>Mất kết nối với máy chủ, vui lòng chọn <strong>Tải lại</strong></p>
                                <button pButton pRipple class="p-button-warning" label="Tải lại"
                                        (click)="reload()"></button>
                            </div>
                        </div>
                    </ng-container>
                    <ng-container *ngSwitchCase="'loading'">
                        <div class="d-flex w-100 h-100 justify-content-center align-items-center">
                            <i style="font-size:25px;" class="pi pi-sync pi-spin"></i>
                        </div>
                    </ng-container>
                    <ng-container *ngSwitchCase="'start'">
                        <div class="d-flex w-100 h-100 justify-content-center align-items-center">
                            <div class="div-err">
                                Vui lòng chọn môn học
                            </div>
                        </div>
                    </ng-container>
                    <ng-container *ngSwitchCase="'checked'">
                        <ng-container *ngIf="listData.length > 0, else notData">
<!--                            <div class="chart-head">-->
<!--                                <div class=""> Tổng số môn học: <span class="total course">{{ getTotalBylist(this.listData, 'course') }}</span> | Tổng số-->
<!--                                    lớp học phần: <span class="total class">{{ getTotalBylist(this.listData, '_total_classes') }}</span> | Tổng số sinh-->
<!--                                    viên: <span class="total student">{{ getTotalBylist(this.listData, '_total_students') }}</span> | Tổng số ca-->
<!--                                    thi: <span class="total shift">{{ getTotalBylist(listData, '_total_shift') }}</span>-->
<!--                                </div>-->
<!--                            </div>-->
                            <div class="chart-list">
                                <div class="chart-item -intro-x" *ngFor="let item of listData">
                                    <div
                                        class="title">{{ objectFilter['hinhthuc'] == 'lophocphan' ? item['name'] : item['title'] + ' [' + item['maso'] + ']' }}
                                    </div>
                                    <div class="chart">
                                        <p-chart type="line" [height]="'300px'"
                                                 [data]="changePecent== 0 ? item['_dataChart'] : item['_dataChartByPecent']"
                                                 [options]="optionChart"></p-chart>

                                    </div>
                                </div>
                            </div>

                        </ng-container>
                        <ng-template #notData>
                            <div class="d-flex w-100 h-100 justify-content-center align-items-center">
                                <div class="div-err">
                                    Không có dữ liệu
                                </div>
                            </div>
                        </ng-template>

                    </ng-container>
                </ng-container>
            </div>
        </ng-container>
        <ng-template #selectLophocphan>




            <div style="height:1%; flex: 1 1 auto;overflow: hidden;">
                <p-splitter [panelSizes]="[20, 80]" styleClass="m-0 p-0 border-0 h-100" class="w-100 ">
                    <ng-template pTemplate *ngIf="objectFilter['hinhthuc'] == 'lophocphan'">
                        <div class="container-bottom-left" *ngIf="objectFilter['hinhthuc'] == 'lophocphan'">
                            <div class="head">
                                Danh sách môn học
                            </div>
                            <div class="body">
                                <div *ngIf=" listCourse.length > 0 else notCourses" class="course-list">
                                    <div class="course-item"
                                         [ngClass]=" objectFilter['course_id'] == item.id ? 'active': '' "
                                         *ngFor="let item of listCourse " (click)="selecCourse(item)">
                                        <div class="course-item_title">{{ item.title + ' [' + item.maso + ']' }}</div>
                                    </div>

                                </div>
                                <ng-template #notCourses>
                                    <div class="w-100 h-100 d-flex justify-content-center align-items-center">
                                        <div class="div-err">
                                            Chưa có khoa nào được chọn
                                        </div>
                                    </div>
                                </ng-template>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template pTemplate>
                        <div class="container-bottom-right">

                            <!--            <div class="page-layout-set">-->
                            <!--                <p-paginator #paginator (onPageChange)="changePage($event)" [rows]="limitCourse"-->
                            <!--                             [totalRecords]="totalCourse"></p-paginator>-->
                            <!--            </div>-->
                            <ng-container [ngSwitch]="typeView">
                                <ng-container *ngSwitchCase="'error'">
                                    <div class="d-flex w-100 h-100 justify-content-center align-items-center">
                                        <div class="div-err">
                                            <p>Mất kết nối với máy chủ, vui lòng chọn <strong>Tải lại</strong></p>
                                            <button pButton pRipple class="p-button-warning" label="Tải lại"
                                                    (click)="reload()"></button>
                                        </div>
                                    </div>
                                </ng-container>
                                <ng-container *ngSwitchCase="'loading'">
                                    <div class="d-flex w-100 h-100 justify-content-center align-items-center">
                                        <i style="font-size:25px;" class="pi pi-sync pi-spin"></i>
                                    </div>
                                </ng-container>
                                <ng-container *ngSwitchCase="'start'">
                                    <div class="d-flex w-100 h-100 justify-content-center align-items-center">
                                        <div class="div-err">
                                            Vui lòng chọn môn học
                                        </div>
                                    </div>
                                </ng-container>
                                <ng-container *ngSwitchCase="'checked'">
                                    <ng-container *ngIf="listData.length > 0, else notData">

                                        <div class="chart-list">
                                            <div class="chart-item -intro-x" *ngFor="let item of listData">
                                                <div
                                                    class="title">{{ objectFilter['hinhthuc'] == 'lophocphan' ? item['name'] : item['title'] + ' [' + item['maso'] + ']' }}
                                                </div>
                                                <div class="chart">
                                                    <p-chart type="line" [height]="'300px'"
                                                             [data]="changePecent== 0 ? item['_dataChart'] : item['_dataChartByPecent']"
                                                             [options]="optionChart"></p-chart>

                                                </div>
                                            </div>
                                        </div>

                                    </ng-container>
                                    <ng-template #notData>
                                        <div class="d-flex w-100 h-100 justify-content-center align-items-center">
                                            <div class="div-err">
                                                Không có dữ liệu
                                            </div>
                                        </div>
                                    </ng-template>

                                </ng-container>
                            </ng-container>
                        </div>
                    </ng-template>
                </p-splitter>
            </div>
        </ng-template>


    </div>
</div>
