<div class="diemdanh-container">
  <div class="diemdanh-l">
    <div class="diemdanh-l_head">
      <div> Thời khóa biểu </div>
      <!--            <div>-->
      <!--                <button pButton pRipple icon="pi pi-plus" (click)="create()" ></button>-->
    <!--            </div>-->
  </div>
  <div class="diemdanh-l_body">
    @switch (ngType) {
      @case (0) {
        <div class="diemdanh_loading">
          <i class="pi pi-sync pi-spin" style="font-size: 20px"></i>
        </div>
      }
      @case (-1) {
        <div class="diemdanh-error">
          <i class="pi pi-exclamation-triangle" style="font-size: 50px;color: #ff0606;"></i>
          <div>
            <p class="m-0">Mất kết nối với máy chủ vui lòng <strong>Tải lại</strong></p>
            <button pButton pRipple (click)="initLoad()">Tải lại
            </button>
          </div>
        </div>
      }
      @case (1) {
        @if (listCalendar && listCalendar.length>0) {
          <div class="dayList">
            @for ( item of listCalendar ; track  item) {
              <div class="day-item"
                [ngClass]="itemCalendar && itemCalendar.id === item.id ? 'active':''"
                (click)="btnSelectItemView(item)">
                <div class="title" >
                  <p>Tuần {{item['tuan']}}: {{item['__ngay']}}</p>
                  <span>Tiết: {{item['tiet']}}</span>
                </div>
                <!--                            <div class="">-->
                <!--                                <button [matMenuTriggerFor]="menu" class="btn btn-icon btn-success">-->
                <!--                                    <i class="fa fa-ellipsis-h"></i>-->
              <!--                                </button>-->
              <!--                                <mat-menu #menu="matMenu">-->
              <!--                                    <button (click)="update(item)" mat-menu-item>-->
              <!--                                        <span>Cập nhật</span>-->
            <!--                                    </button>-->
            <!--                                    <button (click)="delete(item)" mat-menu-item >-->
            <!--                                        <span>Xóa</span>-->
          <!--                                    </button>-->
        <!--                                </mat-menu>-->
      <!--                            </div>-->
    </div>
  }
</div>
} @else {
  <div class="d-flex justify-content-center align-items-center h-100">
    Chưa có danh sách lịch giảng dạy
  </div>
}
}
}
</div>

</div>
<div class="diemdanh-r">
  @if (itemCalendar) {
    <app-diemdanh-sinhvien [mocDiemdanh]="itemCalendar" ></app-diemdanh-sinhvien>
  } @else {
    <div class="d-flex justify-content-center align-items-center w-100 h-100">
      Vui lòng chọn lịch điểm danh.
    </div>
  }
</div>
</div>


