@if (!freeze) {
  <p-dropdown [options]="options" optionLabel="{{optionLabel}}" (onChange)="onChangeHandle($event)"
    placeholder="{{placeholder}}" [showClear]="showClear" [filter]="filter" [filterBy]="filterBy"
    [filterPlaceholder]="filterPlaceholder" [filterMatchMode]="filterMatchMode" styleClass="{{wrapClass}}"
    emptyFilterMessage="{{emptyFilterMessage}}" panelStyleClass="ovic-input-line-dropdown-panel" [(ngModel)]="value"
  [disabled]="disabled" appendTo="body" [scrollHeight]="scrollHeight"></p-dropdown>
}

@if (freeze) {
  <p class="ovic-answer__selector">
    @if (value && optionLabel) {
      <span>{{value[optionLabel]}}</span>
    }
    @if (!value) {
      <span>No answer</span>
    }
  </p>
}