<div class="layout_component_container">
    @switch (keyImport) {
        @default {
            <div class="import-content row">
                @for (item of list_import_function; track item.key) {
                    <div class="col-4 item-card-import">
                        <div class="card-import">
                            <a [routerLink]="[]" [queryParams]="{code: item.key}" class="card-import-desc">
                                <span [innerHTML]="item['icon']"></span>
                                <span style="width:150px;text-align:center;">
                                    {{item['label']}}
                                </span>
                            </a>
                        </div>
                    </div>
                }
            </div>
        }
        @case ('mon-hoc') {
            <app-import-monhoc></app-import-monhoc>
        }
        @case ('sinh-vien') {
            <app-import-sinhvien-hvu></app-import-sinhvien-hvu>
        }
        @case ('giang-vien') {
            <app-import-giangvien></app-import-giangvien>
        }
        @case ('lop-hoc') {
            <app-import-lophoc></app-import-lophoc>
        }
        @case ('sinh-vien-lop-hoc') {
            <app-import-sinhvien-lophoc></app-import-sinhvien-lophoc>
        }
        @case ('lich-hoc') {
            <app-import-lichhoc></app-import-lichhoc>
        }
    }
</div>