<div class="layout_component_container">
    <div style="width: 100%; height: 100%;" [ngSwitch]="keyImport">
        <div class="import-content row" *ngSwitchDefault>
            <div *ngFor="let item of list_import_function" class="col-4 item-card-import">
                <div class="card-import">
                    <a [routerLink]="[]" [queryParams]="{code: item.key}" class="card-import-desc">
                        <span [innerHTML]="item['icon']"></span>
                        <span style="width:150px;text-align:center;">
                            {{item['label']}}
                        </span>
                    </a>
                </div>
            </div>
        </div>
        <app-import-monhoc *ngSwitchCase="'mon-hoc'"></app-import-monhoc>
        <app-import-sinhvien-hvu *ngSwitchCase="'sinh-vien'"></app-import-sinhvien-hvu>
        <app-import-giangvien *ngSwitchCase="'giang-vien'"></app-import-giangvien>
        <app-import-lophoc *ngSwitchCase="'lop-hoc'"></app-import-lophoc>
        <app-import-sinhvien-lophoc *ngSwitchCase="'sinh-vien-lop-hoc'"></app-import-sinhvien-lophoc>
        <app-import-lichhoc *ngSwitchCase="'lich-hoc'"></app-import-lichhoc>
    </div>
</div>