<div class="noidung-giangday-layout">
  <div class="noidung-giangday-layout-left">
    <div class="menu-list-lessonv2">
      <div class="info-course">
        <div class="info-course-content">
          <div class="info-course-item">
            <label>- Tên môn:</label>
            <span>{{classSelected.course_detail?classSelected.course_detail.title:null}}</span>
          </div>
          <div class="info-course-item">
            <label>- Mã môn:</label>
            <span>{{classSelected.course_detail?classSelected.course_detail.maso:null}}</span>
          </div>
          <div class="info-course-item">
            <label>- Khoa quản lý:</label>
            <span>{{classSelected.course_detail?classSelected.course_detail['khoa_label']:null}}</span>
          </div>
          <div class="info-course-item">
            <label>- Số tín chỉ:</label>
            @if (classSelected.course_detail && classSelected.course_detail.params && classSelected.course_detail.params.sotinchi) {
              <span
              >{{classSelected.course_detail.params.sotinchi}}</span>
            }
          </div>
          <div class="info-course-item">
            <label>- Hình thức thi:</label>
            @if (classSelected.course_detail && classSelected.course_detail.params && classSelected.course_detail.params.exam_format) {
              <span
                >{{classSelected.course_detail.params.exam_format
              | showlabel : EXAMFORMAT : 'key'}}</span>
            }
          </div>
          <div class="info-course-item">
            <label>- Yêu cầu CDR:</label>
            @if (classSelected.course_detail && classSelected.course_detail.params && classSelected.course_detail.params.cdr) {
              <span
                >{{classSelected.course_detail.params.cdr
              | showlabel : CHUAN_DAU_RA }}</span>
            }
          </div>
          <div class="info-course-item">
            <label>- Giảng viên phụ trách:</label>
            @if (classSelected.course_detail && classSelected.course_detail['user_label']) {
              <span
              >{{classSelected.course_detail['user_label']}}</span>
            }
          </div>
        </div>
      </div>
      @for (parent of list_class_plan_activities; track parent) {
        <div class="parent-lesson-layout">
          <div class="parent-name {{parent['isSync'] === false?'plan-not-sync':''}} {{!parent['children'] || !parent['children'].length?'no-border-bottom':''}}"
            [ngClass]="selectedPlanActivity && parent.id === selectedPlanActivity.id ?'activity':''">
            <!-- <span *ngIf="kd_hoidong" class="action-check-box">
            <mat-checkbox (change)="checkPlanActivity(parent)"
            [(ngModel)]="parent['checked']"></mat-checkbox>
          </span> -->
          <div class="parent-name-layout">
            @if (parent.week > 0 && parent.week< 1000) {
              <span class="parent-title">{{label_parent_kehoach}}
              {{parent.week}}</span>
            }
            @if (parent.week === 0 || parent.week === 1000 ) {
              <span
              class="parent-title">{{parent.title}}</span>
            }
            @if (parent.week > 0 && parent.week < 1000 && parent['isSync'] === true) {
              <span
                style="font-size:14px; font-weight:normal; margin-left: 5px;">
                @if (!parent.teaching_day) {
                  <span>({{parent.date_start_of_week | ovicDate}} -
                  {{parent.date_end_of_week | ovicDate}})</span>
                }
                @if (parent.teaching_day) {
                  <span>({{parent.teaching_day | ovicDate}})</span>
                }
              </span>
            }
          </div>
          <div class="action-menu">
            <span class="parent-title" [ngClass]="parent.isSync?'synced-plan':'not-synced'">
              {{parent.isSync?'':'(Chưa đồng bộ)'}}
            </span>
            <div>
              @switch (parent['canSync']) {
                @case (false) {
                  <span container="body" placement="top" ngbTooltip="Chờ duyệt"
                    class="action-icon status-is-deactive">
                    <i style="margin-left: 5px;" class="fa fa-circle-o"></i>
                  </span>
                }
                @case (true) {
                  <span container="body" placement="top" ngbTooltip="Đạt"
                    class="action-icon status-is-active">
                    <i style="margin-left: 5px;" class="fa fa-check-circle-o"></i>
                  </span>
                }
              }
            </div>
            @if (parent['canSync'] === true) {
              <span (click)="syncPLanActivity(parent)" container="body"
                placement="top" ngbTooltip="Đồng bộ dữ liệu" class="action-icon status-is-active">
                <i style="margin-left: 5px;" class="fa fa-refresh"></i>
              </span>
            }
          </div>
        </div>
        @if (parent['desc']) {
          <div class="parent-desc" style="padding: 5px;">
            <div class="parent-desc-content" style="padding: 10px; font-size: 14px;"
              [innerHtml]="parent['desc'] | safeHtmlDecode">
            </div>
          </div>
        }
        @for (children of parent['children']; track children; let index = $index) {
          <div [ngClass]="selectedPlanActivity && children.id === selectedPlanActivity.id?'activity':''"
            class="child-lesson-layout">
            <div (click)="onChangePlan(children)" class="child-lesson-layout-title">
              <i class="{{children['icon']}}"></i>
              <span style="margin-left: 10px;" class="child-title">{{children.title}}</span>
              @if ((children.type === 'THUONGXUYEN_TRACNGHIEM' || children.type === 'THUONGXUYEN_TULUAN') && children.start_date) {
                <span
                  style="margin-left: 10px;">
                  ({{children.start_date | ovicDateTime}})
                </span>
              }
            </div>
            <div class="action-menu">
              @if (children.files && children.files.length) {
                <span class="action-icon">
                  <i style="color: #007bff;" class="fa fa-paperclip"></i>
                </span>
              }
              @if (children.zoom_meet && children.type ==='MEET') {
                <span class="action-icon">
                  <a target="_blank" [href]="children.zoom_meet"><i style="color: #007bff;"
                  class="fa fa-external-link"></i></a>
                </span>
              }
              @if (children.type === 'THUONGXUYEN_TRACNGHIEM' || children.type === 'THUONGXUYEN_TULUAN') {
                <span
                  class="action-icon">
                  @if (children.status === 1) {
                    <i style="color: #28a745;" class="fa fa-circle"></i>
                  }
                  @if (children.status === 0) {
                    <i style="color: #BDBDBD;" class="fa fa-circle"></i>
                  }
                </span>
              }
            </div>
          </div>
        }
        <!-- <div class="child-lesson-layout" *ngIf="!parent['children'] || !parent['children'].length">
        <div style="justify-content: center; height: 100%; cursor:default;"
        class="child-lesson-layout-title">Chưa đồng bộ, không có nội dung</div>
      </div> -->
    </div>
  }
</div>
</div>
<div class="noidung-giangday-layout-right">
  @if (selectedPlanActivity) {
    <div class="lesson-content-right-layout " style="height: 100%; ">
      <container-element>
        @switch (selectedPlanActivity['type']) {
          @case ('PLAN') {
            <div class="content-right">
              <!-- <p-panel [header]="selectedPlanActivity.title" styleClass="panel-plan-activity no-border-top-panel">
              <div class="ovic-vertical__inputs back-ground-info" style="line-height: 1.5;">
                <div class="row form-row ">
                  <div class="col-12">
                    <div id="editor" class="document-editor__editable"
                      [innerHtml]="selectedPlanActivity['desc'] | safeHtml">
                    </div>
                  </div>
                </div>
              </div>
            </p-panel> -->
          </div>
        }
        @case ('GIOITHIEU') {
          <div class="content-right">
            <ng-container [ngTemplateOutlet]="templateGioiThieu"
              [ngTemplateOutletContext]="{ activity: selectedPlanActivity}">
            </ng-container>
          </div>
        }
        @case ('MUCTIEU') {
          <div class="content-right">
            <p-panel [header]="selectedPlanActivity.title" styleClass="panel-plan-activity no-border-top-panel">
              <div class="ovic-vertical__inputs back-ground-info" style="line-height: 1.5;">
                <div class="row form-row ">
                  <div class="col-12">
                    <div id="editor" class="document-editor__editable">
                      <div class="ck ck-editor__main" role="presentation">
                        <div style="border:none"
                          class="ck ck-content ck-editor__editable ck-rounded-corners ck-editor__editable_inline ck-blurred"
                          [innerHtml]="selectedPlanActivity['desc'] | safeHtml">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </p-panel>
          </div>
        }
        <!-- <div class="content-right no-padding" *ngSwitchCase="'TESTING_TULUAN'">
        <ng-container [ngTemplateOutlet]="templateTailieuGiangday"
          [ngTemplateOutletContext]="{ activity: selectedPlanActivity}">
        </ng-container>
      </div> -->
      @case ('TESTING_TULUAN') {
        <div class="content-right no-padding layout_component_container-noidung form-info-test-and-questsion"
          >
          <ng-container [ngTemplateOutlet]="templateBaitap"
            [ngTemplateOutletContext]="{ activity: selectedPlanActivity}">
          </ng-container>
        </div>
      }
      @case ('TESTING_TRACNGHIEM') {
        <div class="content-right no-padding" style="height: 100%;">
          <!-- <app-baitap-chuyende [activityTest]="selectedPlanActivity"
        [classSelected]="classSelected"></app-baitap-chuyende> -->
      </div>
    }
    @case ('ACTIVITY') {
      <div class="content-right">
        <ng-container [ngTemplateOutlet]="templateTailieuGiangday"
          [ngTemplateOutletContext]="{ activity: selectedPlanActivity}">
        </ng-container>
      </div>
    }
    @case ('CDR') {
      <div class="content-right">
        <ng-container [ngTemplateOutlet]="templateCdr"
          [ngTemplateOutletContext]="{ activity: selectedPlanActivity}">
        </ng-container>
      </div>
    }
    @case ('THUONGXUYEN_TRACNGHIEM') {
      <div class="content-right" style="padding: 5px;">
        <!-- <app-thuongxuyen-tracnghiem [classSelected]="classSelected"
      [activity]="selectedPlanActivity"></app-thuongxuyen-tracnghiem> -->
    </div>
  }
  @case ('THUONGXUYEN_TULUAN') {
    <div class="content-right" style="padding: 5px;">
      <app-thuongxuyen-tuluan [classSelected]="classSelected"
      [activity]="selectedPlanActivity"></app-thuongxuyen-tuluan>
    </div>
  }
  @case ('MEET') {
    <div class="content-right no-padding">
      <div class="ovic-vertical__inputs"
        style="height:calc(100% - 41px); border-bottom:1px solid #c8c8c8; overflow:auto;padding: 15px;">
        <form [formGroup]="formClassActivity" class="formKhoaHoc">
          <div class="row form-row form-row-flex-row">
            <div class="col-6 flex-div">
              <label for="video">Nhập link Zoom hoặc Google meet:<span
              class="ovic-mark">*</span></label>
              <input type="text" formControlName="zoom_meet" class="ovic-input-field">
            </div>
            <div class="col-6 flex-div">
              <label>Nhập thời gian bắt đầu:<span class="ovic-mark">*</span></label>
              <ovic-date-picker [defaultValue]="fca['exprided_date'].value" [showTime]="true"
                dateFormat="dd/mm/yy" [monthNavigator]="true" [yearNavigator]="true"
                [formField]="fca['exprided_date']">
              </ovic-date-picker>
            </div>
          </div>
        </form>
      </div>
      <div style="padding:5px;text-align: right">
        <button (click)="saveClassPlanActivity()" class="btn btn-primary"><i
        class="fa fa-floppy-o"></i>Lưu
      lại</button>
    </div>
  </div>
}
}
</container-element>
</div>
}
</div>
</div>

<ng-template #templateGioiThieu let-activity="activity">
  <p-panel [header]="activity.title" styleClass="panel-plan-activity no-border-top-panel">
    <div class="ovic-vertical__inputs back-ground-info" style="line-height: 1.5;">
      <div class="row form-row ">
        <div class="col-12">
          <div id="editor" class="document-editor__editable">
            <div class="ck ck-editor__main" role="presentation">
              <div style="border:none"
                class="ck ck-content ck-editor__editable ck-rounded-corners ck-editor__editable_inline ck-blurred"
                [innerHtml]="activity['desc'] | safeHtml">
              </div>
            </div>
          </div>
        </div>
      </div>
      @if (activity['files']) {
        <div class="row form-row form-row-flex-row">
          <div class="col-12 flex-div">
            <div class="files-list-view">
              @for (file of activity['files']; track file; let i = $index) {
                <div class="single-file" (click)="onSelectFileReview(file)"
                  >
                  <i class="icon-in-open-download-file" [ngClass]="file | ovicFileIcon"
                  ></i>
                  <div class="info">
                    <h4 class="name">{{file.title}}</h4>
                    <p class="size">{{file['file_size']}}</p>
                  </div>
                </div>
              }
            </div>
          </div>
        </div>
      }
    </div>
  </p-panel>
</ng-template>

<ng-template #templateTailieuGiangday let-activity="activity">
  <p-panel [header]="activity.title" styleClass="panel-plan-activity  no-border-top-panel">
    <div class="ovic-vertical__inputs back-ground-info" style="line-height: 1.5;">
      @if (activity['files']) {
        <div class="row form-row form-row-flex-row">
          <div class="col-12 flex-div">
            <div class="files-list-view">
              @for (file of activity['files']; track file; let i = $index) {
                <div class="single-file" (click)="onSelectFileReview(file)"
                  >
                  <i class="icon-in-open-download-file" [ngClass]="file | ovicFileIcon"
                  ></i>
                  <div class="info">
                    <h4 class="name">{{file.title}}</h4>
                    <p class="size">{{file['file_size']}}</p>
                  </div>
                </div>
              }
            </div>
          </div>
        </div>
      }

      @if (activity['slides']) {
        <div class="row form-row form-row-flex-row">
          <div class="col-12 flex-div">
            <div class="files-list-view">
              @for (slide of activity['slides']; track slide; let i = $index) {
                <div class="single-file" (click)="onSelectFileReview(slide)"
                  >
                  <i class="icon-in-open-download-file" [ngClass]="slide | ovicFileIcon"
                  ></i>
                  <div class="info">
                    <h4 class="name">{{slide.title}}</h4>
                    <p class="size">{{slide['file_size']}}</p>
                  </div>
                </div>
              }
            </div>
          </div>
        </div>
      }



      @if (activity['desc']) {
        <div class="row form-row">
          <div class="col-12">
            <div id="editor" class="document-editor__editable">
              <div class="ck ck-editor__main" role="presentation">
                <div style="border:none"
                  class="ck ck-content ck-editor__editable ck-rounded-corners ck-editor__editable_inline ck-blurred"
                  [innerHtml]="activity['desc'] | safeHtml">
                </div>
              </div>
            </div>
          </div>
        </div>
      }

      @if (activity['video']) {
        <div class="row form-row">
          <div class="col-12">
            <audio-viewer [type]="activity['video'].type" [path]="activity['video'].path"
              [source]="activity['video'].source">
            </audio-viewer>
          </div>
        </div>
      }
    </div>
  </p-panel>
</ng-template>

<ng-template #templateBaitap let-activity="activity">
  <p-tabView styleClass="tab-lesson-view no-padding-content-panel" [(activeIndex)]="activeIndex"
    (onChange)="tapViewBaitap()">
    <p-tabPanel header="Nội dung bài tập">
      <div style="height: 100%; padding: 10px; overflow: auto; background-color: #eee;">
        <p-panel [header]="activity.title" styleClass="panel-plan-activity no-border-top-panel">
          <div class="ovic-vertical__inputs back-ground-info" style="line-height: 1.5;">
            <div class="row form-row ">
              <div class="col-12">
                <div id="editor" class="document-editor__editable">
                  <div class="ck ck-editor__main" role="presentation">
                    <div style="border:none"
                      class="ck ck-content ck-editor__editable ck-rounded-corners ck-editor__editable_inline ck-blurred"
                      [innerHtml]="activity['desc'] | safeHtml">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            @if (activity['files']) {
              <div class="row form-row form-row-flex-row">
                <div class="col-12 flex-div">
                  <label>Tài liệu đính kèm:</label>
                  <div class="files-list-view">
                    @for (file of activity['files']; track file; let i = $index) {
                      <div class="single-file" (click)="onSelectFileReview(file)"
                        >
                        <i class="icon-in-open-download-file" [ngClass]="file | ovicFileIcon"
                        ></i>
                        <div class="info">
                          <h4 class="name">{{file.title}}</h4>
                          <p class="size">{{file['file_size']}}</p>
                        </div>
                      </div>
                    }
                  </div>
                </div>
              </div>
            }
          </div>
        </p-panel>
      </div>
    </p-tabPanel>
    <p-tabPanel header="Danh sách sinh viên">
      <div style="height: 100%;  background-color: #eee;">
        <div style="height: calc(100% - 40px); padding: 10px;">
          <p-table [(selection)]="selectedStudentPosts" [value]="list_student"
            styleClass="tbl-danhSachUser table-scroll-able table-able-dropdown-p-table table-has-caption table-reBorder">
            <ng-template pTemplate="caption">
              <div class="flex table-caption"
                style="text-align: right; display: flex; align-items: center;">
                <span class="p-input-icon-left ml-auto">
                  <input (keyup.enter)="onSearchStudent($event['target']['value'])"
                    style="width: 250px;" type="text"
                    placeholder="Nhập tên hoặc mã sv rồi nhấn enter" />
                  </span>
                  <button style="margin-left:5px" (click)="submitPointStudent()"
                    class="btn btn-primary"><i class="pi pi-save"></i>Lưu
                  điểm</button>
                  <!-- <button *ngIf="selectHomeWork && selectHomeWork['online'] === 1"
                  (click)="downloadFileBaiTap()" [disabled]="selectedStudentPosts.length?false:true"
                  class="btn btn-primary"><i class="pi pi-download"></i>Tải về</button> -->
                  <!-- <button (click)="submitHomeWordPost()"
                  [disabled]="selectedStudentPosts.length?false:true" class="btn btn-success"><i
                class="pi pi-check-circle"></i>Duyệt</button>
                <button (click)="requestToResubmit()"
                  [disabled]="selectedStudentPosts.length?false:true" class="btn btn-danger"><i
                class="pi pi-undo"></i>Yêu cầu nộp lại</button> -->
              </div>
            </ng-template>
            <ng-template pTemplate="header">
              <tr>
                <!-- <th style="width: 3em; text-align: center;">
                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
              </th> -->
              @for (col of cols_homework_post; track col) {
                <th [ngClass]="col['class']">{{col['label']}}
                </th>
              }
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-row>
            <tr>
              <!-- <td style="width: 3em; text-align: center;">
              <p-tableCheckbox [value]="row"></p-tableCheckbox>
            </td> -->
            @for (col of cols_homework_post; track col) {
              <td [ngClass]="col['class']"
                class="{{row['nopmuon'] && col['key'] === 'ngaytao'?'student-late-post':''}}"
                >
                @if (!col['innerClass_i'] && !col['input']) {
                  <span>
                    {{row[col['key']]}}
                    <!-- <i *ngIf="col['key'] === 'full_name' && row['homework_post_id'] && selectHomeWork && selectHomeWork['online'] === 1"
                    (click)="openViewGoogle(row, 0)" style="color: #007ad9; cursor: pointer;"
                  class="pi pi-paperclip"></i> -->
                </span>
              }
              @if (col['innerClass_i'] && !col['input']) {
                <span class="status-homework-post"
                [innerHTML]="row[col['key']]"></span>
              }
              @if (col['input']) {
                <div [ngClass]="row['edit']?'is-editting-point-post':''">
                  <input [attr.disabled]="row['homework_post_id']?null:''"
                    style="text-align: center; width:100%" #inputPost
                    (click)="selectInputPost(inputPost)"
                    (keyup)="setPointPostStudent($event, row )" class="student-post-point"
                    type="number" [value]="row.point !== -1?row.point :'' ">
                  </div>
                }
              </td>
            }
          </tr>
        </ng-template>
      </p-table>
    </div>
    <div class="page-layout-set">
      <p-paginator #paginator (onPageChange)="changePage_student($event)" [rows]="limit_student"
      [totalRecords]="total_student"></p-paginator>
    </div>
  </div>
</p-tabPanel>
</p-tabView>
</ng-template>

<ng-template #templateCdr let-activity="activity">
  @for (children of activity['children']; track children) {
    <p-panel [showHeader]="false" [header]="children.title" styleClass="panel-plan-activity"
      >
      <div class="cdr-content back-ground-info">
        <div class="cdr-content-title">
          <strong>{{children['kyhieu']+'. '+children['title']}}</strong>
        </div>
        <div class="cdr-content-cdr-info">
          @for (info of children.params.cdr.cdr_info; track info) {
            <div>
              <label class="label-info">- {{info['label']}}:</label>
              <span class="value-info">{{info['value']}}</span>
            </div>
          }
        </div>
        <div class="cdr-content-cdr-info">
          <label style="text-decoration: underline; margin-bottom: 1em;">
            <strong>Nội dung giảng dạy:</strong>
          </label>
          <div style="margin-bottom: 1em;"><strong>{{children['desc_title']}}</strong></div>
          <div class="info-desc ql-editor" [innerHtml]="children['desc'] | safeHtmlDecode">
          </div>
        </div>
      </div>
    </p-panel>
  }
</ng-template>

<ng-template #filesLessonReview let-c="close" let-d="dismiss">
  <div class="ovic-over-right-section" style="height: 100vh;">
    <div class="ovic-over-right-section__head">
      <h3 class="ovic-over-right-section__header">View</h3>
      <button class="btn ovic-over-right-section__close-button" (click)="d(true)"></button>
    </div>
    <div class="ovic-over-right-section__body footer-no-hint no-footer" style="padding: 0px;">
      <div class="ovic-vertical__inputs" style="height: 100%;">
        <view-document [file]="selectedFileReview?selectedFileReview:null">
        </view-document>
      </div>
    </div>
  </div>
</ng-template>

<p-dialog styleClass="report-create-plan-dialog" [showHeader]="false" appendTo="body" position="center"
  [draggable]="false" [resizable]="false" [modal]="true" header="Title" [(visible)]="displaySyncPlan"
  [style]="{width: '700px'}" [closable]="false">
  @if (selectedPlan) {
    <div class="step-sync-plans" style="background-color: #fff;">
      <div class="step-sync-plans-header" style="display: flex; align-items: center;">
        <span style="flex: 1;">Thiết lập bài test: {{selectedPlan['week'] !==0 && selectedPlan['week']
        !== 1000 ?label_parent_kehoach + ' '+selectedPlan['week'] : selectedPlan['title']}}</span>
        @if (stepIndex === 0) {
          <span (click)="displaySyncPlan = false" class="action-span"
            style="margin-right: 0px; height: 20px; width: 20px; padding: 0px; line-height: 20px;text-align: center;"><i
          style="color: red; margin: 0px;" class="fa fa-times"></i></span>
        }
      </div>
      <div class="step-sync-plans-body">
        <!-- <div class="step-sync-plans-body-step">
        <p-steps [activeIndex]="stepIndex" [model]="itemsStep"></p-steps>
      </div> -->
      <container-element>
        @switch (stepIndex) {
          @case (0) {
            <div class="step-sync-plans-body-step-content">
              <div class="row form-row form-row-flex-row">
                <!-- <div class="col-12 flex-div" style="margin-bottom: 20px;">
                <label for="title">Chọn ngày giảng dạy từ lịch học:<span class="ovic-mark"
                style="color: red;">*</span></label>
                <button #btnGetCalendar (click)="loadClassCalendar(opCalendar,btnGetCalendar)"
                  class="btn btn-primary"><i class="fa fa-calendar"></i>Chọn từ lịch học</button>
                  <p-overlayPanel appendTo="body" #opCalendar>
                    <ng-template pTemplate>
                      <div class="calendar-layout-selection" style="width:450px">
                        <p-table [value]="list_calendar"
                          styleClass="tbl-danhSachUser table-none-header table-reBorder">
                          <ng-template pTemplate="header">
                            <tr>
                              <th style="text-align: center; width: 50px;">#</th>
                              <th style="text-align: center; width: 100px;">Tuần</th>
                              <th style="text-align: center; width: 100px;">Ngày</th>
                              <th style="text-align: center; width: 100px;">Thứ</th>
                              <th style="text-align: center; width: 100px;">Tiết</th>
                            </tr>
                          </ng-template>
                          <ng-template pTemplate="body" let-row let-rowIndex="rowIndex">
                            <tr style="cursor: pointer;"
                              (click)="selectionChangeDate(row,opCalendar)"
                              class="{{row['import']?'import-thanhcong':''}}">
                              <td style="text-align: center;">{{rowIndex +1}}</td>
                              <td style="text-align: center; width: 100px;">{{row['tuan']}}
                              </td>
                              <td style="text-align: center; width: 100px;">{{row['ngay'] |
                              ovicDate}}</td>
                              <td style="text-align: center; width: 100px;">{{row['thu']}}
                              </td>
                              <td style="text-align: center; width: 100px;">{{row['tiet']}}
                              </td>
                            </tr>
                          </ng-template>
                          <ng-template pTemplate="emptymessage">
                            <tr>
                              <td colspan="5" style="text-align: center;">Không có lịch giảng dạy
                              </td>
                            </tr>
                          </ng-template>
                        </p-table>
                      </div>
                    </ng-template>
                  </p-overlayPanel>
                </div> -->
                <div class="col-12 flex-div">
                  <label style="color: red; font-weight: bold;" for="title">Nhập ngày kích hoạt bài TEST:<span class="ovic-mark" style="color: red;"></span></label>
                  <p-calendar styleClass="date-picker-custom" [(ngModel)]="date_start_plan" appendTo="body"
                  dateFormat="dd/mm/yy"></p-calendar>
                </div>
              </div>
              <div class="row form-row form-row-flex-row" style="margin-top: 10px;">
                <div class="col-12" style="text-align: right;">
                  <button (click)="readyForLoadCoursePlan()" class="btn btn-primary">Cập nhật</button>
                </div>
              </div>
            </div>
          }
          <!-- <div *ngSwitchCase="1" class="step-sync-plans-body-step-content">
          <div class="row form-row form-row-flex-row">
            <div class="col-12 flex-div">
              <label style="display: flex; align-items: center;" for="title"><span style="flex: 1;">
                Đang đồng bộ bài kiểm tra...</span><span>{{upLoadNumber}}/3</span></label>
                <mat-progress-bar mode="determinate" [value]="progressValue"></mat-progress-bar>
              </div>
            </div>
          </div> -->
          @case (1) {
            <div class="step-sync-plans-body-step-content">
              <div class="row form-row form-row-flex-row">
                <div class="col-12 flex-div">
                  <label style="display: flex; align-items: center;" for="title"><span style="flex: 1;">
                    Đang đồng bộ bài tập tự luận...</span><span>{{upLoadNumber}}/2</span></label>
                    <mat-progress-bar mode="determinate" [value]="progressValue"></mat-progress-bar>
                  </div>
                </div>
              </div>
            }
            @case (2) {
              <div class="step-sync-plans-body-step-content">
                <div class="row form-row form-row-flex-row">
                  <div class="col-12 flex-div">
                    <label style="display: flex; align-items: center;" for="title"><span style="flex: 1;">Đang
                      đồng bộ nội dung bài giảng...</span><span>{{upLoadNumber}}/2</span></label>
                      <mat-progress-bar mode="determinate" [value]="progressValue"></mat-progress-bar>
                    </div>
                  </div>
                </div>
              }
            }
          </container-element>
        </div>
      </div>
    }
  </p-dialog>