<div class="layout_component_container">
    <div class="layout_component_container-header">
        <div class="layout_component_container-header-filter" style="flex: 1;">
            <input (keyup)="keyupForFilterByName($event['target']['value'])"
                (keyup.enter)="startFilter($event['target']['value'],'name')"
                placeholder="Nhập rồi nhấn enter để tìm kiếm" style="width: 250px;" type="text">
        </div>
        <div class="layout_component_container-header-action">
            <p-overlayPanel #op appendTo="body">
                <ng-template pTemplate>
                    <ng-container [ngTemplateOutlet]="templateFilterShift">
                    </ng-container>
                </ng-template>
            </p-overlayPanel>
            <button (click)="op.toggle($event)" style="line-height: 1; margin-left: 5px;" class="btn btn-primary">
                <i class="fa fa-filter"></i>Tìm kiếm
            </button>
            <button *ngIf="canAdded" (click)="openAddShifts()" style="line-height: 1; margin-left: 5px;"
                class="btn btn-success"><i class="fa fa-plus"></i>Tạo ca
                thi</button>
        </div>
    </div>
    <div class="layout_component_container-bottom">
        <div class="layout_component_container-bottom-table">
            <p-table dataKey="id" [(selection)]="selectedShift" selectionMode="single" [value]="list_shifts"
                styleClass="table-scroll-able table-able-dropdown-p-table table-none-header table-reBorder">
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3rem; text-align: center;">TT</th>
                        <th style="width: 300px; min-width: 300px;">Tên ca thi</th>
                        <th style="width: 120px; text-align: center;">Trạng thái</th>
                        <th style="width: 130px; text-align: center;">Thời gian bắt đầu</th>
                        <th style="width: 100px; text-align: center;">Số SV</th>
                        <th style="width: 300px;">Môn học</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-shift>
                    <tr [pSelectableRow]="shift">
                        <td style="text-align: center;">{{shift['index_']}}</td>
                        <td>
                            <div class="shift-name">
                                <span style="flex: 1">{{shift.name}}</span>
                                <button *ngIf="canUpdate && shift.status !== 2" [matMenuTriggerFor]="menuActionShift"
                                    style="margin-left: 10px;" class="btn btn-primary btn-icon btn-transparent">
                                    <i class="fa fa-ellipsis-v"></i>
                                </button>
                                <mat-menu #menuActionShift="matMenu">
                                    <button (click)="openAddSinhvien(shift)" mat-menu-item>
                                        <i class="fa fa-user-plus margin-right-10px width-16px"></i>
                                        <span>Thêm sinh viên vào ca thi</span>
                                    </button>
                                    <button (click)="openPhanQuyenCoithi(shift)" *ngIf="shift.status < 2" mat-menu-item>
                                        <i class="fa fa-tasks margin-right-10px width-16px"></i>
                                        <span>Phân quyền coi thi</span>
                                    </button>
                                    <button (click)="openPhanQuyenCoithi(shift,true)" *ngIf="shift.status < 2"
                                        mat-menu-item>
                                        <i class="fa fa-download margin-right-10px width-16px"></i>
                                        <span>Xuất mã truy cập vào phòng thi</span>
                                    </button>
                                    <button *ngIf="shift.status === 1" (click)="changeStatusCathi(shift, 2)"
                                        mat-menu-item>
                                        <i class="fa fa-circle margin-right-10px width-16px"></i>
                                        <span>Đã hoàn thành</span>
                                    </button>
                                    <button *ngIf="shift.status < 2" (click)="changeStatusCathi(shift, 1)" mat-menu-item
                                        [disabled]="shift.status !== 1 ? false : true">
                                        <i class="fa fa-check-circle-o margin-right-10px width-16px"></i>
                                        <span>Kích hoạt ca thi</span>
                                    </button>
                                    <button *ngIf="shift.status < 2" (click)="changeStatusCathi(shift, 0)" mat-menu-item
                                        [disabled]="shift.status !== 0 ? false : true">
                                        <i class="fa fa-times margin-right-10px width-16px"></i>
                                        <span>Tắt kích hoạt ca thi</span>
                                    </button>
                                    <button (click)="openEditShifts(shift)" mat-menu-item>
                                        <i class="fa fa-pencil margin-right-10px width-16px"></i>
                                        <span>Sửa</span>
                                    </button>
                                    <button *ngIf="canDelete" (click)="deleteShift(shift)" mat-menu-item>
                                        <i class="fa fa-trash margin-right-10px width-16px"></i>
                                        <span>Xóa</span>
                                    </button>
                                </mat-menu>
                            </div>
                        </td>
                        <td style="text-align: center;">
                            <span class="status-shift status-deactive" *ngIf="shift.status === 0">Chưa kích hoạt</span>
                            <span class="status-shift status-activite" *ngIf="shift.status === 1">Đã kích hoạt</span>
                            <span class="status-shift status-done" *ngIf="shift.status === 2">Đã hoàn thành</span>
                        </td>
                        <td style="text-align: center;">{{shift['time_start'] | date : 'dd/MM/yyyy HH:mm ' :'UTC+7'}}
                        </td>
                        <td style="text-align: center;">{{shift['count_student']}} </td>
                        <td>{{shift['course_id'] | showlabel: list_course : 'id' : 'label_name'}}</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
        <div class="page-layout-set">
            <p-paginator #paginator_shift (onPageChange)="changePage_shift($event)" [rows]="limit_shifts"
                [totalRecords]="total_shifts"></p-paginator>
        </div>
    </div>
</div>

<ng-template #templateFilterShift>
    <div class="layout-filter-shift" style="width: 500px;">
        <div class="ovic-vertical__inputs" style="line-height: 1.5;">
            <div class="row form-row form-row-flex-row">
                <div class="col-12">
                    <label>Môn học:</label>
                    <ovic-dropdown [defaultValue]="objectFillter['course_id']"
                        (onChangeGetValue)="startFilter($event,'course_id')" placeholder="- - - - -"
                        scrollHeight="400px" styleClass="shift-dropdown-filter width-250px" [options]="list_course"
                        optionLabel="label_name" optionId="id" [filter]="true" filterBy="label_name">
                    </ovic-dropdown>
                </div>
            </div>
            <div class="row form-row form-row-flex-row">
                <div class="col-4">
                    <label>Năm học:</label>
                    <ovic-dropdown [defaultValue]="objectFillter['namhoc']"
                        (onChangeGetValue)="startFilter($event,'namhoc')" placeholder="- - - - -"
                        [options]="list_namhoc" optionLabel="label" optionId="value">
                    </ovic-dropdown>
                </div>
                <div class="col-4">
                    <label>Học kỳ:</label>
                    <ovic-dropdown [defaultValue]="objectFillter['hocky']"
                        (onChangeGetValue)="startFilter($event,'hocky')" placeholder="- - - - -" [options]="list_hocky"
                        optionLabel="label" optionId="value">
                    </ovic-dropdown>
                </div>
                <div class="col-4">
                    <label>Đợt thi:</label>
                    <ovic-dropdown [defaultValue]="objectFillter['dotthi']"
                        (onChangeGetValue)="startFilter($event,'dotthi')" placeholder="- - - - -"
                        [options]="list_dotthi" optionLabel="label" optionId="value">
                    </ovic-dropdown>
                </div>
            </div>
            <div class="row form-row form-row-flex-row">
                <div class="col-12" style="text-align: right;">
                    <button style="line-height: 1;" (click)="cancelFilter()" class="btn btn-secondary"><i
                            class="fa fa-refresh"></i>Hủy tìm kiếm</button>
                </div>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #createShift>
    <div class="ovic-over-right-section">
        <div class="ovic-over-right-section__head">
            <h3 class="ovic-over-right-section__header">{{formTitle}}</h3>
            <button class="btn ovic-over-right-section__close-button" (click)="closeSideMenu()"></button>
        </div>
        <div class="ovic-over-right-section__body" style="height:calc(100vh - 51px - 57px - 18px)">
            <div class="ovic-vertical__inputs" style="line-height: 1.5;">
                <form [formGroup]="formShift">
                    <div class="row form-row form-row-flex-row">
                        <div class="col-12">
                            <label>Tên ca thi:<span class="ovic-mark">*</span></label>
                            <input type="text" class="ovic-input-field" formControlName="name">
                        </div>
                    </div>
                    <div class="row form-row form-row-flex-row">
                        <div class="col-9">
                            <label>Môn học:<span class="ovic-mark">*</span></label>
                            <ovic-dropdown (onChange)="onChangeCourse($event)" placeholder="------" scrollHeight="400px"
                                [options]="list_course" optionLabel="label_name" optionId="id" [filter]="true"
                                filterBy="label_name" [defaultValue]="f['course_id'].value"
                                [formField]="f['course_id']">
                            </ovic-dropdown>
                        </div>
                        <div class="col-3">
                            <label>Thời gian bắt đầu:<span class="ovic-mark">*</span></label>
                            <p-calendar dateFormat="dd/mm/yy" formControlName="time_start" [showTime]="true"
                                hourFormat="24"></p-calendar>
                        </div>
                    </div>
                    <div class="row form-row form-row-flex-row">
                        <div class="col-6">
                            <label>Năm học:<span class="ovic-mark">*</span></label>
                            <ovic-dropdown placeholder="------" [options]="list_namhoc" optionLabel="label"
                                optionId="value" [defaultValue]="f['namhoc'].value" [formField]="f['namhoc']">
                            </ovic-dropdown>
                        </div>
                        <div class="col-3">
                            <label>Học kỳ:<span class="ovic-mark">*</span></label>
                            <ovic-dropdown placeholder="------" [options]="list_hocky" optionLabel="label"
                                optionId="value" [defaultValue]="f['hocky'].value" [formField]="f['hocky']">
                            </ovic-dropdown>
                        </div>
                        <div class="col-3">
                            <label>Đợt thi:<span class="ovic-mark">*</span></label>
                            <input (keydown)="numberKeyDown($event)" type="number" class="ovic-input-field"
                                formControlName="dotthi">
                        </div>
                    </div>
                    <div class="row form-row form-row-flex-row">
                        <div class="col-12">
                            <label>Mô tả:<span class="ovic-mark"></span></label>
                            <ovic-editor height="auto" [default]="f['desc'].value"
                                [formField]="f['desc']"></ovic-editor>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="ovic-dynamic-right-section__foot">
            <p class="ovic-form-notes ovic-over-right-section__foot-ovic-input-line">
                <i class="pi pi-info-circle"></i>các trường có đánh dấu ( <span class="ovic-mark">*</span> ) là
                bắt
                buộc phải nhập
            </p>
            <p class="ovic-over-right-section__foot-wrap-buttons">
                <button (click)="saveShift()" class="btn ovic-over-right-section__foot-btn btn-primary">
                    <i class="fa fa-floppy-o" ></i>Lưu lại
                </button>
            </p>
        </div>
    </div>
</ng-template>

<ng-template #templateThemSinhvien>
    <div class="ovic-over-right-section">
        <div class="ovic-over-right-section__head">
            <h3 class="ovic-over-right-section__header">{{selectedShift ? selectedShift.name : ''}} - Thêm sinh viên
            </h3>
            <button class="btn ovic-over-right-section__close-button" (click)="closeSideMenuSinhvien()"></button>
        </div>
        <div class="ovic-over-right-section__body" style="height:calc(100vh - 57px); padding: 0px;">
            <app-sinhvien-cathi-duan [thishift]="selectedShift"></app-sinhvien-cathi-duan>
        </div>
    </div>
</ng-template>

<ng-template #templatePhanquyenCoithi>
    <div class="ovic-over-right-section">
        <div class="ovic-over-right-section__head">
            <h3 class="ovic-over-right-section__header">{{selectedShift ? selectedShift.name : ''}} - Phân quyền coi thi
            </h3>
            <button class="btn ovic-over-right-section__close-button" (click)="closeSideMenu()"></button>
        </div>
        <div class="ovic-over-right-section__body footer-no-hint" style="padding: 0px;height:calc(100vh - 57px)">
            <div class="room-table-phanquyencoithi">
                <div class="room-table-phanquyencoithi-left">
                    <p-table [(selection)]="selectedRoom" dataKey="room" selectionMode="single"
                        [value]="list_shift_rooms" styleClass="table-reBorder form-detail-table">
                        <ng-template pTemplate="header">
                            <tr>
                                <th style="width: 3rem; text-align: center;">TT</th>
                                <th style="width: 150px;">Phòng</th>
                                <th style="width: 250px; text-align: center;">Cán bộ coi thi</th>
                                <th style="width: 100px; text-align: center;">Mã truy cập</th>
                                <th style="width: 100px; text-align: center;">Thao tác</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-room let-rowIndex="rowIndex">
                            <tr [pSelectableRow]="room">
                                <td style="text-align: center;">{{rowIndex + 1}}</td>
                                <td>{{room.room}}</td>
                                <td style="text-align: left; line-height: 1.25;">
                                    <div *ngIf="room['canbo_coithi_ids']" class="canbocoithi-room">
                                        <div class="item-teacher" *ngFor="let id of room['canbo_coithi_ids']">
                                            <div>{{id | showlabel : list_teacher:'id':'display_name'}}</div>
                                            <div style="font-size: 11px; font-style: italic;">{{id | showlabel :
                                                list_teacher:'id':'email'}}</div>
                                        </div>
                                    </div>
                                </td>
                                <td style="text-align: center; font-weight: 500; letter-spacing: 2px;">
                                    <span>{{room['pass_of_room']}}</span>
                                </td>
                                <td style="text-align: center;">
                                    <div>
                                        <button *ngIf="room.id" (click)="savePasswordOfroom(room)"
                                            style="margin: 0px 2.5px;" ngbTooltip="Làm mới mã truy cập" container="body"
                                            placement="left" class="btn btn-primary btn-icon btn-transparent">
                                            <i class="fa fa-refresh"></i>
                                        </button>
                                        <button (click)="chooseTeacher(room)" style="margin: 0px 2.5px;"
                                            ngbTooltip="Chọn cán bộ coi thi" container="body" placement="left"
                                            class="btn btn-success btn-icon btn-transparent">
                                            <i class="fa fa-user-plus"></i>
                                        </button>
                                        <button (click)="deleteCanboCoiThi(room)" *ngIf="room.id"
                                            style="margin: 0px 2.5px;" ngbTooltip="Xoá cán bộ coi thi trong phòng"
                                            container="body" placement="left"
                                            class="btn btn-danger btn-icon btn-transparent"><i class="fa fa-trash"></i>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
                <div class="room-table-phanquyencoithi-rigth" [ngClass]="displayTeacher?'show-list-teacher':''">
                    <div class="room-table-phanquyencoithi-rigth-header">
                        <span style="flex:1">{{selectedRoom? selectedRoom.room:''}}</span>
                        <button (click)="closeShowListTeacher()" class="btn btn-danger btn-icon btn-transparent"><i
                                class="fa fa-times"></i></button>
                    </div>
                    <div class="room-table-phanquyencoithi-rigth-body">
                        <div style="height: 100%;" class="phanquyen-dulieu-content-left ovic-vertical__inputs">
                            <div class="form-row row">
                                <div class="col-12">
                                    <input class="ovic-input-field" type="text" [(ngModel)]="searchTeacher"
                                        placeholder="Search">
                                </div>
                            </div>
                            <mat-selection-list class="selection-list-mat" #users
                                (selectionChange)="changeSelecGiangvien($event)"
                                *ngIf="(list_teacher |filter: searchTeacher : ['display_name','email']).length > 0; else noResults">
                                <mat-list-option [disabled]="user['disabled']" [selected]="user['checked']"
                                    *ngFor="let user of list_teacher | filter: searchTeacher : ['display_name','email']"
                                    [value]="user">
                                    <div mat-line>{{user.display_name}}</div>
                                    <div mat-line>{{user.email}} </div>
                                </mat-list-option>
                            </mat-selection-list>
                            <ng-template #noResults>
                                <div class="result-search-none">Không có cán bộ nào...</div>
                            </ng-template>
                        </div>
                    </div>
                    <div style="padding: 5px; border-top:1px solid #c8c8c8; text-align: right;">
                        <button (click)="saveCanboCoithi()" class="btn btn-primary">
                            <i class="fa fa-floppy-o" ></i>Lưu lại
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>