.layout_component_container-course {
    width: 400px;
    height: 100%;
    /* overflow: hidden; */
    display: flex;
    flex-direction: column;
    transition: all 0.3s;
}

.layout_component_container {
    display: flex;
    flex-direction: row;
}

.layout_component_container-course {
    border-right: 1px solid #c8c8c8;
}

.layout_component_container-plan {
    width: 100px;
    border-right: 1px solid #c8c8c8;
    height: 100%;
    overflow: hidden;
}

.layout_component_container-noidung {
    width: calc(100% - 500px);
    height: 100%;
}

.list-course-layout {
    flex: 1;
    overflow: auto;
}




.search-layout {
    padding: 5px;
    border-bottom: 1px solid #c8c8c8;
    display: flex;
    flex-direction: column;
}

.list-plan-layout {
    -ms-overflow-style: none;
    /* scrollbar-width: none; */
    overflow: auto;
    height: 100%;
}

/* ---------- */
.cdr-content {
    /* margin-top: 15px; */
    transition: all 0.3s;
}

.cdr-content-title {
    margin-bottom: 15px;
}

.cdr-content-cdr-info {
    margin-left: 1rem;
}

.label-info {
    width: 150px;
}

.cdr-content-cdr-info {
    margin-top: 15px;
    margin-left: 1rem;
}

.info-desc {
    line-height: 1.25;
}

.close-cdr-content {
    height: 0px;
}

.activity {
    border-color: #004ef9;
}

.cdr-action-header {
    line-height: 1;
    /* padding: 5px; */
    text-align: right;
    position: absolute;
    right: 0px;
    top: 10px;
    padding: 5px;
    background: var(--ck-color-shadow-drop);
    z-index: 1;
    visibility: hidden;
    transition: all 0.3s;
}

textarea {
    outline: none !important;
    border: 1px solid #c8c8c8;
}

textarea:focus {
    border: 1px solid #007bff;
}

.comment-edit-layout textarea {
    flex: 1;
}

.comment-edit-layout {
    display: flex;
    padding: 0px 15px 15px 15px;
}

.action-edit-layout {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.back-ground-info {
    background-color: #FBFBFB;
    padding: 15px;
}

.files-list-view {
    background-color: #fff;
}

.class-duyet-layout {
    background-color: #f5f5f5;
    border-top: 1px solid #c8c8c8;
    /* padding: 15px; */
}

.conten-comment-box {
    white-space: break-spaces;
    line-height: 1.25;
    padding: 15px;
    width: calc(100% - 50px);
}

.margin-bottom {
    margin-bottom: 10px;
}

.reply-layout {
    margin-top: 10px;
}

/* .action-edit-layout button{
    margin-bottom: 10px;
} */

/* comment */

.inner-comment {
    border-bottom: 1px solid #c8c8c8;
    /* background: #fff; */
    /* padding: 25px 10px 10px 10px; */
    /* position: relative; */
    /* border-radius: 6px; */
}

.comment-box {
    margin-bottom: 20px;
}

.inner-comment-header {
    /* background: var(--surface-200);
    border-bottom: 1px solid #c8c8c8; */
    display: flex;
    align-items: center;
    padding-bottom: 5px;
}

.duyet-comment {
    background-color: #CDECFF;
    border-radius: 0px 10px 10px 10px;
    padding: 15px;
}

.yeucausua-comment {
    color: #FF0000;
    background-color: #FFD8D8;
    border-radius: 0px 10px 10px 10px;
    padding: 15px;
}

.panel-plan-activity-header {
    display: flex;
    align-items: center;
    width: 100%;
}

.panel-plan-activity-gioithieu:last-child hr {
    display: none;
}

.comment-box {
    margin-bottom: 10px;
}

.conten-comment-box-left {
    border-radius: 10px 0px 10px 10px;
    padding: 15px;
    background-color: #fff;
    width: calc(100% - 50px);
    margin-left: 50px;
}

/* .my-reply-comment {
    background-color: #004ef9;
    color: #fff;

} */

.hozion-lay:before {
    content: '';
    border-top: 1px solid #c8c8c8;
    width: 100%;
    position: absolute;
    z-index: 0;
    top: 8px;
}

.files-list-view {

    display: block;

}

.call-file-picker {
    width: 100%;
    margin-left: 0px !important;

}

.files-list-view .single-file {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    flex-grow: 1;
    border: 1px solid #c8c8c8;
    padding: 10px;
    cursor: pointer;
}

.files-list-view .single-file:hover {
    background-color: #d0e1fd;
}

.files-list-view .single-file:last-child {
    /* border: none; */
    /* padding-bottom: 0; */
    margin-bottom: 0px;
}

.files-list-view .single-file .btn-delete {
    margin-left: 8px;
    cursor: pointer;
    border: none;
    background-color: transparent;
    font-size: 17px;
    color: #aaaaaa;
}

.files-list-view .single-file .btn-delete:hover {
    color: #e45045;
}

.files-list-view .single-file .name {
    font-size: 14px;
    font-weight: 500;
    color: #353f4a;
    margin: 0;
}

.files-list-view .single-file>img {
    width: 34px;
}

.files-list-view .single-file .size {
    font-size: 12px;
    font-weight: 500;
    color: #a4a4a4;
    margin: 0;
}

.files-list-view .single-file .info {
    width: 100%;
    padding-left: 7px;
}

.no-border-top {
    border-top: none;
}

.padding-top-15px {
    padding-top: 15px;
}

.button-close-left-body {
    margin-left: 5px;
    min-width: 0px;
    position: absolute;
    right: -14px;
    top: calc(50% - 40px);
    padding: 0;
    width: 14px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: transparent !important;
    box-shadow: none !important;
}

.button-close-left-body.btn.btn-success:before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 50%;
    border-left: 15px solid #28a745;
    border-top: 15px solid transparent;
    z-index: -1;
}

.button-close-left-body.btn.btn-success:after {
    position: absolute;
    content: '';
    top: 50%;
    left: 0;
    right: 0;
    bottom: 0;
    border-left: 15px solid #28a745 !important;
    border-bottom: 15px solid transparent !important;
    z-index: -1;
}

.close-left-body .layout_component_container-course {
    margin-left: -400px;
}

.close-left-body .layout_component_container-noidung {
    width: calc(100% - 100px);
}

.hide-comment {
    max-height: 0;
    transition: max-height 0.3s ease-out;
    overflow: hidden;
    background: #d5d5d5;
    padding: 0px !important;
}

.show-comment {
    max-height: 1000px;
    overflow-y: auto;
    transition: max-height 0.3s ease-in;
}
