<div class="tbl-file-list-local" [matMenuTriggerFor]="appMenu">
  @if ((_fileList.length || permission['canUpload']) ) {
    <button class="tbl-file-list-local__table__btn-add-first btn" (click)="btnToggleClick($event)" [class.prevent-user-from-uploading]="!permission['canUpload']">
      @if (!_fileList.length) {
        <i class="fi fa fa-paperclip" ></i>
      } @else {
        <span>{{ _fileList.length}}</span>
        <i class="fa fa-file-text-o" ></i>
      }
    </button>
  } @else {
    <button class="tbl-file-list-local__table__btn-add-first btn prevent-user-from-uploading btn--cursor-text" (click)="btnStopPropagation($event)">
      <i class="fa fa-paperclip" ></i>
    </button>
  }
</div>
<input type="file" [accept]="_accept" [multiple]="multiple" class="d-none" (change)="onChangesFileChooser($event)" #fileChooser/>
<mat-menu #appMenu="matMenu" class="mat-menu-p-0 border-radius-0" xPosition="before">
  <div class="tbl-file-list-local__menu" (click)="$event.stopPropagation();">
    <div class="tbl-file-list-local__menu__head">
      <h4 class="tbl-file-list-local__menu__head__title">File đính kèm <span>{{ fileList.length}}</span></h4>
      @if (permission['canUpload']) {
        <button pButton pRipple type="button" icon="pi pi-plus" class="p-button-primary tbl-file-list-local__menu__head__title__btn" (click)="btnAddMoreFiles($event)"></button>
      }
      <button pButton pRipple type="button" icon="pi pi-times" class="p-button-danger tbl-file-list-local__menu__head__title__btn" (click)="btnCloseMenu($event)"></button>
    </div>
    <div class="tbl-file-list-local__menu__body">
      @if (fileList && fileList.length) {
        <ul class="tbl-file-list-local__menu__body__list">
          @for (file of fileList; track file) {
            <li class="tbl-file-list-local__menu__body__list__elm">
              <div class="ovic-reorder-item__inner" (click)="btnOpenFile($event,file)">
                <div class="ovic-reorder__icon ovic-file-color">
                  <i [ngClass]="file | ovicFileIcon" ></i>
                </div>
                <div class="ovic-reorder__info" [class.--has-download-permission]="permission['canDownload']" [class.--has-delete-permission]="permission['canDelete']">
                  <span class="ovic-reorder__file-name">{{ file.title ? file.title : file.name }}</span>
                  <div class="ovic-reorder__file-size">{{file[ 'file_size' ]}}</div>
                  @if (permission['canDelete']) {
                    <button pButton pRipple type="button" icon="pi pi-times" class="p-button p-button-text p-button-danger p-button-rounded" (click)="btnDeleteFile($event,file)"></button>
                  }
                  @if (permission['canDownload']) {
                    <button pButton pRipple type="button" icon="pi pi-download" class="p-button p-button-text p-button-plain p-button-rounded" (click)="btnDownloadFile($event,file)"></button>
                  }
                </div>
              </div>
            </li>
          }
        </ul>
      }
    </div>
  </div>
</mat-menu>
