.hover-underline:hover {
    cursor: pointer;
    text-decoration: underline;
}

.student-status-shift {
    padding: 5px;
    width: 134px;
    display: inline-block;
}

.status-deactive {
    background-color: #E0E0E0;
}

.status-activite {
    color: #fff;
    background-color: #1da750;
}

.import-fail {
    color: #fff;
    background-color: red;
}

.import-giang-vien-top {
    padding: 5px;
    border-bottom: 1px solid #c8c8c8;
}

.import-giang-vien {
    height: 100%;
    width: 100%;
}

.import-giang-vien-bottom{
    height: calc(100% - 41px);
}

.action-import-giangvien button{
    margin-right: 5px;
    line-height: 1;
}