<div class="giangvienkhac-layout">
  @if (classSelected && classSelected['manager_id']) {
    <div>
      <ovic-table (onButtonClick)="userActions($event)" [headerButtons]="headButtons" [rows]="20" [data]="dmTeacher"
        styleClass="table-reBorder" dataKey="id" rowHover="true" tableName="Giảng viên khác"
        [tblStructure]="tblColsSupport" [enableSearch]="false" [globalFilterFields]="['display_name','email']">
      </ovic-table>
    </div>
  }
  @if (!classSelected || !classSelected['manager_id']) {
    <div style="height: 100%;" class="info-none-manage_id">
      Chưa có giảng viên chính, Vui lòng chọn giảng viên chính cho lớp học
    </div>
  }
</div>

<ng-template #templateGiangvien>
  <div class="ovic-over-right-section">
    <div class="ovic-over-right-section__head">
      <h3 class="ovic-over-right-section__header">Thêm giảng viên khác</h3>
      <button class="btn ovic-over-right-section__close-button" (click)="closeForm()"></button>
    </div>
    <div class="ovic-over-right-section__body footer-no-hint"
      style="line-height: 1.25; height: calc(100vh - 57px - 51px - 18px);">
      <div style="height: 100%;" class="phanquyen-dulieu-content-left ovic-vertical__inputs">
        <div class="form-row row">
          <div class="col-12">
            <input class="ovic-input-field" type="text" [(ngModel)]="searchUser" placeholder="Search">
          </div>
        </div>
        @if ((list_all_teacher |filter: searchUser : ['display_name','email']).length > 0) {
          <mat-selection-list class="selection-list-mat" #users (selectionChange)="changeSelecGiangvien($event)"
            >
            @for (user of list_all_teacher | filter: searchUser : ['display_name','email']; track user) {
              <mat-list-option [selected]="user['checked']"
                [value]="user">
                <div mat-line>{{user.display_name}}</div>
                <div mat-line>{{user.email}} </div>
              </mat-list-option>
            }
          </mat-selection-list>
        } @else {
          <div class="result-search-none">Không có cán bộ nào...</div>
        }
        <ng-template #noResults>
          <div class="result-search-none">Không có cán bộ nào...</div>
        </ng-template>
      </div>

    </div>
    <div class="ovic-dynamic-right-section__foot">
      <p class="ovic-over-right-section__foot-wrap-buttons">
        <button (click)="saveSupport()" class="btn ovic-over-right-section__foot-btn btn-primary">
          <i class="fa fa-floppy-o" ></i>Lưu lại
        </button>
      </p>
    </div>
  </div>
</ng-template>