<div class="duyet-thuongxuyen-tuluan">
    <div style="padding: 15px;">
        <p-table [value]="list_plan_kynang"
            styleClass="tbl-danhSachUser table-scroll-able table-able-dropdown-p-table ovic-ui-table table-reBorder th-td-padding-5px">
            <ng-template pTemplate="caption">
                <div class="flex"
                    style="font-weight: 500; justify-content: end; align-items: center; padding: 5px; display: flex;">
                    <div>
                        <p-checkbox [binary]="true" (onChange)="checkValue($event,'_chuaduyet')" name="_chuaduyet"
                            label="Lọc chưa duyệt"></p-checkbox>
                    </div>
                    <div *ngIf="kd_uyvien" style="margin-left: 20px;">
                        <p-checkbox [binary]="true" (onChange)="checkValue($event,'_chuanhanxet')" name="_chuanhanxet"
                            label="Lọc câu hỏi bạn chưa nhận xét"></p-checkbox>
                    </div>
                </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th rowspan="2" style="text-align: center; width: 150px;">Mã đề</th>
                    <th rowspan="2" style="text-align: center; width: 100px;">Tiêu đề</th>
                    <th rowspan="2" style="text-align: center; width: 120px;">Kết quả cấp khoa</th>
                    <th rowspan="2" style="text-align: center; width: 120px;">Kết quả cấp trường</th>
                    <th [colSpan]="hoidong.length" style="text-align: center;">Nhận xét</th>
                </tr>
                <tr>
                    <th *ngFor="let thanhvien of hoidong, index as i" style="text-align: center; width: 100px;">
                        <span *ngIf="i === 0">
                            Chủ tịch<br>
                            ({{thanhvien['display_name']}})
                        </span>
                        <span *ngIf="i !== 0">
                            Ủy viên {{i}}<br>
                            ({{thanhvien['display_name']}})
                        </span>
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-tuluan>
                <tr>
                    <td [colSpan]="4 + hoidong.length" style="font-weight: 600; background-color: #cae1fc;">
                        {{tuluan.title}}
                    </td>
                </tr>
                <tr style="cursor: pointer;"
                    [ngClass]="selectedTuluan && selectedTuluan.id === question.id?'question-activity':''"
                    *ngFor="let question of tuluan['detuluan'] | filter : _chuanhanxet : ['_chuanhanxet'] | filter : _chuaduyet : ['_chuaduyet'], index as i"
                    (click)="onSelectDeTuluan(question)">
                    <td style="text-align: center;">
                        <div style="display: flex; align-items: center;">
                            <span style="flex: 1; margin-right: 5px;">#{{question.id}}</span>
                            <!-- <span *ngIf="rejectRole">
                                <span container="body" ngbTooltip="Mở khóa, cho phép sửa" placement="top"
                                    *ngIf="question.status === 1" (click)="reDoAction($event, question,0)"
                                    style="font-size: 14px;" class="action-icon-redo red"><i
                                        class="pi pi-lock"></i></span>
                                <span (click)="reDoAction($event,question,1)" ngbTooltip="Khóa, không cho phép sửa"
                                    placement="top" container="body" *ngIf="question.status !== 1"
                                    style="font-size: 14px;" class="action-icon-redo gray"><i style="font-size: 16px;"
                                        class="pi pi-lock-open"></i></span>
                            </span> -->
                        </div>
                    </td>
                    <td style="text-align: center;">{{question.title}}</td>
                    <td style="text-align: center;">
                        <div [ngSwitch]="question['status']">
                            <span *ngSwitchCase="0" class="action-icon status-is-deactive">
                                Chờ duyệt
                            </span>
                            <span *ngSwitchCase="1" class="action-icon status-is-active">
                                Đạt
                            </span>
                            <span *ngSwitchCase="-1" class="action-icon status-is-redo">
                                Chưa đạt
                            </span>
                            <span *ngSwitchCase="-2" class="action-icon status-is-require">
                                Đã sửa
                            </span>
                        </div>
                    </td>
                    <td style="text-align: center;">
                        <div [ngSwitch]="question['status_captruong']">
                            <span *ngSwitchCase="0" class="action-icon status-is-deactive">
                                Chờ duyệt
                            </span>
                            <span *ngSwitchCase="1" class="action-icon status-is-active">
                                Đạt
                            </span>
                            <span *ngSwitchCase="-1" class="action-icon status-is-redo">
                                Chưa đạt
                            </span>
                            <span *ngSwitchCase="-2" class="action-icon status-is-require">
                                Đã sửa
                            </span>
                        </div>
                    </td>
                    <td *ngFor="let thanhvien of hoidong, index as k" style="text-align: center;">
                        <span class="danhanxet" *ngIf="question['hoidong_comment'][thanhvien.user_id]">Đã nhận
                            xét</span>
                        <span class="chuanhanxet" *ngIf="!question['hoidong_comment'][thanhvien.user_id]">Chưa nhận
                            xét</span>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>


<ng-template #templateFormViewTuluan let-c="close" let-d="dismiss">
    <div class="ovic-over-right-section right-slide-class">
        <div class="ovic-over-right-section__head" style="display: flex; align-items: center;">
            <h3 class="ovic-over-right-section__header" style="flex: 1;">{{selectedTuluan.title}}</h3>
            <div class="action-button-next-back">
                <button (click)="openNewQuestion('back')" class="btn btn-success btn-angle"><i
                        class="pi pi-angle-double-left"></i>Đề trước</button>
                <button (click)="openNewQuestion('next')" class="btn btn-success btn-angle">Đề sau<i
                        class="pi pi-angle-double-right" style="margin-left: 5px; margin-right: 0px;"></i></button>
            </div>
            <button class="btn ovic-over-right-section__close-button btn-recss-close-right-button"
                (click)="closeForm()"></button>
        </div>
        <div style="line-height: 1.25; padding: 0px; height: calc(100vh - 57px);background: #eaeaea;"
            class="ovic-over-right-section__body footer-no-hint tuluan-comment-slide">
            <app-view-thuongxuyen-tuluan [courseSelected]="selectedCourse"
                [tuluan]="selectedTuluan"></app-view-thuongxuyen-tuluan>
            <div style="padding: 15px 0px;">
                <ng-container [ngTemplateOutlet]="templateDuyet"
                    [ngTemplateOutletContext]="{ activity: selectedTuluan}">
                </ng-container>
            </div>
        </div>
    </div>
</ng-template>


<ng-template #templateDuyet let-activity="activity">
    <div class="class-duyet-layout"
        [ngClass]="(!activity['comments'] || !activity['comments'].length) && !kd_hoidong && !kd_hoidong?'no-border-top':''">
        <div *ngIf="activity['comments'] && activity['comments'].length" style="width: 100%; padding: 15px;"
            class="list-comment-layout">
            <div class="ketqua-duyet-hoidong row">
                <div class="ketqua-duyet-hoidong-left col-6"
                    style="border-right: 1px solid #c8c8c8; margin-bottom: 10px;">
                    <label style="font-weight: 600; margin-bottom: 10px;">
                        KẾT QUẢ DUYỆT CỦA HỘI ĐỒNG KHOA:
                    </label>

                    <div class="ketquaduyet-hoidong row"
                        *ngIf="activity['status'] === 1 || activity['status'] === -1; else choduyetTemplate"
                        style="padding-bottom: 10px; ">

                        <div class="ketquaduyet-hoidong-left col-6">
                            <div class="ketquaduyet-hoidong-left-status" style="text-align: center;"
                                [ngSwitch]="activity['status']">
                                <span *ngSwitchCase="1" class="true-blue status-duyet-hoidong">Đạt</span>
                                <span *ngSwitchCase="-1" class="red status-duyet-hoidong">Yêu cầu sửa</span>
                            </div>
                        </div>
                        <div class="ketquaduyet-hoidong-right col-6">
                            <div>Duyệt lúc:</div>
                            <div>{{activity['approved_at'] | ovicDateTime}}</div>
                        </div>
                    </div>
                    <ng-template #choduyetTemplate>
                        <div class="ketquaduyet-hoidong" style="padding-bottom: 10px; ">
                            <div style="text-align: center;" [ngSwitch]="activity['status']">
                                <span *ngSwitchCase="0" class="gray status-duyet-hoidong">Chờ duyệt</span>
                                <span *ngSwitchCase="-2" class="blue status-duyet-hoidong">Đã sửa, chờ duyệt</span>
                            </div>
                        </div>
                    </ng-template>

                </div>
                <div class="ketqua-duyet-hoidong-right col-6">
                    <label style="font-weight: 600; margin-bottom: 10px;">
                        KẾT QUẢ DUYỆT CỦA HỘI ĐỒNG TRƯỜNG:
                    </label>

                    <div class="ketquaduyet-hoidong row"
                        *ngIf="activity['status_captruong'] === 1 || activity['status_captruong'] === -1; else choduyetCaptruongTemplate"
                        style="padding-bottom: 10px; ">

                        <div class="ketquaduyet-hoidong-left col-6">
                            <div class="ketquaduyet-hoidong-left-status" style="text-align: center;"
                                [ngSwitch]="activity['status_captruong']">
                                <span *ngSwitchCase="1" class="true-blue status-duyet-hoidong">Đạt</span>
                                <span *ngSwitchCase="-1" class="red status-duyet-hoidong">Yêu cầu sửa</span>
                            </div>
                        </div>
                        <div class="ketquaduyet-hoidong-right col-6">
                            <div>Duyệt lúc:</div>
                            <div>{{activity['approved_captruong_at'] | ovicDateTime}}</div>
                        </div>
                    </div>
                    <ng-template #choduyetCaptruongTemplate>
                        <div class="ketquaduyet-hoidong" style="padding-bottom: 10px; ">
                            <div style="text-align: center;" [ngSwitch]="activity['status_captruong']">
                                <span *ngSwitchCase="0" class="gray status-duyet-hoidong">Chờ duyệt</span>
                                <span *ngSwitchCase="-2" class="blue status-duyet-hoidong">Đã sửa, chờ duyệt</span>
                            </div>
                        </div>
                    </ng-template>
                </div>
            </div>
            <div style="border-bottom: 1px solid #c8c8c8; margin-bottom: 10px;"></div>

            <div *ngFor="let comment of activity['comments'], index as index" class="comment-box">
                <div class="inner-comment">
                    <div class="inner-comment-header">
                        <div style="flex: 1;">
                            <span [ngClass]="comment['user_id'] === userId ? 'blue':''"
                                style="font-weight: 600; margin-right: 10px; text-decoration: underline;">
                                {{comment['display_name'] + ' ('+HOIDONGDUYET[comment['cap_hoidong']]+')' + ':'}}
                            </span>
                        </div>

                    </div>

                    <div *ngIf="comment['children'] && comment['children'].length">
                        <div *ngFor="let children of comment['children']" style="margin-bottom: 15px; ">
                            <div [ngClass]="children['status'] === 1?'duyet-comment':'yeucausua-comment'"
                                class="conten-comment-box">
                                <div class="conten-comment-inner-box" [innerHTML]="children.comment">

                                </div>
                            </div>
                            <div style="margin-left: 20px; margin-top: 5px;">
                                <span
                                    style="font-size: 12px; color: #898989; margin-right: 20px; font-style: italic;">{{children.created_at
                                    | ovicDateTime}}</span>
                                <span style="color: #898989; cursor: pointer;" (click)="openReply(children,index)">Phản
                                    hồi ({{children['count_reply']}})</span>
                            </div>
                            <div *ngIf="children['reply_open'] === true" class="reply-layout">
                                <div class="list_reply_comments">
                                    <div style="margin-bottom: 15px;"
                                        *ngFor="let reply_comment of children['reply_comments']">
                                        <div style="text-align: right; margin-bottom: 5px;">
                                            <span [ngClass]="reply_comment['my_reply_comment']?'blue':''">
                                                {{reply_comment['display_name'] }}
                                                {{' ('+HOIDONGDUYET[reply_comment['cap_hoidong']]+')'}}
                                            </span>
                                        </div>
                                        <div class="conten-comment-box-left"
                                            [ngClass]="reply_comment['my_reply_comment']?'my-reply-comment':''">
                                            <div class="conten-comment-inner-box-left"
                                                [innerHTML]="reply_comment.comment">

                                            </div>
                                        </div>
                                        <div style="margin-right: 20px; margin-top: 5px; text-align: right;">
                                            <span
                                                style="font-size: 12px; color: #898989; font-style: italic;">{{reply_comment.created_at
                                                | ovicDateTime}}</span>
                                        </div>

                                    </div>
                                </div>

                                <div style="display: flex; position: relative;"
                                    *ngIf="canReply || kd_hoidong || kd_uyvien || (selectedCourse && userId === selectedCourse.creator_plan_id)">
                                    <div style="width: 40px; height: 40px; border-radius: 50%; overflow: hidden;"><img
                                            style="width: 100%;" src="../../../assets/images/a_none.jpg"></div>
                                    <textarea style="height: 40px; margin-left: 10px; flex: 1; padding-right: 130px;"
                                        placeholder="Nhập phản hồi... "
                                        [(ngModel)]="children['textarea_comment']"></textarea>
                                    <button (click)="saveCommentReply(children , activity, index)"
                                        style="position: absolute; bottom: 5px; right:5px" class="btn btn-primary"><i
                                            class="fa fa-paper-plane" ></i>Gửi
                                        phản hồi</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div [ngClass]="(!activity['comments'] || !activity['comments'].length) ? 'padding-top-15px':''"
            class="comment-edit-layout"
            *ngIf="(kd_uyvien || kd_hoidong) && activity['status'] === 1 && activity['status_captruong'] !== 1">
            <textarea placeholder="Nhập nội dung nhận xét trước khi duyệt hoặc yêu cầu sửa... "
                [(ngModel)]="activity['textarea_comment']"></textarea>
            <div class="action-edit-layout">
                <button (click)="saveComment(1,activity)" style="line-height: 1; margin-bottom: 10px;"
                    class="btn-primary">Đồng ý duyệt
                </button>
                <button (click)="saveComment(-1,activity)" style="line-height: 1;" class="btn-danger">Yêu cầu
                    sửa</button>
            </div>
        </div>
        <div *ngIf="activity['status'] === 1 && kd_hoidong && activity['status_captruong'] !== -1 && activity['status_captruong'] !== 1 && activity['comments'] && activity['comments'].length"
            style="padding: 0px 15px 15px 15px">
            <div class="hozion-lay" style="position: relative;">
                <label
                    style="font-weight: 600; z-index: 1; position: relative; background: whitesmoke; padding-right: 5px;">KẾT
                    LUẬN CỦA CHỦ TỊCH HỘI ĐỒNG: </label>
            </div>
            <div style="display: flex; justify-content: space-evenly;">
                <button style="margin-right: 5px; width: 150px; line-height: 1;" (click)="duyetNoidung(activity, 1)"
                    *ngIf="kd_hoidong" class="btn btn-primary">Đồng ý duyệt</button>
                <button style="margin-left: 5px; width: 150px;line-height: 1;" (click)="duyetNoidung(activity, -1)"
                    *ngIf="kd_hoidong" class="btn btn-danger">Yêu cầu sửa</button>
            </div>

        </div>

        <!-- <div *ngIf="rejectRole && (activity['status'] === -1 || activity['status'] === 1)"
            style="padding: 0px 15px 15px 15px">
            <div class="hozion-lay" style="position: relative;">
                <label
                    style="font-weight: 600; z-index: 1; position: relative; background: whitesmoke; padding-right: 5px;">KẾT
                    LUẬN CỦA CHỦ TỊCH HỘI ĐỒNG: </label>
            </div>
            <div style="display: flex; justify-content: space-evenly;">
                <button style="margin: 0px 5px; width: 200px; line-height: 1;" (click)="huyTrangThai(activity)"
                    *ngIf="rejectRole" class="btn btn-secondary">
                    {{activity['status'] === -1?'Huỷ trạng thái yêu cầu sửa': 'Huỷ trạng thái đã duyệt'}}</button>
            </div>
        </div> -->
    </div>
</ng-template>