<div class="layout_component_container">
    <div class="layout-add-student" style="display: flex;" [ngClass]="closeLeft?'close-left-body':''">
        <div class="layout-add-student-left">
            <button style="margin-left: 5px; padding: 0px; min-width: 0px; z-index: 50;" (click)="closeLeftBody()"
                class="btn btn-success button-close-left-body">
                <i style="margin: 0px;vertical-align: middle; font-size: 13px;"
                    [ngClass]="closeLeft?'pi pi-angle-double-right':'pi pi-angle-double-left'"></i>
            </button>
            <div class="thi-shift-info" style="border-bottom: 1px solid #c8c8c8; padding: 10px;">
                <div class="info-course-content" style="margin-bottom: 5px;">
                    <div class="info-course-item">
                        <label>- Tên ca thi:</label>
                        <span *ngIf="selectedShift">{{selectedShift.name}}</span>
                    </div>
                    <div class="info-course-item">
                        <label>- Thời gian bắt đầu:</label>
                        <span *ngIf="selectedShift">{{selectedShift.time_start | date : 'dd/MM/yyyy HH:mm '
                            :'UTC+7'}}</span>
                    </div>
                    <div class="info-course-item">
                        <label>- Môn học:</label>
                        <span *ngIf="selectedShift">{{selectedShift['course_label']}}</span>
                    </div>
                </div>
                <div class="info-course-content">
                    <div class="info-course-item">
                        <label style="font-size: 15px; text-decoration: underline;">Người tạo ca thi:</label>
                    </div>
                    <div class="info-course-item">
                        <label>- Họ và tên:</label>
                        <span *ngIf="selectedShift">{{selectedShift['created_by_name']}}</span>
                    </div>
                    <div class="info-course-item">
                        <label>- Số điện thoại:</label>
                        <span *ngIf="selectedShift">{{selectedShift['created_by_phone']}}</span>
                    </div>
                </div>
            </div>
            <div style="flex:1; overflow: hidden;">
                <div class="filter-layout" style="line-height: 1;">
                    <input [(ngModel)]="searRoom" style="width: 100%;" placeholder="Nhập tên phòng" type="text">
                </div>
                <div class="layout-add-student-left-bottom list-course-layout"
                    *ngIf="(list_room |filter: searRoom : ['room']).length > 0; else noResults">
                    <mat-selection-list [multiple]="false" class="selection-list-mat" #courses>
                        <mat-list-option (click)="onSelectedRoom(room)"
                            [selected]="selectedRoom && selectedRoom.room === room.room ? true: false"
                            *ngFor="let room of list_room | filter : searRoom : ['room'] " [value]="room">
                            <div mat-line
                                style="font-weight: 600; margin-bottom: 5px; display: flex; align-items: center; font-size: 14px;">
                                <span style="flex:1">{{room.id ? 'Phòng':''}} {{room.room}}</span>
                                <span *ngIf="room['status'] === 1" class="blue">(Hoàn thành coi thi)</span>
                            </div>
                            <div mat-line style="display: flex; justify-content: space-between;">
                                <span>Tổng sinh viên: {{room['count_students']}}</span>
                            </div>
                            <div *ngIf="isManager && room['canEdit']" mat-line
                                style="display: flex; font-size: 14px; margin-top: 5px;">
                                <span style="color: #007AA6">( Phòng thi được phân công coi thi )</span>
                            </div>
                        </mat-list-option>
                    </mat-selection-list>
                </div>
                <ng-template #noResults>
                    <div style="height: calc(100% - 42px);" class="result-search-none">Không tìm thấy...</div>
                </ng-template>
            </div>
        </div>
        <div class="layout-add-student-right" #topResize [ngClass]="smallWidth?'small-width-phongthi':''">
            <div *ngIf="selectedRoom" style="height: 100%">
                <div style="height: 100%"
                    *ngIf="object_pass_of_room[selectedRoom.id.toString()+'_'+selectedRoom.room] === selectedRoom.pass_of_room && selectedRoom['open'] === true; else enterPassRoom">
                    <div class="layout-add-student-right-table-header" style="display: flex; align-items: center;">
                        <!-- <button class="btn btn-primary btn-icon btn-group-left"><i class="fa fa-list"></i></button>
                    <button class="btn btn-primary btn-icon btn-group-right"><i class="fa fa-th-large"></i></button> -->
                        <span style="flex: 1;margin-right: 10px; text-transform: uppercase; font-size: 14px; ">
                            <strong *ngIf="selectedRoom">Phòng: {{selectedRoom.room}}</strong></span>

                        <button
                            [disabled]="selectedRoom['status'] !== 1 && selectedRoom && selectedRoom['canEdit']? false : true"
                            class="btn btn-primary" (click)="savePoint()">
                            <i class="fa fa-floppy-o margin-right-5px"></i>
                            Lưu điểm
                        </button>
                        <button class="btn btn-success"
                            [disabled]="status_object.dadung === 0 && status_object.danglam === 0? false:true"
                            (click)="downloadDiemExcel()">
                            <i class="fa fa-file-excel-o margin-right-5px"></i>
                            Tải bảng điểm (excel)
                        </button>
                        <button style="margin-left: 10px;" class="btn btn-primary"
                            [disabled]="selectedRoom['status'] !== 1 && selectedRoom && selectedRoom['canEdit']? false : true"
                            (click)="closeRoom()">
                            <i class="fa fa-check-circle-o margin-right-5px"></i>
                            Xác nhận hoàn thành coi thi
                        </button>
                    </div>
                    <div class="layout-add-student-right-table">
                        <ng-container [ngTemplateOutlet]="templateListRight">
                        </ng-container>
                    </div>
                </div>
                <ng-template #enterPassRoom>
                    <div class="enter-pass-word" style="height:100%">
                        <div class="card-enter-password">
                            <mat-card class="example-card">
                                <mat-card-subtitle>{{selectedRoom.room}}</mat-card-subtitle>
                                <mat-card-title>Nhập Mã truy cập phòng thi</mat-card-title>
                                <mat-card-content>
                                    <input [(ngModel)]="passOfRoom" type="text" class="ovic-input-field"
                                        style="width: 100%; text-align: center;">
                                </mat-card-content>
                                <mat-divider inset></mat-divider>
                                <mat-card-actions>
                                    <button (click)="setPassOfRoom(selectedRoom)" pButton pRipple type="button"
                                        label="Vào phòng" class="p-button-info p-button-text"></button>
                                </mat-card-actions>
                            </mat-card>
                        </div>
                    </div>
                </ng-template>
            </div>

        </div>
        <!-- <div *ngIf="!selectedRoom" class="layout-add-student-right"
            style="display: flex; align-items: center; justify-content: center; font-size: 18px;font-weight: bold; color:#fa8e42">
            <span>Vui lòng chọn phòng thi</span>
        </div> -->
    </div>
</div>

<ng-template #templateListRight>
    <div class="layout-list-shift-student">
        <p-table dataKey="id" [(selection)]="selectedShiftStudent" selectionMode="single"
            [value]="list_student | filter : _status_student_filter : ['_student_status'] | filter : searchStudent : ['full_name','student_code']"
            styleClass="table-scroll-able table-able-dropdown-p-table table-has-caption table-reBorder">
            <ng-template pTemplate="caption">
                <div class="flex caption-table-student-list" style="display: flex; align-items: center;">
                    <div style="flex: 1" class="caption-table-student-list-status-list">
                        <span (click)="_status_student_filter = null" class="padding-5px hover-underline">Tổng:
                            {{list_student?list_student.length:0}}</span>
                    </div>
                    <div style="font-weight: normal;">
                        <input [(ngModel)]="searchStudent" type="text" style="line-height: 1; width:300px;"
                            placeholder="Nhập mã sinh viên hoặc họ tên" />
                    </div>

                </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th style="width: 3rem; text-align: center;">TT</th>
                    <th style="width: 350px;">Họ và tên</th>
                    <th style="width: 110px; text-align: center;">Điểm danh
                        <i ngbTooltip="Khóa bài thi của sinh viên vắng mặt" container="body" placement="top"
                            class="fa fa-info-circle" style="color:#007bff"></i>
                    </th>
                    <th style="width:120px;text-align: center;">SBD</th>
                    <th style="width:100px;text-align: center;">Điểm</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-student let-rowIndex="rowIndex">
                <tr [pSelectableRow]="student">
                    <td style="text-align: center;">{{rowIndex + 1}}</td>
                    <td>
                        <div class="student-name">
                            <div class="student-info">
                                <span class="font-weight-600"
                                    style="margin-bottom: 5px;">{{student.student.full_name}}</span>
                                <span>{{student.student.student_code}}</span>
                            </div>
                        </div>
                    </td>
                    <td class="lock-col" style="width: 100px; text-align: center;">
                        <div [matMenuTriggerFor]="menuDiemdanh" style="cursor: pointer; font-size: 14px;"
                            [ngSwitch]="student['locked']">
                            <span class="hover-underline" *ngSwitchCase="0" class="co-mat blue">Có</span>
                            <span *ngSwitchCase="1" class="vang-mat">Vắng KP</span>
                            <span *ngSwitchCase="2" class="hoan-thi">Hoãn thi</span>
                        </div>
                        <mat-menu #menuDiemdanh="matMenu">
                            <button (click)="onChangeLock(student, 0)" mat-menu-item
                                [disabled]="student['locked'] === 0? true: false">
                                <span>Có</span>
                            </button>
                            <button (click)="onChangeLock(student, 1)" mat-menu-item
                                [disabled]="student['locked'] === 1? true: false">
                                <span>Vắng không phép</span>
                            </button>
                            <button (click)="onChangeLock(student, 2)" mat-menu-item
                                [disabled]="student['locked'] === 2? true: false">
                                <span>Hoãn thi</span>
                            </button>
                        </mat-menu>
                    </td>
                    <td style="text-align: center;">
                        <span *ngIf="key_server === 'hvu'">
                            {{student.sbd < 10 ? "0" + student.sbd.toString() :student.sbd}} </span>
                                <span *ngIf="key_server === 'ictu'">
                                    {{student.sbd}}
                                </span>
                    </td>
                    <td style="text-align: center;"
                        [ngClass]="student['locked'] === 0 && !student['point_cham']?'no-point-set':''">
                        <input
                            [attr.disabled]="student['locked'] !== 0  || !selectedRoom || !selectedRoom['canEdit']? '' : null"
                            #input_point (keydown)="pointQuestionKeyDown($event,input_point)"
                            style="width: 100%; text-align: center;" [(ngModel)]="student['point_cham']" type="text" />
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</ng-template>


<p-dialog maskStyleClass="zindex-1000" styleClass="report-create-plan-dialog" [showHeader]="false" appendTo="body"
    position="center" [draggable]="false" [resizable]="false" [modal]="true" header="Title"
    [(visible)]="displayCloseRoom" [style]="{width: '700px'}" [closable]="false">
    <div class="step-sync-plans" style="background-color: #fff; border-color: red;">
        <div class="step-sync-plans-header" style="display: flex; align-items: center; background-color: red;">
            <span style="flex: 1;">Cảnh bảo</span>
            <!-- <span (click)="closeAddTime()" class="action-span"
                style="margin-right: 0px; height: 20px; width: 20px; padding: 0px; line-height: 20px;text-align: center; cursor: pointer;">
                <i style="color: red; margin: 0px;" class="fa fa-times"></i>
            </span> -->
        </div>
        <div class="step-sync-plans-body ovic-vertical__inputs">
            <div class="row form-row form-row-flex-row">
                <div class="col-12 flex-div" style="font-size: 16px;">
                    <div style="text-align: justify;">
                        <em>- Thầy/Cô đang thực hiện thao tác xác nhận <strong>HOÀN THÀNH COI THI</strong> phòng thi này
                            <em>(Bước cuối cùng để đóng phòng thi)</em>. Thầy/Cô
                            sẽ không thể truy cập lại phòng thi sau khi xác nhận hoàn thành coi thi.</em><br>
                        <em>- Xác nhận <strong>HOÀN THÀNH COI THI</strong> là bắt buộc phải thực hiện trước khi rời khỏi
                            phòng thi?</em><br>
                        <em>- Thầy cô chắc chắn đồng ý xác nhận đã <strong>HOÀN THÀNH COI THI</strong>?</em>
                    </div>
                </div>
            </div>
            <div class="row form-row form-row-flex-row" style="margin-top: 10px;">
                <div class="col-12" style="text-align: right;">
                    <button (click)="startCloseRoom()" style="line-height: 1; margin-right: 10px;"
                        class="btn btn-danger">Đồng ý</button>
                    <button (click)="closeAddTime()" style="line-height: 1;" class="btn btn-success">Không, tôi cần
                        xem lại</button>
                </div>
            </div>
        </div>
    </div>
</p-dialog>

<p-dialog styleClass="dialog-waiting" appendTo="body" [showHeader]="false" [closable]="false" [(visible)]="displayModal"
    [modal]="true" [style]="{width: '50vw'}" [baseZIndex]="1099" [draggable]="false" [resizable]="false">
    <div class="popup-waiting-loading">
        <label style="width: 100%;">{{waitting_title}}</label>
        <div class="tn-import-student-progressbar">
            <mat-progress-bar mode="determinate" [value]="progressValue"></mat-progress-bar>
        </div>
    </div>
</p-dialog>