<div class="layout_component_container">
    <div class="document-type-a4-vertical">
        <div style="margin-bottom:10px">
            <p-table [reorderableColumns]="true" [value]="list_form"
                styleClass="table-reBorder table-scroll-able table-has-caption">
                <ng-template pTemplate="caption">
                    <div style="display: flex;" class="flex align-items-center justify-content-between">
                        <div>
                            Cấu trúc đề thi
                            <span *ngIf="form_duyet"> | </span>
                            <span *ngIf="form_duyet" [ngSwitch]="form_duyet['status']" class="date-tab-panel">
                                <span *ngSwitchCase="0" class="action-icon status-is-deactive">
                                    Chờ duyệt
                                </span>
                                <span *ngSwitchCase="1" class="action-icon status-is-active">
                                    Duyệt lúc: {{form_duyet['approved_at'] | date : 'dd/MM/yyyy HH:mm':'UTC+7'}}
                                </span>
                                <span *ngSwitchCase="-1" class="action-icon status-is-redo">
                                    Chưa đạt
                                </span>
                                <span *ngSwitchCase="-2" class="action-icon status-is-require">
                                    Đã sửa
                                </span>
                            </span>
                        </div>
                        <div>
                            <button (click)="saveOrderingForm()" style="line-height: 0;" class="btn btn-primary">
                                <i class="fa fa-floppy-o"></i>
                                Lưu thứ tự
                            </button>
                            <button (click)="addFormQuestion()" style="line-height: 0; margin-left: 5px;"
                                class="btn btn-success">
                                <i class="fa fa-plus"></i>
                                Thêm nhóm câu hỏi
                            </button>
                        </div>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width:3rem"></th>
                        <th style="text-align: center; width:120px">Nhóm câu hỏi</th>
                        <th style="text-align: center;">Chuẩn đầu ra học phần</th>
                        <th style="text-align: center;">Mức độ/trình độ năng lực</th>
                        <th style="text-align: center; width:120px">Số câu lấy</th>
                        <th style="text-align: center; width:100px">Điểm</th>
                        <th style="text-align: center; width:100px">Tổng điểm</th>
                        <th style="text-align: center; width:120px">Thao tác</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-form let-rowIndex="rowIndex">
                    <tr [pReorderableRow]="rowIndex">
                        <td style="text-align: center;">
                            <span class="pi pi-bars" [pReorderableRowHandle]="rowIndex"></span>
                        </td>
                        <td style="text-align: center;">{{form.ordering}}</td>
                        <td style="text-align: center;">
                            {{form.course_clo_id | showlabel : list_clo : 'id' : 'kyhieu'}}
                        </td>
                        <td style="text-align: center;">
                            {{form.cdr | showlabel : chuandaura : 'id' : 'label'}}
                        </td>
                        <td style="text-align: center;">
                            {{form.question_take}}
                        </td>
                        <td style="text-align: center;">
                            {{form.point}}
                        </td>
                        <td style="text-align: center;">
                            {{form.point * form.question_take}}
                        </td>
                        <td style="text-align: center;">
                            <div class="action-table-list-cauhoi">
                                <button (click)="editForm(form)" ngbTooltip="Sửa nhóm câu" container="body"
                                    placement="left" style="margin-right: 5px;" pButton pRipple type="button"
                                    icon="pi pi-file-edit" class="p-button-rounded p-button-text">
                                </button>
                                <button (click)="deleteGroupQuestion(form)" ngbTooltip="Xóa nhóm câu" container="body"
                                    placement="left" pButton pRipple type="button" icon="pi pi-trash"
                                    class="p-button-rounded p-button-danger p-button-text">
                                </button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="footer">
                    <tr>
                        <td></td>
                        <td style="text-align:center">
                            Tổng
                        </td>
                        <td></td>
                        <td></td>
                        <td style="text-align:center">{{ totalTake }}</td>
                        <td style="text-align:center"></td>
                        <td style="text-align:center">{{ totalScore }}</td>
                        <td></td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
        <app-duyet-form-de *ngIf="selectedCourse" [selectedCourse]="selectedCourse" [listThamDInh]="thanhvien_hoidong"
            [typeForm]="'TH_KTHP'">
        </app-duyet-form-de>
    </div>
</div>

<ng-template #templateAddForm let-c="close" let-d="dismiss">
    <div class="ovic-over-right-section">
        <div class="ovic-over-right-section__head">
            <h3 class="ovic-over-right-section__header">{{formTitle}}</h3>
            <button class="btn ovic-over-right-section__close-button" (click)="closeSideMenu()"></button>
        </div>
        <div style="line-height: 1.25; padding: 15px; height: calc(100vh - 51px - 57px);"
            class="ovic-over-right-section__body footer-no-hint">
            <div class="ovic-vertical__inputs form-setting-lesson " style="line-height: 1.5;">
                <form [formGroup]="formData">
                    <div class="row form-row form-row-flex-row">
                        <div class="col-6">
                            <label>Nhóm câu hỏi:<span class="ovic-mark">*</span></label>
                            <input [attr.disabled]="true" type="number" class="ovic-input-field"
                                formControlName="ordering">
                        </div>
                        <div class="col-6">
                            <label>Điểm:<span class="ovic-mark">*</span></label>
                            <input #input_point type="text" class="ovic-input-field" formControlName="point"
                                (keydown)="pointQuestionKeyDown($event,input_point)"
                                (keyup)="pointQuestionKeyup($event,input_point)">
                        </div>
                    </div>
                    <div class="row form-row form-row-flex-row">
                        <div class="col-6">
                            <label>Số câu lấy:<span class="ovic-mark">*</span></label>
                            <input type="number" class="ovic-input-field" formControlName="question_take"
                                (keydown)="numberQuestionKeyDown($event)">
                        </div>
                        <div class="col-6">
                            <label>Chọn chuẩn đầu ra CLO:<span class="ovic-mark">*</span></label>
                            <ovic-dropdown placeholder="--- chọn CLO ---" [options]="list_clo" optionId="id"
                                optionLabel="show_name" [defaultValue]="f['course_clo_id'].value"
                                [formField]="f['course_clo_id']">
                            </ovic-dropdown>
                        </div>
                    </div>
                    <div class="row form-row form-row-flex-row">
                        <div class="col-12">
                            <label>Mức độ/trình độ năng lực:<span class="ovic-mark">*</span></label>
                            <ovic-groups-radio-v2 [disabled_item]="true" group_name="CHUAN_DAU_RA" optionLabel="label"
                                [columns]="3" [options]="chuandaura" [defaultValue]="f['cdr']['value']"
                                [formField]="f['cdr']" optionId="id">
                            </ovic-groups-radio-v2>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="ovic-dynamic-right-section__foot">
            <p class="ovic-over-right-section__foot-wrap-buttons">
                <button (click)="saveForm()" type="button" class="btn ovic-over-right-section__foot-btn btn-primary"><i
                        class="fa fa-floppy-o"></i>Lưu lại
                </button>
            </p>
        </div>
    </div>
</ng-template>