@if (videoLoaded && !autoResponsive) {
  <div class="ovi-video-player">
    @switch (_original) {
      @case (_videoSources.vimeo) {
        <iframe
          [attr.width]="width"
          [attr.height]="height"
          [src]="urlObject | ovicSafeResourceUrl"
          frameborder="0"
          allow="autoplay"
          [attr.allow.fullscreen]="allowFUllScreen"
          [attr.allowfullscreen]="allowFUllScreen"
        ></iframe>
      }
      @case (_videoSources.youtube) {
        <iframe
          [attr.width]="width"
          [attr.height]="height"
          [src]="urlObject | ovicSafeResourceUrl"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          [attr.allowfullscreen]="allowFUllScreen"
        ></iframe>
      }
      @case (_videoSources.googleDrive) {
        <iframe
          [attr.width]="width"
          [attr.height]="height"
          [src]="urlObject | ovicSafeResourceUrl"
          [attr.allowfullscreen]="allowFUllScreen"
        ></iframe>
      }
      @case (_videoSources.serverFile) {
        <video controls [attr.width]="width" [attr.height]="height">
          <source [src]="urlObject | ovicSafeResourceUrl" [type]="videoType">
        </video>
      }
      @case (_videoSources.local) {
        <video controls [attr.width]="width" [attr.height]="height">
          <source [src]="urlObject | ovicSafeResourceUrl" [type]="videoType">
        </video>
      }
    }
  </div>
}

@if (videoLoaded && autoResponsive) {
  <div class="ovi-video-player" style="padding:56.25% 0 0 0;position:relative;">
    @switch (_original) {
      @case (_videoSources.vimeo) {
        <iframe
          style="position:absolute;top:0;left:0;width:100%;height:100%;"
          [src]="urlObject | ovicSafeResourceUrl"
          frameborder="0"
          allow="autoplay"
          [attr.allow.fullscreen]="allowFUllScreen"
          [attr.allowfullscreen]="allowFUllScreen"
          >
        </iframe>
      }
      @case (_videoSources.youtube) {
        <iframe
          style="position:absolute;top:0;left:0;width:100%;height:100%;"
          [src]="urlObject | ovicSafeResourceUrl"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowFUllScreen
          >
        </iframe>
      }
      @case (_videoSources.googleDrive) {
        <iframe
          style="position:absolute;top:0;left:0;width:100%;height:100%;"
          [src]="urlObject | ovicSafeResourceUrl"
          [attr.allowfullscreen]="allowFUllScreen"
          >
        </iframe>
      }
      @case (_videoSources.serverFile) {
        <video controls
          style="position:absolute;top:0;left:0;width:100%;height:100%;">
          <source [src]="urlObject | ovicSafeHtml" [type]="videoType">
        </video>
      }
      @case (_videoSources.local) {
        <video controls style="position:absolute;top:0;left:0;width:100%;height:100%;">
          <source [src]="urlObject | ovicSafeHtml" [type]="videoType">
        </video>
      }
    }
  </div>
}



