<div class="layout_component_container">
    <div class="layout-add-student" style="display: flex;" [ngClass]="closeLeft?'close-left-body':''">
        <div class="layout-add-student-left">
            <button style="margin-left: 5px; padding: 0px; min-width: 0px; z-index: 50;" (click)="closeLeftBody()"
                class="btn btn-success button-close-left-body">
                <i style="margin: 0px;vertical-align: middle; font-size: 13px;"
                    [ngClass]="closeLeft?'pi pi-angle-double-right':'pi pi-angle-double-left'"></i>
            </button>
            <div class="thi-shift-info" style="border-bottom: 1px solid #c8c8c8; padding: 10px;">
                <div class="info-course-content" style="margin-bottom: 5px;">
                    <div class="info-course-item">
                        <label>- Tên ca thi:</label>
                        <span *ngIf="selectedShift">{{selectedShift.name}}</span>
                    </div>
                    <div class="info-course-item">
                        <label>- Thời gian bắt đầu:</label>
                        <span *ngIf="selectedShift">{{selectedShift.time_start | date : 'dd/MM/yyyy HH:mm '
                            :'UTC+7'}}</span>
                    </div>
                    <div class="info-course-item">
                        <label>- Thời gian làm bài:</label>
                        <span *ngIf="selectedShift">{{selectedShift.time_of_test}} Phút</span>
                    </div>
                    <div class="info-course-item">
                        <label>- Môn học:</label>
                        <span *ngIf="selectedShift">{{selectedShift['course_label']}}</span>
                    </div>
                </div>
                <div class="info-course-content">
                    <div class="info-course-item">
                        <label style="font-size: 15px; text-decoration: underline;">Người tạo ca thi:</label>
                    </div>
                    <div class="info-course-item">
                        <label>- Họ và tên:</label>
                        <span *ngIf="selectedShift">{{selectedShift['created_by_name']}}</span>
                    </div>
                    <div class="info-course-item">
                        <label>- Số điện thoại:</label>
                        <span *ngIf="selectedShift">{{selectedShift['created_by_phone']}}</span>
                    </div>
                </div>
            </div>
            <div style="flex:1; overflow: hidden;">
                <div class="filter-layout" style="line-height: 1;">
                    <input [(ngModel)]="searRoom" style="width: 100%;" placeholder="Nhập tên phòng" type="text">
                </div>
                <div class="layout-add-student-left-bottom list-course-layout"
                    *ngIf="(list_room |filter: searRoom : ['room']).length > 0; else noResults">
                    <mat-selection-list [multiple]="false" class="selection-list-mat" #courses>
                        <mat-list-option (click)="onSelectedRoom(room)"
                            [selected]="selectedRoom && selectedRoom.room === room.room ? true: false"
                            *ngFor="let room of list_room | filter : searRoom : ['room'] " [value]="room">
                            <div mat-line
                                style="font-weight: 600; margin-bottom: 5px; display: flex; align-items: center; font-size: 14px;">
                                <span style="flex:1">{{room.id ? 'Phòng':''}} {{room.room}}</span>
                                <span *ngIf="room['status'] === 1" class="blue">(Hoàn thành coi thi)</span>
                            </div>
                            <div mat-line style="display: flex; justify-content: space-between;">
                                <span>Tổng sinh viên: {{room['count_students']}}</span>
                                <span class="blue">Có đề: {{room['shift_Students']}}</span>
                            </div>
                            <div *ngIf="isManager && room['canEdit']" mat-line
                                style="display: flex; font-size: 14px; margin-top: 5px;">
                                <span style="color: #007AA6">( Phòng thi được phân công coi thi )</span>
                            </div>
                        </mat-list-option>
                    </mat-selection-list>
                </div>
                <ng-template #noResults>
                    <div style="height: calc(100% - 42px);" class="result-search-none">Không tìm thấy...</div>
                </ng-template>
            </div>
        </div>
        <div class="layout-add-student-right" #topResize [ngClass]="smallWidth?'small-width-phongthi':''">
            <div *ngIf="selectedRoom" style="height: 100%">
                <div style="height: 100%"
                    *ngIf="object_pass_of_room[selectedRoom.id.toString()+'_'+selectedRoom.room] === selectedRoom.pass_of_room && selectedRoom['open'] === true; else enterPassRoom">
                    <div class="layout-add-student-right-table-header" style="display: flex; align-items: center;">
                        <!-- <button class="btn btn-primary btn-icon btn-group-left"><i class="fa fa-list"></i></button>
                    <button class="btn btn-primary btn-icon btn-group-right"><i class="fa fa-th-large"></i></button> -->
                        <span style="flex: 1;margin-right: 10px; text-transform: uppercase; font-size: 14px; ">
                            <strong *ngIf="selectedRoom">Phòng: {{selectedRoom.room}}</strong></span>
                        <button (click)="loadForStatusOnly()" class="btn btn-success">
                            <i class="fa fa-refresh"></i>
                            Làm mới
                        </button>
                        <button [matMenuTriggerFor]="menuActionRoom" class="btn btn-primary btn-icon"><i
                                class="fa fa-ellipsis-h"></i></button>
                        <mat-menu #menuActionRoom="matMenu">
                            <button [disabled]="selectedRoom && selectedRoom['canEdit']?false:true"
                                (click)="lockLoginAllStudent()" mat-menu-item>
                                <i class="fa fa-lock margin-right-10px"></i>
                                <span>Khóa đăng nhập của sinh viên</span>
                            </button>
                            <button
                                [disabled]="selectedRoom && selectedRoom['canEdit'] && status_object.unlock === 0?false:true"
                                (click)="getPassOfTest()" mat-menu-item>
                                <i class="fa fa-key margin-right-10px"></i>
                                <span>Lấy mã truy cập bài thi</span>
                            </button>
                            <button
                                [disabled]="selectedRoom && selectedRoom['canEdit'] && (status_object.dadung !== 0 || status_object.danglam !== 0)?false:true"
                                (click)="openDialogThubai()" mat-menu-item>
                                <i class="fa fa-stop-circle-o margin-right-10px"></i>
                                <span>Thu bài thi của sinh viên chưa nộp</span>
                            </button>
                            <button
                                [disabled]="selectedRoom && selectedRoom['canEdit'] && status_object.unlock === 0 ? false:true"
                                (click)="unlockLoginAllstudent()" mat-menu-item>
                                <i class="fa fa-unlock margin-right-10px"></i>
                                <span>Mở khóa đăng nhập của sinh viên</span>
                            </button>
                            <button [disabled]="status_object.dadung === 0 && status_object.danglam === 0? false:true"
                                (click)="downloadDiemExcel()" mat-menu-item>
                                <i class="fa fa-file-excel-o margin-right-10px"></i>
                                <span>Tải bảng điểm (excel)</span>
                            </button>
                            <button
                                [disabled]="selectedRoom['status'] !== 1 && selectedRoom && selectedRoom['canEdit'] && status_object.dadung === 0 && status_object.danglam === 0? false : true"
                                (click)="closeRoom()" mat-menu-item>
                                <i class="fa fa-check-circle-o margin-right-10px"></i>
                                <span>Xác nhận hoàn thành coi thi</span>
                            </button>
                        </mat-menu>
                        <!-- <button class="btn btn-primary"><i class="fa fa-file-pdf-o"></i>Tải bảng điểm (pdf)</button> -->
                    </div>
                    <div class="layout-add-student-right-table">
                        <ng-container [ngTemplateOutlet]="templateListRight">
                        </ng-container>
                    </div>
                </div>
                <ng-template #enterPassRoom>
                    <div class="enter-pass-word" style="height:100%">
                        <div class="card-enter-password">
                            <mat-card class="example-card">
                                <mat-card-subtitle>{{selectedRoom.room}}</mat-card-subtitle>
                                <mat-card-title>Nhập Mã truy cập phòng thi</mat-card-title>
                                <mat-card-content>
                                    <input [(ngModel)]="passOfRoom" type="text" class="ovic-input-field"
                                        style="width: 100%; text-align: center;">
                                </mat-card-content>
                                <mat-divider inset></mat-divider>
                                <mat-card-actions>
                                    <button (click)="setPassOfRoom(selectedRoom)" pButton pRipple type="button"
                                        label="Vào phòng" class="p-button-info p-button-text"></button>
                                </mat-card-actions>
                            </mat-card>
                        </div>
                    </div>
                </ng-template>
            </div>

        </div>
        <!-- <div *ngIf="!selectedRoom" class="layout-add-student-right"
            style="display: flex; align-items: center; justify-content: center; font-size: 18px;font-weight: bold; color:#fa8e42">
            <span>Vui lòng chọn phòng thi</span>
        </div> -->
    </div>
</div>

<ng-template #templateListRight>
    <div class="layout-list-shift-student">
        <p-table dataKey="id" [(selection)]="selectedShiftStudent" selectionMode="single"
            [value]="list_student | filter : _status_student_filter : ['_student_status'] | filter : searchStudent : ['full_name','student_code']"
            styleClass="table-scroll-able table-able-dropdown-p-table table-has-caption table-reBorder">
            <ng-template pTemplate="caption">
                <div class="flex caption-table-student-list" style="display: flex; align-items: center;">
                    <div style="flex: 1" class="caption-table-student-list-status-list">
                        <span (click)="_status_student_filter = null" class="padding-5px hover-underline">Tổng:
                            {{list_student?list_student.length:0}}</span> |
                        <span (click)="_status_student_filter = 0" class="padding-5px hover-underline gray">Chưa làm:
                            {{status_object.chualam}} </span> |
                        <span (click)="_status_student_filter = 1" class="padding-5px hover-underline orange">Đang làm:
                            {{status_object.danglam}} </span> |
                        <span (click)="_status_student_filter = -2" class="padding-5px hover-underline violet">Đã dừng:
                            {{status_object.dadung}} </span> |
                        <span (click)="_status_student_filter = 2" class="padding-5px hover-underline blue">Đã nộp:
                            {{status_object.danop}} </span> |
                        <span (click)="_status_student_filter = -1" class="padding-5px hover-underline red">Đã hủy:
                            {{status_object.dahuy}} </span>
                    </div>
                    <div style="font-weight: normal;">
                        <input [(ngModel)]="searchStudent" type="text" style="line-height: 1; width:300px;"
                            placeholder="Nhập mã sinh viên hoặc họ tên" />
                    </div>

                </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th style="width: 3rem; text-align: center;">TT</th>
                    <th style="width: 350px;">Họ và tên</th>
                    <th style="width: 110px; text-align: center;">Điểm danh <i
                            ngbTooltip="Khóa bài thi của sinh viên vắng mặt" container="body" placement="top"
                            class="fa fa-info-circle" style="color:#007bff"></i></th>
                    <th style="width: 120px; text-align: center;">Trạng thái</th>
                    <th style="width:150px;text-align: center;">Thời gian còn lại</th>
                    <th style="width:100px;text-align: center;">Tiến độ <i
                            ngbTooltip="Số câu hỏi đã làm / tổng số câu hỏi" container="body" placement="top"
                            class="fa fa-info-circle" style="color:#007bff;"></i></th>
                    <th style="width:100px;text-align: center;">Điểm</th>
                    <th style="width:120px;text-align: center;">SBD</th>
                    <th style="width:120px;text-align: center;">Có đề</th>
                    <th style="width:150px;text-align: center;">SLTC / CB <i
                            ngbTooltip="Số lần truy cập bài thi của sinh viên / số lần hiện cảnh báo thoát khỏi chế độ làm bài"
                            container="body" placement="top" class="fa fa-info-circle" style="color:#007bff"></i></th>
                    <th style="width:150px;text-align: center;">Mức độ vi phạm</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-student let-rowIndex="rowIndex">
                <tr [pSelectableRow]="student">
                    <td style="text-align: center;">{{rowIndex + 1}}</td>
                    <td>
                        <div class="student-name">
                            <div class="student-info">
                                <span class="font-weight-600"
                                    style="margin-bottom: 5px;">{{student.student.full_name}}</span>
                                <span>{{student.student.student_code}}</span>
                            </div>
                            <div class="student-action-phongthi">
                                <button (click)="pauseAndContinue(student)"
                                    *ngIf="selectedRoom && selectedRoom['canEdit'] && (student._student_status === 1 || student._student_status === -2)"
                                    [ngbTooltip]="student._student_status === 1? 'Cho tạm dừng bài thi':'Cho bài thi tiếp tục'"
                                    container="body" placement="left" style="margin-right: 5px;" pButton pRipple
                                    type="button" [icon]="student._student_status === -2 ?'pi pi-play':'pi pi-pause'"
                                    class="p-button-help p-button-text">
                                </button>
                                <button (click)="unLockLoginStudent(student)"
                                    *ngIf="selectedRoom && selectedRoom['canEdit'] && student.user && student.user['is_locked'] === 1"
                                    ngbTooltip="Đã khóa đăng nhập" container="body" placement="left"
                                    style="margin-right: 5px;" pButton pRipple type="button" icon="pi pi-lock"
                                    class="p-button-danger p-button-text">
                                </button>
                                <button (click)="lockLoginStudent(student)"
                                    *ngIf="selectedRoom && selectedRoom['canEdit'] && student.user && student.user['is_locked'] === 0"
                                    ngbTooltip="Đã mở khóa đăng nhập" container="body" placement="left"
                                    style="margin-right: 5px;" pButton pRipple type="button" icon="pi pi-lock-open"
                                    class="p-button-secondary p-button-text">
                                </button>
                                <button [matMenuTriggerFor]="menuActionShift" pButton pRipple type="button"
                                    icon="pi pi-ellipsis-h" class="p-button-info p-button-text"></button>
                                <mat-menu #menuActionShift="matMenu">
                                    <button
                                        [disabled]="(student._student_status === 0 || student._student_status === 1 || student._student_status === -2) && selectedRoom && selectedRoom['canEdit'] && student.user && student.user.is_locked === 1 ? false: true"
                                        (click)="getPassOfTestStudent(student)" mat-menu-item>
                                        <i class="fa fa-key margin-right-10px"></i>
                                        <span>Nhận Mã truy cập bài thi</span>
                                    </button>

                                    <button
                                        [disabled]="(student._student_status === -2 || student._student_status === 1) && selectedRoom && selectedRoom['canEdit']? false: true"
                                        (click)="submitShiftStudent(student)" mat-menu-item>
                                        <i class="fa fa-stop-circle-o margin-right-10px"></i>
                                        <span>Thu bài thi</span>
                                    </button>

                                    <button
                                        [disabled]="student._student_status === 2  && selectedRoom && selectedRoom['canEdit']? false: true"
                                        (click)="addTimeForShiftStudent(student)" mat-menu-item>
                                        <i class="fa fa-clock-o margin-right-10px"></i>
                                        <span>Cho làm tiếp</span>
                                    </button>

                                    <button
                                        [disabled]="student._student_status === -1 || student._student_status === 0 || !selectedRoom || !selectedRoom['canEdit']? true: false"
                                        (click)="openViolationSet(student)" mat-menu-item>
                                        <i class="fa fa-pencil-square-o margin-right-10px"></i>
                                        <span>Xử lý vi phạm</span>
                                    </button>
                                    <button (click)="deleteViolation(student)"
                                        [disabled]="!student.violation_of_exam ? true : false" mat-menu-item>
                                        <i class="fa fa-calendar-times-o margin-right-10px"></i>
                                        <span>Hủy xử lý vi phạm</span>
                                    </button>
                                    <!-- <button [disabled]="student.user['is_locked'] === 1  ? true : false"
                                        (click)="lockLoginStudent(student)" mat-menu-item>
                                        <i class="fa fa-lock margin-right-10px"></i>
                                        <span>Khóa đăng nhập</span>
                                    </button>
                                    <button [disabled]="student.user['is_locked'] === 0? true : false"
                                        (click)="unLockLoginStudent(student)" mat-menu-item>
                                        <i class="fa fa-unlock margin-right-10px"></i>
                                        <span>Mở khóa đăng nhập</span>
                                    </button> -->
                                    <button (click)="openLogStudent(student)" mat-menu-item>
                                        <i class="fa fa-info-circle margin-right-10px"></i>
                                        <span>Logs thao tác trên bài thi</span>
                                    </button>
                                    <button
                                        [disabled]="student._student_status === -1  || !selectedRoom || !selectedRoom['canEdit']? true: false"
                                        (click)="openCancelTest(student)" mat-menu-item>
                                        <i class="fa fa-times margin-right-10px"></i>
                                        <span>Hủy bài thi</span>
                                    </button>
                                </mat-menu>
                            </div>
                        </div>
                    </td>
                    <td class="lock-col" style="width: 100px; text-align: center;">
                        <div [matMenuTriggerFor]="menuDiemdanh" style="cursor: pointer; font-size: 14px;"
                            *ngIf="student['thi_question_bank_tn_id']" [ngSwitch]="student['locked']">
                            <span class="hover-underline" *ngSwitchCase="0" class="co-mat blue">Có</span>
                            <span *ngSwitchCase="1" class="vang-mat">Vắng KP</span>
                            <span *ngSwitchCase="2" class="hoan-thi">Hoãn thi</span>
                        </div>
                        <mat-menu #menuDiemdanh="matMenu">
                            <button (click)="onChangeLock(student, 0)" mat-menu-item
                                [disabled]="student['locked'] === 0? true: false">
                                <span>Có</span>
                            </button>
                            <button (click)="onChangeLock(student, 1)" mat-menu-item
                                [disabled]="student['locked'] === 1? true: false">
                                <span>Vắng không phép</span>
                            </button>
                            <button (click)="onChangeLock(student, 2)" mat-menu-item
                                [disabled]="student['locked'] === 2? true: false">
                                <span>Hoãn thi</span>
                            </button>
                        </mat-menu>
                        <span *ngIf="!student['thi_question_bank_tn_id']">-</span>
                    </td>
                    <td style="text-align: center;">
                        <div [ngSwitch]="student['_student_status']">
                            <span *ngSwitchCase="-2" class="status-shift status-pause">Đã tạm dừng</span>
                            <span *ngSwitchCase="-1" class="status-shift status-danger">Đã hủy bài</span>
                            <span *ngSwitchCase="0" class="status-shift status-deactive">Chưa làm</span>
                            <span *ngSwitchCase="1" class="status-shift status-doing">Đang làm bài</span>
                            <span *ngSwitchCase="2" class="status-shift status-activite">{{student['submited_by'] ===
                                student['student_user_id']?'Đã nộp bài':'Đã thu bài'}} </span>
                        </div>
                    </td>
                    <td style="text-align: center;">
                        {{student._student_status === 1 || student._student_status === -2 ? student['time_left_convert']
                        : ' - '}}
                    </td>
                    <td style="text-align: center;">
                        {{student._student_status !== -1 && student._student_status !== 0 ? student['progress'] + '/' +
                        student['total']
                        : ' - '}}
                    </td>
                    <td style="text-align: center;">
                        {{student.point <= -1 || student.point===null || student._student_status===-1? ' - ' :
                            student.point}} </td>
                    <td style="text-align: center;">
                        <span *ngIf="key_server === 'hvu'">
                            {{student.sbd < 10 ? "0" + student.sbd.toString() :student.sbd}} 
                        </span>
                        <span *ngIf="key_server === 'ictu'">
                            {{student.sbd}} 
                        </span>
                    </td>
                    <td style="text-align: center;">
                        <span *ngIf="student['thi_question_bank_tn_id']" class='blue'><i class='fa fa-check'></i></span>
                        {{!student['thi_question_bank_tn_id']?'-':''}}
                    </td>
                    <td style="text-align: center;">
                        {{student.tracking?student.tracking.length:'-'}}
                        <button *ngIf="student.tracking && student.tracking.length"
                            class="btn btn-primary btn-icon btn-transparent" (click)="openTrackingStudent(student)">
                            <i class="fa fa-info-circle" ngbTooltip="Thông tin chi tiết truy cập" container="body"
                                placement="top">
                            </i>
                        </button>
                        &nbsp;/&nbsp;
                        {{student['warning_array'] && student['warning_array'].length?
                        student['warning_array'].length:'-'}}
                        <button *ngIf="student['warning_array'] && student['warning_array'].length"
                            class="btn btn-primary btn-icon btn-transparent" (click)="openWarningStudent(student)">
                            <i class="fa fa-exclamation-triangle" ngbTooltip="Thông tin chi tiết cảnh báo"
                                container="body" placement="top">
                            </i>
                        </button>
                    </td>
                    <td style="text-align: center;">
                        {{student.violation_of_exam?student.violation_of_exam.title +' (đã trừ '+
                        (student.violation_of_exam.key | showlabel: dbConfig : 'key' : 'POINT' )+'%)' : '-'}}
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</ng-template>

<p-dialog styleClass="report-create-plan-dialog" [showHeader]="false" appendTo="body" position="center"
    [draggable]="false" [resizable]="false" [modal]="true" header="Title" [(visible)]="displayAddtime"
    [style]="{width: '700px'}" [closable]="false">
    <div *ngIf="selectedShiftStudent" class="step-sync-plans" style="background-color: #fff;">
        <div class="step-sync-plans-header" style="display: flex; align-items: center;">
            <span style="flex: 1;">Sinh viên: {{selectedShiftStudent.student.full_name + ' - ' +
                selectedShiftStudent.student.student_code }}</span>
            <span (click)="closeAddTime()" class="action-span"
                style="margin-right: 0px; height: 20px; width: 20px; padding: 0px; line-height: 20px;text-align: center; cursor: pointer;">
                <i style="color: red; margin: 0px;" class="fa fa-times"></i>
            </span>
        </div>
        <div class="step-sync-plans-body">
            <div class="row form-row form-row-flex-row">
                <div class="col-12 flex-div">
                    <label style="color: red; font-weight: bold;" for="title">Nhập thời gian cho làm tiếp (phút):<span
                            class="ovic-mark" style="color: red;"></span></label>
                    <input (keydown)="numberKeyDown($event)" type="text" [(ngModel)]="addTimeValue">
                </div>
            </div>
            <div class="row form-row form-row-flex-row" style="margin-top: 10px;">
                <div class="col-12" style="text-align: right;">
                    <button style="line-height: 1;" (click)="saveAddtime()" class="btn btn-primary">Cập nhật</button>
                </div>
            </div>
        </div>
    </div>
</p-dialog>


<p-dialog maskStyleClass="zindex-1000" styleClass="report-create-plan-dialog" [showHeader]="false" appendTo="body"
    position="center" [draggable]="false" [resizable]="false" [modal]="true" header="Title" [(visible)]="displayCancel"
    [style]="{width: '700px'}" [closable]="false">
    <div *ngIf="selectedShiftStudent" class="step-sync-plans" style="background-color: #fff;">
        <div class="step-sync-plans-header" style="display: flex; align-items: center;">
            <span style="flex: 1;">Thông báo</span>
            <span (click)="closeAddTime()" class="action-span"
                style="margin-right: 0px; height: 20px; width: 20px; padding: 0px; line-height: 20px;text-align: center; cursor: pointer;">
                <i style="color: red; margin: 0px;" class="fa fa-times"></i>
            </span>
        </div>
        <div class="step-sync-plans-body ovic-vertical__inputs">
            <div class="row form-row form-row-flex-row">
                <div class="col-12 flex-div" style="text-align: center;">
                    <label style="font-weight: bold; font-size: 16px;" for="title">
                        {{selectedShiftStudent.student.full_name +' ('+selectedShiftStudent.student.student_code+')'}}
                    </label>
                    <label style="color: red; font-size: 16px;" for="title">Hủy bài thi</label>
                </div>
            </div>
            <div class="row form-row form-row-flex-row">
                <div class="col-12 flex-div">
                    <label style="font-weight: bold;" for="title">Ghi chú của cán bộ coi thi:</label>
                    <textarea [(ngModel)]="messageControl"></textarea>
                </div>
            </div>
            <div class="row form-row form-row-flex-row" style="margin-top: 10px;">
                <div class="col-12" style="text-align: right;">
                    <button style="line-height: 1;" (click)="cancelShiftStudent()" class="btn btn-primary">Lưu
                        lại</button>
                </div>
            </div>
        </div>
    </div>
</p-dialog>


<p-dialog maskStyleClass="zindex-1000" styleClass="report-create-plan-dialog" [showHeader]="false" appendTo="body"
    position="center" [draggable]="false" [resizable]="false" [modal]="true" header="Title"
    [(visible)]="displayViolation" [style]="{width: '700px'}" [closable]="false">
    <div *ngIf="selectedShiftStudent" class="step-sync-plans" style="background-color: #fff;">
        <div class="step-sync-plans-header" style="display: flex; align-items: center;">
            <span style="flex: 1;">Xử lý vi phạm sinh viên: {{selectedShiftStudent.student.full_name + ' - ' +
                selectedShiftStudent.student.student_code }}</span>
            <span (click)="closeAddTime()" class="action-span"
                style="margin-right: 0px; height: 20px; width: 20px; padding: 0px; line-height: 20px;text-align: center; cursor: pointer;">
                <i style="color: red; margin: 0px;" class="fa fa-times"></i>
            </span>
        </div>
        <div class="step-sync-plans-body ovic-vertical__inputs">
            <div class="row form-row form-row-flex-row">
                <div class="col-12 flex-div">
                    <label style="font-weight: bold;" for="title">Chọn mức độ vi phạm:<span class="ovic-mark"
                            style="color: red;"></span></label>
                    <p-dropdown appendTo="body" placeholder="-----" scrollHeight="300px" [options]="dbConfig"
                        optionLabel="TITLE" optionValue="key" [(ngModel)]="violationData['key']">
                    </p-dropdown>
                </div>
            </div>
            <div class="row form-row form-row-flex-row" style="text-align: justify;">
                <div *ngIf="violationData['key']" class="col-12 flex-div">
                    <label style="font-weight: bold;" for="title">Mô tả:</label>
                    <div style="color: red;" [innerHTML]="violationData['key'] | showlabel : dbConfig : 'key' : 'DESC'">

                    </div>
                    <div style="color: red;"><em>- Mức điểm bị trừ: {{violationData['key'] | showlabel : dbConfig :
                            'key'
                            : 'POINT'}}%</em></div>
                </div>
            </div>
            <div class="row form-row form-row-flex-row">
                <div class="col-12 flex-div">
                    <label style="font-weight: bold;" for="title">Ghi chú của cán bộ coi thi:<span
                            class="ovic-mark">*</span></label>
                    <textarea [(ngModel)]="violationData['note']"></textarea>
                </div>
            </div>
            <div class="row form-row form-row-flex-row">
                <div class="col-12 flex-div ghi-de-dulieu">
                    <p-checkbox [(ngModel)]="acceptViolation" [binary]="true"
                        label="Tôi xác nhận thông tin trên trùng khớp với biên bản xử lý vi phạm đã ký."></p-checkbox>
                </div>
            </div>
            <div class="row form-row form-row-flex-row" style="margin-top: 10px;">
                <div class="col-12" style="text-align: right;">
                    <button [disabled]="!acceptViolation" style="line-height: 1;" (click)="saveViolation()"
                        class="btn btn-primary">Lưu lại</button>
                </div>
            </div>
        </div>
    </div>
</p-dialog>

<ng-template #templateTrackingStudent>
    <div class="ovic-over-right-section" *ngIf="selectedShiftStudent">
        <div class="ovic-over-right-section__head">
            <h3 class="ovic-over-right-section__header">
                {{selectedShiftStudent.student.full_name + ' ('+selectedShiftStudent.student.student_code+')'}} - Số
                lần truy cập bài thi</h3>
            <button class="btn ovic-over-right-section__close-button" (click)="closeSideMenu()"></button>
        </div>
        <div class="ovic-over-right-section__body"
            style="height: calc(100vh - 58px); padding: 0px; line-height: 1.25; font-size: 14px;">
            <div style="height: 100%; padding: 5px;"
                *ngIf="selectedShiftStudent.tracking && selectedShiftStudent.tracking.length">
                <p-table [value]="selectedShiftStudent.tracking" styleClass="table-reBorder p-datatable-striped">
                    <ng-template pTemplate="header">
                        <tr>
                            <th style="width: 3rem; text-align: center;">TT</th>
                            <th style="width: 150px; text-align: center;">Địa chỉ IP</th>
                            <th style="width: 300px; text-align: center;">Trình duyệt</th>
                            <th style="width: 150px; text-align: center;">Thời gian</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-row let-rowIndex="rowIndex">
                        <tr>
                            <td style="width: 3rem; text-align: center;">{{rowIndex + 1}}</td>
                            <td>{{row['ip']}}</td>
                            <td> {{row['agent']}}</td>
                            <td style="width: 150px; text-align: center;">
                                {{row['time'] | date : 'dd/MM/yyyy HH:mm':'UTC+7' }}
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #templateWarningStudent>
    <div class="ovic-over-right-section" *ngIf="selectedShiftStudent">
        <div class="ovic-over-right-section__head">
            <h3 class="ovic-over-right-section__header">
                {{selectedShiftStudent.student.full_name + ' ('+selectedShiftStudent.student.student_code+')'}} - Số lần
                bị cảnh báo</h3>
            <button class="btn ovic-over-right-section__close-button" (click)="closeSideMenu()"></button>
        </div>
        <div class="ovic-over-right-section__body"
            style="height: calc(100vh - 58px); padding: 0px; line-height: 1.25; font-size: 14px;">
            <div style="height: 100%; padding: 5px;"
                *ngIf="selectedShiftStudent['warning_array'] && selectedShiftStudent['warning_array'].length">
                <p-table [value]="selectedShiftStudent['warning_array']"
                    styleClass="table-reBorder p-datatable-striped">
                    <ng-template pTemplate="header">
                        <tr>
                            <th style="width: 3rem; text-align: center;">TT</th>
                            <th style="width: 150px; text-align: center;">Thời gian</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-row let-rowIndex="rowIndex">
                        <tr>
                            <td style="width: 3rem; text-align: center;">{{rowIndex + 1}}</td>
                            <td style="text-align: center;">{{row['time']}}</td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #templateLogStudentShift>
    <div class="ovic-over-right-section">
        <div class="ovic-over-right-section__head">
            <h3 class="ovic-over-right-section__header">{{selectedShiftStudent ?
                selectedShiftStudent.student.full_name + ' ('+selectedShiftStudent.student.student_code+')' : ''}} -
                Thao tác</h3>
            <button class="btn ovic-over-right-section__close-button" (click)="closeSideMenu()"></button>
        </div>
        <div class="ovic-over-right-section__body"
            style="height: calc(100vh - 58px); padding: 0px; line-height: 1.25; font-size: 14px;">
            <div class="re-background-table" style="height: 100%; padding: 5px;"
                *ngIf="selectedShiftStudent && selectedShiftStudent.controls && selectedShiftStudent.controls.length">
                <p-table [value]="selectedShiftStudent.controls" styleClass="table-reBorder p-datatable-striped">
                    <ng-template pTemplate="header">
                        <tr>
                            <th style="width: 3rem; text-align: center;">TT</th>
                            <th style="width: 150px; text-align: center;">Hành động</th>
                            <th style="width: 150px; text-align: center;">Thời gian</th>
                            <th style="width: 100px; text-align: center;">Giá trị</th>
                            <th style="width: 150px;text-align: center;">Người thực hiện</th>
                            <th style="width: 230px;">Ghi chú</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-row let-rowIndex="rowIndex">
                        <tr>
                            <td style="width: 3rem; text-align: center;">{{rowIndex + 1}}</td>
                            <td style="width: 150px;">{{command_object[row['type']]}}</td>
                            <td style="width: 150px; text-align: center;">
                                {{row['created_at'] | date : 'dd/MM/yyyy HH:mm':'UTC+7' }}
                            </td>
                            <td style="width: 100px; text-align: center;">
                                <span *ngIf="row['type']==='ADD_TIME'">
                                    {{row['value']?row['value'] / 60 +'p':'-'}}
                                </span>
                                <span *ngIf="row['type'] === 'VIOLATION'">
                                    {{row['value']?'-'+row['value'] +'%':'-'}}
                                </span>
                            </td>
                            <td style="width: 100px;text-align: center;">{{row['sender']}}</td>
                            <td style="width: 230px;">{{row['message']}}</td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>
    </div>
</ng-template>



<p-dialog maskStyleClass="zindex-1000" styleClass="report-create-plan-dialog" [showHeader]="false" appendTo="body"
    position="center" [draggable]="false" [resizable]="false" [modal]="true" header="Title"
    [(visible)]="displayCloseRoom" [style]="{width: '700px'}" [closable]="false">
    <div class="step-sync-plans" style="background-color: #fff; border-color: red;">
        <div class="step-sync-plans-header" style="display: flex; align-items: center; background-color: red;">
            <span style="flex: 1;">Cảnh bảo</span>
            <!-- <span (click)="closeAddTime()" class="action-span"
                style="margin-right: 0px; height: 20px; width: 20px; padding: 0px; line-height: 20px;text-align: center; cursor: pointer;">
                <i style="color: red; margin: 0px;" class="fa fa-times"></i>
            </span> -->
        </div>
        <div class="step-sync-plans-body ovic-vertical__inputs">
            <div class="row form-row form-row-flex-row">
                <div class="col-12 flex-div" style="font-size: 16px;">
                    <div style="text-align: justify;">
                        <em>- Thầy/Cô đang thực hiện thao tác xác nhận <strong>HOÀN THÀNH COI THI</strong> phòng thi này
                            <em>(Bước cuối cùng để đóng phòng thi, đồng thời mở đăng nhập cho sinh viên)</em>. Thầy/Cô
                            sẽ không thể truy cập lại phòng thi sau khi xác nhận hoàn thành coi thi.</em><br>
                        <em>- Xác nhận <strong>HOÀN THÀNH COI THI</strong> là bắt buộc phải thực hiện trước khi rời khỏi
                            phòng thi?</em><br>
                        <em>- Thầy cô chắc chắn đồng ý xác nhận đã <strong>HOÀN THÀNH COI THI</strong>?</em>
                    </div>
                </div>
            </div>
            <div class="row form-row form-row-flex-row" style="margin-top: 10px;">
                <div class="col-12" style="text-align: right;">
                    <button (click)="startCloseRoom()" style="line-height: 1; margin-right: 10px;"
                        class="btn btn-danger">Đồng ý</button>
                    <button (click)="closeAddTime()" style="line-height: 1;" class="btn btn-success">Không, tôi cần
                        xem lại</button>
                </div>
            </div>
        </div>
    </div>
</p-dialog>

<p-dialog maskStyleClass="zindex-1000" styleClass="report-create-plan-dialog" [showHeader]="false" appendTo="body"
    position="center" [draggable]="false" [resizable]="false" [modal]="true" header="Title"
    [(visible)]="displayDeleteViolaytion" [style]="{width: '700px'}" [closable]="false">
    <div *ngIf="selectedShiftStudent" class="step-sync-plans" style="background-color: #fff;">
        <div class="step-sync-plans-header" style="display: flex; align-items: center;">
            <span style="flex: 1;">Hủy xử lý vi phạm sinh viên: {{selectedShiftStudent.student.full_name + ' - ' +
                selectedShiftStudent.student.student_code }}</span>
            <span (click)="closeAddTime()" class="action-span"
                style="margin-right: 0px; height: 20px; width: 20px; padding: 0px; line-height: 20px;text-align: center; cursor: pointer;">
                <i style="color: red; margin: 0px;" class="fa fa-times"></i>
            </span>
        </div>
        <div class="step-sync-plans-body ovic-vertical__inputs">
            <div class="row form-row form-row-flex-row">
                <div class="col-12 flex-div">
                    <label style="font-weight: bold;" for="title">Ghi chú của cán bộ coi thi:</label>
                    <textarea [(ngModel)]="noteDeleteViolation"></textarea>
                </div>
            </div>
            <div class="row form-row form-row-flex-row" style="margin-top: 10px;">
                <div class="col-12" style="text-align: right;">
                    <button style="line-height: 1;" (click)="startDeleteViolation()" class="btn btn-primary">Xác
                        nhận</button>
                </div>
            </div>
        </div>
    </div>
</p-dialog>


<p-dialog maskStyleClass="zindex-1000" styleClass="report-create-plan-dialog" [showHeader]="false" appendTo="body"
    position="center" [draggable]="false" [resizable]="false" [modal]="true" header="Title" [(visible)]="display_thubai"
    [style]="{width: '700px'}" [closable]="false">
    <div class="step-sync-plans" style="background-color: #fff; border-color: red;">
        <div class="step-sync-plans-header" style="display: flex; align-items: center; background-color: red;">
            <span style="flex: 1;">Cảnh bảo</span>
            <!-- <span (click)="closeAddTime()" class="action-span"
                style="margin-right: 0px; height: 20px; width: 20px; padding: 0px; line-height: 20px;text-align: center; cursor: pointer;">
                <i style="color: red; margin: 0px;" class="fa fa-times"></i>
            </span> -->
        </div>
        <div class="step-sync-plans-body ovic-vertical__inputs">
            <div class="row form-row form-row-flex-row">
                <div class="col-12 flex-div" style="font-size: 16px;">
                    <div style="text-align: justify;">
                        <em>- Thầy/Cô đang thực hiện thao tác <strong>THU BÀI THI CỦA TẤT CẢ SINH VIÊN</strong>trong
                            phòng thi này. Những sinh viên đang làm bài sẽ <strong>bị buộc phải nộp bài và tính
                                điểm</strong>. Sinh viên sẽ <strong>không thể tiếp tục làm bài</strong></em><br>
                        <em>- Thầy cô chắc chắn đồng ý xác nhận <strong>THU BÀI THI CỦA TẤT CẢ SINH VIÊN</strong>?</em>
                    </div>
                </div>
            </div>
            <div class="row form-row form-row-flex-row">
                <div class="col-12 flex-div ghi-de-dulieu">
                    <p-checkbox [(ngModel)]="checkboxThubai" [binary]="true"
                        label="Tôi đồng ý THU BÀI THI CỦA TẤT CẢ SINH VIÊN"></p-checkbox>
                </div>
            </div>
            <div class="row form-row form-row-flex-row" style="margin-top: 10px;">
                <div class="col-12" style="text-align: right;">
                    <button [disabled]="!checkboxThubai" (click)="startThuBaiAll()"
                        style="line-height: 1; margin-right: 10px;" class="btn btn-danger">Đồng ý</button>
                    <button (click)="closeAddTime()" style="line-height: 1;" class="btn btn-success">Không, tôi cần
                        xem lại</button>
                </div>
            </div>
        </div>
    </div>
</p-dialog>