<div class="layout_component_container position-relative">
  <div class="layout_component_container-course position-relative ovic-is-loading--size-normal" [class.ovic-is-loading]="menu.state==='loading'">
    @switch (menu.state) {
      @case ('success') {
        <div class="list-course-layout">
          <mat-selection-list (selectionChange)="onSelectCourse($event)" [multiple]="false" class="selection-list-mat" #courses>
            @for (course of menu.data ; track course) {
              <mat-list-option [selected]="menu.selected && menu.selected.id === course.id" [value]="course">
                <div mat-line style="font-weight: 600;">{{ course.title + '(' + course.maso+ ')' }}</div>
                <div mat-line>{{ course.subInfo }}</div>
              </mat-list-option>
            }
          </mat-selection-list>
        </div>
      }
      @case ('empty') {
        <div class="list-course-layout justify-content-center align-items-center d-flex p-2">
          <div class="alert alert-primary m-auto primary-font --fs-14" role="alert">Hiện tại bạn không có yêu cầu kiểm thử nào</div>
        </div>
      }
      @case ('error') {
        <div class="list-course-layout justify-content-center align-items-center d-flex p-2">
          <div class="layout_component_container__error__message alert alert-danger m-auto primary-font --fs-14">Mất kết nối với máy chủ.
            <button (click)="reloadMenu()" class="btn layout_component_container__btn-reload text-primary">Tải lại</button>
          </div>
        </div>
      }
    }
  </div>
  <div class="layout_component_container-noidung">
    <div class="d-flex justify-content-center align-items-center w-100 h-100">
      @switch (grid.state) {
        @case ('error') {
          <div class="list-course-layout justify-content-center align-items-center d-flex p-2">
            <div class="layout_component_container__error__message alert alert-danger m-auto primary-font --fs-14">Mất kết nối với máy chủ.
              <button (click)="reCollectData()" class="btn layout_component_container__btn-reload text-primary">Tải lại</button>
            </div>
          </div>
        }
        @case ('empty') {
          <div class="alert alert-warning m-auto primary-font --fs-14" role="alert">Hiện tại bạn không có yêu cầu kiểm thử nào</div>
        }
        @case ('onwaiting') {
          <div class="alert alert-secondary m-auto primary-font --fs-14" role="alert">Vui lòng chọn môn học</div>
        }
        @case ('success') {
          <ul class="giang-vien-test__list">
            @for (test of grid.data; track test) {
              <li class="giang-vien-test__list__node intro-y">
                <div class="giang-vien-test__card">
                  <div class="giang-vien-test__card__head">
                    <h4 class="giang-vien-test__card__heading">Bài {{ test.courseTester.week }}</h4>
                    @if (test.verify) {
                      <span class="giang-vien-test__card__status" [ngClass]="test.passed ? 'bg-success' : 'bg-warning'"><i class="pi" [ngClass]="test.passed ? 'pi-verified' : 'pi-exclamation-circle'"></i>{{ test.passed ? 'Đạt' : 'Chưa đạt' }}</span>
                    }
                  </div>
                  <div class="giang-vien-test__card__body">
                    <div class="row">
                      <div class="col-6">
                        <p class="giang-vien-test__card__body__line">
                          <span>Biết:</span> {{ test.report.know }} câu</p>
                        </div>
                        <div class="col-6">
                          <p class="giang-vien-test__card__body__line">
                            <span>Hiểu:</span> {{ test.report.understand }} câu</p>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-6">
                            <p class="giang-vien-test__card__body__line">
                              <span>Vận dụng:</span> {{ test.report.apply }} câu</p>
                            </div>
                            <div class="col-6">
                              <p class="giang-vien-test__card__body__line">
                                <span>Phân tích:</span> {{ test.report.analysis }} câu</p>
                              </div>
                            </div>
                            <span class="giang-vien-test__card__separator"></span>
                            <div class="giang-vien-test__card__counter">
                              <span>Tổng số câu đã test <i>( bao gồm cả câu hỏi con)</i></span><span>{{ test.report.numberOfTestedQuestion }} / {{ test.report.totalQuestions }}</span>
                            </div>
                            <div class="giang-vien-test__card__counter">
                              <span>Số câu cần test <i>( bao gồm cả câu hỏi con)</i></span><span>{{ test.report.numberOfPendingQuestion }}</span>
                            </div>
                            <div class="giang-vien-test__card__counter">
                              <!-- <span>Số lần làm bài test</span><span>{{ test.report.tried }}/{{ test.report.totalAttempts }}</span> -->
                              <span>Số lần làm bài test</span><span>{{ test.report.tried }}</span>
                            </div>
                            <!--								<div class="giang-vien-test__card__counter">-->
                            <!--									<span>Kết quả cao nhất</span><span>{{ test.passed ? test.report.bestResult : '&#45;&#45;' }}/{{ test.report.requirement }}</span>-->
                          <!--								</div>-->
                        </div>
                        <!--<div class="giang-vien-test__card__foot" [class.giang-vien-test__card__foot&#45;&#45;double-buttons]="test.sessions.length">-->
                        <div class="giang-vien-test__card__foot">
                          @if (test.verify) {
                            <button (click)="doTest(test)" [disabled]="!test.canDo" class="giang-vien-test__card__foot__button" pButton pRipple label="Bắt đầu"></button>
                          } @else {
                            <span class="giang-vien-test__card__foot__not-ready text-warning text-center">Có xx cdr chưa đạt</span>
                          }
                          <!--<button (click)="btnReviewTest(test)" *ngIf="test.sessions.length" class="giang-vien-test__card__foot__button p-button-warning" pButton pRipple label="Xem lại bài làm"></button>-->
                        </div>
                      </div>
                    </li>
                  }
                </ul>
              }
            }
          </div>
        </div>
        @if (loading) {
          <div class="layout_component_container__loading">
            <div class="layout_component_container__loading__box">
              <span class="layout_component_container__loading__heading">Loading...</span>
              <p-progressBar mode="indeterminate" [style]="{ height: '6px' }"></p-progressBar>
            </div>
          </div>
        }
      </div>

      <p-dialog styleClass="dialog-waiting" appendTo="body" [showHeader]="false" [closable]="false" [(visible)]="review.displayModal" [modal]="true" [style]="{width: '50vw'}" [baseZIndex]="1099" [draggable]="false" [resizable]="false">
        <div class="giang-vien-test__card__dialog">
          <button class="p-button-text p-button-danger giang-vien-test__card__dialog__btn-close" (click)="btnReviewTestChooser(null)" pButton pRipple icon="pi pi-times"></button>
          <h4 class="giang-vien-test__card__dialog__heading">Chọn bài thi</h4>
          @if (review.cell) {
            <table class="giang-vien-test__card__dialog__table w-100">
              <thead>
                <tr>
                  <th class="tbl-col tbl-col-index text-center">#</th>
                  <th class="tbl-col text-center">Lần test</th>
                  <th class="tbl-col text-center">Điểm</th>
                  <th class="tbl-col text-center">Thời gian bắt đầu</th>
                  <th class="tbl-col text-center">Thời gian kết thúc</th>
                  <th class="tbl-col text-center">Chọn</th>
                </tr>
              </thead>
              <tbody>
                @for (item of review.cell.sessions; track item; let i = $index) {
                  <tr>
                    <td class="tbl-col tbl-col-index text-center">{{ 1 + i }}</td>
                    <td class="tbl-col text-center">{{ item.round }}</td>
                    <td class="tbl-col text-center">{{ item.score }}</td>
                    <td class="tbl-col text-center">{{ item.created_at }}</td>
                    <td class="tbl-col text-center">{{ item.updated_at }}</td>
                    <td class="tbl-col text-center">
                      <button class="p-button-text" (click)="btnReviewTestChooser(item)" pButton pRipple icon="pi pi-eye" label="Xem"></button>
                    </td>
                  </tr>
                }
              </tbody>
            </table>
          }
        </div>
      </p-dialog>
