@if (!disableWhenDataEmpty || (disableWhenDataEmpty && docs && docs.length) ) {
  <div class="ovic-document-list__wrap ovic-document-list-version-{{version}}" [ngClass]="cssClasses">
    @if (listTitle) {
      <h4 class="ovic-document-list__title">{{listTitle}}</h4>
    }
    @if (docs && docs.length) {
      <ul class="ovic-document-list__file-list {{cssWrapListClasses}}">
        @for (f of docs; track f; let i = $index) {
          <li class="ovic-document-list__file-elm {{animationElementsClass}}" [ngClass]="f['active'] && !noActiveSelected ? 'file-active' : null " [class.hint-file]="f['__elm_hint']">
            <button type="button" class="ovic-document-list__info" (click)="changeFile(f,i)">
              <span class="ovic-document-list__file-icon ovic-{{f.type}}-icon"></span>
              <span class="ovic-document-list__file-name">{{f.fileName}}</span>
            </button>
            @if (f.download) {
              <button class="ovic-document-list__download-icon" type="button" (click)="downloadDocument(f)">
                <i class="fa" [ngClass]="f['downloading'] ? 'fa-spinner fa-pulse fa-fw':'fa-download'" ></i> tải xuống
              </button>
            }
          </li>
        }
      </ul>
    }
    @if (!docs || !docs.length) {
      <div class="ovic-document-list__empty-mes">
        <p class="ovic-document-list__empty-text">{{_emptyMess}}</p>
      </div>
    }
  </div>
}
