<div class="files-list">
  @for (file of _fileParam; track file; let i = $index) {
    <div class="single-file" style="">
      <div class="d-flex flex-row site" (click)="selectFile(file)">
        <i class="icon-in-open-download-file" [ngClass]="file['_icon']" ></i>
        <div class="info">
          <h4 class="name">{{ file.title }}</h4>
          <p class="size">{{ file['file_size'] }}</p>
        </div>
      </div>
      <div class="file">
        <!--                <i class="pi pi-download" (click)="btnDowloadFIle(file)"></i>-->
        <button pButton pRipple pTooltip="Tải xuống" class="p-button-text p-button-icon" icon="pi pi-download"
        (click)="dowloadFile(file)"></button>
      </div>
    </div>
  }

</div>

<p-dialog styleClass="dialog-waiting" appendTo="body" [showHeader]="false" [closable]="false"
  [(visible)]="fileOpen"
  [modal]="true" [style]="{width: '80vw'}" [baseZIndex]="1098" [draggable]="false" [resizable]="false">
  @if (fileSelect) {
    <div class="d-flex flex-column" style="width:100%;height:calc(100vh - 120px);">
      <div class="d-flex flex-row justify-content-between justify-content-between align-items-center "
        style=" padding:0 10px;height:60px;box-shadow: 1px 2px 3px 0 #ccc;">
        <span style="font-size:16px;font-weight: 500;">{{fileSelect ? fileSelect['name'] : 'VIEW'}} </span>
        <div class=" d-flex " style="gap:10px">
          <button pRipple pButton label="thoát" class="p-button-danger" icon="pi pi-times"
          (click)="btnExit()"></button>
        </div>
      </div>
      <div class="w-100" style="height:1%; flex:1 1 auto;padding: 10px;">
        <view-document [file]="fileSelect" ></view-document>
      </div>
    </div>
  } @else {
    <div class="d-flex flex-column" style="width:100%;height:calc(100vh - 100px);">
      <div class="d-flex flex-row justify-content-between justify-content-between align-items-center "
        style=" padding:0 10px;height:60px;box-shadow: 1px 2px 3px 0 #ccc;">
        <span style="font-size:16px;font-weight: 500;">{{fileSelect ? fileSelect['name'] : 'VIEW'}} </span>
        <div class=" d-flex " style="gap:10px">
          <button pRipple pButton label="thoát" class="p-button-danger" icon="pi pi-times"
          (click)="btnExit()"></button>
        </div>
      </div>
      <div class="w-100 d-flex justify-content-center align-items-center" style="height:1%; flex:1 1 auto;padding: 10px;">
        <div>Hệ thống không hỗ trợ hiện thị file, vui lòng tải về</div>
        <div><button pRipple pButton icon="pi pi-download" label="dowload" (click)="dowloadFile(fileSelect)"></button></div>
      </div>
    </div>
  }

</p-dialog>
