<div class="layout_component_container">
    <div class="document-type-a4 form-info-layout" *ngIf="state == 'SUCCESS'">
        <div class="ovic-vertical__inputs" style="line-height: 1.5; flex: 1; width: 100%;">
            <form *ngIf="formSurvey" [formGroup]="formSurvey">
                <div class="survey-form-control-title">Thông tin đợt khảo sát</div>
                <div class="row form-row form-row-flex-row form-row-flex-row--margin">
                    <div class="col-12">
                        <label class="label-margin">Tiêu đề đợt khảo sát<span class="ovic-mark">*</span></label>
                        <input type="text" class="ovic-input-field" formControlName="title">
                    </div>
                </div>
                <div class="row form-row form-row-flex-row form-row-flex-row--margin">
                    <div class="col-12">
                        <label>Mô tả ngắn</label>
                        <textarea placeholder="Nhập mô tả... " formControlName="description"></textarea>
                    </div>
                </div>
                <!-- Chọn phiếu khảo sát đã chuyển sang survey-plan-setting -->
                <div class="row form-row form-row-flex-row">
                    <div class="col-6">
                        <div class="form-row">
                            <label>Thời gian bắt đầu <span class="ovic-mark">*</span></label>
                            <p-calendar appendTo="body" formControlName="start_date"
                                        dateFormat="dd/mm/yy" [showIcon]="true" [showTime]="false"
                                        placeholder="Chọn ngày ...."></p-calendar>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-row">
                            <label>Thời gian kết thúc</label>
                            <p-calendar appendTo="body" formControlName="end_date"
                                        dateFormat="dd/mm/yy" [showIcon]="true" [showTime]="false"
                                        placeholder="Chọn ngày ...."></p-calendar>
                        </div>
                    </div>
                </div>
                <div class="row form-row form-row-flex-row">
                    <div class="col-4">
                        <label class="label-margin">Public<span class="ovic-mark">*</span></label>
                        <ovic-groups-radio-v2 [formField]="formControl['is_public']"
                            group_name="isPublicOption" [columns]="2" [verticalMode]="false" [options]="isPublicOption"
                            optionLabel="label" optionId="id"
                            [defaultValue]="formControl['is_public'].value">
                        </ovic-groups-radio-v2>
                    </div>
                    <div class="col-4">
                        <label class="label-margin">Bắt buộc<span class="ovic-mark">*</span></label>
                        <ovic-groups-radio-v2 [formField]="formControl['required']"
                            group_name="isrequiredOption" [columns]="2" [verticalMode]="false" [options]="isPublicOption"
                            optionLabel="label" optionId="id"
                            [defaultValue]="formControl['required'].value">
                        </ovic-groups-radio-v2>
                    </div>
                    <div class="col-4">
                        <label class="label-margin">Trạng thái<span class="ovic-mark">*</span></label>
                        <ovic-dropdown placeholder="--chọn trạng thái--" [defaultValue]="formControl['status']['value']" [options]="statusOption" optionId="id" optionLabel="label" [formField]="formControl['status']" [filter]="false" filterBy="label" [showClear]="false"></ovic-dropdown>
                    </div>
                </div>
            </form>
        </div>
        <div style="display: flex; justify-content: space-between; align-items: center; width: 100%; padding-top: 10px;">
            <div class="ovic-dynamic-right-section__foot">
                <p class="ovic-form-notes ovic-over-right-section__foot-ovic-input-line" style="padding: 0px !important;">
                    <i class="pi pi-info-circle"></i>các trường có đánh dấu ( <span class="ovic-mark">*</span> ) là
                    bắt buộc phải nhập
                </p>
            </div>
            <button ngbTooltip="Lưu lại" placement="top" container="body" class="btn btn-primary btn-icon" style="width: 100px;" (click)="saveSurvey()" [disabled]="formControl['title'].invalid">
                Lưu lại <i class="fa fa-floppy-o"></i>
            </button>
        </div>
    </div>
    <div *ngIf="state == 'ERROR'" class="data-load-error-retry-banner">
        <span class="error-text">
            Tải dữ liệu thất bại, vui lòng
            <span class="retry-link" (click)="reloadData()">nhấn vào đây</span>
            để tải lại
        </span>
    </div>
</div>
