@if (config_check_hoidong_by_chutich && isChutichHoidong ) {
  <div class="duyet-container">
    @if (isLanhdaotruong && keyServer == 'ictu') {
      <button pButton pRipple icon="pi pi-check" label="Duyệt TKTX thực hành" (click)="btnViewFormDuyet('kttxTH')"></button>
    }
    <button pButton pRipple icon="pi pi-check" label="Duyệt cây CELO" (click)="btnViewFormDuyet('celo')"></button>
    <button pButton pRipple icon="pi pi-check" label="Duyệt Câu hỏi trắc nghiệm"
    (click)="btnViewFormDuyet('question')"></button>
    <button pButton pRipple icon="pi pi-check" label="Duyệt Nội dung khác" (click)="btnViewFormDuyet('other')"></button>
  </div>
}
@if (isLanhdaoKhoaBomon && keyServer == 'ictu') {
  <div class="duyet-container">
    <button pButton pRipple icon="pi pi-check" label="Duyệt Câu hỏi trắc nghiệm" (click)="btnViewFormDuyet('question')"></button>
  </div>
}
<div class="layout-ketqua-duyet">
  <p-table [value]="list_plan_activite" styleClass="tbl-danhSachUser">
    <ng-template pTemplate="header">
      <tr>
        <th style="text-align: center; width: 50px;">{{ label_week }}</th>
        <th style="text-align: center; width: 50px;">CELO</th>
        <th style="text-align: center; width: 50px;">Mục tiêu</th>
        <th style="text-align: center; width: 50px;">Tài liệu bài học</th>
        <th style="text-align: center; width: 50px;">Câu hỏi chuyên đề</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-row>
      <tr>
        <td style="text-align: center;">{{ row['week'] }}</td>
        <td style="text-align: center;">
          @if (row['total_cdr'] === 0) {
            <span>
              -
            </span>
          }
          @if (row['total_cdr'] !== row['duyet_cdr'] && row['total_cdr'] !== 0) {
            <span>
              {{ row['duyet_cdr'] + '/' + row['total_cdr'] }}
            </span>
          }
          @if (row['total_cdr'] === row['duyet_cdr'] && row['total_cdr'] !== 0) {
            <span class="status-is-active"
              >
              <strong>Đạt</strong>
            </span>
          }
        </td>
        <td style="text-align: center;">
          <strong>
            <span>
              @switch (row['status_muctieu']) {
                @case (0) {
                  <span class="status-is-deactive">
                    Chờ duyệt
                  </span>
                }
                @case (1) {
                  <span class="status-is-active">
                    Đạt
                  </span>
                }
                @case (-1) {
                  <span class="status-is-redo">
                    Chưa đạt
                  </span>
                }
                @case (-2) {
                  <span class="status-is-require">
                    Đã sửa
                  </span>
                }
              }
            </span>
          </strong>
        </td>
        <td style="text-align: center;">
          <strong>
            <span>
              @switch (row['status_tailieu']) {
                @case (0) {
                  <span class="status-is-deactive">
                    Chờ duyệt
                  </span>
                }
                @case (1) {
                  <span class="status-is-active">
                    Đạt
                  </span>
                }
                @case (-1) {
                  <span class="status-is-redo">
                    Chưa đạt
                  </span>
                }
                @case (-2) {
                  <span class="status-is-require">
                    Đã sửa
                  </span>
                }
              }
            </span>
          </strong>
        </td>
        <td style="text-align: center;">
          @if (row['total_question'] === 0) {
            <span>
              -
            </span>
          }
          @if (row['total_question'] !== row['duyet_question'] && row['total_question'] !== 0) {
            <span>
              {{ row['duyet_question'] + '/' + row['total_question'] }}
            </span>
          }
          @if (row['total_question'] === row['duyet_question'] && row['total_question'] !== 0) {
            <span class="status-is-active"
              >
              <strong>Đạt</strong>
            </span>
          }
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>

<ng-template #templateDuyetnoidung let-c="close" let-d="dismiss">
  <div class="ovic-over-right-section">
    <div class="ovic-over-right-section__head">
      <h3 class="ovic-over-right-section__header">{{ titleTemplace }}</h3>
      <button class="btn ovic-over-right-section__close-button" (click)="closeRightForm()"></button>
    </div>
    <div class="ovic-over-right-section__body users-layout-form" style="height: auto; font-size: 14px;">
      <div class="listcheckAccept">
        @for (item of objectCheckAfterAccept; track item) {
          <div class="item">
            <p-checkbox
              [inputId]="item.id.toString()" [binary]="true"
              [(ngModel)]="objectFillterCheckAfterAccept[item.key]"
              >
            </p-checkbox>
            <span> {{ item.title }}</span>
          </div>
        }
      </div>
    </div>
    <div class="ovic-over-right-section__foot-wrap-buttons flex-footer-right">

      <!--                <button type="button" class="btn btn ovic-over-right-section__foot-btn btn-primary btn-primary"-->
      <!--                        (click)="savePmsGiangVien()"><i class="fa fa-floppy-o" ></i>Lưu lại-->
    <!--                </button> -->
    <button type="button" class="btn btn ovic-over-right-section__foot-btn btn-primary btn-primary"
      (click)="btnDuyet()">
      Duyệt
    </button>
  </div>
</div>
</ng-template>
