<div class="layout_component_container">
  <div style="height: 100%;" class="form-de-layout-right form-tracnghiem">
    <p-tabView styleClass="tab-lesson-view" [(activeIndex)]="tabIndex" (onChange)="changeTabView($event)">
      <p-tabPanel header="Luyện tập tại nhà{{!isDttx && key_server !== 'hvu'?'/15p':''}}">
        <div class="document-type-a4-vertical" style="position: relative;">
          <div class="layout-test-dg-cc" style="margin-bottom: 20px;">
            <p-table [value]="list_week" styleClass="tbl-danhSachUser table-reBorder">
              <ng-template pTemplate="header">
                <tr>
                  <th rowspan="2" style="width: 80px;"></th>
                  <th rowspan="2" style="width: 150px; text-align: center;">Câu hỏi đã duyệt</th>
                  <th colspan="2" style="text-align: center;">Luyện tập tại nhà</th>
                  @if (!isDttx && key_server !== 'hvu') {
                    <th colspan="2" style="text-align: center;">
                    15p</th>
                  }
                </tr>
                <tr>
                  <th style="text-align: center;">Có đề</th>
                  <th style="text-align: center;">Thao tác</th>
                  @if (!isDttx && key_server !== 'hvu') {
                    <th style="text-align: center;">Có đề</th>
                  }
                  @if (!isDttx && key_server !== 'hvu') {
                    <th style="text-align: center;">Thao tác
                    </th>
                  }
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-row>
                <tr>
                  <td>
                    <span style="font-weight: 600;">{{this.label_week + ' ' + row['week']}}</span>
                  </td>
                  <td style="text-align: center;">{{row['datuyet_question']}}</td>
                  <td style="text-align: center;">
                    @if (row['has_test_cc']) {
                      <span><i class="fa fa-check blue"></i></span>
                    }
                    @if (!row['has_test_cc']) {
                      <span>-</span>
                    }
                  </td>
                  <td style="text-align: center;">
                    @if (row['has_form_cc'] === false || row['datuyet_question'] === 0) {
                      <div
                        >
                        <span class="red">
                          Chưa tạo form đề, không thể sinh đề kiểm tra
                        </span>
                      </div>
                    } @else {
                      <div style="text-align: center;">
                        <button (click)="sinhDeByWeek(row)" style="line-height: 1;"
                          class="btn btn-success">
                          Sinh đề tại đây
                        </button>
                        @if (row['has_test_cc']) {
                          <button pTooltip="Xóa tất cả đề"
                            tooltipPosition="left" (click)="deleteDeWeek(row)"
                            style="line-height: 1; margin-left: 10px;"
                            class="btn btn-danger btn-icon">
                            <i class="fa fa-trash"></i>
                          </button>
                        }
                      </div>
                    }
                  </td>
                  @if (!isDttx && key_server !== 'hvu') {
                    <td style="text-align: center;">
                      @if (row['has_test_dg']) {
                        <span><i class="fa fa-check blue"></i></span>
                      }
                      @if (!row['has_test_dg']) {
                        <span>-</span>
                      }
                    </td>
                  }
                  @if (!isDttx && key_server !== 'hvu') {
                    <td style="text-align: center;">
                      @if (row['has_form_dg'] === false || row['datuyet_question'] === 0) {
                        <div
                          >
                          <span class="red">
                            Chưa tạo form đề, không thể sinh đề kiểm tra
                          </span>
                        </div>
                      } @else {
                        <div style="text-align: center;">
                          <!-- <span style="margin-right: 10px;" class="blue">
                          Đã sẵn sàng sinh đề kiểm tra
                        </span> -->
                        <button (click)="sinhDe15pByWeek(row)" style="line-height: 1;"
                        class="btn btn-success">Sinh đề tại đây</button>
                        @if (row['has_test_dg']) {
                          <button pTooltip="Xóa tất cả đề"
                            tooltipPosition="left" (click)="delete15pDeByWeek(row)"
                            style="line-height: 1; margin-left: 10px;"
                            class="btn btn-danger btn-icon">
                            <i class="fa fa-trash"></i>
                          </button>
                        }
                      </div>
                    }
                  </td>
                }
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>
    </p-tabPanel>
    <p-tabPanel header="{{isDttx && key_server !== 'hvu'?'Kiểm tra giữa kỳ':'Kiểm tra thường xuyên'}}">
      @if (list_plan && list_plan.length && showTests) {
        <div class="lesson-baihocv2"
          [ngClass]="closeLeft?'close-left-body':''" style="transition: all 0.3s;">
          <div class="menu-lesson-baihocv2">
            <button style="margin-left: 5px; padding: 0px; min-width: 0px; z-index: 50;"
              (click)="closeLeftBody()" class="btn btn-success button-close-left-body">
              <i style="margin: 0px;vertical-align: middle; font-size: 13px;"
              [ngClass]="closeLeft?'pi pi-angle-double-right':'pi pi-angle-double-left'"></i>
            </button>
            <div class="menu-list-lessonv2">
              @for (parent of list_plan; track parent; let keyParent = $index) {
                <div class="parent-lesson-layout">
                  <div class="parent-name"
                    [ngClass]="selectPlan && parent.id === selectPlan.id ?'activity':''">
                    <div class="parent-name-layout">
                      @if (parent.week === 0 || parent.week >= 1000) {
                        <span
                        class="parent-title">{{parent.title}}</span>
                      }
                    </div>
                  </div>
                  @if (parent['desc']) {
                    <div class="parent-desc" style="padding: 5px;">
                      <div class="parent-desc-content" style="padding: 10px; font-size: 14px;"
                        [innerHtml]="parent['desc'] | safeHtmlDecode">
                      </div>
                    </div>
                  }
                  @for (children of parent['children']; track children; let index = $index) {
                    <div>
                      @if (children.type !== 'ACTIVITY_TEST') {
                        <div
                          [ngClass]="selectPlan && children.id === selectPlan.id?'activity':''"
                          class="child-lesson-layout">
                          <div (click)="onChangePlan(children)" class="child-lesson-layout-title">
                            <i class="{{children['icon']}}"></i>
                            <span style="margin-left: 10px;"
                            class="child-title">{{children.title}}</span>
                          </div>
                          <div style="height: 100%; display: flex; align-items: center;">
                            <span style="margin: 0 10px;">
                              {{children['created_at'] | date: 'dd/MM/yyyy'}}
                            </span>
                          </div>
                        </div>
                      }
                    </div>
                  }
                </div>
              }
            </div>
          </div>
          <div class="lesson-content-right">
            @if (selectPlan) {
              <div style="height: 100%; overflow: auto;">
                @switch (selectPlan.type) {
                  @case ('THUONGXUYEN_TULUAN') {
                      <div
                        class="content-form-lesson-right form-setting-lesson">
                        <app-thuongxuyen-tuluan-v2 style="height:100%" [courseSelected]="selectedCourse"
                          [activity]="selectPlan">
                        </app-thuongxuyen-tuluan-v2>
                      </div>
                    }
                    @case ('THUONGXUYEN_DUAN') {
                      <div
                        class="content-form-lesson-right form-setting-lesson">
                        <app-thuongxuyen-duan [courseSelected]="selectedCourse" [activity]="selectPlan">
                        </app-thuongxuyen-duan>
                      </div>
                    }
                    @case ('THUONGXUYEN_TRACNGHIEM') {
                      <div
                        class="content-form-lesson-right form-setting-lesson">
                        <div
                          style="line-height: 1.25;height: 100%;width: 100%;display: flex; align-items: center;">
                          <div
                            style="display: flex;align-items: center;justify-content: center; flex-direction: column; margin: 0 auto; background-color: #fff; padding:15px; width:500px; margin-top: -30px;">
                            <div style="padding: 5px; font-size: 18px;">
                              <span><strong>{{selectPlan.title}}</strong></span>
                            </div>
                            <div style="padding: 5px">
                              <span class="box-span info-cauhoi">
                                Câu hỏi đã duyệt: {{selectPlan['has_question']}}
                              </span>
                              <span class="box-span"
                                [ngClass]="selectPlan['has_form_test']?'dat-box':'yeu-cau-sua-box'">
                                {{selectPlan['has_form_test']?'Đã tạo form đề':'Chưa tạo form đề'}}
                              </span>
                              <span class="box-span"
                                [ngClass]="selectPlan['has_test']?'dat-box':'yeu-cau-sua-box'">
                                {{selectPlan['has_test']?'Có đề':'Chưa có đề'}}
                              </span>
                            </div>
                            @if (selectPlan['has_form_test'] && selectPlan['_question_dat'] > 0) {
                              <div style="padding: 5px; margin-top:5px"
                                >
                                @if (!selectPlan['has_test']) {
                                  <button
                                    (click)="sinhDeByKynang(selectPlan)" style="line-height: 1;"
                                  class="btn btn-success">Sinh đề tại đây</button>
                                }
                                @if (selectPlan['has_test']) {
                                  <button
                                    (click)="deleteDeKynang(selectPlan)"
                                    style="line-height: 1; margin-left: 10px;" class="btn btn-danger">
                                    <i class="fa fa-trash"></i>
                                    Xóa tất cả đề
                                  </button>
                                }
                              </div>
                            }
                          </div>
                        </div>
                      </div>
                    }
                  }
                </div>
            }
          </div>
        </div>
      }
      @if (!showTests) {
        <div
          style="display:flex; align-items: center; justify-content: center; font-size: 20px; height: 100%; width: 100%;">
          <span style="color: #f97316; text-align: center;">
            Bài kiểm tra thường xuyên chưa được <strong>tạo</strong><br>
            Thầy/Cô vào chức năng <strong>cấu hình</strong> để <strong>thết lập</strong> tạo bài kiểm tra
          </span>
        </div>
      }
    </p-tabPanel>
    @if (key_server === 'ictu') {
      <p-tabPanel header="Nhập câu hỏi KT tự luận 15P">
        @if (tabIndex === 2) {
          <app-cauhoi-tuluan-15p [courseSelected]="selectedCourse"></app-cauhoi-tuluan-15p>
        }
      </p-tabPanel>
    }
  </p-tabView>
</div>
</div>