<div class="dm-hoc-vien-layout">
    <div class="dm-hoc-vien-layout-top">
        <div class="class-layout-top-title">

        </div>
        <div class="class-layout-top-option">
            <div class="p-col-12 p-md-4 ui-inputgroup-search">
                <div class="ui-inputgroup ">
                    <input (keyup)="searchChange($event , 'student_code')" class="class-layout-top-option-search"
                        type="text" pInputText placeholder="Mã sinh viên">
                    <span class="ui-inputgroup-addon"><i class="pi pi-search" style="line-height: 1.25;"></i></span>
                </div>
            </div>
            <div class="p-col-12 p-md-4 ui-inputgroup-search">
                <div class="ui-inputgroup ">
                    <input (keyup)="searchChange($event , 'tenlop_quanly')" class="class-layout-top-option-search"
                        type="text" pInputText placeholder="Lớp quản lý">
                    <span class="ui-inputgroup-addon"><i class="pi pi-search" style="line-height: 1.25;"></i></span>
                </div>
            </div>
            <div class="p-col-12 p-md-4 ui-inputgroup-search ui-inputgroup-search-khoa">
                <div class="ui-inputgroup ">
                    <input (keyup)="searchChange($event , 'khoadaotao')" class="class-layout-top-option-search"
                        type="text" pInputText placeholder="Khóa học">
                    <span class="ui-inputgroup-addon"><i class="pi pi-search" style="line-height: 1.25;"></i></span>
                </div>
            </div>
            <ovic-dropdown style="margin-left: 5px;" (onChange)="searchChange($event , 'category_name')"
                class="nganh-hoc-list" placeholder="-Ngành học-" [options]="dmChuyenmuc" optionId="category_name"
                optionLabel="category_name" [filter]="true" filterBy="category_name">
            </ovic-dropdown>
            @if (canDelete) {
            <button container="body" placement="left" ngbTooltip="Xóa sinh viên"
                class="btn btn-danger btn-icon" (click)="deleteSinhvien()"><i class="fa fa-trash"></i>
            </button>
            }
            <!-- <button *ngIf="canAdd" container="body" placement="left" ngbTooltip="Import sinh viên"
                class="btn btn-success btn-icon" (click)="openImportSinhvien()"><i class="fa fa-graduation-cap"></i>
            </button>

            <button *ngIf="canAdd" container="body" placement="left" ngbTooltip="Tải file mẫu Import sinh viên"
                class="btn btn-success btn-icon" (click)="downLoadFileEx()"><i class="fa fa-download"></i>
            </button> -->
        </div>
    </div>
    <div class="dm-hoc-vien-layout-bottom scroll-table-layout-set" style="overflow: auto; padding: 5px;">
        <ovic-table (onCheckBox)="onCheckBoxStudentTable($event)" [hasCheckBox]="true"
            [selectedOption]="selectedStudents" [data]="dmStudent"
            styleClass="tbl-danhSachUser table-scroll-able table-able-dropdown table-none-header table-reBorder viewTooltip"
            dataKey="id" rowHover="false" [rows]="limitStudent" tableName="Danh sách tài khoản"
            [tblStructure]="tblCols_sinhvien" (onButtonClick)="userActions($event)"></ovic-table>
    </div>
    <div class="page-layout-set">
        <!-- <mat-paginator (page)="changePage($event)" itemsPerPageLabel="Số Sinh viên trong 1 trang"
            [length]="totalStudent" [pageSize]="limitStuden" [pageIndex]="pageIndex" aria-label="Select page">
        </mat-paginator> -->
        <p-paginator #paginator (onPageChange)="changePage($event)" [rows]="limitStudent" [totalRecords]="totalStudent"
            [rowsPerPageOptions]="[20,50,100, 200, 300, 400, 500]"></p-paginator>
    </div>
</div>

<input [(ngModel)]="inputImportValue" type="file" #inputImport style="clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    position: absolute !important;
    width: 1px;" (change)="changeInputImport($event)" />

<ng-template #templateUserProfile>
    <div class="ovic-over-right-section">
        <div class="ovic-over-right-section__head">
            <h3 class="ovic-over-right-section__header">Sửa thông tin Sinh viên</h3>
            <button class="btn ovic-over-right-section__close-button" (click)="closeForm()"></button>
        </div>
        <div class="ovic-over-right-section__body" style="height: calc(100vh - 57px - 51px - 18px);">
            <div class="ovic-vertical__inputs">
                <form [formGroup]="formUserProfile" class="formUserProfile">
                    <div class="row form-row form-row-flex-row">
                        <div class="col-8 flex-div">
                            <label for="full_name">Họ Tên:<span class="ovic-mark">*</span></label>
                            <input type="text" id="full_name" class="ovic-input-field" formControlName="full_name"
                                autocomplete="off">
                        </div>
                        <div class="col-4 flex-div">
                            <label>Giới tính:<span class="ovic-mark">*</span></label>
                            <ovic-dropdown [options]="genderOption" optionLabel="label" optionId="key"
                                [defaultValue]="f['gender'].value" [formField]="f['gender']">
                            </ovic-dropdown>
                        </div>
                    </div>
                    <div class="row form-row form-row-flex-row">
                        <div class="col-6 flex-div">
                            <label>Ngày sinh:<span class="ovic-mark">*</span></label>
                            <p-inputMask mask="99/99/9999" formControlName="birthday"
                                slotChar="dd/mm/yyyy"></p-inputMask>
                        </div>
                        <div class="col-6 flex-div">
                            <label for="student_code">Mã sinh viên (Nếu có):</label>
                            <input type="text" id="student_code" class="ovic-input-field" formControlName="student_code"
                                autocomplete="off">
                        </div>
                    </div>
                    <div class="row form-row form-row-flex-row">
                        <div class="col-6 flex-div" [class.err-input]="f['username'].invalid">
                            <label>Tên tài khoản:<span class="ovic-mark">*</span></label>
                            <input type="text" id="username" class="ovic-input-field" formControlName="username"
                                autocomplete="off" [attr.disabled]="isUpdate? true : null">
                        </div>
                        <div class="col-6 flex-div form-group" [class.err-input]="changePass && f['password'].invalid">
                            <label for="password">Mật khẩu *</label>
                            <div class="form-row-flex-row">
                                <input type="password" id="password" formControlName="password"
                                    [attr.disabled]="!changePass && isUpdate? true : null" autocomplete="username"
                                    class="ovic-input-field" [class.user-profile-pass-input]="isUpdate">
                                @if (isUpdate) {
                                <button class="btn btn-checker user-profile-checkpass" [class.checked]="changePass"
                                    (click)="clickChangedPass()"></button>
                                }
                            </div>
                        </div>
                    </div>
                    <div class="row form-row form-row-flex-row">
                        <div class="col-6 flex-div" [class.err-input]="f['display_name'].invalid">
                            <label>Tên hiển thị:<span class="ovic-mark">*</span></label>
                            <input type="text" id="display_name" class="ovic-input-field" formControlName="display_name"
                                autocomplete="off">
                        </div>
                        <div class="col-6 flex-div">
                            <label for="password">Số điện thoại:<span class="ovic-mark">*</span></label>
                            <input type="text" id="phone" class="ovic-input-field" formControlName="phone"
                                autocomplete="off">
                        </div>
                    </div>
                    <div class="row form-row form-row-flex-row">
                        <div class="col-6 flex-div" [class.err-input]="f['email'].invalid">
                            <label>Email:<span class="ovic-mark">*</span></label>
                            <input type="text" id="email" class="ovic-input-field" formControlName="email"
                                autocomplete="off">
                        </div>
                        <div class="col-6 flex-div">
                            <label for="password">Địa chỉ:</label>
                            <input type="text" id="address" class="ovic-input-field" formControlName="address"
                                autocomplete="off">
                        </div>
                    </div>
                    <!-- <div class="ovic-input-line">
                    <div class="ovic-input-item">
                        <label>Facebook:<span class="ovic-mark"></span></label>
                        <input type="text" class="ovic-input-field" formControlName="facebook" autocomplete="off">
                    </div>
                </div>
                <div class="ovic-input-line">
                    <div class="ovic-input-item">
                        <label>Twitter:<span class="ovic-mark"></span></label>
                        <input type="text" class="ovic-input-field" formControlName="twitter" autocomplete="off">
                    </div>
                </div>
                <div class="ovic-input-line">
                    <div class="ovic-input-item">
                        <label>Instagram:<span class="ovic-mark"></span></label>
                        <input type="text" class="ovic-input-field" formControlName="instagram" autocomplete="off">
                    </div>
                </div> -->
                </form>
            </div>
        </div>
        <p class="ovic-form-notes ovic-over-right-section__foot-ovic-input-line">
            <i class="pi pi-info-circle"></i>các trường có đánh dấu ( <span class="ovic-mark">*</span> ) là bắt
            buộc phải nhập
        </p>
        <div class="ovic-over-right-section__foot-wrap-buttons">
            <button class="btn ovic-over-right-section__foot-btn btn-primary" (click)="submitData()">
                <i class="fa fa-floppy-o" ></i>Lưu lại
            </button>
            <button class="btn ovic-over-right-section__foot-btn btn-cancel" (click)="closeForm()">
                <i class="fa fa-ban" ></i>Hủy thao tác
            </button>
        </div>
    </div>
</ng-template>

<ng-template #templateUserClass>
    <div class="ovic-over-right-section">
        <div class="ovic-over-right-section__head">
            <h3 class="ovic-over-right-section__header">Lớp học phần đã đăng ký</h3>
            <button class="btn ovic-over-right-section__close-button" (click)="closeForm()"></button>
        </div>
        <div style="line-height: 1;" class="ovic-over-right-section__body no-footer user-profile-class">
            <ovic-table [data]="dmClass" styleClass="tbl-danh-muc-truong" dataKey="id" rowHover="false"
                tableName="Danh lớp học phần" [tblStructure]="tblCols" [enableSearch]="true"
                [globalFilterFields]="['name']" [addRow]="false">
            </ovic-table>
        </div>
        <div class="ovic-over-right-section__foot-wrap-buttons">
        </div>
    </div>
</ng-template>


<ng-template #ImportStudent let-c="close" let-d="dismiss">
    <div class="ovic-over-right-section">
        <div class="ovic-over-right-section__head">
            <h3 class="ovic-over-right-section__header">Import sinh viên</h3>
            <button class="btn ovic-over-right-section__close-button" (click)="closeForm()"></button>
        </div>
        <div class="ovic-over-right-section__body footer-no-hint">
            @if (!importStarted) {
            <div class="action-import-student">
                @if (startProgress) {
                <div style="margin-bottom: 10px; width: 100%;"
                    class="tn-import-student-progressbar">
                    <p-progressBar [value]="progressValue"></p-progressBar>
                </div>
                }
                <div>
                    <div>
                        <p-radioButton label="Không ghi đè" name="groupname" value="0"
                            [(ngModel)]="selectedValue"></p-radioButton>
                        <p-radioButton label="Ghi đè dữ liệu (Email làm chuẩn)" name="groupname" value="1"
                            [(ngModel)]="selectedValue"></p-radioButton>
                    </div>
                    <button class="btn btn-success" (click)="openExpolerImport()"><i class="pi pi-plus"></i>Chọn file
                        Excel
                    </button>
                </div>
            </div>
            } @else {
            <div class="content-after-import">
                <div class="content-after-import-left">
                    @if (duplicateStudent) {
                    <p-table [value]="duplicateStudent">
                        <ng-template pTemplate="caption">
                            <div class="table-header">
                                Danh sách sinh viên trùng lặp
                            </div>
                        </ng-template>
                        <ng-template pTemplate="header">
                            <tr>
                                <th style="width: 50px; text-align: center;">STT</th>
                                <th style="width: 200px; text-align: center;">MSV</th>
                                <th style="width: 250px;">Họ và tên</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-dup>
                            <tr>
                                <td style="width: 50px; text-align: center;">{{dup[0]}}</td>
                                <td style="width: 200px; text-align: center;">{{dup[5]}}</td>
                                <td style="width: 250px;">{{dup[1]}}</td>
                            </tr>
                        </ng-template>
                    </p-table>
                    }
                </div>
                <div class="content-after-import-right">
                    @if (noStudentData) {
                    <p-table [value]="noStudentData">
                        <ng-template pTemplate="caption">
                            <div class="table-header">
                                Danh sách sinh viên import không thành công
                            </div>
                        </ng-template>
                        <ng-template pTemplate="header">
                            <tr>
                                <th style="width: 50px; text-align: center;">STT</th>
                                <th style="width: 200px; text-align: center;">MSV</th>
                                <th style="width: 250px;">Họ và tên</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-dup>
                            <tr>
                                <td style="width: 50px; text-align: center;">{{dup[0]}}</td>
                                <td style="width: 200px; text-align: center;">{{dup[5]}}</td>
                                <td style="width: 250px;">{{dup[1]}}</td>
                            </tr>
                        </ng-template>
                    </p-table>
                    }
                </div>
            </div>
            }
        </div>
        <div class="ovic-over-right-section__foot-wrap-buttons">
            <button type="button" class="btn btn-cancel" (click)="resetImport()"><i class="fa fa-refresh"
                    ></i>Làm
                mới</button>
        </div>
    </div>
</ng-template>

<p-dialog styleClass="dialog-waiting" appendTo="body" [showHeader]="false" [closable]="false" [(visible)]="displayModal"
    [modal]="true" [style]="{width: '50vw'}" [baseZIndex]="1099" [draggable]="false" [resizable]="false">
    <div class="popup-waiting-loading">
        <label style="width: 100%;">{{waitting_title}}</label>
        <div class="tn-import-student-progressbar">
            <mat-progress-bar mode="determinate" [value]="progressValue"></mat-progress-bar>
        </div>
    </div>
</p-dialog>



<ng-template #ViewNewPass let-c="close" let-d="dismiss">
    <div class="ovic-over-right-section">
        <div class="ovic-over-right-section__head">
            <h3 class="ovic-over-right-section__header">THÔNG BÁO</h3>
            <button class="btn ovic-over-right-section__close-button" (click)="closeFormViewQuestion(d)"></button>
        </div>
        <div class="ovic-over-right-section__body users-layout-form" style="height: auto; font-size: 14px;">

                <div style="display: block;line-height: 1;" >
                    <div class="d-flex justify-content-center align-items-center flex-column" style="gap:10px;">
                        <p>Mật khẩu mới của sinh viên <strong>{{ selectedStudent.full_name}}</strong> là :</p>
                        <span class="btn-copy" style="" (click)="btncopy()" ><strong>{{ noteNewPass }}</strong></span> </div>

                </div>
            <div style="font-size: 12px;font-style: italic;color: red;line-height: 1;margin: 10px;text-align: center;">Bấm vào mã để sao chép.</div>

        </div>

    </div>
</ng-template>
