<div class="layout_component_container">
    <div class="layout_component_container-top">
        <div class="filter-layout-top" style="flex:1">
            <input (keyup.enter)="onSearchByTitle()" [(ngModel)]="searchCourse" type="text" class="ovic-input-field"
                placeholder="Nhập tên rồi nhấn enter" type="text" style="width: 300px;">
        </div>
        <div class="action-layout-top">

        </div>
    </div>
    <div class="layout_component_container-bottom">
        <p-table [value]="dmKhoahoc" styleClass="table-reBorder table-scroll-able table-able-dropdown-p-table">
            <ng-template pTemplate="header">
                <tr>
                    <th style="text-align: center; width: 80px;">TT</th>
                    <th style="width:400px">Tên môn</th>
                    <th style="text-align: center; width: 200px;">Tổng số Đề/câu hỏi</th>
                    <th style="text-align: center; width: 150px;">Đã duyệt</th>
                    <th style="text-align: center; width: 150px;">Chờ duyệt</th>
                    <th style="text-align: center; width: 150px;">Yêu câu sửa</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-course>
                <tr>
                    <td style="text-align: center;">
                        {{course['index_']}}
                    </td>
                    <td>
                        <div style="flex:1">
                            <div>
                                <a [routerLink]="['form-th-kthp']" [queryParams]="{code: course.id}"
                                    style="cursor: pointer; color: #333;">
                                    <strong>
                                        {{course['title'].concat(" - [",course['maso'],"]")}}
                                    </strong>
                                </a>
                            </div>
                            <div style="font-size: 12px; font-style: italic; color:#757575">
                                {{course['creator_name'] + course['info_']}}
                            </div>
                        </div>
                    </td>
                    <td style="text-align: center;">
                        {{course['_tong_cauhoi']}}
                    </td>
                    <td style="text-align: center;">
                        <span class="blue">{{course['_daduyet_cauhoi']}}</span>
                    </td>
                    <td style="text-align: center;">
                        <span class="gray">{{course['_choduyet_cauhoi']}}</span>
                    </td>
                    <td style="text-align: center;">
                        <span class="red">{{course['_yeucausua_cauhoi']}}</span>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
    <div class="page-layout-set">
        <p-paginator #paginator (onPageChange)="changePage($event)" [rows]="limitCourse"
            [totalRecords]="totalCourse"></p-paginator>
    </div>
</div>