@if (questionParams; as question) {
  <div class="layout-component-container-survey-question-radio">
    <div class="survey-question-radio-title">
      <app-editable-text [disable]="!questionParams.active" [(text)]="question.title" [title]="true"></app-editable-text>
    </div>

    @if (question.question_type != 'YES_NO') {
      <div class="survey-question-radio-answer">
        @for (item of question.answer_options; track item.id) {
          <div class="survey-question-radio-answer__list-option-item">
            @if (questionParams.active == true) {
              <div class="survey-question-radio-answer__list-option-item">
                <div class="survey-question-square-number">{{ item.id }}</div>
                <app-editable-text [(text)]="item.label" style="flex: 1"></app-editable-text>
                <button (click)="delAnswer(item.id)" class="btn btn-danger btn-icon btn-transparent">
                  <i class="fa fa-trash"></i>
                </button>
              </div>
            } @else {
              <div class="survey-question-radio-answer__list-option-item">
                <i class="pi pi-chevron-down"></i>
                <app-editable-text [disable]="!questionParams.active" [(text)]="item.label" style="flex: 1"></app-editable-text>
              </div>
            }
          </div>
        }
        @if (questionParams.active == true) {
          <button class="btn btn-icon btn-success" style="width: 20vw;" container="body" placement="left" (click)="addAnswer()">
            Thêm đáp án <i style="margin-right: 0px;" class="pi pi-plus"></i>
          </button>
        }
      </div>
    } @else {
      <div class="survey-question-radio-answer">
        @for (item of question.answer_options; track item.id) {
          <div class="survey-question-radio-answer__list-option-item">
            <div class="survey-question-radio-answer__list-option-item">
              <div class="survey-question-radio-view"></div>
              <app-editable-text [disable]="true" [(text)]="item.label" style="flex: 1"></app-editable-text>
            </div>
          </div>
        }
      </div>
    }
  </div>
}
